[2016-02-12 21:12] spetrunia commented on #162
(I wanted to look at this issue as it might relate to #165 that I'm working on)

This issue seems to be caused by the "delay snapshots until first operation" feature in 0891be127b8ff360a773cd04b83257f3fec47dc5.

The statement

[code]

runs as follows:
- Client#1 reads row (1,1,1) through an Iterator. It is not using any snapshot.
- Client#2 comes, deletes row (1,1,1), and commits
- Client#1 calls

[2016-02-12 21:19] jkedgar commented on #162
Sergei, I have a diff (https://reviews.facebook.net/D54129) out right now to create a snapshot for the iterator and then just keep using it.  We've run into too many concurrency issues where the iterator is not using the same snapshot as the call to GetForUpdate().  I think that will solve this issue for you.

[2016-02-12 21:20] jkedgar commented on #162
On top of this I'm planning on adding code so that if we get a kBusy accessing the first row after the snapshot is created it will release the snapshot and try again.  This is to gain back some of the benefits of delayed snapshot creation.

[2016-02-12 22:58] spetrunia commented on #162
I see..  I'm wondering about this patch: https://reviews.facebook.net/D53205  Will it be needed anymore  after D54129 is pushed?

[2016-02-12 23:07] jkedgar commented on #162
No it will not be needed anymore once I have the retry option I mentioned.  I'll mark that change as needing to be squashed.

[2016-02-12 23:10] gunnarku commented on #115
Review is out at https://reviews.facebook.net/D54147.

[2016-02-13 00:19] #167 closed, assigned to yoshinorim

[2016-02-13 00:19] #166 closed, assigned to yoshinorim

[2016-02-13 02:48] gunnarku commented on #147
@valeriikravchuk: you can try using `VERBOSE=1 make` to debug this. This will result in a more detailed build log than the default output and will help you to see what paths are used to compile and link.

For the record, with Ubuntu 15.10 and default instructions I can build _Debug_, _RelWithDebInfo_, and _Release_ builds without any problems. Here's the data about the system I'm using:

[code]

L

[2016-02-14 17:59] valeriikravchuk commented on #147
I had not problem to build from current source today (git log shows last commit dated Feb. 12) on the same Ubuntu 14.04.03 I've used 12 days ago.

[2016-02-14 20:44] gunnarku commented on #147
Thank you for the confirmation! Based on that I'm closing this issue because it looks like the issue has been resolved. If you'll encounter any other problems then please let us know and we'll help to debug.

[2016-02-16 17:37] yoshinorim commented on #161
https://reviews.facebook.net/D54129 fixed this partially (returning deadlock error instead of silently succeeding)

[2016-02-16 17:37] #161 closed, assigned to jkedgar

[2016-02-16 17:37] yoshinorim commented on #162
https://reviews.facebook.net/D54129 fixed this partially (returning deadlock error instead of silently succeeding)

[2016-02-16 17:37] #162 closed, assigned to jkedgar

[2016-02-16 17:41] yoshinorim opened #169 "Reduce kBusy error rates on concurrent update"
https://reviews.facebook.net/D54129 changed how MyRocks holds locks when using Iterators -- calling SetSnapshot() -> calling Seek() -> calling Next() or Prev() -> calling GetForUpdate(). This increased chances to get kBusy errors. We've discussed workaround for the kBusy errors for a while, and current proposal is retrying to get a new snapshot if there is no processed row in the iterator.

[2016-02-18 00:50] hermanlee commented on #163
I think this is somehow related to row based replication being enabled. There are calls that set all of the bit fields in the table's write_set in TABLE::mark_columns_per_binlog_row_image(). These bitfields are checked during the explain to determine if the key field is also being updated. If it is, then mysql thinks it may need to use temporary tables.

[code]

[2016-02-18 09:15] valeriikravchuk commented on #163
I've reported this upstream as http://bugs.mysql.com/bug.php?id=80424

[2016-02-18 12:05] rameshvs02 opened #170 "InnoDB: Failing assertion: no_trx || parent_trx->is_primary in file ha_innodb.cc line 11527"
Testcase

[code]

GDB info

[code]

[2016-02-18 19:30] alxyang commented on #164
after some investigation, found this comment inside `rocksdb.show_table_status` test

"Some statistics don't get updated as quickly.  The Data_length and
Avg_row_length are trailing statistics, meaning they don't get updated
for the current SST until the next SST is written."

so this is a known 'feature' and expected behaviour.
since there arent enough rows, the statistics for data_length/avg_row

[2016-02-18 21:53] gunnarku commented on #140
Boundary checking implemented.

[2016-02-18 21:53] #140 closed, assigned to gunnarku

[2016-02-18 21:57] gunnarku commented on #34
Internal investigation completed. Behavior observed, documented, and understood for various scenarios. To decide if we'll change the _status quo_ (`SIGABRT` because of an unhandled exception which leads to process teardown) will require data from the field and further discussion.

[2016-02-18 21:57] #34 closed, assigned to gunnarku

[2016-02-18 22:19] RoelVdP commented on #140
@gunnarku great! Thank you!

[2016-02-19 00:19] yoshinorim commented on #156
https://reviews.facebook.net/D54369

[2016-02-19 00:19] #156 closed, assigned to yoshinorim

[2016-02-19 01:01] yoshinorim commented on #27
I talked with Anthony and Siying about this. SingleDelete() used to have an assertion that it aborted if there was no matching Put, but the logic no longer exists. This means it's possible to add Reed Free Replication support in current MyRocks. It's worth revisiting this task again.

[2016-02-19 17:27] rameshvs02 opened #171 "InnoDB: Failing assertion: ret || !assert_on_error in file ut0mem.cc line 105"
Server is crashing when we start the daemon with 1GB  `--innodb-sync-pool-size`.

Testcase

Startup option `--innodb-sync-pool-size=1G`

GDB info

[code]

[2016-02-19 17:56] gunnarku commented on #171
Heap allocation using `malloc()` fails, that in turns results in an assertion firing which results in `SIGABRT` which causes the process termination.

[2016-02-19 20:01] #171 closed, assigned to jtolmer

[2016-02-19 22:00] jkedgar commented on #170
https://reviews.facebook.net/D54447

[2016-02-22 01:23] gunnarku commented on #51
Determine if this is still an issue and if something needs to be done about it.

[2016-02-22 01:27] gunnarku commented on #42
Determine if this is still an issue and if something needs to be done about it.

[2016-02-22 06:51] laurynas-biveinis commented on #170
@rameshvs02, does Percona Server 5.5 - 5.7 pass the testcase?

[2016-02-22 08:20] rameshvs02 commented on #170
@laurynas-biveinis Yes, testcase did not crash PS versions.

[2016-02-22 17:32] jtolmer commented on #42
This _may_ have been the same issue I fixed with https://github.com/facebook/mysql-5.6/commit/95257cb5d5e7fcbd8fd3ad23d0d9d4e1c8afb91d.

[2016-02-22 17:37] jtolmer commented on #42
Yep. See https://github.com/facebook/mysql-5.6/issues/6#issuecomment-118214648 that complains of the same compilation errors.

[2016-02-22 17:37] #42 closed, assigned to gunnarku

[2016-02-22 18:33] gunnarku commented on #42
Thanks, you saved me some time :-)

[2016-02-23 02:48] rameshvs02 opened #172 "Assertion `rate_ bytes_per_sec > 0' failed rocksdb::RateLimiter* rocksdb::NewGenericRateLimiter(int64_t, int64_t, int32_t) in rocksdb/util/rate_limiter.cc:209"
Server is crashing when we start the daemon with negative `--rocksdb-rate-limiter-bytes-per-sec` value.

Testcase

Startup option `--skip-innodb --rocksdb --default-storage-engine=rocksdb --default-tmp-storage-engine=MyISAM --rocksdb-rate-limiter-bytes-per-sec=-1`

GDB info

[code]

[2016-02-23 05:26] rameshvs02 opened #173 "handle_fatal_signal (sig=6) in std::vector<bool, std::allocator<bool> >::_M_check_len | c++/4.8.2/bits/stl_bvector.h:1118"
Server shutdown crashes when we use negative `--rocksdb-compaction-sequential-deletes-window` value in startup option

Testcase
- Start server with  following startup parameters
  -  `--skip-innodb --rocksdb --default-storage-engine=rocksdb --default-tmp-storage-engine=MyISAM --rocksdb-compaction-sequential-deletes-window=-1`
- Create one table `create table t1(a int);`
- Shutdown server

GDB info

[2016-02-23 06:24] rameshvs02 opened #174 "handle_fatal_signal (sig=6) in std::vector<std::string, std::allocator<std::string> >::_M_range_check | c++/4.8.2/bits/stl_vector.h:794"
Server is crashing when we start the daemon with zero `--rocksdb-keep-log-file-num`

Testcase

Startup option `--default-tmp-storage-engine=MyISAM --rocksdb --skip-innodb --default-storage-engine=RocksDB --rocksdb-keep-log-file-num=0`

GDB info

[code]

[2016-02-23 08:09] rameshvs02 opened #175 "handle_fatal_signal (sig=6) in rocksdb::ThreadPool::PthreadCall | rocksdb/util/thread_posix.cc:22"
Server is crashing when we set number of concurrent background compaction threads greater than 4030

Testcase

Startup options `--default-tmp-storage-engine=MyISAM --rocksdb --skip-innodb --default-storage-engine=RocksDB  --rocksdb-max-background-compactions=4031`

GDB info

[code]

[2016-02-23 10:37] rameshvs02 opened #176 "handle_fatal_signal (sig=11) in RDBSE_TABLE_DEF::put_dict | rocksdb/rdb_datadic.cc:1641"
Startup option

`--default-tmp-storage-engine=MyISAM --rocksdb --skip-innodb --default-storage-engine=RocksDB`

Testcase

[code]

GDB info

[code]

[2016-02-23 18:28] yoshinorim commented on #176
@rameshvs02  I couldn't reproduce the crash (neither with debug build nor release build). Could you try:
- Updating MyRocks revision to the latest if you haven't
- Running the same command on different spec machine (I ran relatively higher spec machine and couldn't reproduce)

[2016-02-23 23:44] yoshinorim opened #177 "Optionally raise an error when using Gap Lock that MyRocks doesn't support"
This task is for making transition from InnoDB to MyRocks easier, until we support full Gap Lock in MyRocks/RocksDB.

InnoDB supports Gap Lock. MyRocks has very limited support for Gap Lock. When running queries relying on Gap Lock, MyRocks behaves as below.
- (1) Getting “Deadlock” errors in MyRocks, on conflict  => when updating the same row, with repeatable read isolation level
- (2) Works as s

[2016-02-24 01:32] #164 closed, assigned to alxyang

[2016-02-24 03:14] rameshvs02 commented on #176
@yoshinorim : With latest revision could not reproduce the issue. Thank you very much for the info.

[2016-02-24 04:15] rameshvs02 commented on #176
@yoshinorim : Server is crashing with different assertion when we drop the database after creating the table. Could you please check?

Tried with latest revision.
`HW info | CentOS Linux release 7.2.1511 (Core) 3.10.0-327.4.4.el7.x86_64 | Memory: 70GB`

Error info
`Assertion`cfh' failed in void\* drop_index_thread(void*) | rocksdb/ha_rocksdb.cc:6849`

Testcase

[code]

GDB info

[code]

[2016-02-24 04:34] rameshvs02 commented on #176
@yoshinorim : This issue is happening only when we use tmpfs file system for datadir. With SSD drive could not reproduce the issue.

[2016-02-24 17:23] yoshinorim opened #178 "ALTER TABLE ADD UNIQUE INDEX doesn't work"
Daniel found the bug. How to repeat:

[code]

[2016-02-24 17:35] alxyang commented on #178
@yoshinorim this is expected behavior.  Notice the table does not have a primary key.  Remember we decided to temporarily disable unique indexes for tables with no pk for now.  There is a check in `ha_rocksdb::create` that disables this

if we still want this feature i can assign it to myself since i am familiar with the code for this area

[2016-02-24 17:39] yoshinorim opened #179 "Optionally lock scanned rows with join/subquery"
InnoDB locks scanned rows. This includes join and subquery like below:
- INSERT INTO t1 SELECT .. FROM t2
- CREATE TABLE t1 SELECT .. FROM t2
- UPDATE (DELETE) t1 SET ... WHERE ... (SELECT ... FROM t2)
- UPDATE (DELETE) t1 JOIN t2 ON ...

InnoDB holds shared lock on scanned rows in t2. MyRocks does not hold any lock in t2. Locking t2 is not really needed with RBR. But to make transition from InnoD

[2016-02-24 17:41] yoshinorim commented on #178
Yeah let's return better error message:)

[2016-02-24 17:41] #178 closed, assigned to nobody

[2016-02-24 19:12] yoshinorim opened #180 "MyRocks should return error when using Read Uncommitted/Serializable isolation levels"
MyRocks currently supports only Read Committed and Repeatable Read isolation levels, and we're not going to add support for Read Uncommitted and Serializable anytime soon. We should return errors when using Read Uncommitted or Serializable.

[2016-02-24 21:21] yoshinorim commented on #180
https://reviews.facebook.net/D54687

[2016-02-24 21:21] #180 closed, assigned to nobody

[2016-02-24 22:25] spetrunia commented on #177
There are only a few functions that read rows: rnd_next(), index_first(), index_last(), index_read_map(), index_read_idx().
We could put in all these places a check that returns an error if we're doing a locking read and not using the full PK.

[2016-02-25 00:29] alxyang commented on #33
came across this comment, while working on inplace alter table.  Are we still planning to fix this? Can I assume that dict_manager.commit will not fail (or if it does, MyRocks will abort anyways)

[2016-02-25 05:24] RoelVdP commented on #176
(All our testing is usually done with all data in /dev/shm tmpfs)

[2016-02-25 17:40] yoshinorim commented on #169
Auto-retry was implemented: https://reviews.facebook.net/D54231

[2016-02-25 17:40] #169 closed, assigned to jkedgar

[2016-02-25 18:47] hermanlee commented on #33
I think there is probably enough functionality depending on dict_manager.commit() succeeding that if it fails, MyRocks needs to abort. So you can depend on this requirement. Do others feel this is the case?

[2016-02-25 18:51] mdcallag opened #181 "ALTER TABLE ... DROP INDEX does a table copy for MyRocks"
This is a feature request. ALTER TABLE ... DROP INDEX is too slow for MyRocks and does a table copy. PMP output from a slow one is at https://gist.github.com/mdcallag/f86882470941f58b0cd4

Dropping index for tpcc-mysql with 20 warehouses:
alter table order_line drop index fkey_order_line_2;

MyRocks: Query OK, 6003079 rows affected (4 min 15.31 sec)
InnoDB: Query OK, 0 rows affected (0.02 sec)

[2016-02-25 18:55] alxyang commented on #181
I have been working on this as part of https://github.com/facebook/mysql-5.6/issues/47.
The first pass of fast drop index implementation should be out in a diff today for review.

[2016-02-25 19:05] mdcallag opened #182 "CREATE INDEX does a table copy for MyRocks"
Related to https://github.com/facebook/mysql-5.6/issues/181 and https://github.com/facebook/mysql-5.6/issues/47. For tpcc-mysql with 20 warehouses...

mysql> CREATE INDEX fkey_order_line_2 ON order_line (ol_supply_w_id,ol_i_id);
InnoDB: Query OK, 0 rows affected (25.43 sec)

MyRocks default: Query OK, 6003079 rows affected (3 min 30.77 sec)
MyRocks with rocksdb_skip_unique_check=1: Query OK, 60030

[2016-02-25 19:34] yoshinorim commented on #33
MyRocks aborts on dict_manager.commit() errors and we are unlikely to change it. So you can rely on it.

[2016-02-25 22:24] alxyang commented on #33
ok, sounds good.

[2016-02-25 23:25] mdcallag opened #183 "Full index scan 3X slower for MyRocks than InnoDB"
I loaded tpcc-mysql with 100 warehouses, created indexes, then did select count(*) from order_line. The query is 3X slower for MyRocks than InnoDB (~6 vs ~18 seconds). The database was cached before the query. The plan is the same:

[code]

The load command is: ./tpcc_load -h 127.0.0.1 -d tpcc -u root -p pw -w 100

I did not create the foreign keys. I did create these secondary indexes:

[code]

T

[2016-02-25 23:55] mdcallag commented on #183
Forced PK scan and the times are ~7 seconds for InnoDB vs ~25 for MyRocks
select count(*) from order_line force index (`PRIMARY`)

[2016-02-25 23:57] mdcallag commented on #183
Dump takes ~43 secs for InnoDB vs ~70 for MyRocks
time mysqldump -h127.0.0.1 --opt tpcc order_line > /dev/null

[2016-02-26 00:35] mdcallag commented on #183
Also reproduces with wisconsin benchmark in MySQL's sql-bench:
./test-wisconsin --server=mysql --user=root --password=pw --host=127.0.0.1  --log --create-options="engine=innodb" --loop-count=200
./test-wisconsin --server=mysql --user=root --password=pw --host=127.0.0.1  --log --create-options="engine=rocksdb" --loop-count=200

[code]

[2016-02-26 01:08] mdcallag commented on #183
Rebuilt from HEAD right now. Something got faster. Will next rebuild from HEAD for tpcc-mysql

[code]

[2016-02-26 01:43] mdcallag commented on #183
New build doesn't make a difference for the tpcc-mysql results. Maybe I had an old bad build on the sql-bench test host. Well, select count(*) goes from 25 to 22 seconds but mysqldump is ~69 seconds

[2016-02-26 19:18] mdcallag opened #184 "test-insert takes too much time with MyRocks"
test-insert is part of sql-bench

This query takes less than 1 second with InnoDB. It takes more than 1 hour with MyRocks because of the tombstone skipping overhead. It is run via;
./test-insert --server=mysql --user=root --password=pw --host=127.0.0.1 --log --create-options="engine=innodb"
./test-insert --server=mysql --user=root --password=pw --host=127.0.0.1 --log --create-options="engine=rocks

[2016-02-26 19:46] mdcallag commented on #184
Yoshi - any advice?

[2016-02-26 20:15] mdcallag commented on #184
test-insert does 10 'update all rows' statements like this prior to the outer joins. Response time for the outer joins varies -- from 10 to 3600+ seconds.
    update bench1 set dummy1='updated 8';

[2016-02-27 01:27] yoshinorim commented on #184
Does test-insert update primary keys?
Could you add below parameters?

[code]

We recently changed these defaults to 0. If you execute non-single Delete many rows (deleting many primary keys), this may affect.

[2016-02-27 01:38] mdcallag commented on #184
I have the first right now. Will add the second.

[code]

[2016-02-29 05:37] rameshvs02 opened #185 "Assertion `BaseValid()' failed in void rocksdb::BaseDeltaIterator::Advance() | rocksdb/utilities/write_batch_with_index/write_batch_with_index.cc:202"
Testcase

Startup option `--skip-innodb --rocksdb --default-storage-engine=rocksdb --default-tmp-storage-engine=MyISAM`

[code]

GDB info

[code]

[2016-02-29 17:56] yoshinorim commented on #185
Thanks for the bug report. Verified as described.

[2016-02-29 17:58] mariadb-DanielLee commented on #185
Cool, let me know when it is fixed and I will test it again.

Thanks

Regards,
—
Daniel Lee, QA Engineer
MariaDB, www.mariadb.com

[2016-02-29 21:14] mdcallag commented on #184
With updated my.cnf for MyRocks using write_buffer_size = 4m or 128m.
- in.8k, in.16k = innodb, 8k or 16k page size
- rx.4, rx.128 = rocksdb, 4m or 128m write buffer

MyRocks does much worse on test-insert and test-wisconsin. Command lines:

[code]

[code]

[code]

[2016-02-29 21:20] mdcallag commented on #184
Times for test-wisconsin vary a lot. Running it in isolation for write_buffer_size=128m

[code]

This takes 17 seconds with InnoDB

[code]

And tombstones are the problem:

[code]

There is also a segfault at test end:

[code]

[2016-02-29 21:22] mdcallag commented on #184
For test-insert, this shows the times per sub-test and highlights the ones that were much slower with myrocks

[code]

[2016-02-29 21:57] mdcallag opened #186 "segfault during test-wisconsin"
This is repeatable.

Command line from run $mysql_root/sql-bench

[code]

Using my.cnf

[code]

Fault is:

[code]

Thread that gets fault:

[code]

Other threads

[code]

[2016-02-29 22:14] mdcallag commented on #184
Filed https://github.com/facebook/mysql-5.6/issues/186 for the segfault

An example from the slow query log where the response time gets bad. This is intermittent.

[code]

And the queries from test-wisconsin:

[code]

[2016-02-29 22:43] mdcallag commented on #184
Some queries after this delete statement become slow. This statement deletes 9000 rows.
Delete from Bprime where unique2 >= 1000

creating an issue just for this problem

DDL for Bprime:

[code]

[2016-02-29 22:46] mdcallag opened #187 "test-wisconsin slow queries after delete big"
This is forked from https://github.com/facebook/mysql-5.6/issues/184

In test-wisconsin, some queries get very slow (~3 seconds each) after the delete big statement.
- for the problem statement see https://github.com/facebook/mysql-5.6/issues/184#issuecomment-190432979
- for slow log data see https://github.com/facebook/mysql-5.6/issues/184#issuecomment-190422599
- for the command line to run the

[2016-02-29 22:54] siying commented on #186
In the test, do you do anything that might trigger manual compaction? Something like analyze table, alter table, drop index, etc?

[2016-02-29 23:00] mdcallag commented on #186
Sometimes I run DROP DATABASE at test end and that triggers the crash. Full
SQL is in
https://github.com/facebook/mysql-5.6/blob/webscalesql-5.6.27.75/sql-bench/test-wisconsin.sh

On Mon, Feb 29, 2016 at 2:54 PM, Siying Dong notifications@github.com
wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-02-29 23:05] siying commented on #186
@mdcallag it might be a regression test introduced by the feature that manual compaction runs concurrently with automatic compactions. If it is easily reproducible. We can put a quick fix and see whether the problem can be fixed.

[2016-02-29 23:11] mdcallag commented on #186
it is easy to reproduce

On Mon, Feb 29, 2016 at 3:05 PM, Siying Dong notifications@github.com
wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-02-29 23:20] siying commented on #186
Hope https://reviews.facebook.net/D54891 can fix it.

[2016-03-01 00:19] yoshinorim commented on #185
https://reviews.facebook.net/D54867

[2016-03-01 00:19] #185 closed, assigned to yoshinorim

[2016-03-01 01:19] yoshinorim commented on #186
I haven't been able to reproduce the crash, even without the Siying's diff. @mdcallag: Does the Siying's diff fix the crash on your machine?

[2016-03-01 01:54] mdcallag commented on #186
MyRocks is at this diff for RocksDB:

commit 79ca039eb44546ddb71c1f6ba6626dc614a662a7

Author: Yueh-Hsuan Chiang yhchiang@fb.com

Date:   Fri Feb 19 14:42:24 2016 -0800

[code]

CheckOptionsCompatibility

When I try arc patch I get:

[code]

but

[code]

On Mon, Feb 29, 2016 at 5:19 PM, Yoshinori Matsunobu <
notifications@github.com> wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-03-01 02:23] siying commented on #186
@mdcallag this is the diff https://github.com/facebook/rocksdb/commit/5ea9aa3c146f77e45563f30f346aa3e8f66082c3 . Did you pull?

[2016-03-01 02:25] mdcallag commented on #186
Nope, just use what "git submodule update" gives me. Applied the patch and
so far no crash.

On Mon, Feb 29, 2016 at 6:23 PM, Siying Dong notifications@github.com
wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-03-01 03:35] yoshinorim opened #188 "DROP TABLE doesn't drop data on Memtable"
DROP TABLE doesn't seem to drop associated data in Memtable. They're eventually written to sst files, but at that time DROP TABLE already finished, so they're not purged forever == consuming unnecessary space.

[2016-03-01 04:08] yoshinorim commented on #188
Islam pointed out I was wrong. CompactRange flushed Memtable actually  -- https://github.com/facebook/rocksdb/blob/master/db/db_impl.cc#L1591

[2016-03-01 04:08] #188 closed, assigned to nobody

[2016-03-01 19:48] yoshinorim opened #189 "Segfault with RQG"
From Daniel:

[code]

[2016-03-01 20:15] yoshinorim commented on #189
Test case:
perl gentest.pl --dsn=dbi:mysql:host=localhost:port=3306:user=root:database=test:mysql_socket=/tmp/mysql.sock --gendata=conf/runtime/concurrency_1.zz --grammar=conf/runtime/concurrency_1.yy --threads=3 --queries=10000 --sqltrace

I could reproduce crashes, though stack trace was different.

[code]

[2016-03-02 00:53] yoshinorim commented on #189
When I tried commenting out trx->set_tx_read_only(true);, it hasn't crashed after that. I'll try to find workarounds.

[2016-03-02 07:12] rameshvs02 opened #190 "InnoDB: Failing assertion: event in file os0sync.cc line 490"
Startup option
`--innodb-read-only=1`

Testcase
`SET GLOBAL innodb_status_output=OFF;`

GDB info

[code]

[2016-03-02 07:57] hermanlee commented on #189
I've set a couple of assertions in the code to see what's happening when the server crashes during the START TRANSACTION WITH CONSISTENT SNAPSHOT. I think there is something strange happening during this part of RQG:
1. create new table based on existing table that has an autoincrement key
2. start transaction with consistent snapshot
3. create function that implicitly commits the 'start transacti

[2016-03-02 15:29] yoshinorim commented on #189
I think https://reviews.facebook.net/D54981 fixes the crash at least.

[2016-03-02 17:00] yoshinorim commented on #189
[code]

The last select has to return (10, 1).

[2016-03-02 17:14] yoshinorim commented on #189
[code]

The last select has to return (10, 1).

[2016-03-02 19:17] yoshinorim opened #191 "Lack of proper ROLLBACK TO SAVEPOINT implementation causes data mismatch between master and slaves"
How to repeat:

[code]

Currently this is expected in MyRocks, but actually only (id, value) = (1, 1) is written to binlog file, so (2, 1) is not replicated.

[code]

[2016-03-02 19:35] yoshinorim commented on #189
https://reviews.facebook.net/D54999

[2016-03-02 19:35] #189 closed, assigned to yoshinorim

[2016-03-02 20:22] mdcallag opened #192 "segfault with create/drop index concurrent with queries"
This occurred twice after a few minutes from my test case.

The add/drop index command uses the old-style table copy code.

The stack is:

[code]

The code is:

[code]

Test case is:

[code]

Command line was:  for i in $( seq 1 1000 ); do bash rslap.sh 1000 64 ; done

RocksDB specific my.cnf:

[code]

[2016-03-02 21:49] spetrunia opened #193 "Hypothetical crash during ALTER TABLE will result in "Schema mismatch" on restart"
I'm doing this

create table t1 (pk int primary key, a int, b int, c int);
alter table t1 add key(a),add key(b), add key(c);
insert into t1 values (1,1,1,1),(2,2,2,2),(3,3,3,3);

Put a breakpoint at sql_table.cc:8734. This is in mysql_alter_table(), here:

[code]

^ here

Then run

alter table t1 drop key a;

When the breakpoint is hit, kill the server and restart it. MyRocks will refuse
to start:

[2016-03-02 23:05] yoshinorim commented on #193
https://reviews.facebook.net/D47619 added checks between frm files and MyRocks data dictionary. I think checking temporary tables (starting with tmp_file_prefix -- '#sql') can be skipped, and InnoDB seems to skip it. Users can never create real frm files starting with '#' (table names starting with '#' maps to unicode expression) so skipping the check would be fine.

[2016-03-02 23:15] mdcallag opened #194 "MyRocks much slower than InnoDB for many-row transactions"
Summary:
- many-row transactions are much slower with MyRocks
- select count(*) of a 1M or 2M row table is much slower with MyRocks

Times per operation. These are from the 'time mysql ...' statements in the testcase. The MyRocks tests were run twice, first with the my.cnf settings listed below ("default") and then with rocksdb_skip_unique_check=1 ("skip").

[code]

Testcase

[code]

RocksDB my.cn

[2016-03-02 23:16] mdcallag commented on #194
Inspired by https://github.com/facebook/mysql-5.6/issues/184

[2016-03-02 23:16] mdcallag commented on #184
Open issue for slowness in many-row transactions.
https://github.com/facebook/mysql-5.6/issues/194

Will close this for now given and revisit when all of the referenced issues are fixed.

[2016-03-02 23:16] #184 closed, assigned to mdcallag

[2016-03-02 23:18] #155 closed, assigned to nobody

[2016-03-02 23:22] yoshinorim commented on #194
I assume it's a known issue that lots of modifications within single transaction uses lots of CPU time at WriteBatchWithIndex's SkipList, and I think it's reproducible by writing simple RocksDB client code.

[2016-03-03 00:26] alxyang commented on #181
https://reviews.facebook.net/D54777 is currently awaiting review

[2016-03-03 00:29] alxyang commented on #26
can we close either this or https://github.com/facebook/mysql-5.6/issues/182 since they seem to be duplicates

[2016-03-03 00:34] hermanlee commented on #192
I am having some problems reproducing the crash with my mysqld builds (in either debug or release build). Since it happens two minutes into the test, is the rslap.sh script running with parameters iter=1000 and dop=1 and waiting for the two concurrent mysqlslap alter table processes to complete? Do you still have the your build for me to try and trigger the crash on?

Side note: we need to be addi

[2016-03-03 00:42] yoshinorim commented on #194
This is a simplified RocksDB client code to reproduce very similar Perf profiles -- https://gist.github.com/yoshinorim/619985fd114f0c8917e9 .

[code]

On my machine insert finished in ~9 seconds, update took ~25 seconds, and most of the time were spent by WriteBatch related functions.

[code]

[2016-03-03 01:37] mdcallag commented on #194
Whether it is known, this issue makes it easier for others to understand the problem even if we close it as "won't fix". I don't think it is as widely known as you and we have to document this for our users.

I am not ready to give up on this problem yet especially if we want to have broader adoption. Can someone figure out whether we can make the code paths more efficient?

There is a another pro

[2016-03-03 01:49] mdcallag commented on #26
ok

On Wed, Mar 2, 2016 at 4:29 PM, Alex Yang notifications@github.com wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-03-03 02:22] #26 closed, assigned to nobody

[2016-03-03 02:44] siying commented on #194
@yoshinorim is there a way to get the full call stack in the perf output? I'm curious from which code path these functions are called.

[2016-03-03 02:53] mdcallag commented on #194
you mean "perf record -ag ..."?

On Wed, Mar 2, 2016 at 6:44 PM, Siying Dong notifications@github.com
wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-03-03 02:56] yoshinorim commented on #194
@siying Here are example stack traces I got from the above simple-example bench. RocksDB revision was the following.

[code]

Put:

[code]

GetForUpdate:

[code]

[2016-03-03 03:00] mdcallag commented on #192
Reproduced again as described but took 1 hour. gdb was attached. Previously it reproduced faster with and without gdb attached.

[2016-03-03 03:17] siying commented on #194
@mdcallag yes, "-ag" will work.
@yoshinorim any idea which of the two cases is more? Even better would be running "perf -ag" and show the call graph for top items.

[2016-03-03 17:48] mdcallag commented on #150
Another example - https://github.com/facebook/mysql-5.6/issues/183

[2016-03-03 17:48] mdcallag commented on #183
Duplicate of https://github.com/facebook/mysql-5.6/issues/150

[2016-03-04 16:50] #115 closed, assigned to gunnarku

[2016-03-04 19:11] yoshinorim commented on #192
Herman's diff https://reviews.facebook.net/D55071 fixed the issue. Please reopen if you still find the same problem.

[2016-03-04 19:11] #192 closed, assigned to nobody

[2016-03-04 22:09] yoshinorim commented on #191
https://reviews.facebook.net/D55011

[2016-03-04 22:09] #191 closed, assigned to yoshinorim

[2016-03-04 23:50] yoshinorim opened #195 "RQG data mismatch between master and slave"
How to repeat:

[code]

After finishing the test, connect both master and slave and run "select \* from table10_int_autoinc" and "select \* from table100_int_autoinc". They are sometimes different.

[2016-03-05 07:52] yoshinorim commented on #195
This is a reproducible test case.

[code]

[2016-03-07 03:43] rameshvs02 commented on #170
Getting different stack trace with TEMP table alter statement.

Testcase

[code]

GDB info

[code]

[2016-03-07 16:30] #183 closed, assigned to nobody

[2016-03-07 18:34] yoshinorim commented on #195
https://reviews.facebook.net/D55161

[2016-03-07 18:34] #195 closed, assigned to nobody

[2016-03-08 23:32] spetrunia opened #196 "SELECT ... FOR UPDATE SKIP LOCKED causes assert failure"
The following will cause crash. The issue is not specific to MyRocks, I can observe with engine=heap as well.

[code]

[code]

The reason is that the assert

[code]

and if statement above assume that any storage engine will have

[code]

which is not the case. Should MyRocks support this improved locking?

[2016-03-09 00:15] pengtfb commented on #196
I am looking into it. BTW, the syntax should be ... SKIP LOCKED, not Ignore Locked, right?

[2016-03-09 01:59] #152 closed, assigned to hermanlee

[2016-03-09 02:02] #101 closed, assigned to nobody

[2016-03-09 02:04] #33 closed, assigned to nobody

[2016-03-09 18:14] mdcallag opened #197 "Builds on Ubuntu don't support snappy for RocksDB"
My builds on Ubuntu link mysqld with libsnappy but the nested build for RocksDB doesn't add -DSNAPPY and Snappy compression cannot be used with it. If I build RocksDB stand-alone it supports Snappy.

my cmake command line:
cmake -DCMAKE_BUILD_TYPE=Debug -DWITH_SSL=system -DWITH_ZLIB=bundled -DMYSQL_MAINTAINER_MODE=0

I get this error message at startup

[code]

[2016-03-09 21:40] yoshinorim commented on #197
You need to set env variable WITH_SNAPPY. For example, if libsnappy.a is located at /usr/lib/, you need to execute "export WITH_SNAPPY=/usr" then run cmake&make. By default, only zlib is linked. This should be documented.

[2016-03-09 21:44] yoshinorim commented on #197
Updated https://github.com/facebook/mysql-5.6/wiki/Build-Steps

[2016-03-09 23:10] yoshinorim commented on #177
https://reviews.facebook.net/D54813

[2016-03-09 23:10] #177 closed, assigned to yoshinorim

[2016-03-10 03:36] yoshinorim commented on #197
@mdcallag Let me know if you're unhappy with my comments.

[2016-03-10 21:30] barisfb commented on #175
Hello Ramesh,

I am working on a fix and was wondering how you come up with 4030? Is it a random number you chose? Do you know about a good upper limit for this value so we can limit during startup with an appropriate message?

thanks
Baris

[2016-03-11 02:26] rameshvs02 commented on #175
Hi Baris,

Initially I got this issue with  `--rocksdb-max-background-compactions=1125899906842624` server startup . On further reduction the issue disappeared with 4030 background compaction threads. I am not sure about the upper limit of this variable.

Thanks,
Ramesh

[2016-03-11 03:17] pengtfb commented on #196
Fixed by https://github.com/facebook/mysql-5.6/commit/cfe2d83bfd5471767a3a00cbf7d450d33fa0d9fe

[2016-03-11 03:18] #196 closed, assigned to nobody

[2016-03-11 17:24] yoshinorim commented on #186
https://reviews.facebook.net/D55233

[2016-03-11 17:24] #186 closed, assigned to nobody

[2016-03-11 19:16] barisfb commented on #174
Fixed, closing

[2016-03-11 19:16] #174 closed, assigned to barisfb

[2016-03-11 19:19] #172 closed, assigned to barisfb

[2016-03-11 19:19] #173 closed, assigned to barisfb

[2016-03-11 19:19] #175 closed, assigned to barisfb

[2016-03-11 22:52] yoshinorim opened #198 "Add row lock info in information_schema"
InnoDB has some i_s tables to figure out which client is blocking other clients.
- blocking client id
- requesting client id
- lock_table
- lock_index_name
- lock_key (if possible)
- lock_seconds
- requesting_query

It would be great if MyRocks has similar diagnostics features.

InnoDB i_s tables related to row locks:

[code]

[2016-03-15 18:53] yoshinorim commented on #27
Diffs:
https://reviews.facebook.net/D55437
https://reviews.facebook.net/D55449

[2016-03-15 18:53] #27 closed, assigned to yoshinorim

[2016-03-16 00:47] yoshinorim opened #200 "Make ha_rocksdb::convert_record_from_storage_format and RDBSE_KEYDEF::unpack_record more efficient"
How to repeat:

[code]

In MyRocks, the select took 6.71 sec. InnoDB took 3.30 sec.

10m.dat can be created as follows. You can reduce the number of lines, depending on your machine spec.

[code]

Here are Perf outputs in MyRocks.

[code]

[2016-03-16 02:01] yoshinorim opened #201 "Make perf_context configurable per session"
perf_context is very expensive when doing wide range/full scans, including logical backups. It would make sense to disable for sessions doing wide range/full scans. Currently it's not supported -- can be configured globally only.

[2016-03-16 10:34] rameshvs02 opened #202 "handle_fatal_signal (sig=6) in rocksdb::(anonymous namespace)::ReadaheadRandomAccessFile::ReadaheadRandomAccessFile(<unknown type | rocksdb/util/file_reader_writer.cc:388"
Server is crashing when we start the daemon with higher --rocksdb-compaction-readahead-size

Testcase

Startup option `--rocksdb-compaction-readahead-size=100000000000`

[code]

GDB info

[code]

[2016-03-16 11:14] RoelVdP opened #203 "Unknown column 'a' in 'field list' for RocksDB table, differs from InnoDB"
[code]

[2016-03-16 11:23] RoelVdP opened #204 "Number of rows affected differs between RocksDB and InnoDB for an empty table"
[code]

[2016-03-16 14:10] tplavcic opened #205 "Create table with foreign key on RocksDB should report error"
Something like this reports OK but I think it should report as error or at least give warning:
With: --no-defaults --default-tmp-storage-engine=MyISAM --rocksdb --skip-innodb --default-storage-engine=RocksDB

[code]

It just creates a table without a foreign key so a user is not aware that the table is not what he wanted to create:

[code]

If I understand correctly that foreign keys are not suppo

[2016-03-16 14:52] tplavcic commented on #204
It differs from InnoDB also on tables that have data in it, but that might be intentional.
InnoDB seems to report 0 affected rows for alter table while RocksDB seems to report the number of rows in the table (but even if true the initial report stands).

RocksDB

[code]

InnoDB

[code]

[2016-03-16 15:33] mdcallag commented on #205
Wow, MyRocks continues the MySQL tradition of "parsed but ignored"
http://mysqlha.blogspot.com/2009/01/parsed-but-ignored.html

[2016-03-16 16:05] spetrunia commented on #165
Committed a simple patch: https://reviews.facebook.net/D55545

The gap locks are on (SELECT ... WHERE pk='non-existent' FOR UPDATE will still keep the lock).

I was thinking about inventing some way of not getting the locks (and so, not having to wait) for rows that won't match the WHERE, but couldn't come up with anything.   With this patch, the locks are acquired and then released sooner for row

[2016-03-16 16:09] yoshinorim commented on #205
The described behavior applies to MyISAM and MEMORY too. I think MySQL layer lacks checking HTON_SUPPORTS_FOREIGN_KEYS at DDL.

[2016-03-16 18:07] spetrunia commented on #200
my first idea was:

Trying to check this - running queries that read different sets of columns.

Q1:
`select count(*) from t1 force index(primary);`

Q2:

[code]

(Starting from this query it uses full table scan, but this is comparable to 'index' scan on pk)
Q3:

[code]

Q4:

[code]

Q5:

[code]

Results: (exec time on InnoDB, exec time on MyRocks):

[code]

[2016-03-16 18:12] spetrunia commented on #200
![image](https://cloud.githubusercontent.com/assets/2734550/13823667/b6a545d4-ebbb-11e5-95e0-d909ce62319c.png)

[2016-03-16 18:14] spetrunia commented on #200
Looks like the difference in execution time doesn't depend on the number of columns read?  I'll try to make a version where ha_rocksdb::convert_record_from_storage_format detects that it doesn't need anything for COUNT(*) and measure again.

[2016-03-16 18:52] hermanlee commented on #203
Which build is this running on? I just ran a quick test, but it seems to be returning the correct error:

[code]

[2016-03-16 19:08] spetrunia commented on #200
Make a diff that skips the call to convert_record_from_storage_format() if the caller doesn't need any columns:  https://gist.github.com/spetrunia/23bcdbbe36518b53b2ba

Tried it on Q1: issue200-try.diff 4.12 sec
Comparing it with previous results:
InnoDB: 2.30
MyRocks + dif: 4.12  (+1.82)
MyRocks: 6.84  (+2.72)

This shows that decoding columns is 40% of the slowdown.

[2016-03-16 19:33] spetrunia commented on #200
@yoshinorim, I assume this means that
- I should make column unpacking more efficient
- although there are other causes of slowdown (which hopefully will be easier to track after unpacking is fixed)
  ?

[2016-03-16 20:18] yoshinorim commented on #200
@spetrunia: I tried your experimental patch (https://gist.github.com/spetrunia/23bcdbbe36518b53b2ba) then "select count(*) from t1 force index(primary)" time reduced from 6.71s to 3.26s, which is very effective and close to InnoDB. Now the biggest bottleneck is "rocksdb::StatisticsImpl::recordTick()", which is known issue in RocksDB internal.

So yes, please make column unpacking more efficient. T

[2016-03-16 20:32] yoshinorim commented on #200
I tried commenting out RecordTick() at DBIter::Next(), then select time decreased from 3.26s to 2.83s.

[code]

[2016-03-16 22:33] hermanlee opened #206 "Explore lowering the performance impact when enabling perf_context"
Running MyRocks with perf_context enabled is expensive due to the number of stats that need to be maintained on a per-key lookup context. A full table scan of 1000 rows triggers perf_context captures 1000 times. While this gives us fine granularity control over determine which index fetches are hitting performance issues, it makes running with perf_context enabled by default expensive.

Some ways

[2016-03-17 00:15] yoshinorim commented on #204
Does this block your tests? I'm not sure if it needs to be fixed..

[2016-03-17 00:39] RoelVdP commented on #204
Hi @yoshinorim

It does not. However, we're seeing quite a few issues so any differences seen will be compounding work and filtering over time.

[2016-03-17 16:13] mariadb-DanielLee opened #207 "Compiling the MyRocks project failed"
myrocks@rocksdb:~/builds/mytest/mysql-5.6$ git show
commit d3054d2915ffcde166cd67760ac6a618c6d02b82

end of the make command output
.
.
.
.
  1043  [ 57%] Building CXX object libmysqld/CMakeFiles/sql_embedded.dir/**/sql/unireg.cc.o
  1044  [ 57%] Building CXX object libmysqld/CMakeFiles/sql_embedded.dir/**/sql/sql_timer.cc.o
  1045  Linking CXX static library libsql_embedded.a
  1046  [ 57%] Built

[2016-03-17 17:02] gunnarku commented on #207
Can you please follow the steps at https://github.com/facebook/mysql-5.6/wiki/Reporting-bugs-and-asking-for-help and add the relevant information about the OS which is being used, toolset version etc. This way we can do something actionable to investigate the issue.

[2016-03-17 17:11] mariadb-DanielLee commented on #207
myrocks@rocksdb:~/builds/mytest/log$ uname -a
Linux rocksdb 3.13.0-83-generic #127-Ubuntu SMP Fri Mar 11 00:25:37 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

myrocks@rocksdb:~/builds/mytest/log$ lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 14.04.4 LTS
Release:    14.04
Codename:   trusty

Commands used to make the project:

   echo `date` 1/5 git clone ..

[2016-03-17 17:13] gunnarku commented on #207
What is the version of the toolset you're using and what is it (Clang, GCC)? For example:

[code]

[2016-03-17 17:15] mariadb-DanielLee commented on #207
myrocks@rocksdb:~/builds/mytest/log$ gcc --version
gcc (Ubuntu 4.8.4-2ubuntu1~14.04.1) 4.8.4
Copyright (C) 2013 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

myrocks@rocksdb:~/builds/mytest/log$ g++ --version
g++ (Ubuntu 4.8.4-2ubuntu1~14.04.1) 4.8.4
Copyright (C

[2016-03-17 17:24] gunnarku commented on #207
Thank you for detailed information, gcc 4.8.x doesn't implement a support for `returns_nonnull`. Take a look at https://gcc.gnu.org/onlinedocs/gcc-4.8.5/gcc/Function-Attributes.html vs. https://gcc.gnu.org/onlinedocs/gcc-4.9.2/gcc/Function-Attributes.html.

Good way to fix this issue is to update the compiler toolset to at least gcc 4.9.2.

Most likely this won't be the first or last change which

[2016-03-17 17:33] gunnarku commented on #207
Quick alternative is also to remove all the four instances of `__returns_nonnull__` from the source code temporarily. This will unblock you as well.

HTH

[2016-03-17 18:09] gunnarku commented on #207
Attributes breaking build with gcc 4.8.x removed. Please try `git pull --rebase` and see if the new changes will fix the issues. If the break will still be present then please re-open the issue.

[2016-03-17 18:09] #207 closed, assigned to gunnarku

[2016-03-17 18:14] mariadb-DanielLee commented on #207
myrocks@rocksdb:~/builds/reptest/mysql-5.6$ git show
commit d3054d2915ffcde166cd67760ac6a618c6d02b82
Author: Peng Tian pengt@fb.com
Date:   Mon Feb 15 10:09:36 2016 -0800

Compiled successfully after upgrading gcc to 4.9.3

[2016-03-17 19:14] gunnarku commented on #207
Thank you for validating!

[2016-03-18 08:58] tplavcic opened #208 "RocksDB explain shows rows and filtered as zeroes in some cases"
There's some difference in showing "rows" and "filtered" columns in explain between RocksDB and InnoDB but it seems that in some cases in RocksDB rows and filtered are always 0.

Here's the simple example:

[code]

InnoDB:

[code]

RocksDB:

[code]

And it doesn't matter if the column is a key also:

[code]

[2016-03-18 11:09] #165 closed, assigned to spetrunia

[2016-03-18 19:35] mariadb-DanielLee opened #209 "ALTER TABLE may cause data inconsistency"
Build tested:

myrocks@rocksdb:~/builds/reptest/mysql-5.6$ git show
commit d3054d2915ffcde166cd67760ac6a618c6d02b82
Author: Peng Tian pengt@fb.com
Date:   Mon Feb 15 10:09:36 2016 -0800

After executing the statements from lines 22 to 972, I got:

mysql> desc t1;
+-------+---------+------+-----+---------+-------+
| Field | Type    | Null | Key | Default | Extra |
+-------+---------+------+-----+--

[2016-03-18 19:59] yoshinorim commented on #209
Thanks. Verified as described.

[2016-03-19 03:35] yoshinorim commented on #209
I managed to reproduce with the following queries. I'm still not sure why this has happened, but it reproduced without ALTER TABLE ADD PRIMARY KEY.

[code]

The last two select and checksum table results were as follows.

[code]

The last select returned two extra rows. Both were col1=2, which were supposed to be deleted by the last DELETE.

[2016-03-21 01:44] RoelVdP commented on #203
Tested with build from today, and;

[code]

Confirmed fixed (or now hidden)

[2016-03-21 03:25] mdcallag opened #210 "add memtable memory counters to SHOW GLOBAL STATUS"
These are displayed in SHOW ENGINE ROCKSDB STATUS. I want that in SHOW GLOBAL STATUS as well to monitor memory consumption.

MemTable Total: 4687688240
MemTable Unflushed: 667581960

[2016-03-21 16:27] #203 closed, assigned to nobody

[2016-03-21 16:31] yoshinorim commented on #209
I couldn't reproduce if table t1 had primary key.

[2016-03-22 03:52] rameshvs02 opened #211 "Assertion `!trx->has_snapshot()' failed in int myrocks::rocksdb_start_trx_and_assign_read_view(handlerton*, THD*, char*, ulonglong*, char**, int*) | rocksdb/ha_rocksdb.cc:2309"
Error Info

[code]

Testcase

[code]

GDB info

[code]

[2016-03-22 04:39] yoshinorim commented on #211
Thanks! Verified as described.

[2016-03-22 04:44] yoshinorim opened #212 "MyRocks chooses full index scan even if range scan is more efficient"
How to repeat:

[code]

10m.dat can be created as follows. You can reduce the number of lines, depending on your machine spec.

[code]

Then run the following selects with explain.

[code]

If c1 scan range was wide enough (99% in this case), MyRocks decided to do full index scan, even though in this case range scan was much more efficient.

InnoDB always did range scan properly.

[code]

[2016-03-22 06:13] rameshvs02 opened #213 "handle_fatal_signal (sig=11) in key_unpack | FB-mysql-5.6/sql/key.cc:457"
Testcase

[code]

GDB info

[code]

[2016-03-22 07:02] rameshvs02 opened #214 "handle_fatal_signal (sig=11) in Field_long::cmp | FB-mysql-5.6/sql/field.cc:4067"
Testcase

[code]

GDB info

[code]

[2016-03-22 10:40] spetrunia commented on #212
My first suspicion was that the cause is LIMIT optimization.
However, optimizer trace doesn't show anything about LIMIT, and one can observe the difference without the LIMIT clause, too:

InnoDB:

[code]

note that rows=4.8M which is an almost 2x underestimation (the real number is 9.9M)

MyRocks:

[code]

[2016-03-22 10:54] spetrunia commented on #212
Comparing optimizer_trace:

[code]

OK so far

[code]

Weird, why is full index scan so much more expensive in MyRocks?

[code]

Here,
- InnoDB reports 4.8M rows in the range.
- MyRocks reports 10.0M  (btw the number is bigger than total #rows in the table it reported)

The real number is 9.9M, so MyRocks is closer to truth.
However, the result is that range access is chosen for InnoDB but not for

[2016-03-22 11:02] spetrunia commented on #212
If I put a breakpoint into ha_innobase::records_in_range and force it to return the exact number of rows in the range (9900000), then I get:

[code]

That is, if InnoDB returned precise #rows estimates, it would have gotten a bad query plan, too.

[2016-03-22 11:56] spetrunia commented on #212
Investigating the reason why InnoDB's estimates are so imprecise.
The code in `storage/innobase/btr/btr0cur.cc`,  btr_estimate_n_rows_in_range(), has this:

[code]

In the testcase for this issue, we enter with an estimate of 9,943,764, it gets multiplied by 2, then we enter the second if and the estimate is reset to be `table_n_rows / 2`

The code was added by Heikki in 2002, commit comment doesn

[2016-03-22 14:17] mdcallag commented on #212
Why does that hack by Heikki matter for the case where the queries use LIMIT 10?

I get this when running a modified version of the insert benchmark to do queries concurrent with the inserts. For the example below, does it matter whether the estimate for 'rows' is 200M or 100M. In either case that is a huge full index scan compared to a 10 row range scan.

mysql> explain SELECT price,customerid FR

[2016-03-22 14:19] mdcallag commented on #212
Found using binary search, the point at which my setup switches from index to range

mysql> explain SELECT price,customerid FROM pi1 FORCE INDEX (marketsegment) WHERE (price>=154) LIMIT 10\G
**************************\* 1. row ***************************
           id: 1
  select_type: SIMPLE
        table: pi1
         type: range
possible_keys: marketsegment
          key: marketsegment
      ke

[2016-03-22 14:31] mdcallag commented on #212
Is this why I don't get a range scan?
Is "row_estimate" the estimated row count including LIMIT 10? If yes, then 2.01e8 is way off.

[code]

[2016-03-22 14:49] mdcallag commented on #212
Another example where changing the constant in the WHERE clause switches the LIMIT 10 query from a range to index scan. This has optimizer trace output. In both cases, in the "rechecking_index_usage" section for "LIMIT 10"  the row_estimate value is still huge. So the only way that range gets chosen is for the cost of a huge range scan to be less than the cost of a full index scan.

 https://gist.

[2016-03-22 14:54] spetrunia commented on #212
Interesting, I don't see this for either InnoDB or MyRocks on my side (while I can reproduce the issue very easily).

[2016-03-22 14:57] mdcallag commented on #212
The rechecking_index_usage output for InnoDB is similar to MyRocks --> row_estimate is huge. Does "row_estimate" in that section mean the estimate after LIMIT is applied? If yes, then it is a lousy estimate for InnoDB and MyRocks.

Here is the InnoDB output:

[code]

For this query:
SELECT price,dateandtime,customerid FROM pi1 FORCE INDEX (pdc) WHERE (price>=58.42) LIMIT 10

[2016-03-22 15:11] mdcallag commented on #212
I am using upstream 5.6.26 for InnoDB and a recent fbmysql build for MyRocks

Reproduction case is my insert benchmark - https://github.com/mdcallag/mytools/tree/master/bench/ibench

Command line for client is:
dop=1; bash np.sh 2000000000 rocksdb "" 3 /path/to/mysql/client/binary /path/to/database/data/dir $dop 10 20 0 $storage_device no 1 100 5000 1

[2016-03-22 15:29] mdcallag commented on #212
AFAIK there is no new cost information in the rechecking_index_usage section. Looking at sql_optimizer.cc the "row_estimate" is the estimate before the LIMIT is applied and no new cost information is displayed there. Allow me to be sad.

[code]

[2016-03-22 16:29] yoshinorim commented on #213
Thanks! Verified as described. It didn't reproduce with InnoDB. MyRocks has little test coverage for partitions so more bugs can be expected.

[2016-03-22 16:30] yoshinorim commented on #214
Thanks! Verified as described. It didn't reproduce with InnoDB. MyRocks has little test coverage for partitions so more bugs can be expected.

[2016-03-22 18:06] mdcallag opened #215 "increase MALLOC_STATUS_LEN"
This is in sql_parse.cc and is the result buffer for SHOW MEMORY STATUS that gets the result of malloc_stats_print() from jemalloc. The current buffer is 300,000 which is too small and truncates the per-arena stats. I think this should be set to 1,000,000

[code]

[2016-03-22 18:26] mdcallag commented on #212
Tried 3 variations, all choose index scan rather than range

explain SELECT price,dateandtime,customerid FROM pi1 FORCE INDEX (pdc) WHERE (price>=58.42) LIMIT 10;
explain SELECT price,dateandtime,customerid FROM pi1 FORCE INDEX (pdc) WHERE (price>=58.42) ORDER BY price LIMIT 10;
explain SELECT price,dateandtime,customerid FROM pi1 FORCE INDEX (pdc) WHERE (price>=58.42) ORDER BY price,dateandtime,c

[2016-03-22 18:59] mdcallag commented on #212
MyISAM chooses range rather than index, but perhaps because full range has slightly lower cost than full index. Still not sure that LIMIT N optimization exists.

[code]

[2016-03-22 19:16] yoshinorim commented on #212
MyRocks estimated range scan cost was much higher than InnoDB, which made MyRocks decide to use full index scan. The cost was calculated at file->multi_range_read_info_const(), called from check_quick_select().

InnoDB supports MRR so ha_innobase::multi_range_read_info_const() returned the cost. MyRocks does not support MRR so handler::multi_range_read_info_const() returned the cost.

InnoDB cost:

[2016-03-22 19:25] mdcallag commented on #212
I assume we have two issues here:
1) LIMIT N optimization isn't doing much. I am not asking for this to be
fixed in MyRocks. Would be nice to file public bug.
2) Our costs for range scan are too large relative to index scan. We can
fix this (hopefully).

On Tue, Mar 22, 2016 at 12:16 PM, Yoshinori Matsunobu <
notifications@github.com> wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-03-22 19:49] yoshinorim commented on #212
Sergey's proposed solution (setting stats.block_size) helped to reduce estimated io_cost.

[code]

MyRocks still chose full index scan on some conditions. With some hacks like InnoDB (reducing maximum estimated rows on range scan) will fix the problem in MyRocks too though.

[2016-03-22 20:05] yoshinorim commented on #212
With records_in_range hack (setting maximum rows by range scan = total_rows/2), MyRocks always selected range scan.

[code]

Estimated rows became half of the number of rows in the table t1. This was wrong, and it was side effect of the records_in_range hack.

Here is a patch:

[code]

I don't like the records_in_range() hack, but unless we find a good way to estimate LIMIT cost, probably this wou

[2016-03-22 21:08] jkedgar commented on #149
https://reviews.facebook.net/D55857

[2016-03-22 21:43] yoshinorim commented on #212
I noticed that when MyRocks chose full index scan, ha_rocksdb::records_in_range() returned more than maximum rows in the table, which was totally wrong.

[code]

We estimate the number of rows in range by GetApproximateSizes(). We need to adjust something if it was larger than stats.records, though dividing by half was not needed.

[2016-03-22 21:50] spetrunia commented on #212
@yoshinorim, yes. AFAIU actually it needs to be a little bit lower, because the cost of range scan is calculated in handler::multi_range_read_info_const()  as follows:

[code]

Note the 0.01.  I'm not sure why it is present, but if records_in_range() returns the number of rows that's equal to #rows in the table, then range scan will be still a bit more expensive than the full index scan.

Capping

[2016-03-22 22:31] spetrunia commented on #212
@mdcallag wrote:

I debugged what happens in

[code]

section when no ORDER BY clause is present.

The code around "rechecking_index_usage" was developed with intent to do optimization for ORDER BY .. LIMIT. When ORDER BY is not present, it concludes that no index provides the "required ordering", and so it doesn't attempt to do any LIMIT-aware optimization.

When ORDER BY clause is present, the o

[2016-03-22 23:30] yoshinorim commented on #212
Filed a diff based on discussions so far -- https://reviews.facebook.net/D55869 . This doesn't solve LIMIT, but would give as good optimizer plans as MyISAM.

[2016-03-23 00:13] mdcallag commented on #212
Filed a feature request to get LIMIT N support in the cost-based optimizer

[2016-03-23 00:54] yoshinorim commented on #211
I investigated a bit. After executing LOCK TABLE, myrocks::rocksdb_commit and myrocks::rocksdb_rollback() were somehow not called anymore. Without LOCK TABLE, myrocks::rocksdb_commit was called at "SELECT 1 FROM t1 GROUP BY TRIM(LEADING RAND()FROM'');".

[2016-03-23 03:06] RoelVdP opened #216 "Odd hang/option interaction with --rocksdb-rate-limiter-bytes-per-sec and --rocksdb-db-write-buffer-size"
During testing, a hang was seen. On debugging found this;

Default options: --no-defaults --default-tmp-storage-engine=MyISAM --rocksdb --skip-innodb --default-storage-engine=RocksDB

Add this to the above: --rocksdb-rate-limiter-bytes-per-sec=2 --rocksdb-db-write-buffer-size=1. Result:

[code]

The server will also not shutdown properly when using mysqladmin shutdown.

Add this instead (and clean

[2016-03-23 03:20] yoshinorim commented on #216
--rocksdb-rate-limiter-bytes-per-sec=2 and --rocksdb-db-write-buffer-size=1 are too small. I think we can restrict minimum positive integer values for some variables.

[2016-03-23 03:22] RoelVdP commented on #216
Yes, it would be good to set reasonable limits for all rocksdb options. One thing though is that the interaction shown above seems odd?

[2016-03-23 06:08] SunguckLee opened #217 "There's no more COMPRESSION syntax from 5.6.24 branch. But no commit history for these"
We are using facebook compression features with LZ4 algorithm.
We are going to upgrade facebook mysql 5.6.27, but this version doesn't have lz4_embedded source tree any more.

But looks like there's no commit history for these changes (Why lz4 algorithm removed).

We can't use LZ4 algorithm with facebook mysql anymore ?
Thanks.

[2016-03-23 07:59] RoelVdP opened #218 "terminate called after throwing an instance of 'std::out_of_range' in rocksdb::DBImpl::PurgeObsoleteFiles when using --rocksdb-keep-log-file-num=0"
[code]

To trigger, start server with;

[code]

Backtrace;

[code]

[2016-03-23 09:03] RoelVdP commented on #218
Issue #174 shows the same crash, but a fix for that bug was committed 12 days ago. My build is from 21.03.16.

[2016-03-23 09:03] RoelVdP commented on #174
Ref #218

[2016-03-23 10:34] RoelVdP opened #219 "Crash in myrocks::RDBSE_TABLE_DEF::put_dict on large CREATE table"
[code]

[code]

Options required:

[code]

Testcase (maybe best to put into an .sql file and SOURCE it from the mysql CLI as copy/paste in CLI or OS has paste length limitations):

[code]

[2016-03-23 10:58] RoelVdP opened #220 "terminate called after throwing an instance of 'std::bad_alloc' when using large --rocksdb-compaction-readahead-size"
Options required (note --rocksdb-compaction-readahead-size=100000000000):

[code]

Testcase:

[code]

Stack;

[code]

[code]

[2016-03-23 11:20] RoelVdP commented on #220
Issue is easier to trigger with larger values, add 3 zero's and it happens at startup.

I assume bad_alloc is an OOM in this case?

[2016-03-23 15:45] gunnarku commented on #215
This is trivial to fix. Will send a diff out today.

[2016-03-23 15:50] gunnarku commented on #220
Yes, `std::bad_alloc` means is OOM. The root cause is the fact that we aren't establishing valid limits for `--rocksdb-compaction-readahead-size` (and in general for a number of other RocksDB options). There's an internal task we have to add validation, but it's not fully completed yet.

[2016-03-23 16:20] #212 closed, assigned to nobody

[2016-03-23 17:42] yoshinorim commented on #219
Seems like it's same as #176, but I haven't been able to reproduce it. @RoelVdP Could you upload or email me log files (MySQL err log and RocksDB LOG file ($datadir/.rocksdb/LOG))? Also, have you reproduced with the latest fb-mysql revision?

[2016-03-23 18:35] gunnarku commented on #215
Fixed.

[2016-03-23 18:35] #215 closed, assigned to gunnarku

[2016-03-23 19:15] yoshinorim commented on #211
https://reviews.facebook.net/D55887

[2016-03-23 19:15] #211 closed, assigned to yoshinorim

[2016-03-23 19:15] yoshinorim commented on #213
https://reviews.facebook.net/D55887

[2016-03-23 19:15] #213 closed, assigned to yoshinorim

[2016-03-23 20:28] RoelVdP commented on #219
Reproduces in build of 21.3.16
Does not reproduce in build of 24.3.16

[2016-03-23 20:43] RoelVdP commented on #176
This crashes for me on builds of 21.03.16 as well as 24.03.16, and I am using ssd not tmpfs.

[2016-03-23 20:43] RoelVdP commented on #219
#176 not fixed yet, which makes me doubt a bit about this one also.

[2016-03-23 20:45] RoelVdP commented on #219
Re-testing it again reproduces the bug on build from 24.3.16. Issue looks to be sporadic.

[2016-03-23 20:50] RoelVdP commented on #219
Error log
[master.err.txt](https://github.com/facebook/mysql-5.6/files/186809/master.err.txt)
Rocks DB log
[LOG.txt](https://github.com/facebook/mysql-5.6/files/186810/LOG.txt)

[2016-03-23 21:01] RoelVdP commented on #219
Another testcase (added directly below this comment).

Definitely sporadic. Reproducible on SSD. May require a few restarts/data dir wipes.
May require execution within a certain time limit and/or as the first command.
May require SOURCE. Uploading used .sql file.

[code]

[2016-03-23 21:04] RoelVdP commented on #219
[test.sql.txt](https://github.com/facebook/mysql-5.6/files/186838/test.sql.txt)
[master.err.txt](https://github.com/facebook/mysql-5.6/files/186840/master.err.txt)
[LOG.txt](https://github.com/facebook/mysql-5.6/files/186839/LOG.txt)

[2016-03-23 21:10] yoshinorim commented on #219
I still can't repeat. How did you build mysqld (release or debug)? Could you also share machine info (machine spec, Linux distribution) and my.cnf?

[2016-03-23 21:14] RoelVdP commented on #219
Build procedure;

[code]

OS:

[code]

my.cnf: not applicable. Once you have a tarball as generated above, you can do;

[code]

[2016-03-23 21:16] RoelVdP commented on #219
To then try again, you can also use;

[code]

[2016-03-23 23:16] RoelVdP opened #221 "Assertion `options.use_os_buffer' failed."
[code]

[code]

[code]

[code]

[2016-03-23 23:52] jtolmer commented on #217
We never completed the development and testing of the pluggable compression support to the point that we were comfortable deploying it to production. Instead, the team switched focus to the MyRocks project. Since the compression support was never deemed production-ready, and keeping the code in the source tree was a maintenance burden, I removed the all the commits from our source history when I r

[2016-03-23 23:52] #217 closed, assigned to nobody

[2016-03-25 00:49] yoshinorim commented on #219
@RoelVdP: Could you reproduce with debug build? If it's reproducible, could you paste stack traces?

[2016-03-28 11:03] RoelVdP commented on #219
Hi @yoshinorim, yes reproducible with debug build. For stack trace of crashing thread (single thread in use only), see https://github.com/facebook/mysql-5.6/issues/219#issuecomment-200541785

[2016-03-28 16:20] yoshinorim commented on #219
@RoelVdP Were stack traces exactly same between debug build and release build? I thought that debug build would hit DBUG_ASSERT() rather than put_dict(), which might help to find why it crashed.

[2016-03-28 22:19] RoelVdP commented on #219
Hi @yoshinorim I never tested with release build, all of this bug was tested on debug builds only.

[2016-03-29 10:46] valeriikravchuk commented on #147
I've got the same problem again today with recent code (cloned today) on Fedora Core 23. Had to comment out ADD_SUBDIRECTORY(unittest) in storage/rocksdb/CMakeLists.txt to proceed.

[2016-03-29 10:54] valeriikravchuk opened #222 "MySQL fails to build when DTrace support is enabled on Fedora"
I've got the following problem while building the code clonned today:

...
[ 81%] Built target partition
[ 81%] Building CXX object sql/CMakeFiles/sql.dir/sp_instr.cc.o
In file included from /home/openxs/git/mysql-5.6/include/probes_mysql_dtrace.h:10:0,
                 from /home/openxs/git/mysql-5.6/include/probes_mysql.h:24,
                 from /home/openxs/git/mysql-5.6/sql/sp_instr.cc:21:
/

[2016-03-29 18:47] gunnarku commented on #222
Hi Valerii,

Thank you for the bug report!

Unfortunately at this point we officially verify that our code compiles with only a select subset of platforms (see https://github.com/facebook/mysql-5.6/wiki/Build-Steps for more details) and Fedora + gcc 5.3.x isn't one of them.

Let me investigate and see if I can set up a virtual machine somewhere to try to replicate your findings. Of course, if you

[2016-03-29 21:44] jkedgar commented on #149
Fixed - we now reuse the transaction object in MyRocks.

[2016-03-29 21:44] #149 closed, assigned to jkedgar

[2016-03-30 00:49] spetrunia commented on #200
https://reviews.facebook.net/D56115 - the patch that makes MyRocks only decode columns that were requested by the SQL layer.

[2016-03-30 00:54] spetrunia commented on #200
![image](https://cloud.githubusercontent.com/assets/2734550/14128539/6d7c444c-f62a-11e5-988e-81ec4bc267c4.png)
- _patch#2_ is the above patch
- _No-row-decoding_ is performance when convert_record_from_storage_format does nothing at all (so it's an unachievable ideal).

From this chart one can see that the speedup of the patch is greater when SQL layer expects fewer columns (which is expected).  W

[2016-03-30 01:01] spetrunia commented on #200
Possible further improvements:
- When doing a secondary index scan and using index condition pushdown, index columns are decoded so that the condition can be checked. We don't need to decode these columns when reading the table row.
- When doing a secondary index scan and decoding index columns, don't decode columns that were not requested.
- Don't decode PK columns when they are not requested (ne

[2016-03-30 05:56] gunnarku commented on #147
Re-activating because the problem still happens.

[2016-03-30 06:30] yoshinorim commented on #200
@spetrunia : Was rocksdb_perf_context_level turned off on your latest benchmark? If not, could you turn it off and try again?

[2016-03-30 06:47] yoshinorim commented on #200
@spetrunia  Also, could you please use count(id1)~count(c7), not sum() for Q2~Q5? I am seeing that sum() overhead is not negligible -- some functions like do_add() uses lots of cpu time.

On my machine, without your patch, Q1 took 7.07s in MyRocks and 3.23s in InnoDB. Q5 with s/sum/count/g took 7.69s in MyRocks and 8.21s in InnoDB. I have not tried your diff yet but I assume it fixes Q1. Q5 is alr

[2016-03-30 20:16] spetrunia commented on #200
@yoshinorim the tests were run with `rocksdb_perf_context_level=0`. This is the default that I get.

I am running one the latest where the patch you've posted earlier here
https://github.com/facebook/mysql-5.6/issues/200#issuecomment-197536034 is not applicable because the counter increments were already changed to BumpGlobalStats.

[2016-03-30 21:59] spetrunia commented on #200
@yoshinorim, confim.  I've tried queries with COUNT, and here are the results:

[code]

![image](https://cloud.githubusercontent.com/assets/2734550/14158743/819567fa-f6da-11e5-8e04-5f18f29b9485.png)

I'll compare with InnoDB now

[2016-03-30 22:26] spetrunia commented on #200
Tried comparing with InnoDB.  All setting are either default or very close.  For innodb, tried all default settings, and 12G buffer pool. (The machine is m4.4xlarge, 64G RAM).
(I hope I'm not missing anything important with this setup?)

`skip-row-recode` is not decoding the columns at all, https://gist.github.com/spetrunia/2cb9f3df2a2d8087441400f902c16e3d (this produces wrong query result)

[code

[2016-03-30 23:03] spetrunia commented on #200
InnoDB has a thing called "prefetch cache". I saw it on other occasions and always wondered what its impact is. I made a patch which I believe disables it: https://gist.github.com/spetrunia/7ec9b54b5720feaa370671b4dc44bdf8  and re-ran the test from the previous comment:

[code]

![image](https://cloud.githubusercontent.com/assets/2734550/14160348/84a28a7c-f6e4-11e5-8732-4a7e284fd3cf.png)

With pre

[2016-03-30 23:23] yoshinorim commented on #200
@spetrunia Thanks! Apparently all rows are cached in buffer pool so no read i/o prefetch matters here. Does MYSQL_FETCH_CACHE prefetch up to 8 consecutive rows then converting them into MySQL format at once? It would certainly reduce frequency of unpack calls so it would have visible impacts for in memory scans. Maybe it's worth supporting in MyRocks too?

[2016-03-31 08:10] valeriikravchuk commented on #222
I was able to build successfully on the same Fedora Core 23 box using the following cmake command line:

 cmake . -DCMAKE_BUILD_TYPE=RelWithDebInfo -DWITH_SSL=system -DWITH_ZLIB=bundled -DMYSQL_MAINTAINER_MODE=0 -DWITH_EMBEDDED_SERVER=OFF -DENABLED_LOCAL_INFILE=1 -DENABLE_DTRACE=0 -DCMAKE_INSTALL_PREFIX=/home/openxs/dbs/fb56

that is, with DTrace support disabled.

There was no problem to build on

[2016-03-31 13:52] gunnarku commented on #222
Thanks Valerii,

Here's the system I used to replicate the experiment:

[code]

and the CMake command-line is as follows:

[code]

No breaks.

Let me try and see what happens when I'll explicitly enable DTrace.

[2016-04-01 04:42] gunnarku commented on #222
Notes:
- Ubuntu 15.10 with DTrace (https://github.com/dtrace4linux/linux) installed compiles fine.
- With Fedora 23 I'm getting tons of compilation errors, _e.g._, `error: 'struct module' has no member named 'strtab'`

How did you manage to get DTrace installed on Fedora 23?

[2016-04-01 15:20] mdcallag opened #223 "request for version info"
I want to know what version of MyRocks I am using I expect others to have the same request when debugging. I think this should include the git hash used to build MyRocks, and given that RocksDB is a git submodule I want to know the git hash for both MySQL and RocksDB.

I think this should be available via SHOW GLOBAL STATUS and written to the db error log.

Today I have nothing in SHOW GLOBAL STAT

[2016-04-01 15:38] mdcallag opened #224 "MyRocks writes too much to .rocksdb/LOG"

[2016-04-01 15:39] mdcallag opened #225 "MyRocks writes too much to .rocksdb/LOG"
How do I get MyRocks to write less to LOG?
How do I rotate LOG?

I am using the suggested my.cnf for MyRocks

This is OK

[code]

This is too much

[code]

[2016-04-01 15:46] tplavcic opened #226 "Odd char(0) column behaviour in RocksDB vs InnoDB"
There's some difference in how InnoDB and RocksDB handle char(0) column and I actually get and error when selecting from table while InnoDB returns empty row.

RocksDB:

[code]

But there is plenty of disk space on the server and both trials were executing in the same environment.
If I remove the NOT NULL modifier in create table then it works in RocksDB also.

InnoDB:

[code]

[2016-04-01 16:18] jkedgar commented on #170
I am trying a different solution.  You can still find it at https://reviews.facebook.net/D54447.

[2016-04-01 16:40] hermanlee commented on #225
The rotation scheme for this log can be controlled by two variables. These need to be set at server start though:

rocksdb_max_log_file_size : controls the size of each log file. Default is 0, which means all log is appended to one log file.
rocksdb_keep_log_file_num : controls the number of log files to keep around. Default is 1000.

These should be sufficient to control the size of the .rocksdb/

[2016-04-01 17:00] mdcallag commented on #225
With the suggested my.cnf settings it is full of spam like

[code]

[2016-04-01 17:31] yoshinorim commented on #226
Thanks! Verified as described.

[2016-04-01 17:32] yoshinorim commented on #224
#225

[2016-04-01 17:32] #224 closed, assigned to nobody

[2016-04-01 17:37] yoshinorim commented on #226
122 was HA_ERR_INTERNAL_ERROR, and it was returned at convert_record_from_storage_format(), called from rnd_next() -> rnd_next_with_direction().

[code]

[2016-04-01 18:30] jkedgar commented on #179
@yoshinorim, I've started looking into this.  In ha_rocksdb::store_lock() we set two things - we set lock_rows (and lock_for_write) to tell ourselves how to lock later and we set lock.type which appears to tell MySQL information about what we are allowing.

The change that I need to do would appear to be only related to the first part (lock_rows and lock_for_write) and not for the second.  Is that

[2016-04-01 20:12] yoshinorim commented on #179
@jkedgar Yes, updating lock_rows and lock_for_write depending on config (session) variable would work.

[2016-04-02 16:57] mdcallag opened #227 "tc_mmap makes commit slow when innodb & rocksdb enabled and binlog disabled"
See:
- https://bugs.launchpad.net/percona-server/+bug/1550352
- https://www.percona.com/blog/2016/03/22/tokudb-impacts-innodb-performance/

Can we fix this in FB MySQL?

[2016-04-02 18:46] gunnarku commented on #147
Fix known. Will most likely push on Monday (04/04/2016).

[2016-04-04 14:16] mdcallag opened #228 "assert in LRUHandle::Free"
The test case is the insert benchmark. I think it happens during DROP DATABASE when the database is > 10gb, but my logging doesn't capture that. This reproduces on at least 25% of the tests when using jemalloc 4.1.0. This didn't reproduce when using glibc 2.17, jemalloc 3.6.0, tcmalloc 2.1 or tcmalloc 2.5.

From mysqld error log

[code]

RocksDB git hash. Feature request open for mysqld to log som

[2016-04-04 14:59] laurynas-biveinis commented on #227
Oracle bug https://bugs.mysql.com/bug.php?id=80870

[2016-04-04 16:42] jkedgar commented on #170
This solved it and has been applied.

[2016-04-04 16:42] #170 closed, assigned to jkedgar

[2016-04-05 01:59] gunnarku commented on #147
https://reviews.facebook.net/D56283

[2016-04-05 20:21] jkedgar commented on #179
https://reviews.facebook.net/D56313

[2016-04-06 17:21] jkedgar commented on #228
Mark, I tried to run this, but it didn't run very long.  I got output like this a bunch of times.  Any idea what is wrong?

[code]

[2016-04-06 17:24] mdcallag commented on #228
look at sb.1.o.*, my guess is that you don't have the Python MySQL package installed (MySqlDB). For Centos try "yum search mysqldb"

[2016-04-06 17:25] mdcallag commented on #228
With gdb attached I get no crashes, repeating test without gdb attached

[2016-04-06 17:33] jkedgar commented on #228
What should $dname be?  It appears I don't have that set.

[2016-04-06 17:36] mdcallag commented on #228
Device name to grep iostat output

On Wed, Apr 6, 2016 at 10:33 AM, Jay Edgar notifications@github.com wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-04-06 17:40] jkedgar commented on #228
Ah, I misunderstood it as database name.  When I look at r.1/o.io.dop4.ns3 I see this.

[code]

I think I'm working on the flash drive, so I would want to set dname to 'fioa', right?

[2016-04-06 17:44] mdcallag commented on #228
yes

On Wed, Apr 6, 2016 at 10:40 AM, Jay Edgar notifications@github.com wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-04-06 18:06] jkedgar commented on #228
Thanks.  It appears I have it working... at least it is no longer returning with text right away.  Now I'll just have to wait for it to fail.

[2016-04-06 18:34] #147 closed, assigned to gunnarku

[2016-04-06 19:09] jkedgar commented on #226
Potential fix at https://reviews.facebook.net/D56343.

[2016-04-06 22:01] jkedgar commented on #223
I think I have this working.  The output in the error log looks like this:

[code]

And the values in the global status look like this:

[code]

Does this look good?  I included the dates of the git hashes, but I'm not sure it is helpful.

[2016-04-06 22:04] jkedgar commented on #223
Diff is https://reviews.facebook.net/D56355

[2016-04-07 00:24] mdcallag commented on #223
looks good

On Wed, Apr 6, 2016 at 3:04 PM, Jay Edgar notifications@github.com wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-04-07 19:42] mdcallag commented on #200
What is the status of this? It will help with some of my perf test results.

[2016-04-07 21:43] jkedgar commented on #221
According to RocksDB engineers, allow_mmap_reads implies allow_os_buffer (which defaults to on) since by using memory mapped files you are automatically allowing the OS to cache the data, so intentionally turning it off is not valid.  I've added a diff for RocksDB that will cause it to fail to open the database if this combination of options is used (https://reviews.facebook.net/D56397).  Then I a

[2016-04-07 22:17] jkedgar commented on #219
I was able to reproduce a stack buffer overflow in ha_rocksdb::create_key_defs() when doing a test with ASan turned on, which I'm guessing is the root cause of the crash.  I believe that the problem is that because no primary key was specified we are adding a hidden primary key which is pushing the number of keys beyond the maximum.  The test tries to create 64 keys and the maximum number of keys

[2016-04-07 22:19] jkedgar commented on #219
It looks like this is probably the same things as in #176 since that test also attempts to create 64 keys with no primary key.

[2016-04-07 22:48] jkedgar commented on #219
It was simpler than that.  MySQL never sees the hidden primary key, so we are safe with 64 secondary keys and one primary key.  I just needed to increase the size of some arrays in MyRocks that assumed the maximum number of keys would be 64.

https://reviews.facebook.net/D56409

@RoelVdP can you check this diff on both this issue and #176 when you get a chance?  Thank you.

[2016-04-07 22:51] jkedgar commented on #176
I believe I have found the problem and it is the same as #219.  See that issue for the solution.

[2016-04-08 15:02] spetrunia commented on #200
I've addressed all review feedback for https://reviews.facebook.net/D56115. This patch gives these   speedups (the number is new_query_time / old_query_time)

[code]

InnoDB is still ~2x faster then the patched version in my measurements.

I think it makes sense to still push this patch, and then continue in two directions:
1. More of optimization like this.  I think I know how to make convert_rec

[2016-04-08 15:22] mdcallag commented on #200
I am happy with a partial fix for now. This will help for some of the perf
results I want to publish.

On Fri, Apr 8, 2016 at 8:02 AM, Sergei Petrunia notifications@github.com
wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-04-08 21:19] #209 closed, assigned to alxyang

[2016-04-08 21:28] jkedgar commented on #214
https://reviews.facebook.net/D56475

[2016-04-08 21:33] #226 closed, assigned to jkedgar

[2016-04-08 21:39] jkedgar commented on #219
This has landed.  I'll close this and #176.  If you can reproduce either one after this, reopen them.

[2016-04-08 21:39] #219 closed, assigned to jkedgar

[2016-04-08 21:39] jkedgar commented on #176
Closing this because I think it is fixed by #219.

[2016-04-08 21:39] #176 closed, assigned to jkedgar

[2016-04-11 16:23] jkedgar commented on #228
I ran this over the weekend on my devserver and the 'du -k' reports that my .rocksdb subdirectory is about 23Gb, however I don't see anything in the mysqld error log indicating that it has attempted any drop database command.  Did I miss something that I was supposed to do?

[2016-04-11 16:24] mdcallag commented on #228
DROP is done by np.sh, at start of each run
https://github.com/mdcallag/mytools/blob/master/bench/ibench/np.sh

On Mon, Apr 11, 2016 at 9:23 AM, Jay Edgar notifications@github.com wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-04-11 16:37] mdcallag commented on #228
I was unable to reproduce this after several more days. I think it should be closed.

[2016-04-11 16:47] jkedgar commented on #228
Okay.  Closing.  Let me know if you see it again.

[2016-04-11 16:47] #228 closed, assigned to jkedgar

[2016-04-11 16:51] jkedgar commented on #179
This added a new option (named rocksdb-lock-scanned-rows) that can be used to act more like InnoDB in regards to locking rows that are scanned during an insert/update but are not going to be changed.

[2016-04-11 16:51] #179 closed, assigned to jkedgar

[2016-04-11 16:51] mdcallag opened #229 "sysbench read-only loses too much performance on MyRocks secondary indexes"
Full results are here:
https://gist.github.com/mdcallag/b4682b0e9715b64f599c8c09e9dfdfed

The problem is that for the "read only" sysbench test, the QPS ratio (QPS using secondary index / QPS using PK) is much worse for MyRocks than for InnoDB. The problem is that MyRocks loses more QPS when using the secondary index compared to InnoDB. The ratio is  7385 / 12698 for InnoDB 5.7, 7678 / 13034 for I

[2016-04-11 16:54] mdcallag commented on #200
Is there an ETA for when this gets pushed?

[2016-04-11 21:59] maykov commented on #228
I added this assert to make sure that cache blocks could be freed only when refcount is 0. If this assert fired, it means that somebody tried to free the block which was in use.

[2016-04-12 00:06] spetrunia commented on #200
@mdcallag , pushed this now

[2016-04-12 17:22] yoshinorim opened #230 "Prefix bloom filter + reverse column family misses some rows"
Here is a test case to reproduce -- https://gist.github.com/yoshinorim/ccdf598a8b4148e745cf4c3c8e99a0b1

[2016-04-12 20:57] jkedgar commented on #193
Diff is https://reviews.facebook.net/D56619

[2016-04-12 20:59] jkedgar commented on #216
I'll look into the odd behavior.

Yoshinori, what minimum values would you you like me to add for rocksdb-rate-limiter-bytes-per-sec and rocksdb-db-write-buffer-size?

[2016-04-12 21:11] #193 closed, assigned to jkedgar

[2016-04-12 22:27] jkedgar commented on #216
It turns out that the whole problem is caused by setting the rocksdb-rate-limiter-bytes-per-sec to such a low value.  Internally in RocksDB there was a calculation done to convert this value into bytes-per-period where the size of the period was configurable (the default was 100ms).  This calculation did not check for the value becoming 0, which is what happened in this case.  With a value of 0 by

[2016-04-13 02:13] yoshinorim commented on #230
https://reviews.facebook.net/D56637

[2016-04-13 02:13] #230 closed, assigned to nobody

[2016-04-13 16:15] jkedgar commented on #216
The diff got accepted and is now landed, but it won't be pulled into MyRocks automatically.  On the assumption that this isn't a critical issue I'm going to just let it get pulled in next time someone updates the rocksdb submodule, but if it is needed earlier, let me know and I can pull it in directly.

[2016-04-13 16:15] #216 closed, assigned to jkedgar

[2016-04-13 16:15] jkedgar commented on #216
Also - I don't think there is any need to add minimums in MyRocks for these values after this fix.

[2016-04-13 18:57] jkedgar commented on #205
I've looked into a bit.  It looks like MySQL _intentionally_ ignores the foreign key constraint for the MyISAM and MEMORY storage engines.  The key is still created, but the relationship with the other table is just ignored.  Probably the easiest way to get a warning would be to change check_fk_parent_table_access() in sql_parse.cc, but that would then change the behavior in MyISAM and MEMORY, whi

[2016-04-13 19:22] mdcallag commented on #205
Jay has discovered "parsed but ignored"
http://mysqlha.blogspot.com/2009/01/parsed-but-ignored.html

On Wed, Apr 13, 2016 at 11:57 AM, Jay Edgar notifications@github.com
wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-04-13 21:43] mdcallag commented on #200
Benefit was between 2% and 11% at 16 clients for my tests of sysbench. I didn't choose this test to highlight the best case, I just happened to have results from a binary without the fix.
https://gist.github.com/mdcallag/6e0482d86d195cc51ceedde64981587e

I will try to repeat this test for a longer range scan. It used 100 rows.

[2016-04-13 22:11] jkedgar commented on #205
Turns out I did not need to set HTON_SUPPORTS_FOREIGN_KEYS.  It appears that MySQL does not pass any foreign key information to the storage engine.  InnoDB handles it by getting access to the query statement and parsing it looking for the FOREIGN KEY declarations.  I've added something similar to generate an error if FOREIGN KEY declarations are included in CREATE TABLE and ALTER TABLE statements.

[2016-04-13 22:13] mdcallag opened #231 "compaction throughput cut in half from many threads incrementing shared global counters"
I get between 70k and 80k of inserts from iibench + MyRocks using current code. When I comment out the increment of the global counters in AddUserKey I get ~150k inserts/second. The real fix is to maintain local counters and then only increment the global counters once per SST file. Today the increment is once per key-value pair in an SST file.

The problem is increments to the rocksdb_num_sst_ent

[2016-04-13 22:20] jkedgar commented on #231
How much did you comment out?  The entire function or just the switch at the top?  I'm interested in how much CollectStatsForRow() affects it.

[2016-04-13 22:21] mdcallag commented on #231
just the switch at the top

On Wed, Apr 13, 2016 at 3:20 PM, Jay Edgar notifications@github.com wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-04-13 22:23] jkedgar commented on #231
Weird - those are not atomic values nor are they being protected by a mutex (that I see), so I'm not sure why it would have made that much of a difference.

[2016-04-13 22:27] mdcallag commented on #231
memory system traffic, made worse with contention, made even worse when
that is cross socket

On Wed, Apr 13, 2016 at 3:23 PM, Jay Edgar notifications@github.com wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-04-13 22:30] jkedgar commented on #231
I'll see what I can do.

[2016-04-14 16:28] jkedgar commented on #216
Another change has caused the change in the rocksdb submodule to updated, so now the current MyRocks code has this fix.

[2016-04-14 16:53] jkedgar commented on #221
Both diffs have landed.

[2016-04-14 16:53] #221 closed, assigned to jkedgar

[2016-04-14 16:56] mdcallag commented on #231
It would be nice if we didn't execute the same switch statement in AddUserKey and CollectStatsForRow. Doing it once will save a small amount of CPU from reducing branches.

[2016-04-14 17:44] #214 closed, assigned to jkedgar

[2016-04-14 17:49] yoshinorim opened #232 "Add an option to exclude tables from gap lock check"
https://reviews.facebook.net/D54813 made it possible to list up queries relying on gap lock. But I realized that it would be good to exclude some tables from checklist. This task is for adding a global, dynamic variable like "gap_lock_table_exceptions = string" to exclude checking specified tables, with regex supported.

If we add the feature, logic will be very similar to rocksdb_strict_collation

[2016-04-18 17:27] jkedgar commented on #231
I tried your original test and you are correct - it took a very long time.  I was doing this on my devserver, so I couldn't leave it running and not getting any work done, so I tried a smaller test - instead of 2B inserts followed by 200M, I ran 20M and then another 20M.  Here are my results.

With the original code I got this.

[code]

Removing the code that incremented the global counters I got

[2016-04-18 17:43] mdcallag commented on #231
Reproduction requires high ingest rate, high ingest rate requires good IO,
my repro server has fast SSD. I doubt yours does given you get ~0.3 MB/sec
of ingest and ~5 MB/sec of compaction writes.

On Mon, Apr 18, 2016 at 10:27 AM, Jay Edgar notifications@github.com
wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-04-18 17:58] RoelVdP commented on #221
Thanks @jkedgar

[2016-04-18 18:01] RoelVdP commented on #216
:+1:

[2016-04-21 18:44] mdcallag opened #233 "linkbench can't connect via JDBC"
linkbench connections fail after https://github.com/facebook/mysql-5.6/commit/b98a293e02fc70db676882a8e6b06190774263ab. These use JDBC and MySQL Connector/J http://dev.mysql.com/doc/refman/5.6/en/connector-j-info.html

[code]

[2016-04-21 23:45] mdcallag opened #234 "update and explain configuration options for linkbench and generic uses"
The docs are out of date.
https://github.com/facebook/mysql-5.6/wiki/my.cnf-tuning

[2016-04-22 00:44] yoshinorim opened #235 "Add automatic deadlock detection in MyRocks"

[2016-04-23 04:51] ghost commented on #233
Jay and I were debugging this Wednesday night. I also traced it down to the b98a293 commit. One of the changes in that commit is the following diff in sql/sql_acl.cc

[code]

which changes the string stored to represent the server version.

The prior code used char\* server_version which is "5.6.27-log"

The new code uses MYSQL_COMPILATION_COMMENT which is "Source distribution"

This breaks the JD

[2016-04-24 16:36] mdcallag commented on #233
For the one line change to what - JDBC or our code?

[2016-04-25 16:40] jkedgar commented on #231
Here are the results on a 24 core UDB machine (the full test - not the scaled down version above).  I don't see the dramatic results you see.  I'll be trying a 48 core machine next.

Original code:

[code]

Removing increment of global counters:

[code]

[2016-04-25 16:54] ghost commented on #233
I was referring to a one line change to your MySQL branch. However, it is probably no longer necessary.

Jay mentioned this morning that Alex's intention was to simply include more info than just the existing major.minor.micro version in the name and that it worked with the terminal client, but not JDBC and that Alex will likely have a fix out soon.

[2016-04-25 17:17] mdcallag commented on #231
Edited, I forgot that I was running iibench, not linkbench, so everything goes in the default column family. The result above shows Size(MB) == ~10G in the Sum column. How large was your database?

Can you check in the suggested fix sooner (increment the global counters less frequently) while you figure out the other changes?

[2016-04-25 17:58] jkedgar commented on #231
- I just followed your instructions which said to run insert benchmark (iibench.py) using a shell script that runs np.sh twice - once creating the database and then inserting 2 billion rows and then using the existing database and inserting 200 million rows.  I restarted the database between the two and (I think) I am only measuring the second run.  My results show only two column families - `__sy

[2016-04-25 18:02] mdcallag commented on #231
For iibench 2B rows with PK index and 3 secondary indexes needs a lot more than 10G on disk.

[2016-04-25 18:47] jkedgar commented on #231
I went back and looked at the database and there are only 200M entries in it, so I investigated further and found I was using an `np.sh` from before you created this issue.  The one I had always dropped and recreated the database - so the first 2B rows were tossed away.  I'll retry the test with this new np.sh.

[2016-04-25 18:57] alxyang commented on #233
The reason we changed from server_version to MYSQL_COMPILATION_COMMENT during the handshake was to hopefully get the RPM version in the server handshake for an internal task.

E.G. instead of 5.6.24 we would get something like 5.6.24-20160220.prod

Seems like in the case of the JDBC connector it will not work.  I will revert the commit for now.

[2016-04-26 18:45] yoshinorim opened #236 "Skip using transaction api on RBR slaves"
On replication benchmarks, we have seen rocksdb::MemTable::Get() using quite a lot of CPU time for checking snapshot conflicts. This is actually not needed on RBR slaves, if read free replication (rpl_lookup_rows=0) is enabled.

[2016-04-26 20:23] yoshinorim commented on #236
Setting rocksdb_skip_unique_check=1 skips snapshot conflict check on Put. This can be used too, though it no more detects duplicate key error on slaves.

[2016-04-27 16:25] jkedgar commented on #231
I was able to validate the problem using the machine and settings that you provided.  I have also verified that my fix works.  You can access it at https://reviews.facebook.net/D57309 and it includes all of the following changes:
- Moved updating the global counters from AddUserKey() into Finish().  They are now atomic values so we won't lose any values.
- The previous code made a copy of the Rdb_

[2016-04-27 18:21] jkedgar commented on #231
I'm getting some failures from the tests, so don't expect this first iteration to work flawlessly yet.

[2016-04-27 18:29] #232 closed, assigned to lth

[2016-04-27 20:34] jkedgar commented on #231
Okay - I've fixed the test failures.  You can use the current version.

[2016-04-28 16:01] jkedgar commented on #205
This has been committed.

[2016-04-28 16:01] #205 closed, assigned to jkedgar

[2016-04-28 16:08] jkedgar commented on #223
There were comments that the naming was confusing so I changed the names a bit.  It now looks like this and all the values are present even if RocksDB is not enabled.

[code]

[2016-04-28 16:08] #223 closed, assigned to jkedgar

[2016-04-28 19:27] mariadb-DanielLee opened #237 "RQG test failed with a core dump"
Build tested:

myrocks@rocksdb:~/builds/reptest/mysql-5.6$ git show
commit e4f22e08efe45e660197daa988daa03f32639725
Author: Jay Edgar jkedgar@fb.com
Date:   Wed Apr 6 12:48:20 2016 -0700

When running the RQG test "combinations.zz.combinations.yy", test failed with an environment error.  The test was performed on "Myrocks-to-InnoDB" replication.  The same test on "InnoDB-to-InnoDB" replication wor

[2016-04-28 19:53] mariadb-DanielLee opened #238 "RQG tests failed with "Got error 122 from storage engine" error"
Build tested:

myrocks@rocksdb:~/builds/reptest/mysql-5.6$ git show
commit e4f22e08efe45e660197daa988daa03f32639725
Author: Jay Edgar jkedgar@fb.com
Date:   Wed Apr 6 12:48:20 2016 -0700

The following statements returned a storage error.  In turn, RQG reports a database corruption error:
#2016-04-28T14:28:38 [44278] Test completed with failure status STATUS_DATABASE_CORRUPTION (105)

mysql> SELEC

[2016-04-28 20:03] yoshinorim commented on #238
@dleeyh : Could you paste the exact rqg command you reproduced?

[2016-04-28 20:19] hermanlee commented on #237
@dleeyh: Can you post the command line for this run?

[2016-04-28 20:25] mariadb-DanielLee commented on #238
[code]

[2016-04-28 20:27] mariadb-DanielLee commented on #237
RQG test command:

[code]

[2016-04-29 17:49] IslamAbdelRahman commented on #150
Most of the memcpy and malloc from DBIter::Prev() should be eliminated when we land this diff https://reviews.facebook.net/D56511

[2016-04-29 17:54] mdcallag commented on #150
excellent

On Fri, Apr 29, 2016 at 10:49 AM, Islam AbdelRahman <
notifications@github.com> wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-04-29 19:47] alxyang commented on #181
fast drop index is now supported as of the previous diff

[2016-04-29 19:47] #181 closed, assigned to alxyang

[2016-04-29 19:48] alxyang commented on #233
above commit should have fixed the issue.

[2016-04-29 19:48] #233 closed, assigned to alxyang

[2016-05-02 22:54] yoshinorim opened #239 "RQG alter_online test fails when checksum is enabled"
How to repeat:
Add checksum config in my.cnf

[code]

Then run bunch of alter statements -- https://gist.github.com/yoshinorim/8c6a3f55d08133a061a8ac1761ecb2bc

The last alter failed like this:

[code]

Not sure why, but "reader->m_len" was 4 ha_rocksdb.cc:3610, and it returned HA_ERR_INTERNAL_ERROR.

[code]

[2016-05-02 22:57] yoshinorim commented on #239
The error did not happen when checksum was disabled.

[2016-05-04 00:03] #239 closed, assigned to alxyang

[2016-05-04 00:05] alxyang commented on #238
@dleeyh can you check if https://github.com/facebook/mysql-5.6/issues/239 resolved this issue

[2016-05-04 08:04] nshigit opened #240 "env_posix.cc:(.text+0x2dd): undefined reference to `clock_gettime'"
cat /etc/redhat-release
Red Hat Enterprise Linux Server release 6.5 (Santiago)

uname -a
Linux node52 2.6.32-431.el6.x86_64 #1 SMP Sun Nov 10 22:19:54 EST 2013 x86_64 x86_64 x86_64 GNU/Linux

rpm -qa | grep devtoolset
devtoolset-2-libstdc++-devel-4.8.2-15.1.el6.x86_64
devtoolset-2-gcc-4.8.2-15.1.el6.x86_64
devtoolset-2-libquadmath-devel-4.8.2-15.1.el6.x86_64
devtoolset-2-memstomp-0.1.4-11.el6.x86_

[2016-05-04 17:53] yoshinorim commented on #238
I debugged and it failed at myrocks::ha_rocksdb::convert_record_from_storage_format().

[code]

it->skip was 282, and reader->m_len was 281. reader.read() returned nullptr because m_len was smaller than the argument, so the function returned HA_ERR_INTERNAL_ERROR.

[2016-05-04 20:34] jkedgar commented on #238
I think I've found the problem.  The field_decoders code, which allows us to skip over fields that we don't need to decode, doesn't handle NULL fields in the skipped data correctly.  I can reproduce the 'Got error 122 from storage engine' with this simple script.

[code]

I'm _very_ surprised none of our existing tests select specific columns where earlier columns are NULL.  I'll work on a fix for

[2016-05-04 21:04] jkedgar commented on #238
https://reviews.facebook.net/D57633

[2016-05-04 21:18] jkedgar commented on #237
This is caused by the same problem as #238.

[2016-05-04 21:18] #237 closed, assigned to nobody

[2016-05-04 22:01] #238 closed, assigned to jkedgar

[2016-05-05 22:08] jkedgar commented on #231
Committed (https://reviews.facebook.net/D57309)

[2016-05-05 22:08] #231 closed, assigned to jkedgar

[2016-05-05 23:12] mdcallag commented on #197
That helps but isn't enough. Now I get "-lsnappy" on the link for mysqld but $root/rocksdb is not using -DSNAPPY while it is using -DZLIB.

This didn't work: cmake ... -DUSE_SNAPPY_DEFAULT=1

From $root/rocksdb/thirdparty.inc I see:

[code]

[2016-05-05 23:14] mdcallag commented on #197
Editing $root/rocksdb/thirdparty.inc worked but I'd rather not have to do that

[2016-05-06 18:16] gunnarku commented on #197
There's yet another issue here as well. Logic in `CMakeLists.txt` assumes that the library is always under `someprefix/lib` when for example on my Ubuntu laptop the libraries are installed under `/usr/lib/x86_64-linux-gnu/` because library packages are multiarch.

IMHO the prefix (`WITH_SNAPPY` or whatnot) needs to specify the full directory path before the library name.

[2016-05-09 10:46] tplavcic opened #241 "MyRocks strange behavior with limit rows examined"
MyRocks seems to ignore the limit rows examined but it doesn't throw an error on query execution.
So FB-InnoDB gives a warning about that the number of the rows examined will be higher than the limit and stops the query execution, but MyRocks just executed the query like there's no such limit present. If it's not supported it should throw an error.

FB-InnoDB:

[code]

FB-MyRocks:

[code]

[2016-05-09 15:10] tplavcic opened #242 "MyRocks error 122 from storage engine when doing count on specific table"
When I create a simple table in MyRocks like in the example below I get "ERROR 1030 (HY000): Got error 122 from storage engine" although I don't see how this can be related to quota or disk space (both should be fine and work with InnoDB).

The problematic insert seems to be "insert INTO t1 values (null,0), (null,0), (null,0);".
If it's not used then it works and it also seem to work if I don't us

[2016-05-09 16:25] yoshinorim commented on #242
@tplavcic Which MyRocks revision did you use? We committed a fix (https://reviews.facebook.net/D57633) a few days ago. If you used older revision, could you update the repo by "git pull --rebase" and try again?

[2016-05-09 16:29] yoshinorim opened #243 "SHOW ENGINE ROCKSDB TRANSACTION STATUS should print rows_inserted|updated|deleted"
It would be useful if SHOW ENGINE ROCKSDB TRANSACTION STATUS prints uncommitted row modifications for each session. For example, it will be easier to find a long running transaction that has modified millions of records.

[2016-05-09 16:51] tplavcic commented on #242
@yoshinorim Thanks, seem I was using the commit "c35c6c88eec6a1623129149a420d381bc4d0e773" which is one before the mentioned change. I will re-check with the latest version and close this if it doesn't apply any more

[2016-05-09 17:32] tplavcic commented on #242
With the latest version it seems to work fine so it can be closed (I don't have permissions to do so).

[2016-05-09 17:49] yoshinorim commented on #242
Thanks for checking!

[2016-05-09 17:49] #242 closed, assigned to nobody

[2016-05-09 19:52] yoshinorim commented on #241
MyRocks has not supported rows examined yet. This is a good feature request.

[2016-05-10 01:40] RoelVdP opened #244 "Large number of rows being processed, unclear cause"
I am yet to put my finger on what is happening her exactly (if at all possible), but logging this issue already in case someone has seen the same or has some bright ideas.

Situation: t1 table, usually 0-500 rows large. Single SQL input thread running. Connecting with CLI and executing SHOW FULL PROCESSLIST; as secondary connection. Scheduler generally active but likely unrelated (it is active in

[2016-05-10 01:40] RoelVdP commented on #244
Example 1:

[code]

It may be related to session handling because when the same query is executed in this session it works fine;

[code]

Killing the thread/connection also gives strange result (this may be a subsequently killed query);

[code]

[2016-05-10 01:42] RoelVdP commented on #244
Example 2, different run:

[code]

[2016-05-10 01:42] RoelVdP commented on #244
Executing the same SQL directly from the CLI does not reproduce the issue.

[2016-05-10 02:00] RoelVdP commented on #244
InnoDB, using fb-mysql tree, produces the same issue. Not sure if frequency is same.

[2016-05-10 02:12] RoelVdP commented on #244
Example 3: Now row count (odd?), but long duration:

[code]

[2016-05-10 02:13] RoelVdP commented on #244
No SET statements are present in the run.

[2016-05-10 03:15] RoelVdP commented on #244
Was able to generate a coredump (using generate-core-file in gdb), as well as stacks from all threads. This was when the following was happening;

[code]

Included in attachment; mysqld binary, libs (ldd), stacks (gdb.txt), core file, test.sql

Note that test.sql is able to reproduce the issue but only in our test setup (very customized), and then is still highly-sporadic. It's included here only

[2016-05-10 03:16] RoelVdP commented on #244
https://www.dropbox.com/s/s1o1nbumn0zxjt1/bug_244_bundle.tar.gz?dl=0

[2016-05-10 03:54] RoelVdP commented on #244
Final example:

[code]

(Query run duration is valid.)

[2016-05-10 04:33] RoelVdP commented on #244
It looks like this bug is present in upstream 5.6.30 also.

[code]

[2016-05-10 06:30] tplavcic commented on #241
Agreed that it can be a feature request, but if it doesn't support it it should throw an error when you issue the query - oracle mysql does that.

[code]

[2016-05-11 05:23] RoelVdP commented on #244
Debugging further. It seems that this bug report is surpassed by the finding it is present in upstream MS. Will update.

[2016-05-11 15:26] mdcallag commented on #25
This shows the impact (perf loss) from not having group commit in MyRocks.

This is the insert rate from a short run of the insert benchmark -- insert only, 3 secondary indexes/table, 10 clients each loading into a separate table, 10M rows total inserted using FB MySQL 5.6 with MyRocks vs Percona Server 5.6.26 for Toku. The database log (MyRocks, Toku) was not sync'ed on commit.

The database is o

[2016-05-11 15:32] mdcallag opened #245 "Support 'sync per second' similar to innodb_flush_log_at_trx_commit=2"
See http://dev.mysql.com/doc/refman/5.7/en/innodb-parameters.html#sysvar_innodb_flush_log_at_trx_commit for InnoDB details. I'd like an option to make MyRocks durable once per second to bound the amount of commits that can be lost. We need a background thread within MyRocks to make the call (do a write with an empty write batch with sync=true requested)

[2016-05-11 15:45] mdcallag opened #246 "support unique_checks option"
MySQL has the option unique_checks. Unique checks are disabled via 'set unique_checks=0'. MyRocks added an option, rocksdb_skip_unique_check, with the same effect when it could have used the existing option.

https://dev.mysql.com/doc/refman/5.7/en/optimizing-innodb-bulk-data-loading.html

[2016-05-11 16:21] spetrunia commented on #241
Was wondering how it could happen that InnoDB (or HEAP) work while MyRocks doesn't.

The reason is as follows.  LIMIT ROWS EXAMINED is checked by THD::check_limit_rows_examined:

[code]

The check is invoked from here:

[code]

That is, the check is done in ha_statistic_increment call, like in the below
code:

[code]

MyRocks needs to add ha_statistic_increment calls.

[2016-05-11 17:03] yoshinorim commented on #245
"rocksdb_background_sync=1" is the option to sync WAL every 1 second.

[2016-05-11 17:14] mdcallag commented on #245
:)

[2016-05-11 17:14] #245 closed, assigned to nobody

[2016-05-11 22:41] jkedgar opened #247 "Updating a table with a multi-part secondary key and no primary key gets an assertion"
The following script causes the server to exit with an assertion failure:

[code]

[2016-05-11 22:53] jkedgar commented on #247
Unique secondary keys are not supported yet - I had modified the code to allow them.  Closing.

[2016-05-11 22:53] #247 closed, assigned to alxyang

[2016-05-12 14:42] spetrunia commented on #200
The second part of the patch: https://reviews.facebook.net/D57975

It gives 1-2% benefit when scanning large ranges (less than I expected it do).

I've also tried
- removing other virtual calls
- adding custom functions for 4-byte or 8-byte [unsigned] integer (following the example of MySQL's ref access and GROUP BY code)
- other similar things

but these didn't produce any measurable benefit.  So

[2016-05-12 21:00] yoshinorim opened #248 "Needs better error handling on rocksdb_strict_collation_exceptions regex syntax error"
How to repeat:

[code]

Then

[code]

mysqld crashes like this.

[code]

[2016-05-12 21:16] hermanlee commented on #248
We should ignore any regex fragment that throws back an exception. When the variable is being set during runtime by "set global" or initialized during server startup by the my.cnf file, we should test for invalid regex fragments and issue a warning to the error log.

[2016-05-13 17:32] spetrunia commented on #229
I was really curious to try the benchmark myself also.  I've ran a CPU-bound load, trying to do something close, (details https://gist.github.com/spetrunia/2c6c9c9f2c9676f0b40b5d539b1e89a0) and got these numbers:

[code]

Slowdown of secondary key run wrt the primary key run, in percent:

[code]

[2016-05-13 17:35] spetrunia commented on #229
![image](https://cloud.githubusercontent.com/assets/2734550/15256450/288d9f5a-194a-11e6-9d48-912d84bff20e.png)

[2016-05-13 18:25] spetrunia commented on #229
ran perf for MyRocks run that uses PK  and MyRocks run that uses a secondary index:
https://gist.github.com/spetrunia/6c2a8d30ce52a45bad06a804bc0efffe
don't see anything that one could jump to fix.

[2016-05-13 18:49] gunnarku commented on #229
Will start replicating experiments internally as well to see if we will see similar trends from three different sources.

[2016-05-16 11:54] tplavcic opened #249 "Like with escape using invalid number of parameters causes crash"
Following query:
SELECT ('a%b' LIKE 'ax%b' ESCAPE ('x', 'y'));

causes a crash in FB mysql and I'm unable to reproduce it in Oracle 5.6.27 or 5.6.30.
Oracle 5.6.27:

[code]

FB MySQL 5.6.27:

[code]

Error log:

[code]

[2016-05-16 15:07] tplavcic opened #250 "MyRocks/Innodb different output from query with order by on table with index and decimal type"
The full example is below and the query is this: `SELECT * FROM t1 WHERE c1 <> '1' ORDER BY c1 DESC;`
MyRocks doesn't return a row while InnoDB does (Oracle and FB MySQL).
Sorry for bad issue summary but didn't know what to write - if you remove "order by" it works or if you remove index it works and it also works if I just replace "decimals" with "int" so not sure what's behind this.

InnoDB:

[c

[2016-05-16 15:40] gunnarku commented on #229
My results match quite closely Sergei's: with our internal default MyRocks settings I see on average `47%` slowdown for MyRocks when using a secondary index.

[2016-05-16 16:40] tplavcic opened #251 "MyRocks invalid insert with multiple values partially passes when table is under write lock"
The full example is below, if I remove the write lock on table then the values won't be inserted partially.
In each case the error is presented but in MyRocks with write lock it actually passes partially.

InnoDB:

[code]

MyRocks:

[code]

MyRocks without the write lock:

[code]

[2016-05-17 00:06] yoshinorim commented on #251
Thanks! Verified as described.

[2016-05-17 12:23] spetrunia commented on #250
[code]

And then:

[code]

[code]

The issue seems to be in the Index Condition Pushdown.

[2016-05-17 13:37] tplavcic commented on #249
Actually for Oracle Mysql I made a mistake and didn't check with debug build so it's possible that it works there also.

[2016-05-17 15:09] spetrunia commented on #250
Debugging shows that  `fpi->m_unpack_func==NULL`.  which means, there is no way to unpack the value of 'c1' column  (Btw why is this so? I thought DECIMAL columns should allow this).  But the server still uses IndexConditionPushdown, and attempts to calculate the value of c1 <> '1'.  This produces wrong result, because the column value was never unpacked.

[2016-05-17 15:18] spetrunia commented on #250
The table has no primary key, however when we're determining index flags here:

[code]

we have

[code]

which makes ha_rocksdb::index_flags() assume it's looking at primary key and set  HA_KEYREAD_ONLY flag.

key with key_nr=0 is:

[code]

[2016-05-17 15:48] spetrunia commented on #250
A refresher on how IndexConditionPushdown feature checks if one can use ICP :

The pushdown is done in sql_select.cc: push_index_cond().

First, we check if the index supports HA_DO_INDEX_COND_PUSHDOWN:

[code]

the check is done for the whole index, not for any particular columns.

Then this function proceeds and eventually comes to uses_index_fields_only,
which checks if a particular field can b

[2016-05-17 16:01] spetrunia commented on #250
Now, let's look at what open_binary_frm does.

At start share->primary_key=0 (despite that we're creating a table without PK).
Then, we arrive to table.cc:2129:

[code]

Inside this function we reach table.cc:905 :

[code]

inside ha_rocksdb::index_flags() we have this if-branch which is taken (inx=0, table_share->primary_key=0):

[code]

this causes setup_key_part_field to do this:

[code]

One c

[2016-05-17 18:01] spetrunia commented on #250
We have actually already had a similar issue with open_binary_frm:
Check issue#108. In the code: in open_binary_frm, search for `The next call is here for MyRocks:`

[2016-05-17 22:18] spetrunia commented on #250
https://reviews.facebook.net/D58329

[2016-05-17 22:38] spetrunia commented on #229
Example query (and EXPLAIN) that sysbench uses when `--oltp-point-select-all-cols  --oltp-secondary` are specified:

[code]

Without `--oltp-point-select-all-cols` it is:

[code]

[2016-05-17 22:38] spetrunia commented on #229
That is, both query are not using index-only scans.  I'm wondering, if one benchmarks index-only scans, will MyRocks also lag behind InnoDB or not?

[2016-05-17 22:43] spetrunia commented on #229
An opportunity to do some optimization is:

But, when I look at the 'perf' output I've posted above, it doesn't seems that double-unpacking the columns is the problem.

[2016-05-18 10:46] spetrunia commented on #251
The changes are not really committed into the database.  If one takes an example with MyRocks and LOCK TABLES from the above and continues:

[code]

What's happening is:
- LOCK TABLE call starts the transaction (*)
- INSERT statement starts (but for some reason it doesn't create a SavePoint?)
- It inserts the first row, fails to insert the second one
- When INSERT statement terminates,
  -- the tr

[2016-05-18 10:47] spetrunia commented on #251
I'll need to study how LOCK/UNLOCK TABLES is supposed to work with transactions.

[2016-05-18 12:04] tplavcic opened #252 "Difference in InnoDB/MyRocks in exceeding MAX_JOIN_SIZE"
There's some difference in how MyRocks calculates the exceeding of MAX_JOIN_SIZE - for a query on an empty table it requires a higher value.
But from the broad description of what MAX_JOIN_SIZE takes into account there's a possibility that this is just a consequence of how MyRocks works so it might not be a bug but seems good to check.

InnoDB:

[code]

RocksDB:

[code]

If we set it to 10 it work

[2016-05-18 14:23] spetrunia commented on #252
the check against max_join_size looks like this

[code]

that is, it's not size but _cost_ that is compared.

In ha_rocksdb.h, there is:

[code]

so, even if stats.records+stats.deleted=0 (we see that stats.record=0 when we
look at the rows column in EXPLAIN output),  scan_time()=10.

[2016-05-18 14:35] spetrunia commented on #252
So, the observed difference is caused by MyRocks' #rows and cost estimate being different from InnoDB. It's not a bug.

[2016-05-18 14:35] #252 closed, assigned to nobody

[2016-05-18 16:53] spetrunia opened #253 "Support index-only reads for DECIMAL columns"
I noticed this when looking at Issue #250  : DECIMAL columns do not support unpacking from mem-comparable form, and so they don't support index-only reads.

This is just not implemented.  Mem-comparable form is produced with memcpy:

[code]

so unpacking is easy.

[2016-05-18 18:30] #250 closed, assigned to spetrunia

[2016-05-19 20:27] spetrunia commented on #200
Pushed the second part of the patch.

[2016-05-21 01:14] yoshinorim opened #254 "False alarm with gap_lock_raise_error"
This is related to #163. Queries unexpectedly using temporary tables returning gap lock alerts if gap_lock_raise_error is enabled.

How to repeat:

[code]

The error was from init_read_record() in sql/records.cc:238.

[code]

ha_rnd_init() calls handler::is_using_prohibited_gap_locks(). handler::is_using_prohibited_gap_locks() checks if ht->db_type is innodb or rocksdb. In this case db_type was sa

[2016-05-23 21:19] tplavcic opened #255 "MyRocks/InnoDB difference in handling auto_increment when maximum value inserted"
When you insert a value into auto_increment column innodb assigns the auto_increment counter to the max value in the column, and if you insert a max possible value for the data type the counter is set to that max value. So if you try to insert another (unspecified) value you can't because the counter is at max for the datatype.
For MyRocks if you insert a max value into auto_increment field it ins

[2016-05-23 21:36] yoshinorim commented on #255
Thanks! Verified as described.

[2016-05-24 00:33] yoshinorim commented on #254
https://reviews.facebook.net/D58659

[2016-05-24 00:33] #254 closed, assigned to nobody

[2016-05-24 17:28] yoshinorim opened #256 "Fast data loading in MyRocks"
Let's investigate ways to write SST files directly via data loading.

[2016-05-24 17:47] mdcallag commented on #256
Can we have a private instance of the vector memtable?

[2016-05-24 17:53] yoshinorim commented on #256
There is a use case to load data into instances that serve production read/write traffics, so vector memtable can't be always used. It is guaranteed that the load target index/table is not used by anybody else. There was a discussion about bypassing memtable.

[2016-05-24 18:22] mdcallag commented on #256
Why can't we have a separate vector memtable only visible to the loading
session?

On Tue, May 24, 2016 at 11:16 AM, Yoshinori Matsunobu <
notifications@github.com> wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-05-26 18:33] spetrunia commented on #253
The fix won't change the storage format for the secondary indexes.

The fix will change the storage format for PK's (key,value) pairs.

Consider a table with the primary key that includes a DECIMAL column $col.
The key part of PK does (and will) include $col.   The value part currently also includes $col. However, it will not include it when unpack function is available.

[2016-05-26 22:04] spetrunia commented on #253
https://reviews.facebook.net/D58851

[2016-05-31 18:15] #206 closed, assigned to nobody

[2016-05-31 18:16] #201 closed, assigned to nobody

[2016-05-31 20:15] lth opened #257 "Sort order for varchars is different between MyISAM/InnoDB vs MyRocks"
In MyRocks, there is an assumption that shorter strings sort before longer strings. This is actually not true in InnoDB or in MyISAM. If a string is shorter, it gets padded with spaces in MyISAM (which has sort weight of 0x20).

In InnoDB, we use strnncollsp (as opposed to just strnncoll) which will do the sorting correctly.

This is an issue, because we do filesort using MyISAM, which means that

[2016-05-31 20:17] lth commented on #257
This is where the assumption is made:
https://github.com/facebook/mysql-5.6/blob/webscalesql-5.6.27.75/storage/rocksdb/rdb_datadic.cc#L1274-L1286

[2016-05-31 22:36] #229 closed, assigned to mdcallag

[2016-06-02 18:01] spetrunia commented on #257
Confirm. Affects unique keys, too:

[code]

[code]

The second insert fails for InnoDB, works for MyRocks.

[2016-06-02 18:10] spetrunia commented on #257
The manual describes the required behavior here:
http://dev.mysql.com/doc/refman/5.7/en/charset-binary-collations.html

[2016-06-03 00:17] hermanlee commented on #257
For uniqueness, we could strip off trailing padspace when creating the key and use unpack_info to rebuild it potentially.

Sort order on varchar seems much harder to make memcomparable. A string like "a              \t" (i.e. a, followed by a number of spaces, followed by the tab character) needs to be sorted before the string "a" because "a" is treated as "a                       ". For varbinary

[2016-06-03 01:41] lth commented on #257
I think we can fix this by changing the memcomparable form. The encoding is as follows:
1. Strip all trailing spaces.
2. Extend unpack_info to indicate how many trailing spaces are supposed to be present.
3. Currently, in the memcomparable form, the 0x0 character is currently used for padding. use 0x20 (space) instead.
4. In the memcomparable form, for every 9th character, we do _not_ write out 25

[2016-06-03 20:50] spetrunia commented on #257
Agree with the suggested encoding.
- Can't avoid using unpack_info, because 'a' and 'a ' must have identical mem-comparable forms, but we still need to restore the initial value.
- decode_info as suggested is sufficient: when decoding, we can look at 9th byte. 0 or 2 means continue encoding, 1 means the this is the last 9-byte chunk.

On the SQL side
- CHARSET_INFO has pad_char member.  (However f

[2016-06-08 10:58] tplavcic opened #259 "Strange issue with char column on specific select with limit and union"
There's some strange issue when using char column and a select with limit and union on the same table.
First time the column output is too big and the second time and after I get question marks on the right side (not sure how there could be any difference when running this sql twice since the database is dropped between runs and no special features are used).
Tried using other clients and couldn't

[2016-06-08 12:08] tplavcic commented on #259
Not sure what this is but doesn't seem related to the select, seems related to the char, consider following:

MyRocks:

[code]

InnoDB:

[code]

I see this multiple times and in different cases.

[2016-06-08 15:05] lth commented on #257
I just realized that your change requires adding unpack info to PKs (for PKs containing varchars).

I've actually written support for that here (not checked in though): https://reviews.facebook.net/D58503

[2016-06-09 10:57] tplavcic opened #260 "Faulty rename of partitioned table leads to inaccessible table"
If you try to rename a partitioned table to something impossible the table becomes inaccessible with "ERROR 1815 (HY000): Internal error: Attempt to open a table that is not present in RocksDB-SE data dictionary" and "Failed to read from the .par file"
It doesn't happen if the table is not partitioned.

InnoDB:

[code]

MyRocks:

[code]

MyRocks unpartitioned table:

[code]

[2016-06-09 12:10] tplavcic opened #261 "Duplicate entry for a text/blob column with specified key length"
It seems the text/blob column when specified as a primary key with specific length is complaining about duplicate entries without a good reason. I wouldn't say that it is even fixed at some point but rather something like not taking into account the last character or something similar.

InnoDB:

[code]

MyRocks:

[code]

[2016-06-09 13:43] tplavcic opened #262 "Difference in InnoDB/MyRocks when doing implicit conversion of invalid double value to int"
There's a difference in case when the value is truncated in implicit conversion from what could be invalid double value into int where InnoDB doesn't return the values and MyRocks does return it.
I checked server modes but didn't find anything that could change this behavior.
Also there's two warnings on MyRocks side - why two? (it's not because of two rows)
You can see that in the second select (

[2016-06-09 16:37] yoshinorim commented on #261
Thanks. Verified as described.

[2016-06-09 16:40] yoshinorim commented on #262
Thanks. Verified as described.

[2016-06-09 20:47] lth commented on #257
While I was investigating #261, I found another twist to this sort order problem.

The "binary" collation behaves like our previous behaviour (note, this is different from latin1_bin). There is no padding at the end, and shorter strings sort before longer strings.

If you look at Field_varstring::make_sort_key, you'll note a special case for the binary collation. We store the length in the sort ke

[2016-06-09 22:50] lth commented on #261
Two problems here:

First problem is that we are making our sort key using length packlength + sizeof(char*), where packlength is the number of bytes needed to store length (in the case, 2 bytes for MYSQL_TYPE_BLOB). Therefore, we happen to have 2 + 8 = 10 bytes (same as the prefix length entirely by chance), which should be enough right?

Second problem is that for the "binary" collation, we also

[2016-06-10 02:08] lth commented on #261
https://reviews.facebook.net/D59439

[2016-06-10 12:17] tplavcic opened #263 "MyRocks auto_increment skips values if you insert a negative value"
After inserting (0),(-1),(0) to a table with int auto_increment the MyRocks auto_increment counter is at 6 while InnoDB is at 4 and there's difference in inserted values.
Notice I cannot reproduce this if I split this one insert into 3 separate inserts, also it works for any negative value.

InnoDB:

[code]

MyRocks:

[code]

[2016-06-13 10:47] vhhareesh opened #264 "Exchange partitions doesn't work with myrocks"
The rocksdb storage engine doesn't support the exchange partition feature.
How to repeat :

[code]

~Hareesh

[2016-06-14 11:24] tplavcic opened #265 "Impossible WHERE noticed after reading const tables"
Not sure why this would happen but it works on InnoDB which returns data and MyRocks doesn't.
The problematic query is:
`SELECT c1 FROM t1 WHERE c1 = (SELECT MAX(c1) FROM t1);`
The problem seems to be with "char" column (and only when it is a key) because when I use int or varchar everything is fine.
When we execute just the subquery it works correctly on MyRocks and returns correct value.
Notice

[2016-06-14 13:18] tplavcic commented on #261
Hi,

although there was a change for this and the bug is closed but I can still reproduce it with the last build (05bf5990fc4f06cbfc5cfc63834c8c8dfa94fd26).

MyRocks still doesn't enter the data:

[code]

Actually I have another opposite example where InnoDB doesn't allow to insert data, but MyRocks does.

InnoDB:

[code]

MyRocks:

[code]

[2016-06-14 16:50] lth commented on #261
The "fix" isn't enabled by default because it requires changes to the on-disk format.

The second issue you brought up is another problem though. I'll get a fix for it.

[2016-06-14 18:59] lth commented on #261
https://reviews.facebook.net/D59631

[2016-06-14 18:59] #261 closed, assigned to lth

[2016-06-15 01:36] darnaut opened #266 "INSERT ON DUPLICATE KEY UPDATE corrupts primary key value when updating"
[code]

[code]

[2016-06-15 04:22] yoshinorim commented on #266
Thanks! Verified as described.

[2016-06-15 04:29] yoshinorim commented on #265
I couldn't reproduce this. Could you reproduce always? Or occasionally?

[2016-06-15 08:43] tplavcic commented on #265
It looks like I can reproduce it every time but it has to be a primary key on the column, if I don't set it as a key it works but it has different execution plan then.
Runtime options I'm using are:
--default-tmp-storage-engine=MyISAM --rocksdb --skip-innodb --default-storage-engine=RocksDB --collation-server=latin1_bin --rocksdb_max_open_files=-1 --rocksdb_base_background_compactions=1 --rocksdb_

[2016-06-15 09:10] tplavcic commented on #261
Thanks for info, when enabled it works correctly.

[2016-06-15 13:41] tplavcic opened #267 "MyRocks issue with no matching min/max row and count(*)"
Two issues/differences here:
1. Why "No matching min/max row" instead of "Using index" in the query execution plan?
2. Why "count(*)" is 0 instead of 2 which is total number of rows?

If I add anything else in c2 instead of "null" I'll get an execution plan that uses index and correct value in count(*) of total number of rows.
Seems to me this could possibly be related to https://github.com/facebo

[2016-06-15 15:40] yoshinorim commented on #267
Thanks. Verified as described.

[2016-06-15 16:26] lth commented on #266
This affects all collations where unpacking is supported. For now, these are the binary collations, but will soon include simple collations.

https://reviews.facebook.net/D59685

[2016-06-15 17:36] spetrunia commented on #267
The wrong value comes from here:

[code]

index_read_map_impl()=HA_ERR_KEY_NOT_FOUND, and index_read_map() returns  HA_ERR_END_OF_FILE.

The lookup key looks to have a wrong value.

[code]

The first 0x01 is the NOT NULL marker, but what follows looks like garbage.

[2016-06-15 18:12] spetrunia commented on #267
with InnoDB the execution also reaches get_index_min_value, which makes the call to handler::ha_index_read_map. But the key lookup value is different:

[code]

[2016-06-15 19:20] spetrunia commented on #267
Ok, the lookup value doesn't matter (at least for this bug).

The problem shows up here in  get_index_min_value() :

[code]

InnoDB returns HA_ERR_KEY_NOT_FOUND.
ha_rocksdb::index_read_map returns HA_ERR_END_OF_FILE instead, because it has this code:

[code]

[2016-06-15 19:22] spetrunia commented on #267
That code was added b1ee4135716dde98ff6525556cffa916f3bd6438 . It changed return value from KEY_NOT_FOUND to END_OF_FILE for all functions, and apparently overdid it.  SQL layer still expects KEY_NOT_FOUND in certain cases...

[2016-06-15 19:31] yoshinorim commented on #267
Thanks Sergey! I verified changing return value at index_read_map() fixed the problem.

[2016-06-15 20:54] #266 closed, assigned to lth

[2016-06-15 22:40] lth commented on #259
I was able to reproduce this with ASAN on.

Fix here: https://reviews.facebook.net/D59727

[2016-06-16 00:53] yoshinorim commented on #267
https://reviews.facebook.net/D59715

[2016-06-16 00:53] #267 closed, assigned to nobody

[2016-06-16 00:54] yoshinorim commented on #265
@tplavcic Could you please check if this is fixed by https://reviews.facebook.net/D59715 ?

[2016-06-16 05:25] #259 closed, assigned to lth

[2016-06-16 10:53] tplavcic commented on #265
@yoshinorim
It looks fixed to me:

[code]

[2016-06-16 15:24] #265 closed, assigned to nobody

[2016-06-16 21:19] tplavcic opened #268 "MyRocks/InnoDB difference in handling null/zero dates in traditional sql mode"
There's a difference in traditional sql mode between InnoDB and MyRocks where if you alter table which has data and add a date column as not null InnoDB will add 0000-00-00 and MyRocks will fail the alter statement.
Now since both include "NO_ZERO_DATE" and "STRICT_ALL_TABLES" one could think of it as a MySQL bug and I see that there are some reported like https://bugs.mysql.com/bug.php?id=59526
B

[2016-06-21 12:24] tplavcic opened #269 "Adding a new column to a table changes the output of select...like statement"
Although this possibly isn't a MyRocks bug but InnoDB I'll report it here first because it is a difference in behavior.

Here's the example that if I add one column to a table the output of a select...like statement is different regardless of the fact that that column is not even used in the select (this is at least true for 5.6 innodb, but then 5.6 MyRocks and 5.7 InnoDB have completely different

[2016-06-22 23:26] yoshinorim opened #270 "Crash with fast drop index + rocksdb_strict_collation_exceptions"
How to repeat:

[code]

[code]

Stack Trace: https://phabricator.intern.facebook.com/P56449704

[2016-06-23 23:47] grooverdan opened #271 "compiling on ppc64le - compile error - char is unsigned"
gcc --version
gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-4)

When compiling on Power8 (Centos7) I got the following compile error:

<pre>
[ 19%] Building C object storage/myisam/CMakeFiles/myisam_embedded.dir/ft_stopwords.c.o
In file included from /home/danielgb/mysql-5.6/sql/sql_lex.h:25:0,
                 from /home/danielgb/mysql-5.6/sql/sql_class.h:546,
                 from /home/danielgb/mysql

[2016-06-25 07:21] zhaiwx1987 commented on #240
I got same error while compiling the code. :(

[code]

[2016-06-25 08:41] zhaiwx1987 opened #272 "Failed to compile from source code"
1. MADV_DONTDUMP on my testing platform is not supported, so error will be throw out while compiling

[code]

Suggested Fix:   Check if MADV_DODUMP is supported in `storage/innobase/CMakeLists.txt`
1.  `-lrt` need to be specified, or another error happens:

[code]

[2016-06-25 14:24] mdcallag commented on #272
What is your testing platform? I have a mix of CentOS and Ubuntu 14.04

[2016-06-25 15:56] mdcallag commented on #272
HEAD still builds on Ubuntu 14.04. The library list from cmake is:
 Library mysqlserver depends on OSLIBS -lpthread;m;rt;/usr/lib/x86_64-linux-gnu/libssl.so;/usr/lib/x86_64-linux-gnu/libcrypto.so;dl;crypt;aio;snappy;lz4;bz2

[2016-06-25 21:50] gunnarku commented on #272
@zhaiwx1987 - could you please follow the steps at https://github.com/facebook/mysql-5.6/wiki/Reporting-bugs-and-asking-for-help and give us necessary information so that we can try to reproduce on the relevant platform, fix, and validate as necessary?

[2016-06-25 22:52] pengtfb commented on #272
Commenting out the madvise() call will unblock you. This is for dropping large memory buffers before dumping cores for InnoDB, MyRocks doesn't need it.

[2016-06-26 01:56] zhaiwx1987 commented on #272
@mdcallag @gunnarku

We are running a heavy patched redhat6 on our production/dev environment

[code]

gcc/g++ Version

[code]

And I am using our standard script to build the source code:

[code]

I solved the problem after adding `-lrt` to COMMON_FLAGS

By the way, another error happens even WITH_LZ4 or WITH_SNAPPY are both not set

[code]

I commented out the relevant code in storage/rocksdb/CM

[2016-06-26 02:07] mdcallag commented on #272
2.6.32-358 means RHEL 6.4 or CentOS equivalent -
https://access.redhat.com/articles/3078

On Sat, Jun 25, 2016 at 6:56 PM, zhaiweixiang notifications@github.com
wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-06-27 17:47] lth commented on #262
This is a bug in upstream which I've reported here: http://bugs.mysql.com/bug.php?id=82021. You can repro this without MyRocks:

[code]

[2016-06-27 18:58] #270 closed, assigned to alxyang

[2016-06-27 19:04] lth commented on #263
If we want to fix this, we'd have to copy what ha_innobase::get_auto_increment is doing. It seems like SQL is calling into get_auto_increment in unexpected ways and they have hacks to fix that.

[2016-06-28 17:31] jkedgar commented on #271
Thanks for pointing this out @grooverdan.  Would you create a pull request for this?

[2016-06-28 17:35] gunnarku commented on #272
Fix for the second issue is at https://reviews.facebook.net/D60063.

[2016-06-28 17:38] jkedgar commented on #240
A change was made yesterday to include `-lrt` in the list of libraries to link.  The clock_gettime() function is supposed to be in that library.  Can you update and see if the problem is resolved?

[2016-06-28 20:20] lth commented on #269
I suspect this is related to #257 and the inconsistency will go way with this diff: https://reviews.facebook.net/D59553

If you do an "explain" on your queries, you'll find that the two selects before and after the alter are using different query plans. The first one just scans index v filtering on 'a%'. The second does an ICP. I think that we end up skipping 'a\0' and 'a\t' for ICP because we onl

[2016-06-29 00:34] RoelVdP commented on #259
@tplavcic did the fix fix all cases?

[2016-06-29 07:31] tplavcic commented on #259
@RoelVdP I think when I tested I tried both cases - but this issue was seen very (and I mean VERY) often so it will be seen for sure if it's not resolved.

[2016-06-29 07:59] RoelVdP commented on #259
@tplavcic OK great thanks

[2016-06-29 18:02] gunnarku commented on #272
All these issues should be fixed now.

[2016-06-29 18:02] #272 closed, assigned to nobody

[2016-06-30 17:05] #271 closed, assigned to nobody

[2016-06-30 22:40] gunnarku commented on #240
Verified that after adding `-lrt` this works on Fedora (previously broken). Please re-activate if the issue manifests again.

[2016-06-30 22:40] #240 closed, assigned to gunnarku

[2016-07-06 02:51] mdcallag commented on #187
Still a problem using a build with githash 7806cc built on July 5

rocksdb_perf_context_level=1 and I don't see skipping -> "RocksDB_key_skipped: 0 RocksDB_del_skipped: 0"

The plan for MyRocks

[code]

The plan at test end for InnoDB. t (tenk1) has 10,000 rows and B (Bprime) has 1,000 rows

[code]

From the MyRocks slow log

[code]

[2016-07-06 02:58] mdcallag commented on #187
To reproduce:
 ./test-wisconsin --server=mysql --user=$DBUSER --password=$DBPW --host=127.0.0.1  --log --create-options="engine=rocksdb DEFAULT COLLATE=latin1_bin" --skip-delete

// MyRocks gets the bad plan - scan t, probe B
// InnoDB gets a good plan - scan B, probe t

bin/mysql -uroot -ppw test -e 'explain select t.*,B.unique1 AS Bunique1,B.unique2 AS Bunique2,B.two AS Btwo,B.four AS Bfour,B.te

[2016-07-06 13:31] mdcallag commented on #187
Changed rocksdb_perf_context_level from 1 to 2, now I see many skips. Maybe that is the reason for the bad join order.

[code]

Forcing the good join order makes it fast and there is less skipping.

[code]

[2016-07-06 13:33] mdcallag commented on #187
The plan is good after doing analyze on both tables.

[2016-07-06 18:10] mdcallag commented on #187
Performance is fixed after this my.cnf change that I missed from https://github.com/facebook/mysql-5.6/wiki/my.cnf-tuning

Switched from

[code]

To

[code]

[2016-07-06 18:10] #187 closed, assigned to nobody

[2016-07-06 18:14] mdcallag opened #274 "reduce number of options for optimizing tombstones"
I need to set 3 options today. I prefer to set 0 or 1.

[code]

See https://github.com/facebook/mysql-5.6/wiki/my.cnf-tuning

[2016-07-06 19:25] mdcallag commented on #187
In my tests I run wisconsin once as part of the full suite, and then again with a larger loop count. The results here show that perf has improved when run separately but it is still slower than InnoDB when run as part of the full suite -- ~10 vs ~34 seconds.

And that still looks like the overhead from skipping

[code]

[2016-07-07 21:09] jkedgar commented on #249
I have confirmed that this does fail the same way on Oracle MySQL 5.6.31 with a debug build and FB MySQL gets the same warning in release mode.  It looks like this is an upstream problem.  Please report this to Oracle.

[2016-07-07 21:09] #249 closed, assigned to nobody

[2016-07-07 21:42] jkedgar commented on #244
If this is an upstream issue, can we close it?

[2016-07-07 22:30] jkedgar commented on #264
We have not spent very much time on using MyRocks with partitions.  I'll take a quick look and if the problem looks easy I'll try to fix it.  Otherwise this may need to wait for awhile.

[2016-07-07 22:54] RoelVdP commented on #244
Yes, this can be closed. We debugged it in MS and logged some bugs as well as made changes to our testing framework. Some more testing needed, but likely not fb-mysql related. Thanks for the ping.

[2016-07-07 22:54] #244 closed, assigned to nobody

[2016-07-08 04:51] jigajut opened #275 "Typo Found in /db/internal_stats.cc"
Hi.
Just wanted to let you guys know that in line 585 of /db/internal_stats.cc,
In the snprintf function string constant portion saying "Interval WAL", it should say GB instead of MB in the written portion.

Thanks

[2016-07-08 04:52] #275 closed, assigned to nobody

[2016-07-08 15:45] mdcallag opened #276 "intermittent crash - "Failed to write to WAL""
Updated my perf test builds on July 5 to githash 7806cc and started with sysbench. githash for RocksDB is 7b7923.

This reproduces in an older build (MyRocks at githash 2406e9, RocksDB at githash 535af5)

This happened soon after I did:
1) drop 8 tables
2) create 8 tables
3) load the new tables via small inserts
4) update all rows in each table, one big transaction per table
5) run analyze on the

[2016-07-08 16:28] mdcallag commented on #276
The error text is from the error code kLockTimeout

[code]

The error is returned by this code:

[code]

[2016-07-08 16:56] mdcallag commented on #276
Theory is that the transaction done for analyze table gets stuck behind one or more of the huge write batches from the huge update all rows transactions. It takes RocksDB a while to commit huge write batches.

Default value for rocksdb_lock_wait_timeout is 1. While default for rocksdb_max_row_locks is 1B. Those two values don't play nice together.

Workaround might be to use rocksdb_commit_in_the_

[2016-07-08 17:01] mdcallag commented on #276
Other request is that we figure out how to reduce the chance that this happens or figure out how to not abort mysqld when it does.

[2016-07-08 17:24] mdcallag commented on #276
My reproduction case has been updated with 16 concurrent sessions each doing:
1) insert 8M rows into 16 different tables using many transactions per table
2) update all rows per table in one transaction
3) analyze table

If one session reaches step 3 while another session is committing the update, then the session in step 3 hits a lock wait timeout

[2016-07-08 17:36] yoshinorim commented on #276
@mdcallag: Could you please try this one-line diff and see if the crash reproduces?

[code]

I think the root cause was dictionary operations used rocksdb::TransactionDB, which seemed to check lock_wait_timeout. The dictionary operation does not need that.

[2016-07-08 17:47] mdcallag commented on #276
Will try that soon. This attempt to use rocksdb_commit_in_the_middle did not prevent the crash:
$run_mysql --quick -e "set session rocksdb_commit_in_the_middle=1; update sbtest${id} set c = 0"

[2016-07-08 20:08] yoshinorim opened #277 "Use SstFileWriter() on adding secondary indexes"
This is a feature request for adding secondary indexes to use fast data loading path (SstFileWriter()). This can reduce load time and write volume significantly, since it can avoid compactions during data loading.

This feature will depend on these two diffs.

https://reviews.facebook.net/D59643
https://reviews.facebook.net/D60837

This feature will change how adding secondary indexes (CREATE INDE

[2016-07-08 21:48] jkedgar commented on #260
I have a tentative fix here (https://reviews.facebook.net/D60561) and am just waiting on comments/approval.

[2016-07-09 00:47] mdcallag commented on #276
Yoshi - that fixes it

[2016-07-09 00:55] yoshinorim commented on #276
https://reviews.facebook.net/D60579

[2016-07-09 02:29] #276 closed, assigned to yoshinorim

[2016-07-09 02:32] mdcallag opened #278 "slow shutdown: compaction threads not running, writers throttled"
I have seen this in a few scenarios but slow shutdown is an obvious one. I am using a build from July 7 with MyRocks githash 7806cc and RocksDB githash 7b7923. The problem is that threads trying to do writes are throttled and I don't see any compaction threads running.

I have not seen this in the past. Besides using a build that is more recent, I also began using:

[code]

Shutdown took about 3 m

[2016-07-11 11:11] tplavcic commented on #249
Seems already reported here: https://bugs.mysql.com/bug.php?id=81408

[2016-07-11 19:50] mdcallag opened #279 "7% regression in linkbench load performance from May7 to Jul5"
Linkbench load with 2 connections on the same hardware and almost same my.cnf is about 7% slower for a build from July 5 using MySQL githash 7806cc compared to a May 7 build using githash 2406e9. Normalized CPU (CPU seconds / insert) has increased by about 10% in the July 5 build. Sync-on-commit is disabled for the WAL and the binlog.

The database is cached. Perf degrades with binlog enabled and

[2016-07-12 02:42] mdcallag opened #280 "SHOW GLOBAL STATUS counters use Rocksdb_* and rocksdb_*"
They should all use Rocksdb_\* or all use rocksdb_*

Mixed case means that someone might see Rocksdb_\* and not look for rocksdb_*, as I did just now.

[code]

[2016-07-12 18:15] mdcallag commented on #279
Why is rocksdb_block_cache_data_hit about 2X larger for Jul5 -- ~25M vs ~12M? This means there were twice the accesses for data blocks in Jul5. That looks like a big regression.
https://gist.github.com/mdcallag/9b7c2d9069a322af977725fe18223d61

There is nothing to show the number of calls to get and scan data from RocksDB. That would be useful here. Something like rocksdb_get_\* and the equivalent

[2016-07-12 18:18] mdcallag commented on #279
Sample insert statements:

[code]

[2016-07-12 18:36] hermanlee commented on #279
Just to verify, what are the table schemas? Are they using binary collation? There are some diffs checked in to add support for varchar index lookups with non-binary collations, but they're not fully enabled until Sergey's diff is checked in. If the schema is using binary collation, then the potentially problems from the varchar index lookups shouldn't apply.

@lth

[2016-07-12 18:44] spetrunia commented on #279
unless there has been some very recent change in linkbench schema:  the only indexed varchar column is:

[code]

so it's latin1_bin, which supported index-only since long ago.

#257 will change end-space handling for latin1_bin, but this doesn't seem to have anything to do with the bug.

[2016-07-12 19:19] mdcallag opened #281 "export counters for number of point and range queries done by RocksDB"
I did not see counters in SHOW GLOBAL STATUS output the number of point and range queries done by RocksDB. I prefer to have one for each.  They would help debug problems like https://github.com/facebook/mysql-5.6/issues/279

[2016-07-14 21:32] mdcallag opened #282 "change histograms from fixed width to scaled"
Histograms used for response time that we added to MySQL use a fixed width. These are hard to use for fast & slow storage devices without changing my.cnf. For example, I looked at a server today for binlog fsync latency and the bucket width is 16ms, so all operations go to the first bucket.

My suggestion is to scale the bucket, for example -- let bucket 0 cover 0 to 10us, bucket 1 cover 2X or 1.5

[2016-07-14 21:36] mdcallag opened #283 "provide counters to let us determine the average number of transactions with group commit"
This is a feature request. I'd like two SHOW GLOBAL STATUS counters from which I can compute  the average number of transactions in a group'ed commit. One of these counters might exist today:
1) total number of group commits. I don't think that Binlog_fsync_count is sufficient assuming that is only incremented when sync_binlog=1. I also want to compute this avg when sync_binlog=0.
2) total number

[2016-07-14 21:44] yoshinorim commented on #279
Root cause was prefix bloom filter config has changed from 20 to 12, which reduced bloom filter useful rate. I updated our wiki so that linktable should continue to use 20 -- https://github.com/facebook/mysql-5.6/wiki/my.cnf-tuning

[2016-07-14 21:44] #279 closed, assigned to nobody

[2016-07-18 16:45] jkedgar commented on #280
https://reviews.facebook.net/D60711

[2016-07-18 16:45] #280 closed, assigned to jkedgar

[2016-07-19 18:15] jkedgar commented on #264
https://reviews.facebook.net/D60531

[2016-07-25 18:30] yoshinorim opened #284 "Create utility functions to put/delete keys in MyRocks"
Utility functions like below, possibly UDFs, can be useful for some operations, like fixing corrupted rows.
- rocksdb_put_row (table_name, index_name, key, value)
- rocksdb_delete_row (table_name, index_name, key)

Both key and value must be binary expression (0x...). Table_name and index_name are needed to get global index_id.

[2016-07-25 18:57] yoshinorim opened #285 "Create functions to support basic merge operators"
See https://www.facebook.com/groups/mysqlonrocksdb/permalink/1012957775435078/ for details.

Useful functions will be like:
- myrocks_incr_count (db_name STRING, table_name STRING, key STRING, count_column STRING, incr BIGINT)
- myrocks_add_element (db_name STRING, table_name STRING, key STRING, blob_column STRING, new_element BLOB)

And they have to be in the same transaction scope as other SQL s

[2016-07-25 21:11] hermanlee opened #286 "Issuing a manual compaction to MyRocks hangs new connections"
Trying to compact a column family manually. But during the compaction, new connections to the mysqld server times out on the default settings.

[2016-07-26 05:17] yoshinorim commented on #286
I could reproduce the issue. Here is a stack trace -- https://phabricator.intern.facebook.com/P56527352

The problem is, SET statement actually holds a global mutex LOCK_global_system_variables during the statement (see sys_var::update()). The mutex was needed to initialize THD too. So if SET statement takes long time, all new incoming connections are blocked:(

We have to deprecate rocksdb_force_

[2016-07-26 06:19] yoshinorim commented on #286
The easiest fix is moving rocksdb_force_flush_memtable_now() from update() to check() function. check() doesn't hold the global mutex so it doesn't block other connections.

[2016-07-26 19:03] yoshinorim opened #287 "gap_lock_exceptions was not initialized at startup"
gap_lock_exceptions in my.cnf was not initialized at instance startup. SET GLOBAL gap_lock_exceptions = '...' has to be manually executed.

[2016-07-27 01:17] #182 closed, assigned to alxyang

[2016-07-29 00:07] #287 closed, assigned to lth

[2016-07-29 22:52] yoshinorim opened #288 "Support mem comparable keys for any _bin collations"
Currently mem comparable keys support is limited to latin1_bin, utf8_bin, and binary collations. Let's extend to other _bin collations.

[2016-08-02 10:20] #253 closed, assigned to nobody

[2016-08-02 23:48] yoshinorim opened #289 "Add handler_* counters in MyRocks"

[2016-08-03 00:37] yoshinorim opened #290 "records_in_range() may return wrong stats for newer rows"
How to repeat

[code]

[2016-08-03 13:15] AllenChien opened #291 "mysqlbinlog reconnect has memory leak"
By reading mysqlbinlog.cc, when mysqlbinlog reconnects, it always allocates new MYSQL handle 'mysql';
It should call mysql_close to release allocated 'mysql'.

Simple fix like this:
static Exit_status safe_connect()
{
  if (NULL != mysql) {
    mysql_close(mysql);
  }
  mysql= mysql_init(NULL);

  if (!mysql)
  {
    error("Failed on mysql_init.");
    return ERROR_STOP;
  }

[2016-08-03 15:06] spetrunia commented on #257
More details about collations, part#1: levels

A collation has "level" characteristic. Most of MySQL collations have level=1.
With level=1, mem-comparable form of a string is a concatenation of mem-comparable forms of its characters. That is, the following holds:

[code]

This equivalence is actually essential for patch D59553 to work. We are mostly ok, the equivalence holds for most of MySQL's ch

[2016-08-03 16:01] spetrunia commented on #257
More details about collations, part#2: on the size of mem-comparable images.

D59553 has an issue when mem-comparable image of the last padding space character stretches across the last segment used by the value.

One of possible solutions is to pick the segment size (aka RDB_ESCAPE_LENGTH-1) to be such that mem-comparable image of the padding character (space) does not ever stretch across segment

[2016-08-03 16:40] yoshinorim commented on #290
https://reviews.facebook.net/D61449

[2016-08-03 16:40] #290 closed, assigned to yoshinorim

[2016-08-03 18:14] spetrunia commented on #257
So, there are two approaches to continue with D59553

S1.  Change RDB_ESCAPE_LENGTH so that mem-comparable image of space is never split between segments.

Advantages of this approach:
- We won't need to store #bytes_used_for_padding and #trimmed_spaces in unpack_info.
  There will be only one number, it will be `(#trimmed_spaces - #spaces_added_for_padding)`
- More dense packing? Packing 3-byte e

[2016-08-03 18:39] hermanlee opened #293 "Add regex whitelist parameter to mysqld for enabling read free replication."
Currently, read free replication is enabled via the rocksdb_rpl_lookup_rows=0 variable. However, when enabled, all tables use read free replication. This variable should be replaced with one that is a white list of regexes (in the form of table1_regex,table2_regex,table3_regex,...). Any tables that match the whitelist regex would use read free replication. Any that do not revert to using the old l

[2016-08-03 19:12] yoshinorim commented on #293
Here are two issues caused by read free replication, if tables are diverged between master and slave.

1) secondary keys lose some rows

[code]

2) Secondary keys have extra rows

[code]

[2016-08-03 23:10] spetrunia commented on #257
S1 implemented, see D59553.

[2016-08-03 23:14] spetrunia commented on #257
On saving the original number of end-spaces in unpack_info.

The current patch uses two numbers
- n_trimmed (1 or 2 bytes)
- n_padded (1 byte)

As noted by @lth, this is excessive.

With recent fixes, we can be certain that the last segment ends on a character bound.
So, for a VARCHAR(N) column
- Up to N spaces can be trimmed from the value
- then, up to MAX(9/3, 8/2, 8/1) = 8 mem-comparable image

[2016-08-04 16:23] spetrunia opened #294 "show_table_status test fails"
rocksdb.show_table_status test fails. I can observe this on multiple machines, it always fails in the same way:

[code]

[2016-08-04 16:28] spetrunia commented on #294
Looking at the SST file:

[code]

Looking at DDL for table t2:
They key is 8 bytes Rocksdb internals + 4 bytes index_nr + 4 bytes PK value.
The value is 1 NULL-flags byte.

The new stats look closer to truth for me, I would just update the .result file.
The question is, does this test currently succeed for anybody (because if I update .result, it will start to fail for them...)

[2016-08-04 17:45] jkedgar commented on #294
This test is passing for me on the current source.  Are you trying this on what is checked in or on something that has other fixes for you?

[2016-08-04 17:50] jkedgar commented on #294
While your calculation may be correct, prefix encoding may reduce the number of bytes per row quite a bit.

[2016-08-04 18:17] yoshinorim commented on #293
I think the whitelist should be optionally applied to rocksdb_skip_unique_check too.

[2016-08-04 18:51] jkedgar commented on #293
Okay - will do.

[2016-08-04 23:31] yoshinorim commented on #289
https://reviews.facebook.net/D61563

[2016-08-04 23:31] #289 closed, assigned to nobody

[2016-08-05 02:36] yoshinorim commented on #294
I could reproduce the error on my personal VPS. I think the estimated rows/data_length are affected by built in compression library. I'll file a diff to make these numbers hided.

[2016-08-05 02:53] yoshinorim commented on #294
https://reviews.facebook.net/D61605

[2016-08-05 13:30] spetrunia opened #295 "rocksdb.add_index_inplace test reports 'corrupted unsorted chunks:'"
When I run rocksdb.add_index_inplace test, it produces warnings like this:

[code]

I can reproduce with both debug and valgrind+debug builds on a recent tree.
When I tried to run this test with --valgrind, it hung (not sure why).

[2016-08-05 13:36] spetrunia commented on #295
The test leaves behind a core file.

When I load it, I get this:

[code]

The tree's tip cset is c1e0325f99b2f42b4a053a10ae362bea35c6c5a8.

[2016-08-05 13:48] spetrunia commented on #295
It seems to be in online ALTER TABLE, so cc'ing @alxyang

[2016-08-05 21:25] hermanlee opened #296 "Eventually remove old varchar code based on PRIMARY_FORMAT_VERSION_INITIAL and SECONDARY_FORMAT_VERSION_INITIAL"
With the new varchar fixes and format going into mysqld, the old format will eventually need to be removed from the code once the new format is used everywhere. Filing an issue to remind us this needs to be done.

[2016-08-05 23:55] #295 closed, assigned to alxyang

[2016-08-06 03:27] yoshinorim opened #297 "Add counter of snapshot conflict errors of Repeatable Read"
We need stats counter of how many times we get "ERROR 1213 (40001): Deadlock found when trying to get lock; try restarting transaction" in MyRocks RR.

[2016-08-08 16:21] yoshinorim opened #298 "Non-Covering range scan cost estimate is too small"
On non-covering range scan, MyRocks estimates costs way too small. As far as checking with debuggers, the root cause was ha_rocksdb::read_time(). io_cost was always estimated as rows/20. On non-covering index scan, io_cost should be closer to rows. ha_innobase::read_time() is implemented like that.

[2016-08-08 16:48] yoshinorim commented on #298
https://reviews.facebook.net/D61707

[2016-08-08 16:50] #294 closed, assigned to yoshinorim

[2016-08-08 17:50] mdcallag opened #299 "table_stats for MyRocks"
Can we update table_stats for MyRocks? The compression counters are innodb-only. But the IO metrics can be reused by MyRocks. It might also be nice to track deadlock and lock-wait timeout per table.

[code]

[2016-08-08 22:11] #298 closed, assigned to nobody

[2016-08-09 14:57] vasilep commented on #299
Looks related to #198

[2016-08-09 21:57] yoshinorim commented on #297
https://reviews.facebook.net/D61761

[2016-08-09 21:57] #297 closed, assigned to nobody

[2016-08-10 20:34] spetrunia opened #300 "Get rid of calls to Rdb_field_packing::setup() made when Rdb_field_packing::key_descr=NULL"
These are made when the SQL layer wants to know whether index read allows to read a column:

[code]

ha_rocksdb::check_keyread_allowed() has this code:

[code]

This was a reasonable solution when Rdb_field_packing::setup()
- was very short
- didn't depend on Rdb_field_packing::key_descr (we didn't support different versions of the data format).

Now, neither of the above is true anymore, which re

[2016-08-10 20:50] spetrunia commented on #288
Mem-comparable keys are there :-). I take this task is about being able to unpack the data back from the mem-comparable form?

ucs2_bin uses my_ucs2_uni(), utf8mb4_bin uses my_mb_wc_utf8mb4(), which is more complex but they all look (and should be) reversible...

Adding index-only support will cause changes to the on-disk data format:
1. unpack_info will need to store n_trimmed_space_chars (_bin c

[2016-08-10 20:52] #257 closed, assigned to spetrunia

[2016-08-15 20:35] hermanlee opened #301 "myrocks ignores rbr_idempotent_tables"
The myrocks server looks to ignore the rbr_idempotent_tables setting and applies the slave_exec_mode setting to tables on that list.

[2016-08-15 21:11] #301 closed, assigned to nobody

[2016-08-15 21:16] hermanlee opened #302 "Select count(*) from table force index(secondary_index) causes crash when secondary key has varcar column"
Create a table with a secondary key that uses a var char column. Populate it and then select count(*) on it.

[2016-08-16 17:58] #302 closed, assigned to nobody

[2016-08-16 21:22] hermanlee opened #303 "Support covering secondary key lookups for text fields"
If a table has the following schema:

create table t1 {
  pk int,
  data text,
  primary key (pk),
  key (data(256)),
}

it would be nice to be able to have the data index support covering lookups for data sizes less than 256.

[2016-08-22 07:46] yuwenlong123 opened #304 "crash in ShouldStopBefore of sub-compact"
sorry

[2016-08-22 07:49] #304 closed, assigned to nobody

[2016-08-23 00:52] lth commented on #303
Basically this:
https://github.com/facebook/mysql-5.6/commit/fd944130

[2016-08-23 02:40] chuckcai opened #305 "can't run mysql-test case in myrocks"
When I try to  run mysql-test case by using mysql-test-run.pl,there are something wrong.It seems by default,  rocksdb is not default engine. So, If I want to run testcase, for example, run allow_os_buffer.test, I need do two things:
1. add allow_os_buffer.opt file with content as follows:
--default-storage-engine=rocksdb
--rocksdb
--skip-innodb
--default-tmp-storage-engine=MyISAM
2 modify mysql-te

[2016-08-23 02:53] lth opened #306 "Unpacking for space-padded varchar encoding not working with keys with column prefixes"
Test case:

[code]

The problem is that recording the number of trailing spaces doesn't make sense for keys with prefixes. I think the easiest fix for this is to disable unpacking for those keys.

[2016-08-23 17:37] hermanlee opened #307 "Using the new sst file writer interface to bulk load the primary key can result in tables with missing rows in the primary index"
Dumping an innodb instance and restoring it to a myrocks instance with bulk_loading enabled and utilizing the new sst filewriter code can result in mismatch number of rows between the primary and secondary indexes.

The sst filewriter code currently does not add index statistics for the primary key, so the estimate number of rows for the primary key much lower than the actual number of rows.

[2016-08-24 02:10] yoshinorim commented on #307
The latter issue will be resolved by https://reviews.facebook.net/D62253. Does it affect the former issue too?

[2016-08-24 12:22] tplavcic commented on #260
From what I see this can be closed as it seems to work ok with the provided patch.

[2016-08-24 15:37] #306 closed, assigned to spetrunia

[2016-08-24 16:24] jkedgar commented on #307
I'm investigating that right now.  I have confirmed that with D62253 we are seeing statistics accumulated but I have not yet determined whether this has any effect on the difference between primary and secondary indexes.

[2016-09-01 13:49] tplavcic opened #308 "terminate called after throwing an instance of 'std::out_of_range'"
I'm reporting this because I see it in ~10% of our trials. I can't reproduce it on the same binary using InnoDB.

Test cases:

[code]

Execution:

[code]

Error log:

[code]

[2016-09-01 19:02] gunnarku commented on #308
Thank you for the report!

[2016-09-01 19:05] lth commented on #269
Just checked that we're getting matching behaviour now that https://reviews.facebook.net/D59553 has landed.

[2016-09-01 19:05] #269 closed, assigned to nobody

[2016-09-01 20:17] gunnarku commented on #308
Deterministic internal repro confirmed. Debugging notes for a basic failing case:

[code]

[2016-09-01 21:25] gunnarku commented on #291
This issue got fixed with https://github.com/facebook/mysql-5.6/commit/304feac29b2eb7cee698808c6a0f1f3c12e392bb.

[2016-09-01 21:25] #291 closed, assigned to nobody

[2016-09-01 22:12] RoelVdP commented on #308
Thank you @gunnarku for looking into this one. We are seeing it in a good number of trials.

[2016-09-01 23:07] gunnarku commented on #308
Initial diff submitted at https://reviews.facebook.net/D63153

[2016-09-01 23:56] #308 closed, assigned to gunnarku

[2016-09-02 04:48] laurynas-biveinis commented on #291
This issue is http://bugs.mysql.com/bug.php?id=81675 at Oracle bug db

[2016-09-02 06:23] mdcallag opened #310 "explain hermitage failures"
Assigned to Yoshinori who added the hermitage tests

See https://github.com/vadimtk/hermitage/blob/master/mysql-rocksdb.md
and
https://twitter.com/VadimTk/status/771564816250974208

We have hermitage tests...
https://github.com/facebook/mysql-5.6/blob/webscalesql-5.6.27.75/mysql-test/suite/rocksdb/t/hermitage.test

[2016-09-02 06:28] mdcallag commented on #310
Also...

In the related note, MyRocks in more cases (you can find on the same page),
often shows "ERROR 1205 (HY000): Lock wait timeout exceeded;", but it
happens almost immediately, without any visible wait.

[2016-09-02 07:04] laurynas-biveinis commented on #305
1. can be simplified, if all your tests are in a single suite, by creating a suite.opt file with these options in the suite t/ subdirectory.
2. is http://bugs.mysql.com/bug.php?id=72615.

Even with 2. fixed I'm not aware of an easy way to run an existing suite (say engines/funcs) for a different storage engine. It's possible to do that by --mysqld=--plugin-load... options to MTR, but there is no s

[2016-09-02 14:46] vadimtk commented on #310
I do not know if "ERROR 1205 (HY000): Lock wait timeout exceeded;" is intended behavior or a bug. If this is intended,  probably more clear error would be better, even "DEADLOCK" would work.

[2016-09-02 16:38] yoshinorim commented on #310
@vadimtk In your Lost Update test, I assume you really hit lock wait timeout in MyRocks. This was because default rocksdb_lock_wait_timeout is only 1 second (mainly because currently MyRocks does not support auto deadlock detection), and you didn't execute commit(T1) immediately. If you increase rocksdb_lock_wait_timeout large enough, you'll see a different error message for T2 on update -- "ERROR

[2016-09-02 16:41] yoshinorim commented on #310
About Read Skew (G-single), yes, MyRocks prevents Read Skew with Repeatable Read, so it's different from InnoDB, and it's more like PostgreSQL.

[2016-09-02 17:18] vadimtk commented on #310
@yoshinorim

Right, I think the main bug is https://github.com/vadimtk/hermitage/blob/master/mysql-rocksdb.md#predicate-many-preceders-pmp
in predicate-many-preceders - read only - there is no repeatable read.

[2016-09-02 17:26] yoshinorim commented on #310
@vadimtk I can't reproduce your "MyRocks "repeatable read" DOES NOT prevent Predicate-Many-Preceders (PMP) for read predicates:" case. RR didn't return (3, 30) and there is a test case -- https://github.com/facebook/mysql-5.6/blob/webscalesql-5.6.27.75/mysql-test/suite/rocksdb/t/hermitage.inc#L96 . Could you please try again and run mtr --suite=rocksdb hermitage and see if it passes?

[2016-09-02 17:49] vadimtk commented on #310
@yoshinorim I can't repeat anymore. Yesterday I repeated 2 times.
Probably we can close for now.

[2016-09-02 17:50] #310 closed, assigned to yoshinorim

[2016-09-06 22:42] mdcallag opened #311 "File management options with RocksDB"
This is a discussion. Eventually it might become a feature request.

The old InnoDB used a few files for all tables. InnoDB compression requires file-per-table and with that there is one *.ibd file per table and a separate directory per database so users rarely end up with thousands of files in a directory.

TokuDB used files-per-table (or maybe file-per-index) with all files in one directory whic

[2016-09-07 20:47] yoshinorim commented on #311
This is more like a feature request for RocksDB. I talked with Siying about this. Currently RocksDB does not have an option to change directories by column family. It will be able to extend to support. One potential concern to me is handling online binary backups. A backup tool like myrocks_hotbackup will have to be smart enough to traverse all directories.

[2016-09-07 20:50] mdcallag commented on #311
Yes, it is a feature request. "enhancement" seems like the label that fits best. We don't have to implement but I am sure this request will be repeated many times over many years so I prefer we keep something open to explain our plans.

[2016-09-07 20:52] vadimtk commented on #311
Well, I guess it will be too much to ask, but I wanted this for many years for InnoDB, and we still do not have it, so I will ask it for RocksDB.

I want to have a support for separate storage classes (i.e. slow storage and fast storage).
This can be done per "column family" or even it might be interesting to have it done "per level".
That's we want all Level 7 blocks to be stored on slow, but lar

[2016-09-07 20:57] mdcallag commented on #311
RocksDB has db_paths option to put database files in multiple directories. It is not widely used today and there isn't an option for per column-family db_paths. But it might be feasible.
https://github.com/facebook/rocksdb/blob/master/include/rocksdb/options.h#L951

[2016-09-09 09:46] tplavcic opened #312 "Assertion "length > 0 && keyparts != 0" failed"
This can be seen only when using MyRocks and it doesn't reproduce with InnoDB on the same binary.

InnoDB:

[code]

MyRocks:

[code]

Error log:

[code]

[2016-09-09 10:50] tplavcic opened #313 "Assertion "error >= 120" failed"
This assertion is only seen with MyRocks, while InnoDB just returns error.

InnoDB:

[code]

RocksDB:

[code]

Error log:

[code]

[2016-09-09 12:19] tplavcic opened #314 "Assertion "! is_set() || m_can_overwrite_status" failed"
This assertion is only repeatable in MyRocks while in InnoDB it works.
I'm aware that MyRocks doesn't support serializable but maybe in that case switching to it should be disabled.

InnoDB:

[code]

RocksDB:

[code]

Error log:

[code]

[2016-09-11 13:55] chuckcai commented on #305
I followed suggestion 1,  and create suite.opt file in dir mysql-test/suite/rocksdb, the content is below:
--rocksdb
--default-storage-engine=rocksdb
--skip-innodb
--default-tmp-storage-engine=MyISAM

but it was doesn't work. Now I run testcase use  command as below:
./mysql-test-run.pl  --mysqld=--rocksdb --mysqld=--default-storage-engine=rocksdb --mysqld=--skip-innodb --mysqld=--default-tmp-stor

[2016-09-11 16:50] laurynas-biveinis commented on #305
The suite.opt file must be in mysql-test/suite/rocksdb/t directory, you seem to have placed it in its parent instead

[2016-09-12 00:18] hermanlee opened #315 "Alter table fails with unsupported collation."
The collations check is too restrictive for the alter statement:

set global rocksdb_strict_collation_exceptions='t1';
create table t1 (a int, b varchar(256), primary key (a), key (b)) engine=rocksdb;
alter table t1 auto_increment=1;

When mysql creates a new table with the tempname #sql-<mysql_pid>_<tid>, it should ignore the strict collations check.

[2016-09-12 16:38] yoshinorim commented on #314
Thanks. Verified as described with debug build.

[2016-09-13 02:02] yoshinorim commented on #314
https://reviews.facebook.net/D63915

[2016-09-13 02:02] #314 closed, assigned to yoshinorim

[2016-09-13 17:11] yoshinorim commented on #312
Thanks. Verified with debug build.

[2016-09-13 17:49] spetrunia commented on #312
It crashes because it fails an assertion:

[code]

If I just remove the assert, I get this query plan:

[code]

[2016-09-13 17:52] spetrunia commented on #312
With InnoDB, I get this plan:

[code]

This is different from MyRocks.  Let's disable the FirstMatch,  hopefully Materialization will be the next choice:

[code]

And I get the same assertion failure:

[code]

That is, the issue is not specific to MyRocks.

[2016-09-13 17:57] spetrunia commented on #312
The assert in MySQL-5.6 still looks the same

[code]

However in MySQL 5.7, it is changed to

[code]

It's a bit hard to track who did it and why, because the whole code block has been moved into calc_length_and_keyparts().

[2016-09-13 18:55] #315 closed, assigned to nobody

[2016-09-13 22:09] yoshinorim commented on #313
Thanks. Verified as described. Hit assertion here.

storage/rocksdb/ha_rocksdb.cc:4571
4571      DBUG_ASSERT(error >= HA_ERR_FIRST);
(gdb) p error
$1 = 1
(gdb) p HA_ERR_FIRST
$2 = 120
(gdb) p HA_ERR_LAST
$3 = 193

[2016-09-13 22:19] yoshinorim commented on #313
The assertion was added at https://reviews.facebook.net/D55521 .

[2016-09-15 13:40] tplavcic opened #316 "Assertion "error <= 193" failed"
This can be seen only when using MyRocks and it doesn't reproduce with InnoDB on the same binary.

InnoDB:

[code]

MyRocks:

[code]

Error log:

[code]

[2016-09-15 19:23] gunnarku commented on #316
Duplicate of https://github.com/facebook/mysql-5.6/issues/313

[2016-09-15 19:23] #316 closed, assigned to gunnarku

[2016-09-15 22:15] gunnarku commented on #313
Initial fix: https://reviews.facebook.net/D64017

[2016-09-17 05:16] DABH opened #317 "MAX_STATEMENT_TIME support?"
Hi,

I'm using the client library from this repo in a C++ program.  Everything has worked well so far.

If a query takes too long, I want to be able to have my MySQL server timeout and return an error code through the client.  In MySQL 5.7 and various forks of 5.6 etc., there is support for the server-side option MAX_STATEMENT_TIME, which does exactly what I describe.  With the server I'm using (P

[2016-09-19 21:46] jkedgar commented on #263
MySQL allows the storage engine to reserve a number of values for auto-incremented columns when inserting multiple rows in the same statement, but it gets complicated if the user then specifies a value for the auto-incremented column in the middle of the rows.  Our handling of this was naive which resulted in the loss of certain values.

I've changed the code to simply always reserve one row at a

[2016-09-20 00:12] jkedgar commented on #317
I looked into this problem and it appears that the error is not returned from mysql_query (or mysql_real_query) as you mentioned but is returned when you attempt to retrieve the result set (i.e. from mysql_store_results).  I'm not sure why it was done this way, but I suspect that is the way Oracle designed it.

I'm going to close this issue.  If you can show that upstream Oracle has different beha

[2016-09-20 00:12] #317 closed, assigned to nobody

[2016-09-22 07:50] justfortaste opened #321 "auto_cf is not work when column family is reverse"
auto_cf is not work when column family is reverse

[code]

rev:$per_index_cf should be rev:test.t1.idx2

[2016-09-22 23:54] #263 closed, assigned to jkedgar

[2016-09-26 19:51] #313 closed, assigned to gunnarku

[2016-09-27 08:43] justfortaste opened #326 "testcase rocksdb.collation fail"
run  testcase rocksdb.collation

[code]

backtrace:

[code]

[2016-09-28 21:59] jkedgar commented on #326
The issue here is that we have added some regex support in MySQL, but full std::regex support was not added until GCC 4.9, even though the classes were added in 4.8 (http://stackoverflow.com/questions/20027305/strange-results-when-using-c11-regexp-with-gcc-4-8-2-but-works-with-boost-reg).

You can avoid the problem by updating to GCC 4.9 or newer.  I'll see if I can figure out a way to skip the te

[2016-09-29 20:25] jkedgar commented on #326
https://reviews.facebook.net/D64515

[2016-09-30 17:50] #277 closed, assigned to alxyang

[2016-09-30 20:46] yoshinorim commented on #321
Sorry for late reply. auto_cf is actually experimental feature and is not recommended in production use cases. Auto reverse cf is not implemented yet, but we're not sure if we support in the future. If you have many (100~ or even more) indexes in an instance, 100~ column families are created with auto cf. RocksDB does not perform well if having so many column families. Operation and monitoring can

[2016-10-02 14:34] mdcallag opened #330 "Mutex contention from shared_ptr reference count inc/dec"
Using builds from Aug 5 and Sep 27 I see many PMP dogpiles like this. The problem is that m_pk_descr is passed by value so the ref count for the shared pointer is highly contended when many threads run.

This is a big problem for sysbench read-write using a command line like:

[code]

[code]

One example where m_pk_descr is passed by value. This shows up in PMP output and the line numbers are from

[2016-10-02 14:38] mdcallag commented on #330
And it is also a problem for sysbench read-only using this command line

[code]

[2016-10-02 15:23] mdcallag commented on #330
Another example from the Aug 5 build

[code]

[2016-10-02 16:17] mdcallag commented on #330
My C++ is rusty, but the problem appears to be from derefencing m_key_descr_arr on line 5754 above.

[code]

[2016-10-03 12:46] spetrunia commented on #330
My understanding of the issue: the cause is that m_key_descr is defined as shared_ptr<Rdb_key_def>:

[code]

while try_keyonly_read_from_sk's parameter is a reference to  shared_ptr<**const** Rdb_key_def>:

[code]

Different underlying types cause a new std::shared_ptr object to be created. when a new shared pointer is added, it increments shared_ptr's counter under the hood.

[2016-10-03 15:31] jkedgar commented on #330
Okay - that is really frustrating!  I want `try_key_only_read_from_sk()` and `get_primary_key_tuple()` to have a pointer that is marked as `const` so that they can't change the data, but doing so (while using `shared_ptr`s causes performance problems.  Changing the functions to accept a non-`const` pointer is probably the only solution, but that seems counter-productive.  :(

[2016-10-03 21:25] jkedgar commented on #330
It turns out the original code was on the wrong track.  We should never pass a shared_ptr<> into a function unless we are intending for the function to take ownership.  I changed the code to pass in a const reference to the original object instead.
https://reviews.facebook.net/D64605

[2016-10-03 22:32] #326 closed, assigned to jkedgar

[2016-10-07 14:11] yoshinorim opened #335 "Store affected rows into diagnostic session variable, if using rocksdb_commit_in_the_middle"
rocksdb_commit_in_the_middle is a session variable to implicitly commit every rocksdb_bulk_load_size. This variable is mainly used for bulk loading and bulk deletes, so that long running statements don't hold row locks for a long time. But Sveta pointed out that if statements fail, there is no way to know how many rows are actually committed. Let's consider adding some diagnostic variable.

[2016-10-08 16:08] lth commented on #235
https://reviews.facebook.net/D64623 to enable it.

Waiting on https://reviews.facebook.net/D64491 to land in RocksDB.

[2016-10-11 20:40] #330 closed, assigned to yoshinorim, jkedgar

[2016-10-12 14:31] mdcallag commented on #106
Supported in FB MySQL via option --allow-multiple-engines
https://github.com/facebook/mysql-5.6/commit/c380d14ee50059dcefc35da13d8713bbcad72061

This was disabled out of fear that people would try to use XA between engines. Most of us prefer to avoid that. But the problem (and fear) exists between any pair of transactional engines -- InnoDB+TokuDB, InnoDB+RocksDB, RocksDB + TokuDB.

[2016-10-12 15:54] yoshinorim opened #336 "Support SELECT ... LOCK IN SHARE MODE in MyRocks"

[2016-10-12 17:27] #25 closed, assigned to reidHoruff

[2016-10-12 17:28] reidHoruff commented on #25
XA and group commit support had been added to MyRocks.

[2016-10-14 00:27] yoshinorim opened #340 "Change snapshot conflict error handling on Read Committed"
MyRocks RC behavior is currently different from InnoDB and PostgreSQL. In short, MyRocks may return more errors (http://www.slideshare.net/matsunobu/myrocks-deep-dive/88). There are cases where we should not return many errors.

Current implementation is:
T1: lock row 1
 create snapshot
 read row 1
 lock row 2
 read row 2

and if T2 updates row 2 before T1 locks, T1 gets "deadlock" error. What I'd

[2016-10-15 15:12] RickPizzi opened #341 "MyRocks: crash in WriteBatchInternal"
Trying to import a dump of one of our schemas into MyRocks using myloader we got the following crash. This is with the current  version from git, compiled with GCC 6.1.0 on Centos 6.8:

stack_bottom = 7f81103bbaa8 thread_stack 0x50000
/usr/local/mysql/bin/mysqld(my_print_stacktrace+0x2c)[0x9baa7c]
/usr/local/mysql/bin/mysqld(handle_fatal_signal+0x3a7)[0x6ff7f7]
/lib64/libpthread.so.0(+0xf7e0)[0x7f

[2016-10-15 22:04] mdcallag commented on #341
Can verbose_terminate_handler live up to its name and be verbose?
https://gcc.gnu.org/onlinedocs/libstdc++/manual/termination.html

[2016-10-18 00:02] yoshinorim opened #342 "SHOW ENGINE ROCKSDB TRANSACTION STATUS doesn't print long running statements"
This doesn't tell which statements are potentially taking long time.

[code]

mysql> select \* from information_schema.processlist where id=54533077;

prints long running statement.

[2016-10-18 19:42] mdcallag opened #343 "long range scans with concurrency are almost 2X faster without update_row_stats"
There are many memory system stalls from update_row stats while running sysbench read-only with concurrency. I am confused because that code is similar to how InnoDB updates srv_stats.n_rows_read and I don't see this problem for upstream InnoDB.

I get almost 2X more QPS for sysbench read-only with --oltp-range-size=10000 when update_row_stats is removed at high levels of concurrency (16 or more c

[2016-10-18 20:06] mdcallag commented on #343
Test was sysbench run via all.sh at https://github.com/mdcallag/mytools/tree/master/bench/sysbench.lua

Command line was:bash all.sh 8 1000000 180 300 rocksdb 1 0

[2016-10-18 22:02] #342 closed, assigned to lth

[2016-10-19 01:39] hedengcheng commented on #343
Hi, Mark

I think this may be the same problem which was optimized on MySQL 5.6. On update the same counter, cache coherence and false sharing is very costly. Lock at this two links:

https://blogs.oracle.com/mysqlinnodb/entry/innodb_performance_improvements
... After using the excellent Linux tool perf we were able to narrow it down to a global statistic counter in row_sel_search_for_mysql().

ht

[2016-10-19 03:26] mdcallag commented on #343
Thanks. I have been using perf and I like it too. We borrowed the code from
innodb that has an internal array for global counters and then threads hash
to different offsets in the array. So we shouldn't have this problem, but
we do. I need to debug more.

On Tue, Oct 18, 2016 at 6:39 PM, hedengcheng notifications@github.com
wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-10-19 13:12] mdcallag commented on #343
Should have posted this earlier. From reading the code we share the features in ut0counter that support less memory contention for counters. My current theory is that more threads maps to the same array offset in these counters with MyRocks than with InnoDB. Still checking that.

The problem is memory system contention from update_row_stats which is called on every row fetch. Add concurrency and q

[2016-10-19 13:25] laurynas-biveinis commented on #343
Since RocksDB appears to be using InnoDB counter implementation, https://bugs.mysql.com/bug.php?id=79454 might be relevant for this particular issue

[2016-10-19 16:22] yoshinorim commented on #343
CC: @santoshbanda

[2016-10-19 16:39] mdcallag commented on #343
Laurynas - thanks for the update. AFAIK, we are using the thread ID
indexer. Next steps for me are to look at preprocessor output and then log
the thread IDs that are being used.

On Wed, Oct 19, 2016 at 9:22 AM, Yoshinori Matsunobu <
notifications@github.com> wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-10-19 16:45] mdcallag commented on #343
Laurynas - I will try the sched_getcpu() scheduler as explained in the bug
report. Thanks!

On Wed, Oct 19, 2016 at 9:39 AM, MARK CALLAGHAN mdcallag@gmail.com wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-10-19 17:13] george-lorch commented on #343
TokuDB/PerconaFT suffered from this pretty severely a while ago and they invented a partitioned counter to deal with it. It ends up being a real mess as there is a set of counters per thread, all of which have to be reaped whenever the counters are harvested. It helps for short term bursts of counter updates but doesn't help if/when a thread gets rescheduled on a different core and requires a fair

[2016-10-19 19:29] mdcallag commented on #343
Using server with 2 sockets, 24 cores, 48 HW threads I tried sysbench read-only with --oltp-range-size=10000, 8 tables and 1M rows/table. QPS per engine is:
- 6403 - InnoDB 5.6.26 - this does not use sched_getcpu
- 8108 - InnoDB 5.7.10 - I assume this uses sched_getcpu, did not confirm
- 3090 - MyRocks from August 5
- 6273 - MyRocks from August 5, use of rows_read counter disabled
- 6093 - MyRocks

[2016-10-19 21:05] mdcallag commented on #343
I think that using get_sched_indexer_t fixes the problem for st_global_stats from ha_rocksdb.h

[code]

But to enable that we need 2 things. First, HAVE_SCHED_GETCPU has to be defined and it is not for 5.6. That is defined in 5.7 by storage/innobase/innodb.cmake. Second, we have to make sure the build isn't broken on systems that don't have the sched_getcpu call, and see storage/innobase/include/u

[2016-10-19 21:08] mdcallag commented on #343
Laurnyas - thanks again for the bug report. It was a good read:
http://bugs.mysql.com/bug.php?id=79454
http://bugs.mysql.com/bug.php?id=79455

[2016-10-19 22:15] grooverdan opened #346 "compile error: nonnull argument 'pk_unpack_info' compared to NULL [-Werror=nonnull-compare]"
On Ubuntu-16.04

<pre>
add-apt-repository -y ppa:ubuntu-toolchain-r/test
apt-get update && apt-get install -y gcc-6 g++-6

08:22:59 + cmake /source -DCMAKE_BUILD_TYPE=Debug -DBUILD_CONFIG=mysql_release -DWITH_PROTOBUF=system -DWITH_NDB_JAVA=NO -DCMAKE_C_COMPILER=gcc-6 -DCMAKE_CXX_COMPILER=g++-6 '-DCMAKE_C_FLAGS_RELWITHDEBINFO=-m64 -O3 -g -mtune=native' '-DCMAKE_CXX_FLAGS_RELWITHDEBINFO=-m64 -O3 -g

[2016-10-19 23:26] gunnarku commented on #346
Thank you for reporting the compilation issues!

Internally we're compiling MyRocks with GCC 6.x.x. with `-DMYSQL_MAINTAINER_MODE=0`. Please add `-DMYSQL_MAINTAINER_MODE=0` to your CMake command-line, this should unblock you.

[2016-10-20 00:16] manukranthk commented on #343
Can something like
`folly/ThreadCachedInt.h`
be used here as suggested by georgelorchpercona?

[2016-10-20 02:27] mdcallag commented on #343
Using thread local counters would be more invasive about the amount of code
to be changed. While it might be the right thing, I prefer to make such
changes upstream as forks like FB MySQL also optimize to minimize the diff
size. In this case, using sched_getcpu() instead of pthread_self() is good
enough.

On Wed, Oct 19, 2016 at 5:16 PM, manukranthk notifications@github.com
wrote:

##

Mark Callag

[2016-10-20 07:42] RickPizzi opened #347 "MyRocks: Bulk load requires an insane number of file descriptors"
Hi,

still trying to load (using myloader) a dump from a large database (830+ tables), we see that MyRocks is eating an insane amount of file descriptors.  We were unable to complete the load with 25,000 open files limit!  Now we are retrying with 10x that value to see if it arrives to completion, however, this just doesn't seem right. Maybe a file descriptors leak?

Here's the relevant config.

T

[2016-10-20 20:00] lth commented on #235
https://reviews.facebook.net/D64623 is landed.

Note that unlike InnoDB, deadlock detection currently only works for row locks. If you do `LOCK TABLES`, the storage engine will not track your table locks.

[2016-10-20 20:00] #235 closed, assigned to lth

[2016-10-20 22:26] jkedgar commented on #346
Possible solution: https://reviews.facebook.net/D65307

[2016-10-21 08:51] RickPizzi opened #348 "MyRocks: 1 hour stall in DelayWrite() during bulk load"
Hi,

still trying to load our 830 tables stats server into MyRocks, we noticed a very long (> 1 hr) stall  during the bulk load, when it was about to complete. Only 2 threads from myloader were left, but there has been no progress for more than one hour (SST files untouched, by looking at the files modification time).

I ran a pstack to check what was going on (output below). From what I can see,

[2016-10-21 09:14] RickPizzi commented on #348
This just happened again, about 20 minutes later, with identical stack traces

[2016-10-21 09:29] RickPizzi commented on #348
Relevant config

rocksdb
skip-innodb
default-storage-engine=rocksdb
default-tmp-storage-engine=MyISAM
collation-server=latin1_bin
binlog_format = ROW

rocksdb_max_open_files=-1
rocksdb_base_background_compactions=1
rocksdb_max_total_wal_size=4G
rocksdb_block_size=16384
rocksdb_block_cache_size=16G
rocksdb_table_cache_numshardbits=6
rocksdb_skip_unique_check=1
rocksdb_commit_in_the_middle=1
rocksdb

[2016-10-21 09:59] RickPizzi commented on #348
Can it perhaps be related to rocksdb_stats_dump_period_sec value? It is happening at regular intervals it seems. Mind you, MyRocks has  32100+ files open at this time (I opened a different issue about this)

[2016-10-21 17:02] mdcallag commented on #341
What is the git hash with which you compiled FB MySQL?

[2016-10-21 17:38] yoshinorim commented on #348
Could you paste "show global status like '%hash%';" output? We had RocksDB stall bugs at DelayWrite() before, but newer rocksdb revision fixed known bugs.

[2016-10-21 17:47] yoshinorim commented on #347
Please try the followings.
- Add "target_file_size_base=32m;max_bytes_for_level_base=512m;" into rocksdb_default_cf_options parameter. Default sst file size is 4MB, which is generally too small. Increasing to 32MB will reduce the number of sst files by 1/8. See https://github.com/facebook/mysql-5.6/wiki/my.cnf-tuning for details.
- Add rocksdb_override_cf_options=**system**={memtable=skip_list:16}

[2016-10-21 18:06] RickPizzi commented on #348
Unfortunately my installation doesn't seem to have this info for some reason....

mysql> show global status like '%hash%';
+------------------+--------------------+
| Variable_name    | Value              |
+------------------+--------------------+
| git_hash         | @MYSQL_GIT_HASH@   |
| rocksdb_git_hash | @ROCKSDB_GIT_HASH@ |
+------------------+--------------------+
2 rows in set (0.01 sec)

[2016-10-21 18:36] mdcallag commented on #347
Using his my.cnf and building from HEAD today. Not sure bug reporter used the same source

1) target_file_size_base and max_bytes_for_level_base aren't printed in SHOW GLOBAL VARIABLE. Wile file task for that.

2) target_file_size_base default is 64MB, L1 size default is 256M.
see https://github.com/facebook/rocksdb/blob/master/util/options.cc#L54

2016/10/21-11:22:44.089431 7f26046ab940

[2016-10-21 18:38] mdcallag opened #349 "target_file_size_base & max_bytes_for_level_base are not in SHOW GLOBAL VARIABLES"
These are important. See https://github.com/facebook/mysql-5.6/issues/347 for an example. How many other useful variables do we not display thus requiring people to find data/.rocksdb/LOG to explain configuration problems.

[2016-10-21 18:39] mdcallag commented on #347
Defaults changed in https://github.com/facebook/rocksdb/commit/2feafa3db92c966345343bf6a813e8aa9f39fd21

[2016-10-21 19:28] jkedgar commented on #348
The cmake process is supposed to assign values to MYSQL_GIT_HASH and ROCKSDB_GIT_HASH but that doesn't seem to have occurred in this case.

Yes - send the git hash from your repository and from the rocksdb submodule.

[2016-10-21 19:48] mdcallag commented on #349
I'd also like a SQL command to show all configuration options that are currently dumped to .rocksdb/LOG

[2016-10-21 19:50] yoshinorim commented on #349
These are CF variables so they are not printed in show global variables, unless explicitly setting at rocksdb_default_cf_options. But we have i_s and you can query as follows.

[code]

[2016-10-21 19:51] yoshinorim commented on #349
Documented here: https://github.com/facebook/mysql-5.6/wiki/Information-Schema

I'm closing this since querying from i_s would be sufficient.

[2016-10-21 19:51] #349 closed, assigned to yoshinorim

[2016-10-21 19:57] yoshinorim commented on #347
@RickPizzi Could you paste "SHOW ENGINE ROCKSDB STATUS" output?

[2016-10-21 22:45] RickPizzi commented on #348
Dunno why, I followed instructions found on your wiki page here....
anyways, git rev-parse HEAD gives: 86587affafe77ef555f7c3839839de44f0f203f3
I'm not git expert so if I need to run some other command please let me know.

[2016-10-21 23:01] RickPizzi commented on #347
Please note that I have used two different configurations for bulk load and for normal use.
For bulk load I used the config above, which I have taken from your wiki page. The bulk load succeeded (even if I had very long stalls, as  I described in a separate issue). Then after the myloader process completed I have shut down and have restarted with your recommended parameters:

rocksdb_max_open_file

[2016-10-21 23:07] RickPizzi commented on #341
git rev-parse HEAD gives me 86587affafe77ef555f7c3839839de44f0f203f3
Unfortunately the hash wasn't compiled in for some reason...

[2016-10-21 23:18] yoshinorim commented on #347
default column family shows that you have 34094 sst files and total size is 1995553MB.

[code]

Average sst file size is 58MB. Since you have 2TB instance size, having tens of thousands of open sst files is not uncommon. Just allocate large enough file descriptors (/etc/security/limits.conf etc). If you don't like too many open files, consider increasing target_file_size_base (my previous 32MB sug

[2016-10-22 00:58] mdcallag commented on #347
--- for OOM

For the OOM issue do you know what RSS was for mysqld when it was killed?

What malloc do you use for mysqld - tcmalloc, jemalloc or glibc? In the past I have had lousy results with glibc malloc. Almost all of my tests use jemalloc with mysqld. One result from my past testing showed that RSS was twice larger with glibc malloc -> http://smalldatum.blogspot.com/2015/10/myrocks-versus-al

[2016-10-22 01:51] mdcallag commented on #347
Maybe I missed this but the my.cnf you pasted at the start that was used for the bulk load doesn't enable compression.

Yoshinori, can you suggest a my.cnf?

[2016-10-22 05:27] mdcallag opened #350 "not getting requested compression"
I am doing an insert into a PK-only table in PK-order. I have enabled zlib compression for all levels. There is no compression. This has been painful to debug. There are a few problem:
- RocksDB doesn't log the supported compression types when the log level is info - https://github.com/facebook/rocksdb/issues/1416
- MyRocks build doesn't find Snappy on my ubuntu install. Pure-RocksDB does find it.

[2016-10-22 05:31] mdcallag commented on #350
Compression from data/.rocksdb/LOG. zlib was accepted, but I don't see it in practice.

[code]

When I run mysqld with GetCompressionFlush instrumented to dump the compression level it uses I see

[code]

When I compare the database size at test end it isn't any smaller than a test that uses kNoCompression for all levels. Compaction IO stats from one of the zlib tests is:

[code]

[2016-10-22 05:36] mdcallag commented on #347
One more thing. I have a test that doesn't get compression as requested. Not sure whether you hit this - https://github.com/facebook/mysql-5.6/issues/350

[2016-10-22 09:08] RickPizzi commented on #347
OK,  I guess (since I just started playing with MyRocks) that my config for bulk load was not appropriate for the operation, as pointed out by @mdcallag . In fact, I didn't look at all the options carefully and just took the suggested config from the wiki and started loading, to see how it performed.

Can you guys recommend a my.cnf config for bulk load that allows for bulk load with maximum compr

[2016-10-22 17:44] mdcallag opened #351 "storage/rocksdb/CMakeLists.txt links with snappy, bz2, lz4 when not requested"
Check out the ELSE branches. These link with snappy, bz2, lz4 when WITH_SNAPPY, WITH_BZ2, WITH_LZ4 are set to the empty string. mysqld will be linked to those libraries if they are found but not requested. In my case, the production mysqld was linked to them but they could not be found in production so I had an unusable binary.

The ELSE branch isn't used for ZSTD. I don't know much about cmake, b

[2016-10-22 17:47] mdcallag opened #352 "storage/rocksdb/get_rocksdb_files.sh fails on Ubuntu 16.04"
This diff fixes it for me. My bash skills are weak. Without this change, bash fails because there are too many arguments for [

--- a/storage/rocksdb/get_rocksdb_files.sh
+++ b/storage/rocksdb/get_rocksdb_files.sh
@@ -16,7 +16,7 @@ rm $MKFILE
 bv=rocksdb/util/build_version.cc
 date=$(date +%F)
 git_sha=$(pushd rocksdb >/dev/null && git rev-parse  HEAD 2>/dev/null && popd >/dev/null)
-if [ ! -f $bv

[2016-10-22 17:48] mdcallag opened #353 "storage/rocksdb/CMakeLists.txt doesn't check for errors from get_rocksdb_files.sh"
On Ubuntu 16.04, bash has changed and I get an error from get_rocksdb_files.sh but the error is ignored. Filing a separate bug for this because I can fix get_rocksdb_files.sh, but I don't know enough about cmake to fix this.

It is invoked from https://github.com/facebook/mysql-5.6/blob/webscalesql-5.6.27.75/storage/rocksdb/CMakeLists.txt#L10

The error for get_rocksdb_files.sh
https://github.com/

[2016-10-22 18:00] mdcallag commented on #350
I can reproduce this for production builds by making my build zlib-only. To do that...

Fix https://github.com/facebook/mysql-5.6/issues/351

[code]

Disable lz4, bz2, snappy in the tools directory

[code]

[2016-10-22 18:42] mdcallag commented on #350
Reproduces using a build from August 5. FB MySQL was at:

[code]

And embedded RocksDB was at

[code]

I assume this is a RocksDB bug related to default_cf_options. That is used by ha_rocksdb.cc in

[code]

Compaction IO stats and database size are similar whether zlib or no compression was enabled in etc/my.cnf

[code]

[2016-10-23 01:41] javacty opened #354 "make[2]: *** No rule to make target '/usr/lib/libsnappy.a', needed by 'storage/rocksdb/ldb'. Stop."
Ubuntu 16
gcc 6.2.0

export WITH_SNAPPY=/usr
export WITH_BZ2=/usr
export WITH_LZ4=/usr
export WITH_ZSTD=/usr
<pre>
[ 44%] Linking CXX static library librocksdb_se.a
[ 44%] Built target rocksdb_se
[ 44%] Building CXX object storage/rocksdb/CMakeFiles/ldb.dir/**/**/rocksdb/tools/ldb.cc.o
[ 44%] Building CXX object storage/rocksdb/CMakeFiles/ldb.dir/**/**/rocksdb/tools/ldb_tool.cc.o
[ 44%] Building C

[2016-10-23 01:54] mdcallag commented on #354
Ubuntu 16.04 or 16.10?

On 16.04, the interesting files
$ dpkg -L libsnappy-dev
/usr/lib/x86_64-linux-gnu/libsnappy.a
/usr/include/snappy.h
/usr/lib/x86_64-linux-gnu/libsnappy.so

And from storage/rocksdb/CMakeLists.txt the suffix of the search path hardwired to $WITH_SNAPPY/lib/libsnappy.a

[code]

[2016-10-23 01:55] mdcallag commented on #354
Duplicate of https://github.com/facebook/mysql-5.6/issues/197

[2016-10-23 03:34] mdcallag commented on #354
The short term workaround is to edit storage/rocksdb/CMakeLists.txt.
The long term workaround is to use MariaDB Server or Percona Server once they include MyRocks.

[2016-10-23 09:30] RickPizzi commented on #347
UPDATE - I have given it another try, after following Mark's and Yoshinori's suggestions above, and results are MUCH better!
- no crash (yay)
- dataset is 600G vs 2.3T from InnoDB!!!!! Now we're talking :-)
- number of file descriptors dropped from 36,000 to 12,500 - still a high number but I now understand this is normal behaviour for MyRocks

Relevant config plus rocksdb status below; if there a

[2016-10-24 15:34] jkedgar commented on #340
@yoshinorim , can you provide more clarification?  T1 would only get a deadlock if it attempted to lock the row for update.  Normal access (read only) to the row would be covered by the existing snapshot.  Attempting to lock the row for update would not be solved by applying a new snapshot.  Am I missing something?

[2016-10-24 16:27] george-lorch opened #355 "MyRocks handler myrocks implements empty delete_all_rows"
MyRocks unnecessarily implements empty delete_all_rows that does exactly what the default implementation does, nothing.

[2016-10-24 17:07] jkedgar commented on #343
Here's a diff to change this (https://reviews.facebook.net/D65427)  @mdcallag, I could also add a new indexer if sched_getcpu is not available that would use the the thread id from pthread_self() but would right shift the value by some number of bits (6?) to get rid of all the automatic 0 bits to the right in a pointer.  Does that sound like a good idea or  should I just leave it as it is?

[2016-10-24 17:11] jkedgar commented on #343
The code would look similar to this:

[code]

And we would use `rdb_thread_id_indexer_t` instead of the default `thread_id_indexer_t`.

[2016-10-24 22:38] jkedgar commented on #340
https://reviews.facebook.net/D65469

[2016-10-24 23:12] mdcallag commented on #340
I don't understand. Then I went back and reviewed what PG explains for RC and I kind of get it.

But first, why does it get a deadlock error, because that is a lock wait not a deadlock?

From my notes -- https://github.com/mdcallag/mytools/wiki/Cursor-Isolation -- I followed link to PG RC docs and what PG claims is: T1 will block waiting for T2 to unlock/commit/rollback. If T2 doesn't commit a cha

[2016-10-25 01:41] mdcallag opened #356 "explain why InnoDB beats MyRocks on sysbench read-write"
See perf report at https://gist.github.com/mdcallag/5f014865ccf3b7f8680379e96ce2785d

[2016-10-25 02:08] jkedgar commented on #340
It is a deadlock because there is no way we can ever get the lock.  T2 has modified the row, changing the sequence number, and the lock is tied to the sequence number so we would wait forever if we didn't timeout.  To successfully get the lock on that row we need a snapshot that has the current row's sequence number (or larger).  Thus we are releasing the old snapshot and acquiring a new one.

[2016-10-25 02:12] hedengcheng commented on #340
@yoshinorim
In my knowledge of MySQL(InnoDB)'s transaction and mvcc implementation. I classify the read into two categories:
1. snapshot read. Which read a dedicated snapshot. For RC, the snapshot(ReadView) is created at every statement. For RR, the snapshot is created at transaction start.
2. current read. Which read the newest version of the record, without snapshot. In InnoDB, current read don'

[2016-10-25 02:34] yoshinorim commented on #340
@hedengcheng In this task, I'm talking about single statement, multiple (potentially very large) row lock statement. http://www.slideshare.net/matsunobu/myrocks-deep-dive/88 is an example. Previously, MyRocks RC created a snapshot when locking the first row, then used the snapshot for the entire statement. If other clients modify and commited rows that the long running statement had not touched ye

[2016-10-25 03:37] mdcallag commented on #356
also explain  read-only with oltp-range=size=100, 1000, 10000
oltp-range-size=10 is OK

also explain insert

[2016-10-25 08:08] hedengcheng commented on #356
Hi Mark,
Why the performance of rocksdb.cpu is better than rocksdb.norow? For rocksdb.norow even do nothing on the counter.
- rocksdb.old - MyRocks from FB MySQL 5.6.27, August 5 build
- rocksdb.norow - like rocksdb.old, but global row counters (read, updated, etc) removed
- rocksdb.cpu - like rocksdb.old, but global row counters made more efficient

QPS, read-only, oltp-range=size=1000

[code]

Q