[2013-04-23 08:46] zhaiwx1987 opened #1 "failed to make facebook mysql-5.6"
Hi:
I am trying to cmake . && make but unfortunately failed to make it.

error message:
/u01/project/mysql-5.6/sql/item_func.h:31: error: ‘std::isfinite’ has not been declared

Look forward to your reply;

thanks.

[2013-04-23 11:33] zhaiwx1987 commented on #1
I finally succeed to run facebook-mysql.

First , I upgraded gcc from 4.5 to 4.7 to support c++11
second, I updated libstdc++ to the latest version

[2013-04-23 12:32] steaphan-fb-com commented on #1
Yes, we do not test with older build environments.  We have only tested this with gcc-4.6 and gcc-4.7, both with only relatively up-to-date base libraries.

[2013-04-24 06:50] #1 closed, assigned to nobody

[2014-02-23 12:41] sbester opened #2 "crash in innobase_update_index_stats"
On trunk/5.6.12 I keep hitting this crash when running random queries involving INDEX_STATISTICS.

[code]

I have many core files but no exact testcase yet.  Rerunning queries didn't crash.
More info later.

[2014-02-23 12:52] sbester commented on #2
[code]

[2014-02-23 13:02] sbester commented on #2
Testcase.....

[code]

[2014-02-23 18:20] steaphan-fb-com commented on #2
Thanks for the detailed info.

Sorry for the crash bug - we've actually already fixed this in our current dev branch, which is based on 5.6.16.  We just haven't had a chance to push an updated version here yet.  We should be pushing a completely up-to-date branch up here some time in the next few weeks.

Once we do, we'd certainly love any more feedback you have.

Again, thanks!

[2014-02-23 18:20] #2 closed, assigned to nobody

[2014-04-02 07:49] zhaiwx1987 opened #4 "failed to compile from source code"
Hi,
I got an error while trying to compile from source code.  And after commenting out the conflict codes,  everything goes well ...

bellow is the error message:
./libmysqld.a(zutil.c.o):(.data.rel.ro.local+0x0): multiple definition of `z_errmsg'
../libmysqld.a(zutil.c.o):(.data.rel.ro.local+0x0): first defined here
../libmysqld.a(adler32.c.o): In function`adler32_combine_':
/u01/project/offical/

[2014-04-06 16:02] steaphan-fb-com commented on #4
I'd need a lot more detail to be able to help you.

Which branch are you building, and which revision (git hash)?

What versions of tools (cmake, gcc, etc...) are you building with?  On which platform?

Can you include the full output of the build?

[2014-04-06 16:03] steaphan-fb-com commented on #2
Now that WebScaleSQL is public, we also pushed our 5.6.16 branch (which is based on WebScaleSQL now).  That includes a fix for this bug.

[2014-04-08 08:03] zhaiwx1987 commented on #4
I downloaded the source code from
https://github.com/facebook/mysql-5.6/archive/webscalesql-5.6.16-47.zip

$gcc --version
gcc (GCC) 4.7.2

$cmake --version
cmake version 2.8.8

$uname -a
Linux db031134.sqa.cm4 2.6.32-220.17.1.tb619.el6.x86_64 #1 SMP Fri Jun 8 13:48:13 CST 2012 x86_64 x86_64 x86_64 GNU/Linux

full error message..

../../../zlib/libzlib.a(zutil.c.o):(.data.rel.ro.local+0x0): multipl

[2014-04-08 15:20] steaphan-fb-com commented on #4
I just tested the current version here myself, and it builds fine.

What were your full "cmake" and "make" commands?  The intent is that neither should need any options.  I built with just "cmake . && make".

[2014-04-12 16:13] eonghk commented on #4
I have the same problem if I just type cmake ./ && make in the source directory.
Anyway, I'm using gentoo and if I use the system zlib, it compiles fine.
There are three zlib in the source, any reason?

[2014-05-14 09:29] zkong opened #5 "core at buf_stats_get_pool_info"
the buf_pool->LRU is NULL result the core.

[2014-05-23 11:58] ktk57 opened #6 "Problem in building on CentOS 6.4"
I am trying to build https://github.com/facebook/mysql-5.6 on CentOS 6.4  and the build is failing(I am using devtools-2)

Scanning dependencies of target merge_large_tests-t
[ 82%] Building CXX object unittest/gunit/CMakeFiles/merge_large_tests-t.dir/merge_large_tests.cc.o
In file included from /home/kartik/build_facebook_mysql_5.6/unittest/gunit/merge_large_tests.cc:13:0:
/home/kartik/mysql-5.6-

[2014-08-15 05:24] mictadlo commented on #4
I failed to compile it on Manjaro linux:

[code]

[2014-10-14 19:03] steaphan-fb-com commented on #6
I hope you've managed to resolve this in the meantime.

If not, I suggest you try to use the most recent branch, as the one used here is actually pretty old at this point.  If that doesn't work, please open another issue with the details, and I will take a closer look.

Sorry for my delayed response on this one.

[2014-10-14 19:03] #6 closed, assigned to nobody

[2014-10-14 19:12] steaphan-fb-com commented on #4
If anyone is still having problems with the latest branch, please open a new issue with details.

[2014-10-14 19:12] #4 closed, assigned to nobody

[2014-10-14 19:34] steaphan-fb-com commented on #5
I believe this is fixed in later versions.  If this is still happening in the latest branch, please open a new issue, and we will look more closely.

[2014-10-14 19:34] #5 closed, assigned to nobody

[2014-11-18 02:55] SunguckLee opened #8 "Defragmentation for partitioned InnoDB table"
Hi Facebook.
Really thanks for your awesome features.

I really interested in defragmentation of InnoDB table.
But for the huge table, we can't split defragmentation job.
Yes for the index level But if PRIMARY KEY itself is huge, we have to run defragmentation whole day.

So, I think defragmentation job can be splitted by partition level if the table is partitioned.
But current facebook version of

[2014-11-18 10:59] rongrong commented on #8
Hi Sunguck,

Thanks for your feedback and we are glad that you are interested in the work.

There are a few reasons:
1.  The feature is developed targeting our largest tier, which does not have many partitioned table, so partitioned table is not a problem for us, as a result we never thought about that. (OK, this is the real reason.)
2.  The speed of defragmentation itself is not as important as i

[2014-11-18 11:36] SunguckLee commented on #8
Hi rongrong.
Really thanks for your detailed explanation.

The biggest table which I am targeting is about 400GB, and this table is partitioned (hash partition).
But now we can't convert it to non-partitioned table for defragmentation. ^^
So I thought that defragmentation features which can be applied to partitioned-table.

Anyway, I will try it.
I will ask you again if there's problem.

Have a ni

[2014-11-18 17:15] steaphan-fb-com commented on #8
Cool.  Let us know how it goes with another comment here.

Or, if you have any more problems, please open a new issue with the details.

[2014-11-18 17:15] #8 closed, assigned to nobody

[2014-11-24 06:27] SunguckLee commented on #8
Hi Rongrong and Speaphan.

I added some code for supporting defragmentation of partitioned innodb table.
I want to the code change will be merged to facebook version of mysql.
We also want to use facebook version mysql on our service if requirement is meet ^^.
(There's some ALTER TABLE syntax change, but if you mind that you can ignore it)

Regards,
Matt.

[2015-05-13 18:53] laurynas-biveinis opened #15 "innochecksum fails on compressed tables with key_block_size=16"
Running innochecksum on key_block_size=16 compressed table results in

InnoDB offline file checksum utility.
Table is uncompressed
Page size is 16384
Fail; page 0 invalid (fails log sequence number check)

This is a regression from the same patch in Facebook 5.1 branch and is caused by https://github.com/facebook/mysql-5.6/commit/5bd426922c022169ff1f3438f73660543e919067 assuming that table is comp

[2015-05-13 19:03] jtolmer commented on #15
In case this affects your interest in attempting to fix the problem and submit a pull request, Facebook MySQL engineering has stopped investing in improvements to InnoDB compression and are considering removing our compression commits next time we rebase to an upstream MySQL 5.6 point release (5.6.24 or 5.6.25).

[2015-05-13 19:08] laurynas-biveinis commented on #15
Doesn't affect my plans; I have ported 5bd4269 to Percona Server where we need the feature, and I have the fix already

[2015-05-13 19:20] laurynas-biveinis commented on #15
I don't know how to make a pull request from a mysql/mysql-server fork to your repo even if I took the right base branch etc. Given what Justin wrote, I'll stop there, here's the commit, which you can consider as a pull request if interested:

https://github.com/laurynas-biveinis/percona-server/commit/2ba305a66be04575083ea26d9905b218f5797a7e

[2015-05-13 19:28] jtolmer commented on #15
Thank you for providing a link to the fix. I will determine whether to incorporate it when I look more in depth about removing our compression diffs in the next rebase.

[2015-05-13 21:58] ashoemaker opened #16 "FbsonJsonParser and FbsonToJson ignore JSON string escape sequences"
[FbsonJsonParser](https://github.com/facebook/mysql-5.6/blob/webscalesql-5.6.23.71/fbson/FbsonJsonParser.h#L390) does not decode JSON string escape sequences, with the exception of `\` and `"`. The [JSON standard](http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-404.pdf) specifies the following sequences that should be unescaped when parsing:
- `\"`
- `\\`
- `\/`
- `\b`
- `\f`
- `

[2015-05-13 22:44] tianx commented on #16
Thank you Austin for raising the issue. We actually have an internal task for those requirements and will fix them in the near future, so that Fbson library will more compatible to JSON standards.

In the current behavior (MySQL), we process and save JSON string values as binary, and the string values are also returned as is.

[2015-07-02 11:27] AllenChien commented on #6
I encounter below compile errors, code base is cloned from latest github.
1. CentOS release 6.4 (Final)
2. gcc version 4.8.2 (GCC)

[ 63%] Building C object vio/CMakeFiles/vio.dir/viosslfactories.c.o
/data1/mysql/mysql-5.6-webscalesql-5.6.23.71/vio/viosslfactories.c: In function ‘new_VioSSLFd’:
/data1/mysql/mysql-5.6-webscalesql-5.6.23.71/vio/viosslfactories.c:265:3: warning: implicit declaration

[2015-07-03 02:40] AllenChien commented on #6
cmake with -DWITH_SSL=system, everything goes fine!

[2015-07-27 19:52] jtolmer commented on #15
Laurynas, I was planning to pick up your proposed change, but it doesn't look to me like you've signed our CLA, https://code.facebook.com/cla. Would you be willing to do so?

Cheers,

Justin

[2015-07-28 05:24] laurynas-biveinis commented on #15
Done

[2015-08-04 18:01] ghost commented on #16
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:28] jtolmer commented on #16
I'm sorry for the delay in resolving your issue. I expect to push a new branch that contains the fix later this week.

[2015-08-05 22:38] jtolmer commented on #16
The new webscalesql-5.6.24.97 branch I just pushed contains the fixes for this issue.

[2015-08-05 22:38] #16 closed, assigned to jtolmer

[2015-08-05 22:42] jtolmer commented on #15
I just pushed webscalesql-5.6.24.97. In that branch, I incorporated your changes and squashed it with the commit you identified as introducing the problem. See https://github.com/facebook/mysql-5.6/commit/750dd658.

FYI: I had to stabilize the new tests you added by adding --force-restart to the opt files and --source include/have_innodb_16k.inc to the .test files.

[2015-08-05 22:42] #15 closed, assigned to jtolmer

[2015-08-06 06:09] ashoemaker commented on #16
@jtolmer thanks for following up.

[2015-08-21 18:22] joanney1 opened #17 "I can not complie mysql-5.6-webscalesql-5.6.24.97"
cmake version 2.8.12
I installed devtoolset-1.1
gcc version 4.7.2-5
glibc 2.12-1
OS Red hat Enterprise Linux Server release 6.7

cmake command
cmake -DCMAKE_INSTALL_PREFIX=/db/mysql-5.6-webscalesql-5.6.24.97  \
-DSYSCONFDIR=/etc \
-DMYSQL_TCP_PORT=3306 \
-DDEFAULT_CHARSET=utf8 \
-DENABLED_LOCAL_INFILE=1 \
-DWITH_EXTRA_CHARSETS=all \
-DDEFAULT_COLLATION=utf8_general_ci \
-DMYSQL_UNIX_ADDR=/tmp/mysq

[2015-08-21 18:42] G33KS44n commented on #17
lemme check it....I will get back to this issue

[2015-08-22 01:36] joanney1 commented on #17
## CMakeError.log

Performing C++ SOURCE FILE Test HAVE_LLVM_LIBCPP failed with the following output:
Change Dir: /db/mysql-5.6-webscalesql-5.6.24.97/CMakeFiles/CMakeTmp

Run Build Command:/usr/bin/gmake "cmTryCompileExec1933946438/fast"
/usr/bin/gmake -f CMakeFiles/cmTryCompileExec1933946438.dir/build.make CMakeFiles/cmTryCompileExec1933946438.dir/build
gmake[1]: Entering directory `/db/mysql-5.6

[2015-08-26 11:22] joanney1 commented on #17
I did cmake  without options.
So I compiled  without problems.
What's the problems?

[2015-08-26 12:06] joanney1 opened #18 "I want to use document path."
I complied "webscalesql-5.6.24.97"
And I changed system variables

mysql> show variables like '%son%';
+-------------------------+-------+
| Variable_name           | Value |
+-------------------------+-------+
| end_markers_in_json     | ON    |
| use_fbson_input_format  | ON    |
| use_fbson_output_format | ON    |
+-------------------------+-------+
3 rows in set (0.00 sec)

mysql> show variabl

[2015-08-26 18:36] tianx commented on #18
Hi @joanney1,

Thanks for using the document feature!

I tried your test case but couldn't reproduce the problem you had. The query works fine for me. Please feel free to let us know if you have additional questions.

[code]

[2015-08-28 11:36] G33KS44n opened #19 "compliation problemin mysql-5.6-webscalesql-5.6.24.97"

[2015-08-28 15:47] joanney1 commented on #18
My Test is very simple

Download current zip file.
unzip source file.
cmake without options
make
make install
./scripts/mysql_install_db
./bin/mysqld_safe --user=mysql

Connecting mysql client tool.

mysql> show variables like '%doc%';
+---------------------+-------+
| Variable_name       | Value |
+---------------------+-------+
| allow_document_type | ON    |
+---------------------+-------+
1 ro

[2015-08-28 16:03] jtolmer commented on #19
You didn't provide any information at all about your problem.

[2015-08-28 16:03] #19 closed, assigned to nobody

[2015-08-28 17:52] jtolmer commented on #17
All of the errors and failures I see in this report are cmake working as intended while it tests for the [un]availability of different features/options/flags/etc. That is further supported by cmake reporting:

--Configuring done
--Generating done
-- Build files have been written to: /db/mysql-5.6-webscalesql-5.6.24.97

I am closing this issue since you didn't make any mention of the subsequent mak

[2015-08-28 17:52] #17 closed, assigned to jtolmer

[2015-09-11 22:30] tianx commented on #18
Hi @joanney1,

Sorry for the delay in replying. I am not clear why you hit this problem. I tried the same queries and still couldn't reproduce - all queries work for me.

We have many more test cases using document paths including some queries similar to yours, covered in our test file: http://github.com/facebook/mysql-5.6/blob/webscalesql-5.6.24.97/mysql-test/suite/json/t/type_document_path.test.

[2015-09-11 22:30] #18 closed, assigned to nobody

[2015-09-18 06:25] joanney1 opened #20 "I want to compile mysql for facebook without rocksdb"
Hello,

I want to compile mysql for facebook without rocksdb.
What do you use when executing cmake with?
for example  -DWITH_ROCKSDB_STORAGE_ENGINE=0

And,
I want to test document type for json data.
So, I think It is not problem compiling source without rocksdb.
Is it right?

Thx.

[2015-09-18 17:31] jtolmer opened #21 "Intermittent failure in test rocksdb.rocksdb"
Alexey suggested that I assign this issue to you. We're seeing occasional failures of this test in our CI testing.

rocksdb.rocksdb                          w9 [ fail ]
        Test ended at 2015-09-16 21:23:21

CURRENT_TEST: rocksdb.rocksdb
--- /data/users/jenkins/workspace/github-mysql-nightly/BUILD_TYPE/ASan/CLIENT_MODE/Async/PAGE_SIZE/32/TEST_SET/MixedOtherBig/label/mysql/mysql/mysql-test/suit

[2015-09-21 20:30] maykov commented on #20
Here is the fix: https://reviews.facebook.net/D47331
The proper variable name for disabling rocksdb is: WITHOUT_ROCKSDB_SE_STORAGE_ENGINE=1

[2015-09-28 22:13] hermanlee opened #22 "[CLOSED] change SHOW ENGINE ROCKSDB STATUS"
<a href="https://github.com/jonahcohen"><img src="https://avatars.githubusercontent.com/u/8269165?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jonahcohen](https://github.com/jonahcohen)**
_Wednesday Jan 07, 2015 at 22:57 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/4_

---

From @mdcallag:

For background see http://dev.mysql.com/doc/

[2015-09-28 22:19] hermanlee opened #23 "[CLOSED] Support index-only scans for DATETIME, TIMESTAMP, and DOUBLE"
<a href="https://github.com/spetrunia"><img src="https://avatars.githubusercontent.com/u/2734550?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [spetrunia](https://github.com/spetrunia)**
_Monday Feb 02, 2015 at 18:39 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/26_

---

Currently, index scans for DATETIME, TIMESTAMP, and DOUBLE are not

[2015-09-28 22:19] hermanlee commented on #23
<a href="https://github.com/spetrunia"><img src="https://avatars.githubusercontent.com/u/2734550?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [spetrunia](https://github.com/spetrunia)**
_Wednesday Apr 08, 2015 at 13:47 GMT_

---

https://reviews.facebook.net/D36663

[2015-09-28 22:19] hermanlee commented on #23
<a href="https://github.com/spetrunia"><img src="https://avatars.githubusercontent.com/u/2734550?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [spetrunia](https://github.com/spetrunia)**
_Friday Apr 24, 2015 at 00:51 GMT_

---

The task of supporting DOUBLE is filed as #56.  Other datatypes are fixed.

[2015-09-28 22:25] #23 closed, assigned to nobody

[2015-09-28 22:26] #22 closed, assigned to nobody

[2015-09-28 22:27] hermanlee opened #24 "Implement repeatable read transaction isolation for RocksDB"
<a href="https://github.com/jonahcohen"><img src="https://avatars.githubusercontent.com/u/8269165?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jonahcohen](https://github.com/jonahcohen)**
_Wednesday Jan 07, 2015 at 22:58 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/6_

---

From @mdcallag:

We currently provide read committed. We need

[2015-09-28 22:27] hermanlee commented on #24
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yoshinorim](https://github.com/yoshinorim)**
_Thursday Feb 05, 2015 at 09:26 GMT_

---

https://reviews.facebook.net/D32355

[2015-09-28 22:27] hermanlee commented on #24
<a href="https://github.com/mdcallag"><img src="https://avatars.githubusercontent.com/u/1641037?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mdcallag](https://github.com/mdcallag)**
_Thursday Feb 05, 2015 at 14:51 GMT_

---

How was repeatable read implemented?

On Thu, Feb 5, 2015 at 9:26 AM, Yoshinori Matsunobu <
notifications@github.com> wrote:

##

Mark Callagh

[2015-09-28 22:27] hermanlee commented on #24
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yoshinorim](https://github.com/yoshinorim)**
_Thursday Feb 05, 2015 at 15:21 GMT_

---

Needs more test cases (and likely implementation) to cover this -- https://github.com/MariaDB/webscalesql-5.6/wiki/Cursor-Isolation

[2015-09-28 22:27] hermanlee commented on #24
<a href="https://github.com/mdcallag"><img src="https://avatars.githubusercontent.com/u/1641037?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mdcallag](https://github.com/mdcallag)**
_Thursday Feb 05, 2015 at 15:39 GMT_

---

Decisions to be made:
1) match PG or InnoDB semantics for RR. I think PG is easier to implement but will have more conflicts detected so db us

[2015-09-28 22:27] hermanlee commented on #24
<a href="https://github.com/mdcallag"><img src="https://avatars.githubusercontent.com/u/1641037?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mdcallag](https://github.com/mdcallag)**
_Thursday Feb 05, 2015 at 15:42 GMT_

---

Basic test to distinguish between InnoDB and PG RR:
1) trx1: BEGIN
2) trx2: BEGIN
3) trx1: SELECT to establish snapshot (assuming it wasn't se

[2015-09-28 22:27] hermanlee opened #25 "support binlog + rocksdb group commit and XA"
<a href="https://github.com/jonahcohen"><img src="https://avatars.githubusercontent.com/u/8269165?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jonahcohen](https://github.com/jonahcohen)**
_Wednesday Jan 07, 2015 at 23:01 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/8_

---

From @mdcallag:

This requires more discussion but many of us

[2015-09-28 22:27] hermanlee opened #26 "Support 'fast index create' for RocksDB"
<a href="https://github.com/jonahcohen"><img src="https://avatars.githubusercontent.com/u/8269165?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jonahcohen](https://github.com/jonahcohen)**
_Wednesday Jan 07, 2015 at 23:04 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/12_

---

From @mdcallag:

This should avoid doing a table copy when a

[2015-09-28 22:27] hermanlee opened #27 "Implement Read Free Replication"
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yoshinorim](https://github.com/yoshinorim)**
_Wednesday Jan 14, 2015 at 01:48 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/21_

---

This is about implementing read-free slave, similar to what T

[2015-09-28 22:27] hermanlee opened #28 "Support index-only scans for collations other than _bin"
<a href="https://github.com/spetrunia"><img src="https://avatars.githubusercontent.com/u/2734550?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [spetrunia](https://github.com/spetrunia)**
_Friday Jan 30, 2015 at 12:54 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/25_

---

Currently, index-only scans are supported for
- numeric columns
-

[2015-09-28 22:27] hermanlee commented on #28
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yoshinorim](https://github.com/yoshinorim)**
_Monday Feb 02, 2015 at 12:11 GMT_

---

I like space optimization for cs collation, that is:
- (mem_comparable_form) for cs collation, not storing any duplicates for cs collation

[2015-09-28 22:27] hermanlee commented on #28
<a href="https://github.com/spetrunia"><img src="https://avatars.githubusercontent.com/u/2734550?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [spetrunia](https://github.com/spetrunia)**
_Monday Feb 02, 2015 at 16:40 GMT_

---

Exploring how to make a bi-directional mapping

[code]

latin1_swedish_ci, latin1_general_ci, (and other collations) have these properties:
-

[2015-09-28 22:27] hermanlee commented on #28
<a href="https://github.com/spetrunia"><img src="https://avatars.githubusercontent.com/u/2734550?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [spetrunia](https://github.com/spetrunia)**
_Monday Feb 02, 2015 at 18:15 GMT_

---

## Unicode

_// our charsets guru is currently not available, but we've had a discussion about this before and I've took another look now._

[2015-09-28 22:27] hermanlee opened #29 "Stress framework"
<a href="https://github.com/maykov"><img src="https://avatars.githubusercontent.com/u/8107629?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [maykov](https://github.com/maykov)**
_Tuesday Feb 03, 2015 at 16:42 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/29_

---

[2015-09-28 22:27] hermanlee opened #30 "Valgrind"
<a href="https://github.com/maykov"><img src="https://avatars.githubusercontent.com/u/8107629?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [maykov](https://github.com/maykov)**
_Tuesday Feb 03, 2015 at 16:43 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/30_

---

[2015-09-28 22:27] hermanlee opened #31 "ASAN"
<a href="https://github.com/maykov"><img src="https://avatars.githubusercontent.com/u/8107629?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [maykov](https://github.com/maykov)**
_Tuesday Feb 03, 2015 at 16:43 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/31_

---

[2015-09-28 22:27] hermanlee opened #32 "Fix test cases which fail with RocksDB SE"
<a href="https://github.com/maykov"><img src="https://avatars.githubusercontent.com/u/8107629?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [maykov](https://github.com/maykov)**
_Wednesday Feb 25, 2015 at 03:38 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/39_

---

Here is the list of tests which fail:
(tests prefixed with # are fixed)

[2015-09-28 22:27] hermanlee opened #33 "Address the TODO comment on Table_ddl_manager::put"
<a href="https://github.com/maykov"><img src="https://avatars.githubusercontent.com/u/8107629?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [maykov](https://github.com/maykov)**
_Thursday Apr 02, 2015 at 06:35 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/50_

---

This function modifies ddl_hash and index_num_to_keydef.
However, these c

[2015-09-28 22:27] hermanlee commented on #33
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yoshinorim](https://github.com/yoshinorim)**
_Wednesday Aug 12, 2015 at 23:52 GMT_

---

@maykov  Now MyRocks always aborts if dict_manager.commit() fails. Do we still need to fix this?

[2015-09-28 22:27] hermanlee opened #34 "Investigate what happens if STL allocation causes OOM"
<a href="https://github.com/maykov"><img src="https://avatars.githubusercontent.com/u/8107629?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [maykov](https://github.com/maykov)**
_Tuesday Apr 14, 2015 at 22:48 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/52_

---

STL relies on exceptions to handle OOM. We should check that opreator new

[2015-09-28 22:27] hermanlee commented on #34
<a href="https://github.com/spetrunia"><img src="https://avatars.githubusercontent.com/u/2734550?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [spetrunia](https://github.com/spetrunia)**
_Sunday May 24, 2015 at 07:54 GMT_

---

I think I have accidentally hit this on a debug build. The following happened:

[code]

[2015-09-28 22:27] hermanlee commented on #34
<a href="https://github.com/mdcallag"><img src="https://avatars.githubusercontent.com/u/1641037?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mdcallag](https://github.com/mdcallag)**
_Sunday May 24, 2015 at 22:11 GMT_

---

I got that once

On Sunday, May 24, 2015, Sergei Petrunia notifications@github.com wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2015-09-28 22:27] hermanlee commented on #34
<a href="https://github.com/igorcanadi"><img src="https://avatars.githubusercontent.com/u/1091023?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [igorcanadi](https://github.com/igorcanadi)**
_Tuesday May 26, 2015 at 18:34 GMT_

---

huh yeah. we never really looked at what happens when OOM. we should never corrupt the data, but rocksdb will likely crash hard.

[2015-09-28 22:27] hermanlee commented on #34
<a href="https://github.com/maykov"><img src="https://avatars.githubusercontent.com/u/8107629?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [maykov](https://github.com/maykov)**
_Friday Jun 05, 2015 at 22:40 GMT_

---

So it is important

[2015-09-28 22:27] hermanlee opened #35 "Expose SST file properties through the information schema"
<a href="https://github.com/maykov"><img src="https://avatars.githubusercontent.com/u/8107629?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [maykov](https://github.com/maykov)**
_Thursday Apr 23, 2015 at 21:45 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/55_

---

This will make it easier to debug issues and write tests

[2015-09-28 22:27] hermanlee opened #36 "Support index-only scans for type DOUBLE"
<a href="https://github.com/spetrunia"><img src="https://avatars.githubusercontent.com/u/2734550?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [spetrunia](https://github.com/spetrunia)**
_Friday Apr 24, 2015 at 00:50 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/56_

---

(branching this off from issue #26)

Currently, index-only scans a

[2015-09-28 22:27] hermanlee opened #37 "Check duplicates on "Table Name => internal index id mappings" data dictionary"
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yoshinorim](https://github.com/yoshinorim)**
_Friday Apr 24, 2015 at 22:43 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/58_

---

create table t (id int primary key ) engine=rocksdb;
insert into

[2015-09-28 22:27] hermanlee opened #38 "Make rocksdb_datadir configurable"
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yoshinorim](https://github.com/yoshinorim)**
_Monday May 04, 2015 at 22:17 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/62_

---

Currently sst files are stored under $datadir/rocksdb and it's h

[2015-09-28 22:27] hermanlee commented on #38
<a href="https://github.com/maykov"><img src="https://avatars.githubusercontent.com/u/8107629?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [maykov](https://github.com/maykov)**
_Monday May 04, 2015 at 22:23 GMT_

---

I'm sending the diff to change the directory name to .rocksdb. Right now, this directory shows as the database called rocksdb when doing 'show databas

[2015-09-28 22:27] hermanlee commented on #38
<a href="https://github.com/maykov"><img src="https://avatars.githubusercontent.com/u/8107629?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [maykov](https://github.com/maykov)**
_Monday May 04, 2015 at 23:51 GMT_

---

For documentation, here is where mysql scans the directory to get a list of databases: https://github.com/MySQLOnRocksDB/mysql-5.6/blob/webscalesql-5.

[2015-09-28 22:27] hermanlee opened #39 "Allow tables without primary key"
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yoshinorim](https://github.com/yoshinorim)**
_Wednesday May 06, 2015 at 00:48 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/63_

---

Figure out how realistic it is to create a hidden auto_increm

[2015-09-28 22:27] hermanlee commented on #39
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yoshinorim](https://github.com/yoshinorim)**
_Tuesday Sep 22, 2015 at 16:46 GMT_

---

Here are basic design plans. Since some data dictionary format change is needed, it makes some sense to add this feature before GA.
- DDL

[2015-09-28 22:27] hermanlee commented on #39
<a href="https://github.com/jkedgar"><img src="https://avatars.githubusercontent.com/u/8951526?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jkedgar](https://github.com/jkedgar)**
_Tuesday Sep 22, 2015 at 17:09 GMT_

---

By using an auto increment key you have to store the last (or next) value somewhere and protect it with a mutex when incrementing it, potentially

[2015-09-28 22:27] hermanlee commented on #39
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yoshinorim](https://github.com/yoshinorim)**
_Tuesday Sep 22, 2015 at 20:35 GMT_

---
- Tables without primary keys are relatively rare, and they're not heavily accessed, so improving performance is not much worth spending ti

[2015-09-28 22:27] hermanlee opened #40 "Add rocksdb_rows_read|inserted|updated|deleted"
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yoshinorim](https://github.com/yoshinorim)**
_Friday May 15, 2015 at 21:49 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/65_

---

We can get these from table statistics but will still be very us

[2015-09-28 22:27] hermanlee opened #41 "Add support for perf_context statistics in log_slow_extra"
<a href="https://github.com/hermanlee"><img src="https://avatars.githubusercontent.com/u/6656176?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [hermanlee](https://github.com/hermanlee)**
_Wednesday May 27, 2015 at 00:17 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/72_

---

Return key_skipped statistics captured in rocksdb::perf_context

[2015-09-28 22:31] hermanlee opened #42 "How to solve the error when compiling"
<a href="https://github.com/MrDimension"><img src="https://avatars.githubusercontent.com/u/8252310?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [MrDimension](https://github.com/MrDimension)**
_Thursday May 28, 2015 at 03:00 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/73_

---

The error occurred during "make" process. And I got the er

[2015-09-28 22:33] hermanlee opened #43 "Make some options dynamically configurable"
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yoshinorim](https://github.com/yoshinorim)**
_Friday May 29, 2015 at 00:18 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/74_

---

Some options like rocksdb_bytes_per_sync should be configurable

[2015-09-28 22:33] hermanlee commented on #43
<a href="https://github.com/jkedgar"><img src="https://avatars.githubusercontent.com/u/8951526?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jkedgar](https://github.com/jkedgar)**
_Wednesday Sep 09, 2015 at 17:03 GMT_

---

Does this mean that you want a global variable in MyRocks so that you can configure this option by using "Set rocksdb_bytes_per_sync = <value>"?

[2015-09-28 22:33] hermanlee commented on #43
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yoshinorim](https://github.com/yoshinorim)**
_Wednesday Sep 09, 2015 at 17:27 GMT_

---

I'd like to start from dynamically configurable DB options. Static options such as wal_dir, rocksdb_data_dir are not targets. For CF/Tab

[2015-09-28 22:33] hermanlee commented on #43
<a href="https://github.com/jkedgar"><img src="https://avatars.githubusercontent.com/u/8951526?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jkedgar](https://github.com/jkedgar)**
_Wednesday Sep 09, 2015 at 17:31 GMT_

---

Is there a list of dynamically configurable options?

[2015-09-28 22:33] hermanlee commented on #43
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yoshinorim](https://github.com/yoshinorim)**
_Wednesday Sep 09, 2015 at 17:39 GMT_

---

^^ @siying @rven1

[2015-09-28 22:33] hermanlee commented on #43
<a href="https://github.com/siying"><img src="https://avatars.githubusercontent.com/u/5334567?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [siying](https://github.com/siying)**
_Wednesday Sep 09, 2015 at 17:41 GMT_

---

Search options.h and all dynamic configurable options will write in comments "dynamic changeable".

[2015-09-28 22:33] hermanlee commented on #43
<a href="https://github.com/jkedgar"><img src="https://avatars.githubusercontent.com/u/8951526?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jkedgar](https://github.com/jkedgar)**
_Wednesday Sep 09, 2015 at 18:07 GMT_

---

The SetOptions() method appears to operate on a column family - the default column family if no column family is specified.  Do I need to iterat

[2015-09-28 22:33] hermanlee opened #44 "MyRocks data size is greater than InnoDB"
<a href="https://github.com/BohuTANG"><img src="https://avatars.githubusercontent.com/u/172204?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [BohuTANG](https://github.com/BohuTANG)**
_Thursday Jun 04, 2015 at 11:20 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/80_

---

From our benchmarks under the same datasets for MyRocks/InnoDB/TokuD

[2015-09-28 22:33] hermanlee commented on #44
<a href="https://github.com/mdcallag"><img src="https://avatars.githubusercontent.com/u/1641037?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mdcallag](https://github.com/mdcallag)**
_Thursday Jun 04, 2015 at 11:22 GMT_

---

Excellent, can you also send me the values of any rocksdb config options set in my.cnf? Will take me a few hours to respond.

[2015-09-28 22:33] hermanlee commented on #44
<a href="https://github.com/BohuTANG"><img src="https://avatars.githubusercontent.com/u/172204?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [BohuTANG](https://github.com/BohuTANG)**
_Thursday Jun 04, 2015 at 11:52 GMT_

---

There is no rocksdb configuration in my.cnf, so all is default.

[2015-09-28 22:33] hermanlee commented on #44
<a href="https://github.com/mdcallag"><img src="https://avatars.githubusercontent.com/u/1641037?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mdcallag](https://github.com/mdcallag)**
_Thursday Jun 04, 2015 at 13:28 GMT_

---

Can you tell me what is in your RocksDB LOG file (name "LOG") for "Compression algorithms supported"? Mine shows:

2015/06/04-04:33:23.366528

[2015-09-28 22:33] hermanlee commented on #44
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yoshinorim](https://github.com/yoshinorim)**
_Thursday Jun 04, 2015 at 16:25 GMT_

---

Could you try the following my.cnf settings and share results?
This makes MyRocks use zlib level 2 compression for most levels (compressi

[2015-09-28 22:33] hermanlee commented on #44
<a href="https://github.com/mdcallag"><img src="https://avatars.githubusercontent.com/u/1641037?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mdcallag](https://github.com/mdcallag)**
_Thursday Jun 04, 2015 at 17:12 GMT_

---

Yoshi - before trying to tune we need to confirm that compression was enabled during his RocksDB build. Then we can tune. MyRocks has a lousy

[2015-09-28 22:33] hermanlee commented on #44
<a href="https://github.com/BohuTANG"><img src="https://avatars.githubusercontent.com/u/172204?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [BohuTANG](https://github.com/BohuTANG)**
_Friday Jun 05, 2015 at 09:31 GMT_

---

This issue due to:  *.sst not properly cleaned on DROP DATABASE.
I clean the .rocksdb dir and re-install database and to the same benchmark with

[2015-09-28 22:33] hermanlee commented on #44
<a href="https://github.com/mdcallag"><img src="https://avatars.githubusercontent.com/u/1641037?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mdcallag](https://github.com/mdcallag)**
_Friday Jun 05, 2015 at 13:46 GMT_

---

Space is eventually reclaimed as compaction runs. If one table accounts for
the majority of space then that will be easy to notice. Yoshi might

[2015-09-28 22:33] hermanlee commented on #44
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yoshinorim](https://github.com/yoshinorim)**
_Friday Jun 05, 2015 at 15:05 GMT_

---

We have not started implementing mappings between table and *.sst files yet. I'll file another task to track this.

[2015-09-28 22:33] hermanlee commented on #44
<a href="https://github.com/hermanlee"><img src="https://avatars.githubusercontent.com/u/6656176?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [hermanlee](https://github.com/hermanlee)**
_Friday Jun 05, 2015 at 16:00 GMT_

---

We can also dump out some of the rocksdb configuration options out through information schema, rather than have to look through the rocksdb L

[2015-09-28 22:33] hermanlee commented on #44
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yoshinorim](https://github.com/yoshinorim)**
_Friday Jun 05, 2015 at 17:54 GMT_

---

@BohuTANG : BTW you can get MyRocks each table size via usual MySQL commands (SHOW TABLE STATUS or SELECT  FROM information_schema.tables).

[2015-09-28 22:33] hermanlee commented on #44
<a href="https://github.com/maykov"><img src="https://avatars.githubusercontent.com/u/8107629?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [maykov](https://github.com/maykov)**
_Friday Jun 05, 2015 at 19:16 GMT_

---

BohuTANG, optimize table t1; will run manual compaction for the table. However, if you already dropped the table, I can't think of an easy way to trig

[2015-09-28 22:33] hermanlee opened #45 "Create information_schema.rocksdb_datadic to print data dictionary"
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yoshinorim](https://github.com/yoshinorim)**
_Monday Jun 15, 2015 at 17:37 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/83_

---

This is rather for debugging purposes, but printing data diction

[2015-09-28 22:33] hermanlee commented on #45
<a href="https://github.com/hermanlee"><img src="https://avatars.githubusercontent.com/u/6656176?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [hermanlee](https://github.com/hermanlee)**
_Monday Jun 15, 2015 at 17:45 GMT_

---

We have support for printing out the index numbers and tables/databases they belong to in information_schema.rocksdb_ddl, but other parts of

[2015-09-28 22:33] hermanlee commented on #45
<a href="https://github.com/yhchiang"><img src="https://avatars.githubusercontent.com/u/6447975?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yhchiang](https://github.com/yhchiang)**
_Thursday Jul 23, 2015 at 08:25 GMT_

---

In case this is not something urgent, I would like to try this out :)

First of all, can I know whether `storage/rocksdb/rdb_i_s.cc` is the ri

[2015-09-28 22:33] hermanlee commented on #45
<a href="https://github.com/hermanlee"><img src="https://avatars.githubusercontent.com/u/6656176?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [hermanlee](https://github.com/hermanlee)**
_Thursday Jul 23, 2015 at 17:14 GMT_

---

Yes, rdb_i_s.cc is the right place to start. It has the basic structure for creating information schema tables. The table would need to ret

[2015-09-28 22:33] hermanlee opened #46 "Change locking system into using RocksDB's pessimistic transactions"
<a href="https://github.com/spetrunia"><img src="https://avatars.githubusercontent.com/u/2734550?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [spetrunia](https://github.com/spetrunia)**
_Wednesday Jun 17, 2015 at 21:02 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/86_

---

RocksDB's pessimistic transaction system handles locking and al

[2015-09-28 22:33] hermanlee commented on #46
<a href="https://github.com/agiardullo"><img src="https://avatars.githubusercontent.com/u/10343516?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [agiardullo](https://github.com/agiardullo)**
_Thursday Jun 18, 2015 at 03:39 GMT_

---

1)  Yes, I still need to add iterator support.  A hacky workaround would be to temporary re-read keys that you iterate through until it

[2015-09-28 22:33] hermanlee commented on #46
<a href="https://github.com/spetrunia"><img src="https://avatars.githubusercontent.com/u/2734550?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [spetrunia](https://github.com/spetrunia)**
_Tuesday Jun 23, 2015 at 17:38 GMT_

---

In order to have SQL semantics, one has to be able to rollback a failed statement. The statement may be a part of a transaction, in that cas

[2015-09-28 22:33] hermanlee commented on #46
<a href="https://github.com/spetrunia"><img src="https://avatars.githubusercontent.com/u/2734550?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [spetrunia](https://github.com/spetrunia)**
_Tuesday Jul 14, 2015 at 10:45 GMT_

---

I've read the new Pessimistic Transactions patch (posted at https://reviews.facebook.net/D40869 ).  It looks like the patch provides everyth

[2015-09-28 22:33] hermanlee commented on #46
<a href="https://github.com/spetrunia"><img src="https://avatars.githubusercontent.com/u/2734550?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [spetrunia](https://github.com/spetrunia)**
_Friday Jul 24, 2015 at 11:02 GMT_

---

Getting close to getting something to work, found one thing that I forgot about.

In the current system, row lock waits are integrated into M

[2015-09-28 22:34] hermanlee commented on #46
<a href="https://github.com/spetrunia"><img src="https://avatars.githubusercontent.com/u/2734550?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [spetrunia](https://github.com/spetrunia)**
_Friday Jul 24, 2015 at 18:13 GMT_

---

Consider two cases:

Case 1.

[code]

The last call times out and returns:

[code]

I have made MyRocks to return ER_LOCK_WAIT_TIMEOUT to SQL

[2015-09-28 22:34] hermanlee commented on #46
<a href="https://github.com/agiardullo"><img src="https://avatars.githubusercontent.com/u/10343516?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [agiardullo](https://github.com/agiardullo)**
_Friday Jul 24, 2015 at 22:43 GMT_

---

This is good feedback.  About distinguishing error cases, I can change the api to return a different status in each case.  I believe ther

[2015-09-28 22:34] hermanlee commented on #46
<a href="https://github.com/agiardullo"><img src="https://avatars.githubusercontent.com/u/10343516?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [agiardullo](https://github.com/agiardullo)**
_Friday Jul 24, 2015 at 22:49 GMT_

---

Re MySql locking:  I think we could come up with an api that lets you override what mutex/condvar is used to do locking.  But I will need

[2015-09-28 22:34] hermanlee commented on #46
<a href="https://github.com/agiardullo"><img src="https://avatars.githubusercontent.com/u/10343516?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [agiardullo](https://github.com/agiardullo)**
_Thursday Aug 06, 2015 at 03:10 GMT_

---

Sergei, how about we chat about myrocks locking api?  I just sent you a fb msg.

[2015-09-28 22:34] hermanlee commented on #46
<a href="https://github.com/spetrunia"><img src="https://avatars.githubusercontent.com/u/2734550?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [spetrunia](https://github.com/spetrunia)**
_Tuesday Sep 08, 2015 at 10:50 GMT_

---

Got an interesting problem while rebasing the patch over the current tree.

rocksdb.rocksdb test started to fail with an error like this:

[

[2015-09-28 22:34] hermanlee commented on #46
<a href="https://github.com/spetrunia"><img src="https://avatars.githubusercontent.com/u/2734550?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [spetrunia](https://github.com/spetrunia)**
_Tuesday Sep 08, 2015 at 12:17 GMT_

---
- Tried to disallow creation of "temporary" tables (temporary here means the name is`#sql_nnnn`) with `$per_index_cf` column families.  There

[2015-09-28 22:34] hermanlee commented on #46
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yoshinorim](https://github.com/yoshinorim)**
_Tuesday Sep 08, 2015 at 17:28 GMT_

---

I recently committed https://reviews.facebook.net/D45963 that increments index_id and commits into data dictionary at Sequence_generator::

[2015-09-28 22:34] hermanlee commented on #46
<a href="https://github.com/hermanlee"><img src="https://avatars.githubusercontent.com/u/6656176?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [hermanlee](https://github.com/hermanlee)**
_Tuesday Sep 08, 2015 at 17:51 GMT_

---

The select for update on the sequence_number would block other create table requests until the transaction is committed? If we're performing

[2015-09-28 22:37] hermanlee opened #47 "Online/inplace DDL operations"
<a href="https://github.com/spetrunia"><img src="https://avatars.githubusercontent.com/u/2734550?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [spetrunia](https://github.com/spetrunia)**
_Tuesday Jun 30, 2015 at 17:57 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/87_

---

This task is about adding support for online (and/or in-place) DD

[2015-09-28 22:37] hermanlee opened #48 "Check consistency between frm and MyRocks data dictionary at startup"
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yoshinorim](https://github.com/yoshinorim)**
_Thursday Jul 16, 2015 at 01:00 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/91_

---

Optionally, check consistency between all frm files and all My

[2015-09-28 22:37] hermanlee commented on #48
<a href="https://github.com/jkedgar"><img src="https://avatars.githubusercontent.com/u/8951526?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jkedgar](https://github.com/jkedgar)**
_Thursday Sep 10, 2015 at 18:55 GMT_

---

I have this working to check the number of keys in the table.  I thought about attempting to compare the table names, but wondered if that would

[2015-09-28 22:37] hermanlee commented on #48
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yoshinorim](https://github.com/yoshinorim)**
_Thursday Sep 10, 2015 at 22:21 GMT_

---

We store database_name.table_name in MyRocks data dictionary idx_id=0x1 (https://github.com/MySQLOnRocksDB/mysql-5.6/wiki/MyRocks-data-di

[2015-09-28 22:37] hermanlee commented on #48
<a href="https://github.com/jkedgar"><img src="https://avatars.githubusercontent.com/u/8951526?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jkedgar](https://github.com/jkedgar)**
_Thursday Sep 10, 2015 at 22:23 GMT_

---

Okay.  I'll look into the table name further.  Besides these two things, what should we check the consistency of?

[2015-09-28 22:37] hermanlee commented on #48
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yoshinorim](https://github.com/yoshinorim)**
_Thursday Sep 17, 2015 at 00:52 GMT_

---

Sorry I missed the last comment. I think checking database_name.table_name for all tables is fine. Checking indexes will need to parse fr

[2015-09-28 22:37] hermanlee opened #49 "MIN_TIMER_WAIT field is inconsistent for wait/synch/cond/rocksdb/cond_stop"
<a href="https://github.com/maykov"><img src="https://avatars.githubusercontent.com/u/8107629?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [maykov](https://github.com/maykov)**
_Monday Jul 20, 2015 at 21:59 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/92_

---

To repro this, you need to build and run with perf schema enabled.

1.
trun

[2015-09-28 22:37] hermanlee commented on #49
<a href="https://github.com/maykov"><img src="https://avatars.githubusercontent.com/u/8107629?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [maykov](https://github.com/maykov)**
_Monday Jul 20, 2015 at 23:52 GMT_

---

Example of the failure:
===========
$mysqltest.sh --perfschema perfschema.aggregate --repeat=5
.....
CURRENT_TEST: perfschema.aggregate
--- /data/use

[2015-09-28 22:37] hermanlee commented on #49
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yoshinorim](https://github.com/yoshinorim)**
_Tuesday Jul 21, 2015 at 15:52 GMT_

---

WebScaleSQL disables performance schema by default, so I think it's fine to ignore for the time being.

[2015-09-28 22:37] hermanlee commented on #49
<a href="https://github.com/jtolmer"><img src="https://avatars.githubusercontent.com/u/3989611?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jtolmer](https://github.com/jtolmer)**
_Tuesday Jul 21, 2015 at 16:28 GMT_

---

WebScaleSQL and FB-MySQL both intentionally test with PerfSchema enabled in order to make sure that we're not building up a lot of debt of broken

[2015-09-28 22:37] hermanlee commented on #49
<a href="https://github.com/spetrunia"><img src="https://avatars.githubusercontent.com/u/2734550?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [spetrunia](https://github.com/spetrunia)**
_Tuesday Jul 21, 2015 at 20:07 GMT_

---

AFAIK, the values are in picoseconds.  They are not in CPU ticks, because one can use different timers for measurements (see `setup_timers`

[2015-09-28 22:37] hermanlee opened #50 "Needs more space efficient row checksums"
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yoshinorim](https://github.com/yoshinorim)**
_Monday Jul 27, 2015 at 14:49 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/93_

---

Here are sizes of loading LinkBench data with 1.5B max ids.
With

[2015-09-28 22:37] hermanlee commented on #50
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yoshinorim](https://github.com/yoshinorim)**
_Tuesday Aug 04, 2015 at 03:41 GMT_

---

Introducing rocksdb_checksums_pct variable -- https://reviews.facebook.net/D43419

I'll keep this issue opened until we figure out if CRC8

[2015-09-28 22:37] hermanlee opened #51 "slowdown when using rtti switch"
<a href="https://github.com/maykov"><img src="https://avatars.githubusercontent.com/u/8107629?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [maykov](https://github.com/maykov)**
_Tuesday Jul 28, 2015 at 22:03 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/94_

---

We experienced 5% slowdown when started compiling withou -fno-rtti switch.

[2015-09-28 22:37] hermanlee commented on #51
<a href="https://github.com/maykov"><img src="https://avatars.githubusercontent.com/u/8107629?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [maykov](https://github.com/maykov)**
_Tuesday Aug 04, 2015 at 01:14 GMT_

---

I ran linkbench tests with a 15m dataset provided by Yoshinori.
QPS for RTTI binary
![image](https://cloud.githubusercontent.com/assets/8107629/90511

[2015-09-28 22:37] hermanlee commented on #51
<a href="https://github.com/maykov"><img src="https://avatars.githubusercontent.com/u/8107629?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [maykov](https://github.com/maykov)**
_Saturday Aug 22, 2015 at 06:39 GMT_

---

I found an easy way of enabling the RTTI just for RocksDB and disabling for everything else.
See:
https://reviews.facebook.net/differential/diff/220

[2015-09-28 22:37] hermanlee opened #52 "SAVEPOINT support"
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yoshinorim](https://github.com/yoshinorim)**
_Friday Aug 14, 2015 at 15:03 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/96_

---

SAVEPOINT is needed for https://bugs.mysql.com/bug.php?id=71017.

[2015-09-28 22:37] hermanlee commented on #52
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yoshinorim](https://github.com/yoshinorim)**
_Monday Aug 17, 2015 at 17:23 GMT_

---

First diff was committed -- https://reviews.facebook.net/D44223 . This is for read only transactions (mysqldump) only, and there is no erro

[2015-09-28 22:37] hermanlee opened #53 "make stat computations sane"
<a href="https://github.com/maykov"><img src="https://avatars.githubusercontent.com/u/8107629?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [maykov](https://github.com/maykov)**
_Wednesday Aug 19, 2015 at 17:01 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/97_

---

Right now, there is a delay of 1 hour between stat computes when using d

[2015-09-28 22:37] hermanlee opened #54 "Add kv_format_version into RDBSE_KEYDEF and data dictionary"
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yoshinorim](https://github.com/yoshinorim)**
_Wednesday Aug 26, 2015 at 23:58 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/101_

---

This will be useful to support multiple KV format versions (

[2015-09-28 22:37] hermanlee opened #55 "Include RocksDB utility tools into MySQL binary"
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yoshinorim](https://github.com/yoshinorim)**
_Thursday Aug 27, 2015 at 02:28 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/102_

---

ldb and sst_dump are at least needed for day-to-day productio

[2015-09-28 22:37] hermanlee commented on #55
<a href="https://github.com/maykov"><img src="https://avatars.githubusercontent.com/u/8107629?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [maykov](https://github.com/maykov)**
_Thursday Aug 27, 2015 at 20:26 GMT_

---

manifest dump would be useful too

[2015-09-28 22:37] hermanlee commented on #55
<a href="https://github.com/siying"><img src="https://avatars.githubusercontent.com/u/5334567?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [siying](https://github.com/siying)**
_Thursday Aug 27, 2015 at 20:39 GMT_

---

manfiest dump is an option of ldb.

[2015-09-28 22:37] hermanlee commented on #55
<a href="https://github.com/hermanlee"><img src="https://avatars.githubusercontent.com/u/6656176?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [hermanlee](https://github.com/hermanlee)**
_Thursday Aug 27, 2015 at 21:29 GMT_

---

ldb support is there, but there is currently a rocksdb task for enhancing ldb to support multiple column families.

[2015-09-28 22:37] hermanlee commented on #55
<a href="https://github.com/maykov"><img src="https://avatars.githubusercontent.com/u/8107629?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [maykov](https://github.com/maykov)**
_Thursday Aug 27, 2015 at 21:46 GMT_

---

This task is about putting these tools into RPM

[2015-09-28 22:37] hermanlee opened #56 "Release Row Locks when necessary, Transaction API variant"
<a href="https://github.com/spetrunia"><img src="https://avatars.githubusercontent.com/u/2734550?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [spetrunia](https://github.com/spetrunia)**
_Tuesday Sep 01, 2015 at 23:02 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/105_

---

MyRocks needs to release row locks in some cases:
1. When a stat

[2015-09-28 22:37] hermanlee opened #57 "Add more information to SHOW ENGINE ROCKSDB TRANSACTION STATUS"
<a href="https://github.com/jkedgar"><img src="https://avatars.githubusercontent.com/u/8951526?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jkedgar](https://github.com/jkedgar)**
_Friday Sep 04, 2015 at 17:29 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/106_

---

Mark Callaghan requested the following pieces of information to be avai

[2015-09-28 22:37] hermanlee opened #58 "DML statements over reverse-ordered CFs are very slow after #86."
<a href="https://github.com/spetrunia"><img src="https://avatars.githubusercontent.com/u/2734550?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [spetrunia](https://github.com/spetrunia)**
_Friday Sep 04, 2015 at 20:43 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/107_

---

Finally figured out why some DELETE queries got very slow (about

[2015-09-28 22:37] hermanlee commented on #58
<a href="https://github.com/spetrunia"><img src="https://avatars.githubusercontent.com/u/2734550?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [spetrunia](https://github.com/spetrunia)**
_Friday Sep 04, 2015 at 20:50 GMT_

---

Possible solutions:
1. Fix https://github.com/facebook/rocksdb/issues/616.  This might be complex.
2. We only care about the scenario where S

[2015-09-28 22:37] hermanlee commented on #58
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yoshinorim](https://github.com/yoshinorim)**
_Saturday Sep 05, 2015 at 02:09 GMT_

---

@spetrunia : According to Siying, it is safe to mutable WriteBatchWithIndex while iterating it if using in a right way (the most importan

[2015-09-28 22:37] hermanlee commented on #58
<a href="https://github.com/siying"><img src="https://avatars.githubusercontent.com/u/5334567?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [siying](https://github.com/siying)**
_Tuesday Sep 08, 2015 at 17:40 GMT_

---

@igorcanadi added a test case for mutating WriteBatchWithIndex: https://reviews.facebook.net/D39501

So you should be able to add/remove keys from it

[2015-09-28 22:37] hermanlee commented on #58
<a href="https://github.com/spetrunia"><img src="https://avatars.githubusercontent.com/u/2734550?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [spetrunia](https://github.com/spetrunia)**
_Tuesday Sep 08, 2015 at 17:58 GMT_

---

@yoshinorim @siying thanks for clarification.  My example was overly simplified, in the actual code MyRocks copies away the key/value it has

[2015-09-28 22:37] hermanlee commented on #58
<a href="https://github.com/spetrunia"><img src="https://avatars.githubusercontent.com/u/2734550?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [spetrunia](https://github.com/spetrunia)**
_Tuesday Sep 08, 2015 at 17:59 GMT_

---

https://reviews.facebook.net/D45873 (Issue #86 patch) is now updated to make use of this

[2015-09-28 22:37] hermanlee opened #59 "rocksdb.cardinality and other tests fail assert in rocksdb::port::PthreadCall"
<a href="https://github.com/spetrunia"><img src="https://avatars.githubusercontent.com/u/2734550?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [spetrunia](https://github.com/spetrunia)**
_Tuesday Sep 08, 2015 at 17:28 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/108_

---

The test rocksdb.cardinality (and sometimes other tests) fail li

[2015-09-28 22:37] hermanlee commented on #59
<a href="https://github.com/rven1"><img src="https://avatars.githubusercontent.com/u/8718743?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [rven1](https://github.com/rven1)**
_Tuesday Sep 08, 2015 at 18:40 GMT_

---

I will try it out.

[2015-09-28 22:37] hermanlee commented on #59
<a href="https://github.com/rven1"><img src="https://avatars.githubusercontent.com/u/8718743?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [rven1](https://github.com/rven1)**
_Wednesday Sep 09, 2015 at 01:21 GMT_

---

I have run the following
./mysql-test/mtr --suite=rocksdb cardinality --mysqld=--default-storage-engine=rocksdb
and it has passed so far.
I will try t

[2015-09-28 22:39] hermanlee opened #60 "background space reclaim isn't working after DROP DATABASE"
<a href="https://github.com/mdcallag"><img src="https://avatars.githubusercontent.com/u/1641037?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mdcallag](https://github.com/mdcallag)**
_Tuesday Sep 15, 2015 at 14:55 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/111_

---

My test loop ran 24 iterations and at the end of each iteration the

[2015-09-28 22:39] hermanlee commented on #60
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yoshinorim](https://github.com/yoshinorim)**
_Tuesday Sep 15, 2015 at 17:41 GMT_

---

Here is my understanding about what is going on:
- Created tables (and assigning index_ids in ascending order) and filled data. LinkBench

[2015-09-28 22:39] hermanlee opened #61 "Enable specifying per column family options without a separate config file"
<a href="https://github.com/hermanlee"><img src="https://avatars.githubusercontent.com/u/6656176?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [hermanlee](https://github.com/hermanlee)**
_Wednesday Sep 16, 2015 at 00:39 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/112_

---

The current mechanism to specify per column family options req

[2015-09-28 22:39] hermanlee opened #62 "Add rocksdb-specific tests to parts suite"
<a href="https://github.com/maykov"><img src="https://avatars.githubusercontent.com/u/8107629?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [maykov](https://github.com/maykov)**
_Wednesday Sep 16, 2015 at 18:32 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/113_

---

Parts suite has specific tests for innodb, myisam and memory engines. W

[2015-09-28 22:39] hermanlee opened #63 "Refine checkpoint logic in MyRocks"
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yoshinorim](https://github.com/yoshinorim)**
_Wednesday Sep 16, 2015 at 23:27 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/114_

---

I'd like checkpoint logic to be refactored as follows.
1. Re

[2015-09-28 22:39] hermanlee opened #64 "Using SingleDelete() in MyRocks"
<a href="https://github.com/yoshinorim"><img src="https://avatars.githubusercontent.com/u/253614?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yoshinorim](https://github.com/yoshinorim)**
_Thursday Sep 17, 2015 at 18:49 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/115_

---

RocksDB added SingleDelete() support (https://reviews.faceboo

[2015-09-28 22:39] hermanlee opened #65 "Reduce rocksdb_sys_vars suite to one test"
<a href="https://github.com/maykov"><img src="https://avatars.githubusercontent.com/u/8107629?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [maykov](https://github.com/maykov)**
_Saturday Sep 19, 2015 at 00:01 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/116_

---

rocksdb_sys_vars has tests which are generated based on template. This i

[2015-09-28 22:39] hermanlee opened #66 "Automatically setup bootstrap for rocksdb tests"
<a href="https://github.com/maykov"><img src="https://avatars.githubusercontent.com/u/8107629?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [maykov](https://github.com/maykov)**
_Saturday Sep 19, 2015 at 00:04 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/117_

---

rocksdb tests are skipped unless mtr is started like this:
--mysqld=--de

[2015-09-28 22:39] hermanlee opened #67 "Possible memory leak in RDBSE_KEYDEF::setup"
<a href="https://github.com/spetrunia"><img src="https://avatars.githubusercontent.com/u/2734550?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [spetrunia](https://github.com/spetrunia)**
_Monday Sep 14, 2015 at 10:17 GMT_
_Originally opened as https://github.com/MySQLOnRocksDB/mysql-5.6/issues/110_

---

The code there has this comment:

[code]

The suspicion is true.

[2015-09-29 19:10] yoshinorim opened #68 "CREATE INDEX on large table takes very long time"
After https://reviews.facebook.net/D45873 (Transaction support) was committed, rocksdb.cardinality test started taking very long time at "create index t1_1 on t1 (id, i1);". It tried to create an index on a table t1 that had 100,000 rows, and it never finished (and reached 900 seconds timeout on my mtr).

Here is a stack trace. One CPU core used 100% CPU time.
std::__detail::_Hash_code_base<std::s

[2015-09-29 19:14] hermanlee commented on #48
Is failing the system when there are tables with .frm files but not using the rocksdb storage engine too restrictive? It seems like there could be generic uses cases for creating tables with other storage engines.

[2015-09-29 19:17] yoshinorim commented on #48
As far as it's configurable, I think failing the system at startup is ok. Creating tables with other storage engines may happen on temporary tables, but tmp tables can easily be filtered out.

[2015-09-29 19:22] hermanlee commented on #48
There are also tables created using the blackhole engine though that persist across restarts. The current checks would always fail for them.

[2015-09-29 19:34] jkedgar commented on #43
I didn't receive any comments on my questions.  The questions are again:

1) The request is for options like rocksdb_bytes_per_sync to be configurable via MySQL, but this option is not dynamically configurable (the only dynamically configurable options appear to be specified in rocksdb/util/options_helper.cc and 'bytes_per_sync' is not listed).  Should I just ignore this and do all the other dynam

[2015-09-29 21:18] hermanlee commented on #43
cc @yoshinorim

[2015-09-29 22:16] yoshinorim commented on #43
1) Some parameters like Rate Limiter is not configurable via options, but has an interface at util/rate_limiter.h::SetBytesPerSecond(). So some special handling is needed to configure Rate Limiter settings. I hope there aren't many parameters like it.

2) Is CF handle needed to change DB options too? I think we should start from dynamic DB options. We won't need dynamic CF options very much. You'd

[2015-09-29 22:21] jkedgar commented on #43
2) Maybe I'm not understanding, but the DB::SetOptions() method takes a column family as the first argument.  There is a version that doesn't, but it just calls the other version with DefaultColumnFamily().  I'll also try to talk to Siying and Venkey.

[2015-09-29 22:23] jkedgar opened #69 "The rocksdb.statistics test, which used to take about 65 seconds, now takes over 900 seconds and fails in MTR"
It appears that the pessimistic locking changes are the culprit. With the code right before this diff the time for this test is about 65 seconds.  With this code change the MTR aborts after 900 seconds with a timeout failure.

[2015-09-29 22:24] jkedgar commented on #68
I just created Issue #69 which may be the same problem.

[2015-09-29 23:03] rven1 commented on #43
DBOptions are not dynamically changeable. eg. bytes_per_sync and rate_limiter
Dynamic options per column family have to be changed for each column family.

[2015-09-29 23:11] yoshinorim commented on #68
Yes, it's the same problem. Could you please close #69?

The problem was many inserts within the same transaction slows down performance a lot (looks like O(n^2) order). Here is an easy way to reproduce.

[code]

INSERTs within the same transaction:
1000:  0m0.151s
10000: 0m6.752s
20000: 0m25.508s

CREATE INDEX in rocksdb.cardinality test is equivalent to 100,000 inserts within the same transactio

[2015-09-29 23:13] jkedgar commented on #43
So there are database-wide options that are not dynamically changeable and there are some column family options which are dynamically changeable.  Here's a list of the options that I see that are dynamically configurable:

Memtable options:
- write_buffer_size
- arena_block_size
- memtable_prefix_bloom_bits
- memtable_prefix_bloom_probes
- memtable_prefix_bloom_huge_page_tlb_size
- max_successive_

[2015-09-29 23:15] jkedgar commented on #69
This appears to be caused by the same issue as #68.  Closing this one.

[2015-09-29 23:15] #69 closed, assigned to spetrunia

[2015-09-29 23:25] yoshinorim commented on #68
Anthony is looking at the issue.

[2015-09-30 00:03] agiardullo commented on #68
https://reviews.facebook.net/D47787

[2015-09-30 16:24] yoshinorim commented on #68
Fix committed -- https://reviews.facebook.net/D47799

[2015-09-30 16:24] #68 closed, assigned to spetrunia

[2015-09-30 16:28] jkedgar commented on #43
After getting confirmation that I do have to update each column family to set any of these values as well as information that the rate limiter option is set-able using a different method, I've been thinking more about how this will work.

My assumption is that calling `SET <variable> = <value>` would not persist beyond the life of the server (i.e. rebooting the mysqld process would cause this info

[2015-09-30 16:53] jkedgar commented on #30
When I follow the links back, it looks like this problem may have been resolved (https://reviews.facebook.net/D39027).  Can we close it?

[2015-09-30 17:28] #30 closed, assigned to nobody

[2015-09-30 17:28] #31 closed, assigned to nobody

[2015-09-30 18:34] spetrunia commented on #59
Still fails (that is, crashes) on a fairly freshly installed Ubuntu 15.04 (before, I was using Ubuntu 14.04.2 LTS)

[2015-09-30 18:39] spetrunia commented on #59
I've tried following @rven1 's suggestion that MyRocks isn't stopping its background threads. It signals them to stop but doesn't wait for them to stop. So I have added waiting:

[code]

.. and this didn't help

[2015-09-30 18:51] spetrunia commented on #59
Debugging what is done from which thread:

[code]

This shows that
- rocksdb_init_func() is called from the thread that main() runs in
- but rocksdb_done_func() is called from a different thread.

A stack trace of where it is called:

[code]

Is it a problem that RocksDB instance is opened in one thread and closed in another?

[2015-09-30 18:53] rven1 commented on #59
In that case, the thread which called main might still be alive and have thread local storage, while the thread which calls rocksdb_done_func will free up the posix_env which contains the mutex, so that the bug will still be there.

[2015-09-30 19:03] yoshinorim opened #70 "With many indexes, INSERT (bulk loading) takes much longer time with Transaction API"
How to repeat:

[code]

Result:
Without Transaction API

[code]

With Transaction API

[code]

With Transaction API, rocksdb::ReadRecordFromWriteBatch(), rocksdb::WriteBatchEntryComparator::CompareKey(), rocksdb::WriteBatchEntryComparator::operator() and rocksdb::ReadableWriteBatch::GetEntryFromDataOffset() used ~60% CPU time in total.

[2015-09-30 19:04] yoshinorim commented on #70
"BEGIN; INSERT (100,000 rows in total); COMMIT;" time was not much different -- 9.3s with Transaction API, 7.8s without Transaction API.

[2015-09-30 21:15] yoshinorim commented on #70
With Transaction API, USER_KEY_COMPARISON_COUNT was 87x larger than without Transaction API. Other status counters did not show major differences.

[2015-09-30 21:32] yoshinorim commented on #70
after 10M rows insert:
| USER_KEY_COMPARISON_COUNT       |  100011 |

create index r1_1 on r1 (id, i1);
| USER_KEY_COMPARISON_COUNT       | 17982708 | (+17882697)

create index r1_2 on r1 (i1, i2);
| USER_KEY_COMPARISON_COUNT       | 44478271 | (+26495563)

create index r1_3 on r1 (i2, i1);
| USER_KEY_COMPARISON_COUNT       | 81287050 | (+36808779)

create index r1_4 on r1 (c1, c2);
| USER_KEY_COM

[2015-09-30 22:13] yoshinorim commented on #70
When inserting rows into a table with many indexes, USER_KEY_COMPARISON_COUNT increased a lot during inserts.

[code]

Inserting 100,000 rows via single transaction:
- With TX API:
  0m23.498s
  | USER_KEY_COMPARISON_COUNT       | 60042914 |
- NO TX API:
  0m9.452s
  | USER_KEY_COMPARISON_COUNT       |   600018 |

[2015-09-30 22:23] yoshinorim commented on #70
On auto-committed insert:
INSERT INTO r1 VALUES (1, 1, 1, 1, 1);
26  (+26)
INSERT INTO r1 VALUES (2, 2, 2, 2, 2);
181 (+155)
INSERT INTO r1 VALUES (3, 3, 3, 3, 3);
378 (+197)
INSERT INTO r1 VALUES (4, 4, 4, 4, 4);
600 (+222)
INSERT INTO r1 VALUES (5, 5, 5, 5, 5);
870 (+270)

[2015-10-01 00:16] yoshinorim opened #71 "Manage global index id as (cf_id, index_id)"
Currently we allocate index_id as unique index identifiers. Technically global identifier should be (cf_id, index_id), and same index ids can overlap different column families. Introducing global index id (cf_id, index_id) will make some operations easier. For example, suppose exporting all indexes from CF A then importing to new CF B on another existing instance. Import may not work with current

[2015-10-01 02:45] mdcallag commented on #43
In MySQL-land SET options only exist for the life of the process. MySQL
operations is happy with that as they avoid a mysqld restart thanks to SET,
and in the background do their magic to update my.cnf files

On Wed, Sep 30, 2015 at 9:28 AM, Jay Edgar notifications@github.com wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2015-10-01 16:36] spetrunia commented on #70
I've tried running INSERTs, starting from an empty table. I've counted
USER_KEY_COMPARISON_COUNT values.
The statements were:

[code]

Table with primary key only:

[code]

Table with PK and 5 secondary indexes:

[code]

120 = 6 \* 20,  if we have 6x indexes, we get 6x comparisons...
(All of the above is about running with the Transaction API )

[2015-10-01 16:40] spetrunia commented on #70
Following yesterday's discussion: here's a patch that makes secondary index
writes bypass Transaction API's locking system:
https://gist.github.com/spetrunia/3fd87cdf0f09cbed115b

With this patch and table with PK + 5 secondary indexes, I get:

[code]

That is, the number of comparisons is way down. I'll now check whether the patch removes the slowdown.

[2015-10-01 17:13] spetrunia commented on #70
Alas, the above patch doesn't make any difference in performance of `CREATE INDEX` statements.

Without the patch:

[code]

With the patch:

[code]

On the same machine, a tree from before the transaction API:

[code]

[2015-10-01 17:14] hermanlee opened #72 "Transaction errors during bulk loading and restoring of mysql tables"
I'm encountering issues with the new Transaction engine when trying to bulk load and restore a mysql dump. Is this caused by a long running transaction that lasts through multiple memtable flushes of the same column family?

ERROR 1815 (HY000) at line 47890: Internal error: Operation failed. Try again.: Transaction could not check for conflicts for opearation at SequenceNumber 13609984517 as the M

[2015-10-01 17:14] hermanlee commented on #72
@yoshinorim @spetrunia

[2015-10-01 17:37] spetrunia commented on #70
trying to investigate where the slowdown comes from

[2015-10-01 20:47] agiardullo commented on #70
Based on the stack Yoshinori gave, this could be a perf issue with WriteBatchWithIndex in Rocksdb.  I will investigate this further.

One optimization could be to have an option to have write-optimized transactions where we do not index the keys if we do not expect to do any Get/GetForUpdate.  Would that make sense for index builds?

[2015-10-01 20:58] spetrunia commented on #70
Write-optimized transactions would make sense, although taking advantage of them might require some efforts in MyRocks.

(Currently, MyRocks relies on SQL layer's "fall-back" ALTER TABLE implementation. As a consequence, it doesn't care/know whether the current statement is ALTER TABLE or some other statement. If we want ALTER TABLE to use write-optimized transactions, MyRocks will need to impleme

[2015-10-01 20:59] rven1 commented on #59
Another possibility is that thread which called main exited first, freeing static data of StaticMeta and then a different thread comes to free its thread local storage and fails to get the mutex_
That probably explains why it only happens on ubuntu.

[2015-10-01 21:32] yoshinorim commented on #70
Note that auto-committed INSERT performance was not degraded with Sergey's patch.

many index, with tx api (with Sergey's patch):
1m15.382s for inserting 100k with auto committed

many index, without tx api:
1m22.594s for inserting 100k with auto committed

About bulk-loading optimizations in MyRocks, being aware of rocksdb_bulk_load session variable can be good start I think. Auto-detecting ALTER

[2015-10-01 22:45] agiardullo commented on #70
Write-optimized transactions would only make sense if we didn't do any (or very few) gets.  From the stack Yoshinori showed me, it looks like ha_rocksdb::update_write_row() still calls transaction::Get() during the alter table.

[2015-10-01 23:01] yoshinorim commented on #70
MyRocks calls Get() for uniqueness checking on primary key. It doesn't call Get for all the rest keys (secondary keys), so I assume write optimized transactions will help here.

[2015-10-02 11:13] spetrunia commented on #72
Yes.

I guess also  `@@rocksdb_bulk_load` is not doing as much as it could be doing with TransactionAPI. We could make it bypass any Transaction API locking/checks.

[2015-10-02 13:12] spetrunia commented on #70
@agiardullo , what do you think about the patch pasted above (https://gist.github.com/spetrunia/3fd87cdf0f09cbed115b )?  Is it ok to call txn->GetWriteBatch() and then inject writes directly into the WriteBatchWithIndex ?  (This is assuming that injected writes will not cause any conflicts)

[2015-10-02 13:22] spetrunia commented on #72
I'm also wondering whether this limitation of the Transaction API is an inherent limitation.   I recall that all RocksDB on-disk files store trx numbers together with the row, except the files at the last level.   This means, Transaction API can check the row version for on-disk records, too, as long as these records are not in the last level.

[2015-10-02 16:53] hermanlee commented on #72
I'm rerunning with a smaller bulk_load value to see if it'll behave better.

Yes. Maybe it'll also be sufficient to check the L0 files for the transaction ID since they will likely still be in memory and effectively gives us more "memtables" to check without increasing max_write_buffer_number_to_maintain.

[2015-10-02 19:05] agiardullo commented on #70
@spetrunia , Do you also fetch the key using GetForUpdate to make sure the it is locked and there are no write conflicts?

Maybe I should create a simple api to do this called something like PutUnindexed() which will do the Put, check for conflicts, but not index this record?  (In addition to improving the perf of indexing, which is still likely beneficial).

[2015-10-02 21:39] spetrunia opened #73 "rocksdb.drop_table test crashes when ran as part of test suite"
rocksdb.drop_table test crashes on Ubuntu 15.04 vivid. It doesn't crash when the test is run alone, but when I run the whole rocksdb test suite like this:

[code]

The test crashes like this:

[code]

[2015-10-02 21:41] spetrunia commented on #73
tip changeset: 94cbe18e1817aeae076e52c9b9c286c8b39d2fb4

[2015-10-02 22:01] yoshinorim commented on #73
I think rdb_datadic.cc:1993 is  "return rdb->Get(options, system_cfh, key, value);" Was any of these variables not initialized?

[2015-10-02 22:17] spetrunia commented on #73
It seems so. The other thread is in

[code]

which is

[code]

so, rdb is not yet initialized.

[2015-10-02 22:26] spetrunia commented on #73
Indeed, if I add this

[code]

I get the printed line in the error log right before the crash.

[2015-10-02 22:34] hermanlee commented on #73
Would it be better to fix this in RocksDB? Seems like other applications would hit this problem too if they used CompactionFilters. Maybe a new db_option that delays starting the background threads of rocksdb until a call like StartAllBackgroundWork() is invoked?

[2015-10-02 22:37] spetrunia commented on #73
I think, it would be nice if there was a StartAllBackgroundWork()  call.
Otherwise, our options are:
- Add  "if (!rdb) { return false; }"  into  Dict_manager::is_drop_index_ongoing(). Not perfect.
- Make Rdb_CompactionFilterFactory::CreateCompactionFilter() wait until global `rdb` pointer is initialized.   This will cause problem if DB::Open decides to wait till compaction starts

[2015-10-02 22:39] spetrunia commented on #73
Suppose, the instance is started after being crashed.  It means it is reading data from its log file. I assume it won't start until the log file is read and put into MemTable.   Will the recovery process attempt to apply compaction filter while recovering data from the transaction log?

[2015-10-02 22:44] spetrunia commented on #73
Ok the above didn't happen when I tried it

[2015-10-02 22:44] agiardullo commented on #73
So it looks like the race condition has previously existed in DB:Open, but is a small enough window for it to ever be a problem.  Unfortunately, with TransactionDB::Open, there is probably a larger change of this happening as more work is done after the db mutex is release and Open returns.

I will look into coming up with a fix.  In the meantime, you could probably work around this by checking if

[2015-10-02 22:48] hermanlee commented on #73
Thanks Anthony. I was thinking if we had to fix this in MyRocks, the properties_collector could potentially be invoked too after compaction is done, so it'd be another place that needs a workaround.

[2015-10-02 22:50] spetrunia commented on #73
Ok, thanks. I'll use the workardound meanwhile.

[2015-10-02 23:11] agiardullo commented on #73
Ok, can look into fixing the dbptr issue.  This would enable you to do the Get during the background compaction.  However, we don't think it is safe to do any Puts during compaction.  There are some potential bootstrapping/infinite-loop issues here that would take us a while to figure out how to resolve.  (I will update the compaction_filter documentation since this isn't actually mentioned anywhe

[2015-10-02 23:26] maykov commented on #73
I will take care of not calling Put on the background thread. Will marshal to a separate thread.

[2015-10-03 00:51] spetrunia commented on #70
No, MyRocks doesn't use GetForUpdate for regular updates or inserts. (the exception is unique secondary indexes. These need to maintain uniqueness, and uniqueness from SQL point of view is different from uniqueness from RocksDB's point of view).

I'm hesitant about committing to adding a new API. I think we should first explore, what takes the time and what we will want this API to do or not do.

[2015-10-03 00:54] spetrunia commented on #70
(will soon have a variant of bulk insert mode done that uses Transaction API.. we'll see which part of the work took the time)

[2015-10-05 17:02] hermanlee opened #74 "Assertion `ikey_.type != kTypeDeletion && ikey_.type != kTypeSingleDeletion' failed."
After restoring a large database into rocksdb and having it run for a short time, I'm hitting an assertion in the rocksdb compaction iterator.

2015-10-05 00:58:57 683994 [Note] LibRocksDB:[cf_fbobj_pk] [JOB 5] Generated table #346829: 81031 keys, 33719400 bytes
2015-10-05 00:58:57 683994 [Note] LibRocksDB:EVENT_LOG_v1 {"time_micros": 1444031937677896, "cf_name": "cf_fbobj_pk", "job": 5, "event":

[2015-10-05 19:23] yoshinorim opened #75 "Prefix bloom filter is not used for LinkBench style range scan"
How to repeat:

[code]

stack trace was like this:

[code]

This query's eq cond length will have to be 21. (4B index_id + 8B id1 + 8B linktype + 1B visibility). slice included 8B time, so the size of the slice was 29.

https://reviews.facebook.net/D46851 fixed range scans calling read_range_first(), but this LinkBench style query entered different code path --- QUICK_SELECT_DESC::get_next() -> ha

[2015-10-05 19:34] yoshinorim commented on #75
@spetrunia I think we'll have to modify storage engine API itself like below. What are your thoughts?

Current:

[code]

To Be:

[code]

Then:
- Modifying some callers (opt_range.cc) to add start or end range key
- Extending handler::ha_index_read_map in MyRocks to take care of range keys

[2015-10-06 00:51] yoshinorim commented on #75
Here is a diff: https://reviews.facebook.net/D48213

[2015-10-06 01:40] ivan opened #76 "Build fails with 'invalid conversion' in tests"
This is on Ubuntu 14.04.  I did

[code]

and I see:

[code]

Is this gmock-related?  Did `cmake . -DENABLE_DOWNLOADS=1` get the wrong version of it?

[2015-10-06 04:56] ivan opened #77 "After shutdown, 'pthread lock: Invalid argument' from rocksdb::ThreadLocalPtr::StaticMeta::OnThreadExit"
I hit ctrl-\ to shut down my mysqld instance (started with `$HOME/mysql/bin/mysqld --skip-innodb --rocksdb=FORCE --default-storage-engine=rocksdb --default-tmp-storage-engine=rocksdb --sql-mode=traditional --skip-networking`) and saw:

[code]

I have not managed to reproduce this yet, so it probably happens only rarely.

I'm running Ubuntu 14.04 with a 15.04 kernel.

The full log is at https://www

[2015-10-06 06:57] ivan commented on #77
Same crash spotted a second time.  The server might have to be running for many minutes for it to crash on shutdown; not sure.

[2015-10-06 19:41] yoshinorim opened #78 "Support Read Committed isolation level in MyRocks"
How to repeat:

[code]

With RC, Client 2 should succeed, but kBusy error returned.

[2015-10-06 20:27] yoshinorim commented on #78
rocksdb.level_read_committed is a good test case. Currently it is disabled.

[2015-10-06 21:41] yoshinorim opened #79 "Use SetSnapshotOnNextOperation() in MyRocks"
Currently LinkBench returns lots of kBusy errors.
Let's use this feature once it's committed in RocksDB -- https://reviews.facebook.net/D48099

[2015-10-06 22:46] #54 closed, assigned to yoshinorim

[2015-10-07 00:11] #46 closed, assigned to spetrunia

[2015-10-07 00:13] #24 closed, assigned to nobody

[2015-10-07 00:17] jtolmer commented on #21
This test is currently disabled in our CI system because of these failures. It needs to be fixed.

[2015-10-07 00:34] yoshinorim commented on #27
Note that SingleDelete() can't be used if Read Free Replication is used.

[2015-10-07 00:39] yoshinorim commented on #44
We're aware of an issue that DROP TABLE does not claim space correctly. We're working on a fix and issue#60 is tracking the problem. Closing this issue and will update at #60.

[2015-10-07 00:39] #44 closed, assigned to nobody

[2015-10-07 00:41] yoshinorim commented on #25
XA means XA between binlog and MyRocks -- writing xid into MyRocks, and proper roll forward/rollback at crash recovery.

[2015-10-07 00:44] yoshinorim commented on #58
@spetrunia  I think this is no longer an issue and #70 is tracking the rest performance issue with large data sets. Could you close this issue?

[2015-10-07 01:53] yoshinorim commented on #74
https://reviews.facebook.net/D48207 fixed the issue.

[2015-10-07 01:53] #74 closed, assigned to nobody

[2015-10-07 08:01] #41 closed, assigned to maykov

[2015-10-07 19:54] jkedgar commented on #48
Fixed: https://reviews.facebook.net/D47619

[2015-10-07 19:54] #48 closed, assigned to jkedgar

[2015-10-07 22:40] maykov commented on #77
Is there any way you could provide a crash dump which includes function names?
Is it the same crash is in here: https://github.com/facebook/mysql-5.6/issues/73

[2015-10-07 23:16] #55 closed, assigned to nobody

[2015-10-07 23:19] #72 closed, assigned to nobody

[2015-10-07 23:22] maykov opened #80 "Test failure caused by "Transaction could not check for conflicts""
rocksdb.statistics failes due to:
mysqltest: At line 38: query 'create index t3_1 on t3(b) comment 'cf_t3'' failed: 1815: Internal error: Operation failed. Try again.: Transaction could not check for conflicts for opearation at SequenceNumber 650126 as the MemTable only contains changes newer than SequenceNumber 650128. Increasing the value of the max_write_buffer_number_to_maintain option could r

[2015-10-07 23:43] yoshinorim commented on #64
https://reviews.facebook.net/D48015

[2015-10-07 23:43] #64 closed, assigned to yoshinorim

[2015-10-08 18:38] hermanlee commented on #80
With larger databases running under MyRocks, I'm seeing this error now during replication:

Worker 13 failed executing transaction '6b19fa94-6714-11e5-adb0-f45214cc33ca:30184' at master log binary-logs-3307.000428, end_log_pos 251914869; Error 'Internal error: Operation failed. Try again.: Transaction could not check for conflicts for opearation at SequenceNumber 27276873577 as the MemTable only c

[2015-10-09 02:05] agiardullo commented on #80
For now, you can try to increase the setting max_write_buffer_number_to_maintain.

I am going to investigate a more manageable solution to having to set this parameter.

[2015-10-09 02:39] yoshinorim opened #81 "Table based rocksdb_strict_collation_check"
Currently, by default, MyRocks does not allow CHAR/VARCHAR indexes with other than utf8_bin, latin1_bin or binary collation. This is implemented at https://reviews.facebook.net/D45753, and by setting rocksdb_strict_collation_check=0, any other collation can be accepted.

We may need more fine-grained settings. Some of our existing tables are not easy to move to case sensitive, and they are not fre

[2015-10-09 10:14] spetrunia opened #83 "rocksdb_db_write_buffer_size is meaningless"
The variable @@rocksdb_db_write_buffer_size exposed by MyRocks is not connected to any setting inside RocksDB.

Grepping for db_write_buffer_size, I find only this

[code]

That is, the variable is defined but not used.

[2015-10-09 10:44] spetrunia opened #84 "@@rocksdb_force_flush_memtable_now flushes only default column family"
It calls:

[code]

which calls

[code]

One can also observe that
INFORMATION_SCHEMA.ROCKSDB_CFSTATS.CUR_SIZE_ACTIVE_MEM_TABLE is
not decreasing for non-default column families.

[2015-10-09 17:38] maykov commented on #84
Yes, I also found this issue. Actually, It took me a day of debugging to figure it out. I will fix this in my next commit. Should be easy fix.

[2015-10-12 19:07] yoshinorim commented on #70
I tested https://reviews.facebook.net/D48471 as below, and verified bulk load time was as good as without transaction api.

[code]

[2015-10-12 19:38] agiardullo commented on #70
Fyi, indexing is enabled by default so you don't need to call EnableIndexing() unless you previously may have called DisableIndexing().

[2015-10-12 23:36] hermanlee commented on #76
There are a couple of compile problems with the gunit code and our patches. I've pushed  https://reviews.facebook.net/D48351and https://reviews.facebook.net/D48345, which should fix the two issues I found.

[2015-10-13 16:36] yoshinorim commented on #71
https://reviews.facebook.net/D48477

[2015-10-13 16:36] #71 closed, assigned to jkedgar

[2015-10-13 17:02] jkedgar commented on #43
https://reviews.facebook.net/D48339

[2015-10-13 17:02] #43 closed, assigned to jkedgar

[2015-10-13 18:25] spetrunia commented on #75
A patch based on using handler->set_end_range call: https://gist.github.com/spetrunia/a3b677dc76bb07ceacb6

[2015-10-13 18:29] spetrunia commented on #75
Oops, accidentally left a change that I used to prevent drop_index_thread from messing with my debugging.
Updated patch: https://gist.github.com/spetrunia/92e1d565d0ea206d5cea

[2015-10-13 18:56] spetrunia commented on #75
Same patch but made with "--no-prefix":  https://gist.github.com/spetrunia/439b5c3bca2caf03fe5d

[2015-10-13 19:10] spetrunia commented on #75
Added missing changes: https://gist.github.com/spetrunia/b00485c0daa2ebcf0056

[2015-10-14 21:36] #76 closed, assigned to nobody

[2015-10-15 20:44] yoshinorim commented on #75
https://reviews.facebook.net/D48639

[2015-10-15 20:44] #75 closed, assigned to nobody

[2015-10-15 22:44] jkedgar commented on #67
https://reviews.facebook.net/D48801

Note: the example presented above will no longer run, as the wait (DEBUG_SYNC) is now called while holding a mutex and the code to release the mutex won't get hit until after a different connection gets and releases the mutex.  If you try to run this, you will get a deadlock.

[2015-10-15 22:44] #67 closed, assigned to jkedgar

[2015-10-16 00:03] yoshinorim opened #85 "Support Transportable Table"
There are some use cases where we want to copy tables to another instance in binary format. Dump and reload is much slower than binary copy.

[2015-10-16 02:23] maykov commented on #77
Let me know, if you're still seeing this.

[2015-10-16 02:23] #77 closed, assigned to nobody

[2015-10-16 03:36] maykov commented on #20
I hope, it builds now. Let me know if not.

[2015-10-16 03:36] #20 closed, assigned to nobody

[2015-10-16 22:19] yoshinorim opened #86 "Add WDT support for myrockshotbackup"
Current streaming backup supports basic features only. The following features are very nice to have.
- sync_file_range() on remote host
- retrying on transmitting errors
- throttling
- parallelism

I talked with Laurent and WDT may fill the gaps.

[2015-10-20 22:41] maykov commented on #21
Sergey, any update on this?

[2015-10-20 23:25] mdcallag commented on #80
typo: opearation -> operation

Also, error message can suggest increase write_buffer_size

[2015-10-20 23:50] hermanlee commented on #83
I think the option is passed to the WriteBuffer() constructor in rocksdb/db/writebuffer.h, where it is accessed in the ShouldFlush() routine. The comment in the header file states:

  // Amount of data to build up in memtables across all column
  // families before writing to disk.
  //
  // This is distinct from write_buffer_size, which enforces a limit
  // for a single memtable.
  //
  // This

[2015-10-21 00:14] hermanlee commented on #40
Performing the row_counters need to be efficient. Using atomic counters across multiple threads (especially rows_read) can cause too much contention. Look at innodb's srv_stats_t structure on an example of how ib_counters_t were implemented.

[2015-10-21 19:58] jkedgar commented on #81
https://reviews.facebook.net/D49035

[2015-10-21 19:58] #81 closed, assigned to jkedgar

[2015-10-21 20:02] jkedgar commented on #61
https://reviews.facebook.net/D48627

[2015-10-21 20:02] #61 closed, assigned to jkedgar

[2015-10-21 22:29] yoshinorim commented on #70
At a meeting yesterday, I think we agreed to skip using Transaction API for bulk loading. I think that if bulk loading path should be used or not can be checked as follows.

[code]

[2015-10-21 23:00] maykov commented on #70
How about statements like delete from r1 where i1%2 =0; Will they remain slow?

[2015-10-21 23:02] yoshinorim commented on #70
@maykov Long-running updates such as your example will continue to be slow. But they won't be executed often, since slaves will lag a lot, regardless of bulk-load optimization.

[2015-10-21 23:12] maykov commented on #70
It would be nice to get them fixed though eventually. Working on rocksdb.cardinality and rocksdb.statistics tests is much harder now.

[2015-10-21 23:14] yoshinorim commented on #70
@maykov I think making tests faster (reducing the number of rows, updating/deleting less number of rows) is better workaround.

[2015-10-21 23:15] maykov commented on #70
sounds good

[2015-10-22 19:23] spetrunia commented on #70
Applied my patch over the current tree. For some reason, it is making ALTER TABLE statements slower. I'm investigating why

[2015-10-22 21:47] maykov commented on #35
Implemented here: https://github.com/facebook/mysql-5.6/commit/6437dfed583a442760f6a0444ce564b1e4e699eb

[2015-10-22 21:47] #35 closed, assigned to maykov

[2015-10-22 22:59] spetrunia commented on #70
Ok, the problem was that the patch ended up writing into transaction's. WriteBatchWithIndex.

Here is a way to bypass indexing: https://gist.github.com/spetrunia/850075934c368d957376   This patch works without modifying the RocksDB API, but
1. It doesn't look pretty
2. the patch doesn't yet have tests, checks etc.
I'll continue to improve it.

[2015-10-23 21:30] maykov opened #87 "Split RocksDB LOG output"
Output full log to rocksdb LOG and error log to *.err

[2015-10-23 21:54] spetrunia opened #88 "Creating unique index over column with duplicate values succeeds"
[code]

Now, let's add a unique index:

[code]

It succeeds. It should fail.  Here is how it looks with a MyISAM table:

[code]

[2015-10-23 22:00] spetrunia commented on #88
This is related to how issue #70 should be fixed.

If I comment out these lines in ha_rocksdb.cc

[code]

I get the "Duplicate entry '1' for key 'a'" error, as it should be.

[2015-10-23 22:11] hermanlee commented on #88
This is a good test case to add to rocksdb.unique_sec.

[2015-10-23 23:39] yoshinorim commented on #79
Jay found an issue that RR may break if using non-locking Get() first. For example,
1. SELECT \* FROM t
2. SELECT \* FROM t FOR UPDATE
3. UPDATE...

Then SetSnapshotOnNextOperation() creates snapshot at 2, not 1.

Jay's comments:
I looked through the RocksDB code and calling SetSnapshotOnNextOperation() does _not_ create a snapshot when Get() is called.
In order for READ_REPEATABLE mode to work I

[2015-10-27 11:42] spetrunia commented on #70
# 1. Put() Variants

There are multiple variants of Put():
1. PutUntracked()
   - Acquires row lock on the record
   - Does not do the version check
     (don't need to call GetLatestSequenceForKeyFromMemtable($key) to check whether $key was modified since our snapshot)
     (Q: why does ha_rocksdb.cc have calls to PutUntracked() but not to  DeleteUntracked()?)
2. SingleDelete()
   - Regular trans

[2015-10-27 16:37] spetrunia commented on #88
At first, it looks like there is an easy solution: Don't call DisableIndexing() if the new table definition has a unique secondary key.

This is insufficient.
One can do this:

[code]

Note that one row is silently gone.

[2015-10-27 16:43] spetrunia commented on #88
There are two possible soutions:

# Complex solution

Analyze DDLs of the new table and of the old table and check if the old set of unique keys guarantees that uniqueness requirement of the new set of keys is satisfied.

# Simpler solution

Call DisableIndexing().  When writing data into a unique index (either primary or secondary),  call

[code]

This will cause 2 \* n_rows \* n_unique_indexes e

[2015-10-27 18:04] hermanlee commented on #70
I added the initial calls for PutUntracked() only for the bulk loading case to prevent mysql restores from tripping the sequence number issue.

[2015-10-28 17:18] yoshinorim commented on #63
Patch is here, but not complete yet: https://reviews.facebook.net/D47577

[2015-10-28 19:35] hermanlee opened #90 "Update statement returns ERROR 1815 (HY000): Internal error: NotFound:"
In trying to restore a large instance, replication fails on an update statement. The error returned is ERROR 1815: NotFound.

Select for the row using the exact parameters returns the row. For example:

UPDATE t1 SET t = 12345, v=1 WHERE s = 1 AND r = 2 and a = 10 and type='action' and v=0;
ERROR 1815 (HY000): Internal error: NotFound:

SELECT \* FROM t1 WHERE s = 1 AND r = 2 and a = 10 and type='

[2015-10-28 19:40] santoshbanda commented on #90
Does the update succeed if you run that manually outside the replication thread?

[2015-10-28 19:55] hermanlee commented on #90
It fails both within replication and manually running it from a mysql client.

[2015-10-29 00:35] spetrunia commented on #70
https://reviews.facebook.net/D49659

[2015-10-30 00:31] yoshinorim opened #91 "Log messages if RocksDB is disabled"
If RocksDB is disabled (InnoDB is enabled), log better messages so that users can easily figure out what is needed to enabled RocksDB.

The minimum feature required is a message in *.err. Otherwise we will make many early adopters waste time.

[2015-10-30 04:58] santoshbanda commented on #40
https://reviews.facebook.net/D49719

[2015-10-30 16:36] yoshinorim opened #92 "Fast table migration between instances"
We often migrate tables between instances. This has to be lightweight (not consuming lots of CPU / IO resources) and fast enough. We discussed couple of solutions and design plans. Currently there are the following solutions.
- Supporting transportable tablespace (binary copy) -- #85 . This is to develop a new feature to allow binary copy between instances.
- Making dump and data loading a lot fas

[2015-10-30 16:40] jkedgar commented on #92
I doesn't sound like we have identified which way is better.  Do we want to make a decision on one or the other or work on both in parallel and see which works better in the end?

[2015-10-30 16:47] yoshinorim commented on #92
Correct, we have not identified yet which is better. My impression is binary copy is much more difficult to implement than fast data loading, and fast data loading covers a lot more use cases (i.e. migrating from InnoDB to MyRocks, disaster recovery from backups), but we have no idea if fast data loading is fast enough. So yes, I'd like you to lead this task, researching with RocksDB team to see w

[2015-11-01 09:15] miumok98 opened #93 "Miu"

[2015-11-02 16:57] #93 closed

[2015-11-04 23:10] santoshbanda opened #94 "Update slave_gtid_info table inside myrocks"
Currently slave_gtid_info is updated by SQL threads inside MySQL layer. The replication repository framework in 5.6 (re-used in updating slave_gtid_info) is source of single threaded performance degradation. Look at this blog post for more details http://yoshinorimatsunobu.blogspot.com/2013/12/single-thread-performance-regression-in.html

It should be possible to update this table inside storage e

[2015-11-05 22:34] yoshinorim commented on #90
Fixed by https://reviews.facebook.net/D50247

[2015-11-05 22:34] #90 closed, assigned to nobody

[2015-11-07 00:04] spetrunia commented on #70
I have investigated cardinality.test failure.

The findings are:
Statistics calculation code in MyRocksTablePropertiesCollector::IndexStats::merge
simply sums up the put operations.
If somebody makes writes a table into file #1 on L0,
then makes updates that go to file #2 on L0,
then makes updates that go to file #3 on L0,
then statistics will display all these updates as if they were distinct row

[2015-11-07 00:11] spetrunia commented on #70
What I don't understand is why cardinality.test sometimes fails but sometimes doesn't.  I run the test alone, so it starts with a clean data directory.  Increasing MemTable size didn't help - the test still fails roughly 50% of the time.

[2015-11-07 00:17] hermanlee commented on #70
In working on the stats diff, I've added a call to flush out the memtables before each test. Since the statistics are calculated during memtable flushes/compactions, the tests were producing different optimizer query plans depending on when memtables get full and are flushed.

[2015-11-07 01:00] RoelVdP opened #95 "SELECT query using JSON_VALID fails"
FB-mysql-5.6.24-linux-x86_64-dbg/bin/mysqld
mysql> SELECT JSON_VALID(REPEAT('{"a":',100000));
ERROR 2013 (HY000): Lost connection to MySQL server during query

mysql-5.7.9-linux-glibc2.5-x86_64/bin/mysqld-debug
mysql> SELECT JSON_VALID(REPEAT('{"a":',100000));
ERROR 3157 (22032): The JSON document exceeds the maximum depth.

mysql-5.6.23-linux-x86_64/bin/mysqld
mysql> SELECT JSON_VALID(REPEAT('{"a

[2015-11-07 01:01] RoelVdP commented on #95
It could be that the ported feature requires a patch available in a later 5.7 release.

[2015-11-07 02:22] RoelVdP opened #96 "Manual does not clarify how to activate RocksDB with mysqld"
If you want to enable RocksDB in fb-mysql, you need to use something like;

[--no-defaults] --default-tmp-storage-engine=MyISAM --rocksdb --skip-innodb --default-storage-engine=RocksDB

This did not seem to be mentioned anywhere in the manual/rocksdb.org. Was only by researching that I found --rocksdb, then testing that found --skip-innodb --default-tmp-storage-engine=MyISAM and finally found http

[2015-11-07 02:29] RoelVdP opened #98 "mysqld fails to print any crash related information to error log for most crashes (semi-QA blocker)"
Server fails to write crash info to mysqld error log.

Use a crashing statement like: `SELECT JSON_VALID(REPEAT('{"a":',100000));`,

Then check the error log. It will not contain any crash related information, last line will be:

Version: '5.6.24-debug'  socket: '/sda/FB-mysql-5.6.24-linux-x86_64-dbg/socket.sock'  port: 18994  MySQL Community Server (GPL)

Even though a core file was written and m

[2015-11-07 05:13] RoelVdP opened #99 "Assertion `key_part->fieldnr < altered_table->s->fields' failed."
[code]

[code]

[code]

Ensure server is started without RocksDB. Use --no-defaults --sql_mode=ONLY_FULL_GROUP_BY

[2015-11-07 17:06] yoshinorim commented on #96
@RoelVdP  Thanks for pointing out. Yes, currently we require to set "--default-tmp-storage-engine=MyISAM --rocksdb --skip-innodb --default-storage-engine=RocksDB" to enable RocksDB storage engine. We don't allow mixed engines across InnoDB and RocksDB right now, because it doesn't work (not transactional, not crash-safe). The manual / error messages are not helpful right now and we have plans to a

[2015-11-07 17:39] mdcallag commented on #96
Responding here to share my opinion with the public:

With respect to doesn't not work, you are being too vague:
1) single-engine transactions work just fine when mysqld instance has 2+
transactional engines
2) previous transactional engines (TokuDB, PBXT) did not force this
decision on users (only one engine can be initialized)
3) this makes it much harder to try the RocksDB engine on an existing

[2015-11-08 19:36] spetrunia opened #100 "Statistics collection assumes [Single]Delete-s are rows"
Prepare test dataset:

[code]

Now, run the test itelf:

[code]

Looking into the log:

[code]

Ok so far. Now, let's do an update:

[code]

the log shows

[code]

Note that it thinks that there are 2K distinct values on key 'a'. There are
actually 1K SingleDelete operations and 1K new values.

sst_dump confirms it:

[code]

Is there any logic behind statistics code counting Single[Delete] operati

[2015-11-08 19:36] spetrunia commented on #100
This issue was discovered while trying to figure out what's wrong with cardinality.test in Issue #70.

[2015-11-08 21:14] spetrunia commented on #100
`OPTIMIZE TABLE` causes compaction of relevant files and fixes this

[2015-11-09 10:36] laurynas-biveinis commented on #99
Roel, I wonder if the testcase fails for Percona Server?
(the testcase could probably replace engine=rocksdb with engine=innodb)

[2015-11-09 10:42] laurynas-biveinis commented on #96
Merging the already-available and rather small fixes for https://bugs.mysql.com/bug.php?id=47134, http://bugs.mysql.com/bug.php?id=70854, (and maybe even http://bugs.mysql.com/bug.php?id=70860 if desired) would reduce the entry barrier to trying a second SE, and even cross-engine transactions quite a lot. You would probably still want to avoid TC_LOG_MMAP coordinator in production (i.e. --skip-inn

[2015-11-09 19:17] yoshinorim commented on #100
Stats compute is done here -- https://github.com/facebook/mysql-5.6/blob/webscalesql-5.6.24.97/storage/rocksdb/properties_collector.cc#L115-L116 -- Currently we do not differentiate between Delete and SingleDelete.

[2015-11-09 19:56] santoshbanda commented on #99
Roel, the failing stack trace shows assertion in innodb code, but your repro case uses rocksdb engine. Could you clarify this?

[2015-11-09 20:53] yoshinorim commented on #96
This is a "Getting Started" wiki -- https://github.com/MySQLOnRocksDB/mysql-5.6/wiki/Getting-Started-with-MyRocks . The docs are stored in old MyRocks repo and will be moved to proper location once we decide.

I'll file an issue to discuss whether to allow mixed storage engine or not.

[2015-11-09 22:36] tianx commented on #95
Thanks Roel for reporting this. This appears to be a bug in our (DocStore) version of JSON_VALID function. MySQL doesn't have JSON support in 5.6.

[2015-11-09 23:04] yoshinorim opened #101 "Allow to enable both InnoDB and RocksDB storage engines or not?"
There are ongoing discussions whether to allow to enable both InnoDB and RocksDB storage engines or not. Currently we do not allow but some people complain about the decision because it makes harder to use.
### Allowing to enable both InnoDB and RocksDB engines:

o Testing MyRocks is easier -- just executing  "ALTER TABLE innodb_table ENGINE=RocksDB"
x It is necessary to write additional test case

[2015-11-10 04:25] pengtfb commented on #98
Thanks for reporting the issue. This is expected. In some cases when mysqld commits suicide by calling abort(), it will print out the stack trace of all active threads first. But when mysqld crashes due to other causes, say, SIGBUS, SIGSEGV, etc, it will be handled by the fatal signal handler in mysqld, it will print out some stack backtrace when it is available, but in many cases the stack backtr

[2015-11-10 06:49] RoelVdP commented on #99
@laurynas-biveinis testcase does not fail on Percona-Server-5.6.25-rel73.2-f9f2b02.Linux.x86_64-debug, irrespective of engine used

@santoshbanda Note that the server is started without RocksDB, hence InnoDB is active, yet the testcase uses a RocksDB CREATE. If you enable RocksDB instead of InnoDB, you get "ERROR 1296 (HY000): Got error 194 'Table must have a PRIMARY KEY' from ROCKSDB" on the CREA

[2015-11-10 07:30] RoelVdP commented on #99
New finding: testcase also crashes if you use InnoDB on FB branch without RocksDB active.

[2015-11-10 07:38] RoelVdP commented on #99
Thus, this seems to be a non-RocksDB bug in FB branch, and the bug may be an InnoDB shortcoming triggered only in FB branch, or a FB branch specific bug.

[2015-11-10 07:42] RoelVdP commented on #98
@pengtfb Thanks. I have a question; upstream mysqld always prints a stack trace in the error log, including for SIGSEGV (sig=11) crashes?

[2015-11-10 11:05] spetrunia commented on #100
Yes. I think, it's not a problem that statistics computation doesn't distinguish between Delete and SingleDelete.  The problem is that both are counted as _rows_.

[2015-11-10 13:25] spetrunia opened #102 "MyRocks index statistics can be wrong after sequential insert"
Filing this separately from issue #100, because this example doesn't delete any key-value pairs:

[code]

Then

[code]

Run the above 9-10 times. Then run OPTIMIZE TABLE:

[code]

As a result, all files are on L3:

[code]

Both PK and 'a' columns have many distinct values:

[code]

But statistics shows that there are only 1K and 500, respectively:

[code]

Satistics about total #rows is wrong also

[2015-11-10 16:10] spetrunia commented on #102
Ah, was fooled by @@rocksdb_seconds_between_stat_recomputes being too big.

[2015-11-10 16:10] #102 closed, assigned to nobody

[2015-11-10 16:45] mdcallag commented on #101
I am not aware of a large number of tests for mixed engines in MySQL today. All we need is a few to confirm that basic things work.

The goal is to not to make mixed engines run in production with backups and crash safety. The goal is to make it easy to try MyRocks when currently using InnoDB.

[2015-11-10 19:49] tianx commented on #95
This is a problem that we don't fail gracefully when JSON contains objects/arrays with too many nesting levels/depths. The cause of the crash is overflow of stack space because we need to backtrack nested objects for size information of the objects. As comparison, MySQL 5.7 has a hard limit of maximum 100 depths for JSON objects (due to the same reason).

I will send out a fix soon.

[2015-11-10 19:50] pengtfb commented on #98
@RoelVdP You are welcome! I don't think upstream MySQL always prints out stack traces in error log for crashes.

[2015-11-11 00:20] jkedgar commented on #99
I have been able to reproduce the failure and I'm in the process of trying to identify what changed to cause it to fail.  This may take some time.

[2015-11-11 02:18] RoelVdP commented on #98
@pengtfb It does. In my entire QA life, I've only seen 1 or 2 times where mysqld just terminates. That's out of hundreds, if not thousands of bugs. I think this needs a review.

[2015-11-11 02:25] RoelVdP commented on #96
Thanks @yoshinorim

[2015-11-11 02:31] RoelVdP commented on #98
It would be really great if this can be added. That way we can classify & filter issues during the ongoing testing (assume you're aware of the ongoing project)

[2015-11-11 14:41] #88 closed, assigned to nobody

[2015-11-11 17:23] mdcallag commented on #98
Some code in upstream MySQL has been doing this recently, see
https://bugs.mysql.com/bug.php?id=77738

On Tue, Nov 10, 2015 at 6:31 PM, Roel Van de Paar notifications@github.com
wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2015-11-12 15:18] spetrunia commented on #83
Indeed.  Missed this line:

[code]

Sorry for the false alarm

[2015-11-12 15:18] #83 closed, assigned to nobody

[2015-11-12 18:23] tianx commented on #95
Fixed in https://github.com/facebook/mysql-5.6/commit/7624eef176f37f1eb5d3962a70775d1f72f37d0f. Thanks again @RoelVdP for reporting it.

[2015-11-12 18:23] #95 closed, assigned to tianx

[2015-11-13 01:40] RoelVdP commented on #98
@mdcallag yes thanks - good example of the "1 or 2 times" :)

[2015-11-13 18:58] jkedgar commented on #99
@RoelVdP, I think I've found the problem.  I need to run it through all the tests and a code review, but hopefully it will be available soon.

[2015-11-13 19:23] yoshinorim commented on #86
Burst write was addressed by --stream=xbstream.

[2015-11-13 23:07] #84 closed, assigned to maykov

[2015-11-14 01:44] RoelVdP commented on #99
@jkedgar Great, thanks

[2015-11-16 10:43] noony opened #103 "insert_id and affected_rows modified in all cases"
mysql_ping seems to modify affected rows and insert_id after every command.

Difference seems to be in here (I'm not sure):

https://github.com/facebook/mysql-5.6/blob/webscalesql-5.6.24.97/sql-common/client.c#L660
vs
https://github.com/webscalesql/webscalesql-5.6/blob/webscalesql-5.6.26/sql-common/client.c#L5370

Related to https://github.com/facebook/hhvm/issues/6531(code example in issue)

[2015-11-16 16:12] mdcallag opened #104 "Don't hardwire location for libz"
Discussion was at: https://www.facebook.com/groups/mysqlonrocksdb/permalink/1017202325010623/

Following the build steps linked from https://github.com/…/mysq…/wiki/Getting-Started-with-MyRocks
What needs this? What did we break that hardwires libz to /usr/lib/libz.so?

[2015-11-16 19:00] jkedgar commented on #99
@RoelVdP, I just committed the fix for this - ef621b24cb137df228b732a18eb11b032bddcea0.

[2015-11-16 19:28] #99 closed, assigned to nobody

[2015-11-16 23:22] RoelVdP commented on #99
Great thanks

[2015-11-17 01:54] #40 closed, assigned to santoshbanda

[2015-11-17 01:54] santoshbanda commented on #94
https://reviews.facebook.net/D50667

[2015-11-17 19:58] spetrunia opened #105 "key_info[secondary_key].actual_key_parts does not include primary key on partitioned tables"
The bug was found by Daniel Lee @dleeyh .

Start with a clear data directory.
Start the server with following my.cnf settings:

[code]

Use MariaDB's version of RQG from
http://bazaar.launchpad.net/~elenst/randgen/mariadb-patches/changes , I used revision 1050.

Run this command (adjust host/port/socket as appropriate)

[code]

It doesn't happen on every run, but on my machine there is about 30% c

[2015-11-17 20:00] spetrunia commented on #105
I saved a core file.  Stack trace from the failing assert:

[code]

[2015-11-17 20:05] hermanlee opened #106 "Add option for enabling both rocksdb and innodb storage engines at the same time."
When the innodb storage engine comes up, the rocksdb storage engine is automatically disabled due to problems in support both transaction engines, or determining how crash safety is handled. However, there are some use cases where it would be nice to test with both storage engines running on the same server instance.

Add an option to mysqld that would allow enabling both storage engines to come u

[2015-11-17 20:05] spetrunia commented on #105
Code around the assertion failure:

[code]

So this might be a MyRocks issue after all.
Indeed, looks like compaction saw two SingleDelete commands with the same key:

[code]

[2015-11-17 20:36] spetrunia opened #107 "Test MyRocks with concurrent transactions through replication"
(this is a write-up from last week's call. The task is for Daniel Lee @dleeyh).

We would like to test MyRocks behavior with concurrent transactions, both for crashes and for correctness.  There is no ready tool to do that. Here is an idea how to achieve this:
1. Run a master-slave setup with replication (row-based).
2. Run a concurrent load against the master
3. Let the slave catch up
4. Compare

[2015-11-17 21:26] yoshinorim commented on #105
@spetrunia Could you paste the duplicate SingleDelete keys and associated schema definition? Duplicate SingleDelete keys is definitely a bug..

[2015-11-17 21:58] yoshinorim commented on #105
I could reproduce the assertion failure with log-bin enabled and binlog_format=statement. But I haven't been able to reproduce with binlog_format=row.

[2015-11-17 22:35] mariadb-DanielLee commented on #107
Completed the following items:
1. Build single-server project and simple test
2. Setup replication stack (one master and one slave)
3. Verify data (table row counts and checksums) between master and slave nodes
4. Random Query Generator test
5. InnoDB stress test (need to configure it to run on MyRocks)
6. Written scripts to automate above tasks

[2015-11-17 23:27] yoshinorim commented on #105
When I reproduced a couple of times, index id was always 538, and the index was test.table100_key_pk_parts_2_int_autoinc#P#p1 col_set_utf8_not_null_key.

[code]

[2015-11-18 01:01] yoshinorim commented on #105
I tested with adding debugging logic (hexdump Put/SingleDelete keys), then noticed that for keys 0000021A0000000080000008 and 0000021A0000002080000040, SingleDelete was called twice but Put was called only once. SingleDelete was called from ha_rocksdb::delete_row(). Statements were as follows.

[code]

[code]

[2015-11-18 03:10] yoshinorim commented on #105
I tested with the following assertion code then verified it hit -- So somehow MyRocks called SingleDelete() on a secondary key that did not exist.

[code]

Next step will be identifying how this has happened.

[2015-11-18 07:26] yoshinorim commented on #105
I managed to reproduce the assertion error with the following simple SQL statements. It was not concurrency issue. I could not reproduce the issue if not using Partition. I assume it was because multiple index ids were assigned for partitioned primary key.

[code]

Then consecutive SingleDelete for id=8 happened. It makes it easier to debug if applying a patch in the above comment -- aborting if G

[2015-11-18 07:38] yoshinorim commented on #105
@spetrunia I think we should discuss how index ids should be allocated on partitioned tables. Currently index_ids are different per partition, but I think index_id should be the same across partitions, at least on unique/primary key.

[2015-11-18 20:16] yoshinorim commented on #105
I found that with partition, key_info[secondary_index_id].actual_key_parts did not include primary key.

[code]

This affects logic "if (old_data && !updated_indexes.is_set(i))"  at https://github.com/facebook/mysql-5.6/blob/webscalesql-5.6.24.97/storage/rocksdb/ha_rocksdb.cc#L4890-L4891 -- with Partition, the if clause returned true, then further SingleDelete and Put were skipped. In other words,

[2015-11-18 23:14] yoshinorim commented on #105
key_info[secondary_key].actual_key_parts does not include primary key on partitioned tables -- This happens on both InnoDB and MyRocks. I still have no idea if it is right to use actual_key_parts to check if keys are modified/covered or not

[2015-11-19 02:38] RoelVdP commented on #101
From a stress/crash testing perspective, pquery will work fine with multiple engines.

[2015-11-19 23:08] pengtfb commented on #98
@mdcallag Thanks Mark for the info and it is good that fix will be available in 5.6.28. @RoelVdP I will look into more for that issue to see if stack trace can be printed out before crash.

[2015-11-19 23:38] spetrunia commented on #105
@yoshinorim , I'm sorry for the delay:

Most of the code (e.g. encoding/decoding index tuples) is actually aware of the fact that secondary index is an "Extended key" with PK column at the end.
(Besides partitioning, we have also hit this problem earlier with unique secondary indexes -  SQL layer thinks they are not "Extended Keys" for some reason, while internally they are)

The only part that's

[2015-11-20 00:08] RoelVdP commented on #98
@pengtfb Thanks!

From a testing perspective, as issue #95 (which triggered the no-error-log problem) is now fixed, it would make sense for me to do another run and see if this was the only issue which caused this problem. I will do so.

[2015-11-20 15:12] spetrunia commented on #105
Found another example where the MyRocks fails to take into account the hidden
PK columns at the end or partitioned table

[code]

[code]

The error happens in ha_rocksdb::read_key_exact(), which is invoked with `full_key_match=true`,  which is wrong for this the secondary key.

[2015-11-20 16:20] spetrunia commented on #105
https://reviews.facebook.net/D51135

[2015-11-21 00:03] spetrunia commented on #105
Ok I figured out why index-only doesn't work for partitioned case.

ha_rocksdb has ha_rocksdb::pk_can_be_decoded, and ha_rocksdb::table_flags() returns HA_PRIMARY_KEY_IN_READ_INDEX bit only when pk_can_be_decoded==true.

The problem was that SQL layer (open_binary_frm() in particular) makes calls to
h->table_flags() before the table fields are available (and so, before MyRocks
cant tell whether HA

[2015-11-21 00:04] spetrunia commented on #105
Will try to find a solution for partitioned tables.

[2015-11-22 21:38] spetrunia opened #108 "Index-only scans do not work for partitioned tables and extended keys"
This was discovered while working on issue #105 .

[code]

With partition:

[code]

Without partition:

[code]

[2015-11-22 21:39] spetrunia commented on #108
Explanation about what's going on is here:
https://github.com/facebook/mysql-5.6/issues/105#issuecomment-158563264

[2015-11-22 21:53] spetrunia commented on #108
https://reviews.facebook.net/D51195

[2015-11-23 17:50] yoshinorim opened #109 "Reject binlog_format!=ROW from non-SQL threads"
MyRocks doesn't support next-key locking so binlog_format!=ROW may cause data inconsistency. On 5.6 slaves, binlog_format!=ROW is fine because no concurrent access to the same table is guaranteed.

[2015-11-23 21:26] mariadb-DanielLee opened #110 "SQL command checksum returns inconsistent result"
With a newly made project, I started mysqld with rocksdb as the default engine, then ran a quick Random Query Generator test.  I then check the checksum on one of the tables few times, the first return value is different from the rest.
1. Random Query Generator test command

perl gentest.pl    --dsn=dbi:mysql:host=localhost:port=3306:user=root:database=test:mysql_socket=/tmp/mysql.sock    --gendat

[2015-11-23 21:27] mariadb-DanielLee commented on #110
The table is in the 'test' database.

[2015-11-24 00:05] yoshinorim commented on #110
Are these tables all MyRocks? CHECKSUM TABLE is not compatible between InnoDB and MyRocks.

[2015-11-24 03:13] mariadb-DanielLee commented on #110
It is the same table.  I executed CHECKSUM TABLE right after logging into the database and got one checksum number, executing the same CHECKSUM TABLE command again and got a different number. The 2nd one and on returned the same result.

[2015-11-25 18:28] mariadb-DanielLee opened #111 "mysqld some times crashes at the end of Random Query Generator test"
nodes:  Single server, no replication
partition support: disabled

I executed the RQG sample test 5 times.  For 2 of them, mysqld crashed at the end of the tests.

RQG test command:

perl gentest.pl    --dsn=dbi:mysql:host=localhost:port=3306:user=root:database=test:mysql_socket=/tmp/mysql.sock    --gendata=conf/examples/example.zz    --grammar=conf/examples/example.yy --threads=10 --queries=10000

[2015-11-25 19:09] yoshinorim commented on #111
Could you paste whole stack trace?

[2015-11-25 19:18] #70 closed, assigned to nobody

[2015-11-25 19:35] mariadb-DanielLee commented on #111
Trace #1

myrocks@rocksdb:~/builds/mytest$ /home/qa/myr/common/sh/startmysqld.sh mytest
Module: startmysql.sh TestDir=/home/myrocks/builds/mytest
myrocks@rocksdb:~/builds/mytest$ [Note] Global variable initial value (from config file) @@datadir = '/home/myrocks/builds/mytest/install.db'
[Note] Global variable initial value (from config file) @@language = './share/english'
2015-11-25 11:25:48 0 [Wa

[2015-11-25 20:36] yoshinorim commented on #111
@dleeyh It's error log, but what I wanted to look into was process stack trace (at assertion failure). Wasn't it printed in the error log? If not, could you enable core-file in my.cnf then get stack trace from core files?

[2015-11-25 21:59] yoshinorim commented on #111
@dleeyh I couldn't reproduce. Could you paste my.cnf options?

[2015-11-25 22:25] mariadb-DanielLee commented on #111
Here is my .cnf file:

[mysqld]
datadir=/home/myrocks/builds/mytest/install.db
socket=/tmp/mysql.sock
gdb
language=./share/english
default-storage-engine=rocksdb
skip-innodb
default-tmp-storage-engine=MyISAM
rocksdb

How do you enable mysqld logging?  I tried few different methods according to online resources and still not getting log files.

[2015-11-25 22:28] yoshinorim commented on #111
Thanks!

About saving core files, add "core-file" in my.cnf. After crash, core file should be written at /var/tmp/cores. Then run "gdb /path/to/mysqld  /path/to/core_file" then run "bt". -- https://dev.mysql.com/doc/refman/5.6/en/using-gdb-on-mysqld.html

[2015-11-25 22:30] yoshinorim commented on #111
Also, if you have not updated MyRocks, would you please git pull then rebuild (and disable partition to prevent crash -- until Sergey commits his diff)?

[2015-11-26 00:45] yoshinorim opened #112 "Needs information_schema.rocksdb_index_stats"
In some cases we may want to debug MyRocks index statistics. Currently only way to do that is dumping system column family by sst_dump and digging into hex streams. It would be useful if there is an i_s table to print that.

[2015-11-26 01:02] hermanlee commented on #112
A new information schema table would be useful.

As a workaround in the meanwhile, RocksDB LOG file might have some of the information you're looking for:

[code]

There is also rocksdb_index_file_map:

[code]

[2015-11-26 01:11] yoshinorim commented on #100
https://reviews.facebook.net/D51315

[2015-11-26 01:58] maykov commented on #112
Yes, information_schema.rocksdb_index_file_map contains per sst index stat
data.  You can use show table status to get per table stats.
On Nov 26, 2015 09:02, "Herman Lee" notifications@github.com wrote:

[2015-11-26 19:55] yoshinorim commented on #112
Thanks!. Yes, this is very useful.

[2015-11-26 19:55] #112 closed, assigned to nobody

[2015-11-27 16:18] mariadb-DanielLee commented on #111
Got the latest MyRocks today.  The first 4 tests were successful.  The 5th test failed due to the same Assertion.

[2015-11-27 20:22] mariadb-DanielLee commented on #111
myrocks@rocksdb:/home/qa/myr/bugs/111$ gdb /home/myrocks/builds/nightly/mysql-5.6/sql/mysqld core
GNU gdb (Ubuntu 7.7.1-0ubuntu5~14.04.2) 7.7.1
Copyright (C) 2014 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later http://gnu.org/licenses/gpl.html
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "sh

[2015-11-27 22:29] spetrunia commented on #110
Ok, the reason  behind different checksum being returned is that  CHECKSUM TABLE code also calculates checksum over "value" bytes of fields that have NULL values.

MyRocks doesn't set these bytes so their value may vary across executions.  I'll check what InnoDB does.

[2015-11-27 22:34] spetrunia commented on #110
InnoDB sets them in  row_sel_store_mysql_rec, row_sel_store_mysql_field_func:

[code]

default_rec comes from here:

[code]

lengths are calculated as follows:

[code]

where get_field_offset() returns this:

[code]

[2015-11-30 19:17] yoshinorim opened #113 "Finalize index stat format"
After production deployment, extending index stat format is as hard as extending data dictionary (though adding variables is relatively easier) so fixing design for index stat format is important.

Currently index stat format is written per sst, as follows.

[code]

I think this is good enough for MySQL optimizer to work.
On the other hand, I am thinking that having the number of operations will b

[2015-11-30 20:12] mariadb-DanielLee opened #114 "Multi-threaded RQG tests yields mismatched table results in replication stack"
Source Date: 11/30/2015
Test Environment: Replication, 1 master and 1 slave.  Both instances on the same VM
VM Memory: 8 GB

When running the tests in Random Query Generator using two or more threads (concurrency tests, tested with up to 5 threads), the table content from both master and slave are not matching, in terms of both row counts and contents.  I tested with various numbers of queries, fr

[2015-11-30 20:16] santoshbanda commented on #114
what kind of binlog format are you using? MyRocks doesn't have gap locking which implies SBR creates data inconsistencies. FYI, yoshinori has a diff https://reviews.facebook.net/D51231 to block unsafe usage

[2015-11-30 20:16] mariadb-DanielLee commented on #111
Are you able to reproduce the issue with information that I provided?

Thanks

[2015-11-30 20:27] mariadb-DanielLee commented on #114
ok.  I forgot to change binlog-format to ROW, after getting the new source code.

I did use binlog-format=ROW last week and got mismatching checksums, but it turned out that there was an issue with checksum itself.  The issue was reported in issue #110.  Now I am doing diffs on table content instead.

I will set binlog-format to ROW, run the tests again, then post an update.

Thanks.

[2015-11-30 21:41] yoshinorim opened #115 "Use fail safe RocksDB options"
In RocksDB, this is now supported by calling the utility function CheckOptionsCompatibility with the input set of options and a target dbpath:

// Returns Status::OK if the input DBOptions and ColumnFamilyDescriptors
// are compatible with the latest options stored in the specified DB path.
//
// If the return status is non-ok, it means the specified RocksDB instance
// might not be correctly open

[2015-11-30 22:05] mariadb-DanielLee commented on #114
My bad, setting binlog-format to ROW fixed the problem.  I updated my default .cnf template file to include the parameter.

Thanks.

[2015-11-30 22:05] #114 closed, assigned to spetrunia

[2015-11-30 22:10] yoshinorim commented on #111
No I couldn't reproduce. I'm not sure if it is caused by MyRocks or not. Could you also test with InnoDB then see if it reproduces?

[2015-11-30 23:00] #100 closed, assigned to nobody

[2015-11-30 23:01] yoshinorim commented on #109
https://reviews.facebook.net/D51231

[2015-11-30 23:01] #109 closed, assigned to nobody

[2015-11-30 23:26] mariadb-DanielLee commented on #111
Ran the same test 7 times on InnoDB.  All completed without crashing.

[2015-12-01 23:56] yoshinorim opened #116 "update-multi sometimes updates rows wrongly"
If executing statements written at rocksdb.update-multi multiple times like below, SELECT sometimes return different results.

[code]

Expected resultset:

[code]

But sometimes SELECT returned:

[code]

I couldn't reproduce with rocksdb.update-multi testcase, but by repeating the statement block multiple times within one testcase, I could reproduce. Example: https://gist.github.com/yoshinorim/1f7

[2015-12-02 00:27] yoshinorim commented on #116
When SELECT returned wrong results, join ordering was different.

Case 1:

[code]

Case 2:

[code]

[2015-12-02 00:50] yoshinorim commented on #116
https://reviews.facebook.net/D51495

[2015-12-02 21:27] spetrunia commented on #110
https://reviews.facebook.net/D51525

[2015-12-02 22:55] #105 closed, assigned to spetrunia

[2015-12-02 22:59] #116 closed, assigned to nobody

[2015-12-03 00:52] hermanlee commented on #111
I haven't been able to reproduce the problem with the gentest.pl file that comes with MySQL. I've downloaded the one from http://bazaar.launchpad.net/~elenst/randgen/mariadb-patches/revision/1050 but have trouble with the generator on my system. Which gentest.pl are you using for the test?

Based the stack trace of the error, it looks like the Update statement is trying to execute set_ok_status()

[2015-12-03 17:41] mariadb-DanielLee commented on #107
MyRocks test result update.

Please see MyRocks test results so far in the attached .csv file.  I have a OS X Numbers workbook file.  Unfortunately it is a supported file type for attachment here.  Let me know if you prefer to have that so I can email it to you.

[MyRocks Test Results.txt](https://github.com/facebook/mysql-5.6/files/51127/MyRocks.Test.Results.txt)

Couple things observed:

1) Bug

[2015-12-05 04:57] RoelVdP commented on #98
I did another testrun with a fresh build (code cloned today), and the issue seems no longer present. Will do more testing, but for the moment this issue can be closed. Thank you

[2015-12-05 04:57] #98 closed, assigned to nobody

[2015-12-07 16:39] yoshinorim commented on #107
@dleeyh : I tested MyRocks-InnoDB master-slave replication but I couldn't reproduce row count mismatch. Could you double check if InnoDB slave was not lagged? When I tested, InnoDB slave was lagged a lot (though setting innodb_flush_log_at_trx_commit=0 mitigated the lag) so I had to wait for a while for InnoDB slave to catch up.
Also, how did you check data mismatch between InnoDB and MyRocks? CHE

[2015-12-07 16:42] mariadb-DanielLee commented on #107
Ok.  I will check to see if InnoDB is lagging after my current test.

I have a SQL script to dump the content of the tables to a txt file and diff on them.

[2015-12-07 17:29] yoshinorim opened #117 "MyRocks does merge sort with small data sets"
How to repeat:

[code]

When repeating the above multiple times, sometimes Sort_merge_passes status variable increases by 1. Merge sort should not be chosen, since data size is much smaller than sort_buffer_size.

I think there are two issues causing this behavior.
1. MyRocks hasn't supported estimate_rows_upper_bound() yet
2. MyRocks table statistics is not always accurate (reporting smaller numb

[2015-12-07 17:30] yoshinorim commented on #117
This also fixes the occasional rocksdb_rpl.rpl_rocksdb_stress_crash ASAN heap buffer overflow.

[2015-12-07 18:03] yoshinorim commented on #117
https://reviews.facebook.net/D51639

[2015-12-07 18:42] spetrunia commented on #111
I was able to reproduce, and generated a core file.

[code]

[code]

[2015-12-07 19:11] jkedgar opened #118 "Create more specific error messages"
Most errors in the MyRocks (MySQL using RocksDB) code use ER_UNKNOWN_ERROR.  This is not ideal.  It would be better for each error condition that we generate to have its own error number.

[2015-12-07 19:34] mariadb-DanielLee commented on #111
commit f03213bae1a4d0e79ca6b475a9c1f9f103c990bf
Author: Yoshinori Matsunobu yoshinori@fb.com
Date:   Fri Dec 4 13:42:46 2015 -0800

I made a release build using the above source.  I ran the following test 5 times for a total of 500 executions. All tests passed.

In a shell script, repeat this command 100 times.
perl gentest.pl --dsn=dbi:mysql:host=localhost:port=3306:user=root:database=test:mysql_

[2015-12-07 19:47] hermanlee commented on #111
This latest stack trace looks to be a different issue. The insert is failing because of an existing key, but unpacking the key triggers a segfault (possibly because the data is corrupted?). Is there a way for us to get access to these cores/source/build for debugging?

[2015-12-07 20:33] dleeyh commented on #111
You can access to my VM using Teamviewer (download from www.teamviewer.com) and it is ready for connection right now

ID: 353288446
Password: 8qd57j

The project is in /home/myrocks/builds/mytest
The core file is in /home/myrocks/builds/mytest/install.db

[2015-12-07 20:43] mariadb-DanielLee commented on #107
With the latest release build (without debugging), I ran the test again with threads=20.  I did not see any InnoDB lagging and I did not see the mismatched results that I reported earlier.  I will do more tests, possibly with a debug build again.

[2015-12-07 21:53] #117 closed, assigned to yoshinorim

[2015-12-07 22:03] mdcallag commented on #104
This comes from old change by us to cmake/zlib.cmake

commit cfb9829f6ee6be422b7f4d3a455de0b23328a20b
Author: Steaphan Greene steaphan@fb.com
Date:   Mon Jul 22 12:25:37 2013 -0700

[code]

[2015-12-07 22:06] mdcallag commented on #104
FB changed cmake/zlib.cmake a few years back, that breaks open source builds for me

commit cfb9829f6ee6be422b7f4d3a455de0b23328a20b
Author: Steaphan Greene steaphan@fb.com
Date:   Mon Jul 22 12:25:37 2013 -0700

[code]

[2015-12-07 22:09] mariadb-DanielLee commented on #107
Correction:  My last test was on the same debug release that I use before.

[2015-12-07 22:15] mdcallag opened #119 "compiler warnings from json support"
See https://gist.github.com/mdcallag/4144ebff7338bc111646

I use g++ 4.8.4 with Ubuntu desktop 14.04. This is what someone not at FB might use.

$ cat /etc/lsb-release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=14.04
DISTRIB_CODENAME=trusty
DISTRIB_DESCRIPTION="Ubuntu 14.04.3 LTS"

[2015-12-07 22:16] mdcallag commented on #119
With these warnings I must use -DMYSQL_MAINTAINER_MODE=0

[2015-12-07 22:18] mariadb-DanielLee commented on #107
I increased the threads to 50 and ran more tests.  I noticed the InnoDB slave lagging and the mismatched results.  After the InnoDB slave caught up processing, the results matched.  Thanks, Yoshinori.

[2015-12-07 22:34] yoshinorim commented on #113
https://reviews.facebook.net/D51435

[2015-12-07 23:41] hermanlee commented on #111
I took a look at the core file. It looks like we might not be setting errkey properly when this duplicate key error occurs for the partitioned table.

(gdb) f 2
#2  0x000000000066dcf9 in print_keydup_error (errflag=0, key=0x7f115b028bf8, table=0x7f114c023490) at /home/myrocks/builds/mytest/mysql-5.6/sql/handler.cc:3759
3759      print_keydup_error(table, key, ER(ER_DUP_ENTRY_WITH_KEY_NAME), errfla

[2015-12-08 00:02] #113 closed, assigned to nobody

[2015-12-08 00:06] yoshinorim commented on #111
When I ran master/slave mismatch test (#107), MyRocks slave crashed because of the wrong errkey. This matches Herman's last issue.

[code]

[2015-12-08 00:09] hermanlee commented on #111
The bug is not setting the errkey in the update path. errkey is set when info is called, but the error is printed out before info is called. It should be easy to fix by setting errkey and dupp_errkey when the problem occurs. dupp_errkey is still needed for info to be more precise about which index caused the duplicate key error. I'll post a fix shortly.

[2015-12-08 01:38] #63 closed, assigned to nobody

[2015-12-08 01:49] hermanlee commented on #117
Somehow, filesort thinks there is 1042 bytes in the sort length, even though the key is only 8 bytes long.

[code]

[2015-12-08 14:31] mariadb-DanielLee opened #120 "MyRocks slave crashed because of the wrong errkey."
Build tested:
myrocks@rocksdb:~/builds/mytest/mysql-5.6$ git show
commit f03213bae1a4d0e79ca6b475a9c1f9f103c990bf
Author: Yoshinori Matsunobu yoshinori@fb.com
Date:   Fri Dec 4 13:42:46 2015 -0800

Breaking this issue out issue #111 for ease of tracking:

Both Yoshinori and I encountered this issue.

From Daniel:

myrocks@rocksdb:/tmp$ gdb /home/myrocks/builds/mytest/mysql-5.6/sql/mysqld core
GNU

[2015-12-08 17:31] yoshinorim commented on #120
@dleeyh : Herman committed a fix yesterday https://reviews.facebook.net/D51675 . Could you rebuild MyRocks and try again if it reproduces?

[2015-12-08 21:33] mariadb-DanielLee commented on #120
Build verified:
commit 9995793ed70c2ae707fb0dab9fe86576c2d96aa3
Date:   Mon Dec 7 16:09:46 2015 -0800
debug off
Status:  Passed

Executed 100 RQG tests in a loop, with 20 threads
Executed 100 RQG tests in a loop, with 50 threads

[2015-12-08 21:33] #120 closed, assigned to nobody

[2015-12-08 23:34] yoshinorim commented on #21
I spent some time to look into this issue. rocksdb_number_keys_read was also increased by drop_index_thread. Stack trace was like below. MyRocks's drop_index thread calls Get() to get CF info for all indexes that are ongoing for dropping. The current problem of MyRocks is dropped indexes are not really dropped, so whenever executing DROP TABLE, the target drop index list increases, then drop_index

[2015-12-09 00:16] hermanlee opened #121 "RocksDB's EnableAutoCompactions does not re-enable compactions"
There is a recent change in rocksdb to disable auto compactions on startup: https://reviews.facebook.net/D51147. However, there is a small timing window where a column family needs to be compacted and schedules a compaction, but the scheduled compaction fails when it checks the disable_auto_compactions setting. The expectation is once the application is ready, it will call EnableAutoCompactions()

[2015-12-09 23:43] yoshinorim opened #122 "Change "static rocksdb::DBOptions db_options" to not static"
By default, RocksDB initializes ThreadLocal, then initializes PosixEnv via static initializer.
Destructor terminates objects in reverse order, so terminating PosixEnv (calling pthread_mutex_lock), then ThreadLocal (calling pthread_mutex_destroy). This ordering doesn't cause problems.

MyRocks accidentally changed the initialization ordering. MyRocks has a static variable rocksdb::DBOptions and ini

[2015-12-10 01:36] yoshinorim commented on #122
Also, it is necessary to expose the latest DB options from RocksDB to MyRocks.

[2015-12-10 02:01] mdcallag commented on #122
Why must MyRocks fix this? I think that RocksDB should do the right thing on shutdown to avoid obscure & hard to debug SIGABORT

[2015-12-10 03:57] yhchiang commented on #122
@yoshinorim: Thanks for the detailed explanation.  If that's the case, can you try the following patch which might enforce the construction order of PosixEnv and ThradLocalPtr::StaticMeta:
https://reviews.facebook.net/D51789

[2015-12-10 17:55] mariadb-DanielLee opened #123 "mysqld crashed when running a RQG transactions test, not reproducible at will"
Build tested:

RocksDB:
myrocks@rocksdb:~/builds/mytest/mysql-5.6/rocksdb$ git show
commit c8e01ef98297a5871f40218ec4898b7121284796
Author: Satnam Singh satnamsingh@fb.com
Date:   Thu Nov 5 13:30:51 2015 -0800

MyRocks:
myrocks@rocksdb:~/builds/mytest/mysql-5.6$ git show
commit f03213bae1a4d0e79ca6b475a9c1f9f103c990bf
Author: Yoshinori Matsunobu yoshinori@fb.com
Date:   Fri Dec 4 13:42:46 2015 -08

[2015-12-10 17:58] hermanlee commented on #123
Could you send me the terminal server login for us to get the core and binary?

[2015-12-10 17:59] yoshinorim commented on #123
Siying says it seems a known issue in RocksDB and they're working on fixing.

[2015-12-10 18:00] mariadb-DanielLee commented on #123
Unfortunately, the core file was removed and no longer available when I refreshed the database.

Regards,
—
Daniel Lee, QA Engineer
MariaDB, www.mariadb.com

[2015-12-10 20:44] yoshinorim commented on #123
Here is a reproducible test case in RocksDB. https://reviews.facebook.net/D51783
Reid is working on fixing it in RocksDB.

[2015-12-10 22:19] #94 closed, assigned to santoshbanda

[2015-12-10 22:20] yoshinorim commented on #104
I think building with -DWITH_ZLIB=bundled fixes the issue, as Mark suggests. It's now documented in the wiki.

[2015-12-11 01:30] yoshinorim commented on #115
Documents in RocksDB: https://github.com/facebook/rocksdb/wiki/RocksDB-Options-File

[2015-12-11 13:32] #108 closed, assigned to nobody

[2015-12-14 17:42] yoshinorim opened #124 "Need deterministic concurrent write test cases"
D48669 covers some as some below, but we need more comprehensive test cases.

[code]

What should be covered:
- Updating value by looking up primary key, secondary key or full scan
- Updating secondary key by looking up primary key, secondary key or full scan
- Updating primary key by looking up primary key, secondary key or full scan

[2015-12-14 18:53] jkedgar commented on #78
Fixed in https://reviews.facebook.net/D48669

[2015-12-14 18:53] #78 closed, assigned to jkedgar

[2015-12-14 18:53] jkedgar commented on #79
Fixed in https://reviews.facebook.net/D48669

[2015-12-14 18:53] #79 closed, assigned to jkedgar

[2015-12-14 19:11] yoshinorim commented on #122
MyRocks side fix: https://reviews.facebook.net/D51933

[2015-12-14 21:32] jkedgar commented on #36
https://reviews.facebook.net/D51765

[2015-12-14 21:32] #36 closed, assigned to jkedgar

[2015-12-14 23:00] #122 closed, assigned to nobody

[2015-12-15 13:21] spetrunia commented on #111
(I believe, the assert failure that I am seeing is not related to the errkey problem)

Added code to save the stack trace when Diagnostics' area m_status changes to DA_ERROR.

Then, repeated the assert failure, it occurred here:

[code]

and the record shows it happened here:

[code]

[2015-12-15 23:50] yoshinorim commented on #80
https://reviews.facebook.net/D51945

[2015-12-15 23:50] #80 closed, assigned to nobody

[2015-12-15 23:52] yoshinorim commented on #73
https://reviews.facebook.net/D51147 resolved this issue.

[2015-12-15 23:52] #73 closed, assigned to nobody

[2015-12-15 23:53] yoshinorim commented on #59
This issue was resolved by https://github.com/facebook/mysql-5.6/issues/122.

[2015-12-15 23:53] #59 closed, assigned to spetrunia

[2015-12-15 23:56] yoshinorim commented on #53
https://reviews.facebook.net/D48495 resolved this issue.

[2015-12-15 23:56] #53 closed, assigned to maykov

[2015-12-15 23:59] #58 closed, assigned to spetrunia

[2015-12-16 17:08] #110 closed, assigned to spetrunia

[2015-12-17 18:26] spetrunia commented on #111
A deterministic testcase for the assert:

[code]

[2015-12-17 22:57] spetrunia commented on #111
https://reviews.facebook.net/D52113

[2015-12-18 01:49] yoshinorim opened #125 "Support ZSTD in MyRocks"

[2015-12-18 01:49] yoshinorim opened #126 "Add information_schema.rocksdb_drop_table_ongoing"

[2015-12-18 01:52] hermanlee commented on #126
This information should already be in information_schema.rocksdb_global_info. There's a DDL_DROP_INDEX_ONGOING type that has been added.

[2015-12-18 03:11] yoshinorim commented on #126
Yeah I just noticed it:) Thanks!

[2015-12-18 03:11] #126 closed, assigned to nobody

[2015-12-19 01:13] yoshinorim commented on #60
https://reviews.facebook.net/D49107

[2015-12-19 01:13] #60 closed, assigned to yoshinorim

[2015-12-19 01:20] yoshinorim commented on #21
@jtolmer : DROP TABLE fix was committed, and after that I have not seen rocksdb.rocksdb test flakiness anymore (ran mtr --suite=rocksdb rocksdb --repeat=50). Do you think it's ok to close this issue?

[2015-12-21 18:07] #121 closed, assigned to alxyang

[2015-12-22 18:23] #111 closed, assigned to spetrunia

[2015-12-23 00:04] yoshinorim opened #127 "MyRocks loses data after clean shudown, if WAL is disabled"
I'm writing a test case for load-optimized config -- https://gist.github.com/yoshinorim/57edc6533143a99c768f -- it fails if setting rocksdb_write_disable_wal=1. After clean shutdown and restart, some committed data is lost. If setting rocksdb_write_disable_wal=0 (default), not data is lost.

[2015-12-23 00:26] yoshinorim opened #128 "Optimize MyRocksTablePropertiesCollector::AddUserKey()"
MyRocksTablePropertiesCollector::AddUserKey() increases data loading time a lot. Here are some numbers for loading our data with 12 client threads.

Default (load optimized my.cnf) settings: 49 minutes
Commenting out entire MyRocksTablePropertiesCollector::AddUserKey(): 37 minutes

So it is worth optimizing AddUserKey().

Here are some CPU stats.
![perf_on_furious_compaction](https://cloud.githubu

[2015-12-23 00:40] hermanlee commented on #128
Talking to Yoshi about this, a simple fix could be to reduce the sampling rate from every key to every N keys.

[2015-12-23 01:28] yoshinorim commented on #127
https://reviews.facebook.net/D52257

[2015-12-23 01:28] #127 closed, assigned to nobody

[2015-12-23 01:37] yoshinorim commented on #125
https://reviews.facebook.net/D52107

[2015-12-23 01:37] #125 closed, assigned to nobody

[2015-12-28 04:49] RoelVdP opened #129 "handle_fatal_signal (sig=11) in thd_ha_data"
<pre>
+bt
#0  0x00007f6561eca771 in __pthread_kill (threadid=<optimized out>, signo=11) at ../nptl/sysdeps/unix/sysv/linux/pthread_kill.c:61
#1  0x0000000000de45a6 in my_write_core (sig=11) at /git/FB-mysql-5.6-051215/mysys/stacktrace.c:422
#2  0x0000000000a63ed4 in handle_fatal_signal (sig=11) at /git/FB-mysql-5.6-051215/sql/signal_handler.cc:239
#3  <signal handler called>
#4  0x0000000000ac1814

[2015-12-28 21:56] hermanlee commented on #129
The problem looks to be the innodb plugin is disabled, but the innodb_\* plugins for information schema are all still running, so requests through information schema for innodb status can cause the system to crash.

Could you disable the buffer_page plugin on startup with --skip-innodb-buffer-page for your tests? The other plugins look to function without crashing in the absence of innodb.

[2015-12-28 22:50] RoelVdP commented on #129
@hermanlee sure can do! Thank you! Will update if I still see similar crashes after using --skip-innodb-buffer-page. Thanks

[2015-12-28 23:41] jtolmer commented on #21
I've re-enabled the test in our CI system. We can re-open if it hits any problems.

[2015-12-28 23:41] #21 closed, assigned to yoshinorim

[2015-12-29 01:18] yoshinorim opened #130 "Optimize records_in_range if FORCE INDEX is set"
LinkBench perf stats show that quite a lot of CPU time were spent for ApproximateSize. ha_rocksdb::records_in_range() calls GetApproximateSizes() for calculating costs. It would be great if this can be skipped when FORCE INDEX is set.

[2016-01-03 22:32] RoelVdP opened #131 "Assertion `v->cfd_->internal_comparator().Compare(start, end) <= 0' failed."
<pre>
2016-01-04 09:20:31 29082 [Note] /sda/FB-02.01.16-mysql-5.6.24-linux-x86_64/bin/mysqld: ready for connections.
Version: '5.6.24-debug'  socket: '/sda/FB-02.01.16-mysql-5.6.24-linux-x86_64/socket.sock'  port: 10529  MySQL Community Server (GPL)
mysqld: /git/FB-mysql-5.6/rocksdb/db/version_set.cc:3101: uint64_t rocksdb::VersionSet::ApproximateSize(rocksdb::Version*, const rocksdb::Slice&, cons

[2016-01-03 22:57] yoshinorim commented on #131
Thanks for the bug report @RoelVdP ! Verified as described.

[2016-01-03 23:43] RoelVdP opened #132 "Trying to lock mutex at sql/table_stats.cc, line 953, when the mutex was already locked at sql/table_stats.cc, line 465"
<pre>
Version: '5.6.24-debug'  socket: '/sda/FB-02.01.16-mysql-5.6.24-linux-x86_64/socket.sock'  port: 10529  MySQL Community Server (GPL)
safe_mutex: Trying to lock mutex at /git/FB-mysql-5.6/sql/table_stats.cc, line 953, when the mutex was already locked at /git/FB-mysql-5.6/sql/table_stats.cc, line 465 in thread T@4
23:27:43 UTC - mysqld got signal 6 ;

+bt
#0  0x00007f6736c22741 in __pthread_k

[2016-01-04 00:13] RoelVdP opened #133 "handle_fatal_signal (sig=11) in rocksdb::TableCache::FindTable when using rocksdb-table-cache-numshardbits=254"
<pre>
2016-01-04 11:01:15 29980 [Note] /sda/FB-02.01.16-mysql-5.6.24-linux-x86_64/bin/mysqld: ready for connections.
Version: '5.6.24-debug'  socket: '/sda/FB-02.01.16-mysql-5.6.24-linux-x86_64/socket.sock'  port: 10529  MySQL Community Server (GPL)
2016-01-04 11:01:25 29980 [Note] RocksDB: Begin filtering dropped index (0,256)
00:01:25 UTC - mysqld got signal 11 ;

+bt
#0  0x00007f05440c0741 in _

[2016-01-04 00:29] RoelVdP opened #134 "Server start with rocksdb-block-restart-interval=-1 leads to rocksdb-block-restart-interval=0 leads to Assertion `block_restart_interval_ >= 1' failed."
<pre>
2016-01-04 11:16:46 25879 [Warning] option 'rocksdb-block-restart-interval': signed value -1 adjusted to 0
[...]
Version: '5.6.24-debug'  socket: '/sda/FB-02.01.16-mysql-5.6.24-linux-x86_64/socket.sock'  port: 10529  MySQL Community Server (GPL)
2016-01-04 11:16:51 25879 [Note] RocksDB: Begin filtering dropped index (0,256)
mysqld: /git/FB-mysql-5.6/rocksdb/table/block_builder.cc:50: rocksdb

[2016-01-04 01:12] yoshinorim commented on #134
Thanks! Verified as described.

[2016-01-04 01:32] yoshinorim commented on #133
Thanks! I got a different stack trace but could reproduce the segfault.

[2016-01-04 03:12] RoelVdP opened #135 "Server hang on DROP DATABASE"
<pre>
Testcase:
# --no-defaults --default-tmp-storage-engine=MyISAM --rocksdb --skip-innodb --skip-innodb-buffer-page --default-storage-engine=RocksDB
DROP DATABASE test;CREATE DATABASE test;USE test;
CREATE TABLE t1(c1 INT PRIMARY KEY);
LOCK TABLES t1 READ;
SET @@SESSION.AUTOCOMMIT=0;
SELECT c1 FROM t1;
START TRANSACTION WITH CONSISTENT SNAPSHOT,READ ONLY;
DROP DATABASE test;  # Hangs, CTRL+C doe

[2016-01-04 03:18] RoelVdP commented on #133
@yoshinorim thanks! Would be interesting to see the stack trace. Thanks

[2016-01-04 06:21] yoshinorim commented on #135
Thanks for the report! Verified in MyRocks, not in InnoDB.

[2016-01-04 17:26] yoshinorim commented on #131
https://reviews.facebook.net/D52491

[2016-01-04 17:57] hermanlee commented on #135
I'll take a look at this one.

[2016-01-04 18:21] jkedgar commented on #134
I'll look at this one.

[2016-01-04 18:56] #131 closed, assigned to yoshinorim

[2016-01-04 19:47] rven1 commented on #133
I got the same stacktrace as Roel. Will investigate.

[2016-01-04 20:38] yoshinorim commented on #132
Thanks. Verified in InnoDB too.

[2016-01-04 22:20] jkedgar commented on #134
Partially fixed by https://reviews.facebook.net/D52509.  This prevents the block_restart_interval value from being set to less than 1 in RocksDB.  Attempting this will silently set it to 1.
I also have a diff out to fix the MySQL side to set the minimum for the rocskdb-block-restart-interval system variable to 1 - https://reviews.facebook.net/D52527

[2016-01-04 22:59] jkedgar commented on #134
Fixed.  Either diff above is sufficient to solve the crash (and they are independent) but both together are fully correct.

[2016-01-04 22:59] #134 closed, assigned to jkedgar

[2016-01-05 00:34] gunnarku commented on #128
Trying to replicate the findings so that I can demonstrate causality in case I will make any fixes. Current thinking is to sample a certain percentage of items, rather than every `N` keys.

[2016-01-06 00:04] hermanlee commented on #135
https://reviews.facebook.net/D52569

[2016-01-06 04:48] #135 closed, assigned to hermanlee

[2016-01-06 18:54] hermanlee commented on #132
I took a quick look at this. This is a bug in myisam where any error returned by ha_myisam::write_row() results in this assert. The tmp-table-max-file-size check causes write_row() to return an error. But I also simulated errors begin returned by mi_write(), which write_row() calls into and these errors also trigger the same assertion.

[2016-01-06 19:10] hermanlee commented on #132
The cleanup path on the error handling is trying to delete the table stats by acquiring the LOCK_global_table_stats in table_stats_delete() in frame 8 of the backtrace, but the lock was already acquired by the thread in fill_table_stats() in frame 12.

[2016-01-13 19:53] yoshinorim opened #137 "TRUNCATE TABLE doesn't reclaim space in MyRocks"
Daniel reported this issue. Verified that ha_rocksdb::delete_table was not called on TRUNCATE TABLE.

[2016-01-14 19:10] yoshinorim opened #138 "avg_row_length is reported as zero"
mysql> show table status like 'linktable'\G
**************************\* 1. row ***************************
           Name: linktable
         Engine: ROCKSDB
        Version: 10
     Row_format: Dynamic
           Rows: 7490883164
 Avg_row_length: 0
    Data_length: 142134708142
Max_data_length: 0
   Index_length: 167742645324
      Data_free: 0
 Auto_increment: NULL
    Create_time: NULL
    Up

[2016-01-15 19:00] gunnarku commented on #91
Fixed with https://github.com/facebook/mysql-5.6/commit/8c8c2b55008242da5066f24226510812327cdfdf

[2016-01-15 19:00] #91 closed, assigned to gunnarku

[2016-01-15 20:41] gunnarku commented on #87
It seems that Herman already fixes this with https://github.com/facebook/mysql-5.6/commit/186e2fa58778f237ea9db7d11131c624eff3949b

[2016-01-15 20:41] #87 closed, assigned to gunnarku

[2016-01-16 01:41] RoelVdP opened #139 "handle_fatal_signal (sig=11) in Item_ref::used_tables when using --allow-document-type=1 and SELECT"
<pre>
+bt
#0  0x00007f8856f99741 in __pthread_kill (threadid=<optimized out>, signo=11) at ../nptl/sysdeps/unix/sysv/linux/pthread_kill.c:61
#1  0x0000000000e36e66 in my_write_core (sig=11) at /git/FB-mysql-5.6/mysys/stacktrace.c:422
#2  0x0000000000ab022c in handle_fatal_signal (sig=11) at /git/FB-mysql-5.6/sql/signal_handler.cc:239
#3  signal handler called
#4  0x00000000009ec7a1 in Item_ref::us

[2016-01-16 01:49] RoelVdP commented on #132
@yoshinorim You mentioned verified in InnoDB too. I assume this was through code analysis? (I tried reproducing in InnoDB using 5.6.23 - without --tmp-table-max-file-size=12 as that is not supported there - but there the bug did not reproduce)

[2016-01-16 01:53] jtolmer commented on #132
It won't reproduce without setting --tmp-table-max-file-size to a small value.

[2016-01-16 03:12] RoelVdP opened #140 "Sig6: terminate called after throwing an instance of 'std::bad_alloc' | what(): std::bad_alloc"
<pre>
+bt
#0  0x00007f8897a51741 in __pthread_kill (threadid=<optimized out>, signo=6) at ../nptl/sysdeps/unix/sysv/linux/pthread_kill.c:61
#1  0x0000000000e36e66 in my_write_core (sig=6) at /git/FB-mysql-5.6/mysys/stacktrace.c:422
#2  0x0000000000ab022c in handle_fatal_signal (sig=6) at /git/FB-mysql-5.6/sql/signal_handler.cc:239
#3  signal handler called
#4  0x00007f88959de5f7 in __GI_raise (sig

[2016-01-16 03:23] RoelVdP opened #141 "[ERROR] Db or table name too long for table stats"
<pre>
+bt
#0  0x00007f1145848741 in __pthread_kill (threadid=<optimized out>, signo=6) at ../nptl/sysdeps/unix/sysv/linux/pthread_kill.c:61
#1  0x0000000000e36e66 in my_write_core (sig=6) at /git/FB-mysql-5.6/mysys/stacktrace.c:422
#2  0x0000000000ab022c in handle_fatal_signal (sig=6) at /git/FB-mysql-5.6/sql/signal_handler.cc:239
#3  signal handler called
#4  0x00007f11437d55f7 in __GI_raise (sig

[2016-01-16 03:35] RoelVdP opened #142 "handle_fatal_signal (sig=11) in mysql_delete when using --query-alloc-block-size=-11"
<pre>
+bt
#0  0x00007f2c57dfe741 in __pthread_kill (threadid=<optimized out>, signo=11) at ../nptl/sysdeps/unix/sysv/linux/pthread_kill.c:61
#1  0x0000000000e36e66 in my_write_core (sig=11) at /git/FB-mysql-5.6/mysys/stacktrace.c:422
#2  0x0000000000ab022c in handle_fatal_signal (sig=11) at /git/FB-mysql-5.6/sql/signal_handler.cc:239
#3  signal handler called
#4  0x0000000000d2c9e1 in mysql_delete

[2016-01-16 03:39] RoelVdP commented on #142
(Just as sidenote; I test all bugs against upstream before logging, and this bug is not present in MS 5.6.23)

[2016-01-19 17:37] yoshinorim commented on #141
Thanks. Verified in both InnoDB and MyRocks. This is another table_statistics bug.

[2016-01-19 17:39] yoshinorim commented on #140
Thanks for the report! Reasonable range limit should be defined for rocksdb-compaction-sequential-deletes-window and rocksdb_compaction_sequential_deletes. I think maximum 100k is large enough.

[2016-01-19 17:49] yoshinorim commented on #139
Thanks! Verified in both InnoDB and MyRocks.

[2016-01-19 18:00] yoshinorim commented on #142
@RoelVdP  I couldn't reproduce this on my machine (with more than 100GB RAM). Your error log says it tried to allocate 4GB but failed -- do you still see the same error with more RAM?

[2016-01-19 19:36] yoshinorim commented on #52
Current behavior is very confusing because ROLLBACK TO SAVEPOINT silently succeeds but it doesn't rollback modifications. We need either:
1. Real SAVEPOINT support (rollback)
2. Returning errors on ROLLBACK TO SAVEPOINT if there is any modification. This is ok to make mysqldump work.

[2016-01-19 20:29] tianx commented on #139
Thank you @RoelVdP for reporting the bug. Fixing it in https://reviews.facebook.net/D52941.

[2016-01-19 21:26] jkedgar commented on #129
https://reviews.facebook.net/D52959

[2016-01-19 22:39] jkedgar commented on #138
https://reviews.facebook.net/D52851

[2016-01-19 22:43] #129 closed, assigned to jkedgar

[2016-01-19 22:45] RoelVdP commented on #129
@hermanlee  @jkedgar  Thanks. Does this mean I should be able to remove --skip-innodb-buffer-page from default test setup? Thank you

[2016-01-19 22:48] jkedgar commented on #129
Yes.  It will now get a warning that the table is not available when InnoDB is not present, but it will no longer crash without that flag.

[2016-01-19 23:21] RoelVdP commented on #129
Thank you @jkedgar

[2016-01-19 23:21] RoelVdP commented on #139
@tianx Great! Will you also log bug with InnoDB details for upstream?

[2016-01-19 23:40] yoshinorim commented on #130
https://reviews.facebook.net/D52977

[2016-01-19 23:48] RoelVdP commented on #142
The test machine I used has 16GB, but due to multiple test threads it could have easily run out of 4GB yes. Will check later when machine is free. Making query-alloc-block-size larger (to the negative!) may help too.

[2016-01-20 01:16] tianx commented on #139
@RoelVdP This is an FB-specific feature (allow-document-type), not from upstream.

[2016-01-20 01:17] #139 closed, assigned to tianx

[2016-01-20 01:18] RoelVdP commented on #139
@tianx Ah, I was looking at "Verified in both InnoDB and MyRocks." - this is InnoDB in fb-mysql branch then?

[2016-01-20 03:08] yoshinorim opened #143 "Split rocksdb_bulk_load option into two"
rocksdb_bulk_load changes two behaviors -- skipping unique check, and implicitly committing every rocksdb_bulk_load_size records (https://github.com/facebook/mysql-5.6/wiki/data-loading). These are different features, and sometimes people want only one of them.

Parameters like below would be less confusing.
rocksdb_unique_check
rocksdb_commit_on_bulk_load

Also, INSERT ON DUPLICATE KEY UPDATE no

[2016-01-20 18:35] tianx commented on #139
@RoelVdP yes that's correct. thanks!

[2016-01-20 19:50] yoshinorim commented on #130
New variable rocksdb_force_index_records_in_range mitigates this issue. This makes records_in_range() return value itself inaccurate, which affects some types of queries -- such as join ordering, so this can't be always used.

[2016-01-20 19:50] #130 closed, assigned to yoshinorim

[2016-01-20 21:12] yoshinorim opened #144 "Better error handling on concurrent locking reads (Internal error: NotFound)"
Daniel reported this. We're discussing with Jay about how to fix. So far we've discussed:

The problem is that in rnd_next_with_direction(), between the call to Next() or Prev() and the call to GetForUpdate() the row seems to be deleted.   -- exactly written as commented.

[code]

Currently MyRocks returns "Internal error: NotFound". This should be more friendly.

I think RC should get to the next

[2016-01-20 22:58] mdcallag opened #145 "Too much mutex contention from register_snapshot & register_snapshot_release"
InnoDB gets about 10% more QPS than MyRocks for simple SELECT statement workload at high concurrency. Mutex contention in the MyRocks handler is the problem.

Another problem might be that recordTick is the 4th largest CPU consumer for MyRocks. I will open another task for that.

Workload:
- sysbench doing auto-commit point select -> SELECT id, k, c, pad from sbtest5 where id=...
- 40 concurrent c

[2016-01-21 01:59] yoshinorim opened #146 "Add unit test injecting I/O errors"
We currently don't have automated test case injecting I/O errors in MyRocks.
We added several codes to check (at least write) I/O errors (i.e. https://reviews.facebook.net/D44085) , but tests were done by manually (i.e. creating shared library then running mysqld with LD_PRELOAD --
https://gist.github.com/yoshinorim/17f84d9825ce0e61a64b).

[2016-01-21 02:03] mdcallag commented on #146
Do we need a test to confirm whether corruption in database files is handled correctly?

[2016-01-21 02:04] yoshinorim commented on #146
I think so yes, we need to check at least mysqld can be restarted and rows are consistent state.

[2016-01-21 02:06] mdcallag commented on #146
What is the expected behavior?
- stop serving tables in that column family?
- shutdown
- something else?

On Wed, Jan 20, 2016 at 6:04 PM, Yoshinori Matsunobu <
notifications@github.com> wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-01-21 03:46] yoshinorim commented on #146
I think aborting is ok, especially on write i/o error. I'm not sure if it's worth implementing per-CF capability.

[2016-01-21 04:50] zhaiwx1987 opened #147 "ADD_SUBDIRECTORY(unittest) needs to be removed for certain build configurations to succeed"
gcc (Ubuntu 4.9.2-10ubuntu13) 4.9.2
Ubuntu 15.04

Follow the build step described here : https://github.com/facebook/mysql-5.6/wiki/Build-Steps
And got the following error while executing cmake
cmake . -DCMAKE_BUILD_TYPE=RelWithDebInfo -DWITH_SSL=system -DWITH_ZLIB=bundled -DMYSQL_MAINTAINER_MODE=0 -DENABLED_LOCAL_INFILE=1 -DCMAKE_INSTALL_PREFIX="/u01/my56"

storage/rocksdb/unittest/CMakeFiles/tes

[2016-01-21 17:05] mdcallag commented on #147
Builds without problem on Fedora 19 host, will try ubuntu next.

$ cat /etc/redhat-release
Fedora release 19 (Schrödinger’s Cat)
$ cat /etc/fedora-release
Fedora release 19 (Schrödinger’s Cat)

Followed the steps at https://github.com/facebook/mysql-5.6/wiki/Build-Steps

[2016-01-21 18:34] mdcallag commented on #147
Followed steps without problems for Ubuntu 14.04 LTS. I don't have a more recent Ubuntu release as I stay on LTS.

[2016-01-21 19:37] yoshinorim commented on #147
You need to add "rocksdb" in [mysqld] section.

[2016-01-21 20:34] mdcallag commented on #145
The snapshot map is used by this code. I wonder if I asked for that monitoring feature?
  std::string status =
    "\n============================================================\n" +
    get_timestamp_as_string() +
    " ROCKSDB TRANSACTION MONITOR OUTPUT\n"
    "============================================================\n"
    "---------\n"
    "SNAPSHOTS\n"
    "---------\n"
    "LIST OF SNAP

[2016-01-21 20:42] jkedgar commented on #145
Yes you did.  It was one of the first features I implemented here.  I originally wanted to include the information in the RocksDB snapshot table but got pushback from that, so I ended up using our own table in MyRocks and having a mutex on it.  I'll be revisiting this code to see if there is a more efficient way to do it as soon as I can get to it.

[2016-01-21 22:36] #138 closed, assigned to jkedgar

[2016-01-21 22:41] yoshinorim commented on #143
https://reviews.facebook.net/D53061

[2016-01-21 22:41] #143 closed, assigned to yoshinorim

[2016-01-22 01:19] mdcallag commented on #146
OK. I am mostly interested in that we define, document and test for this.

On Wed, Jan 20, 2016 at 7:46 PM, Yoshinori Matsunobu <
notifications@github.com> wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-01-22 17:10] jkedgar commented on #144
https://reviews.facebook.net/D53205

[2016-01-22 17:10] #144 closed, assigned to jkedgar

[2016-01-22 20:14] jkedgar commented on #145
What options are you using when running sysbench?

[2016-01-22 20:15] mdcallag commented on #145
Will share more data and details later today. Can even loan you a host
setup with my sysbench binary.

On Fri, Jan 22, 2016 at 12:14 PM, Jay Edgar notifications@github.com
wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-01-22 20:23] jkedgar commented on #145
Thanks.  If by "host setup" you mean a machine - that might be more difficult for me.  I'll probably find it easiest to work on my devserver.  I have some ideas on fixing this, but I'd like to get a baseline value on my machine so I can see if my changes improve things or not.

[2016-01-22 20:25] mdcallag commented on #145
You can still use my sysbench binary. It runs on devservers too and
building it would be a hassle for you.

On Fri, Jan 22, 2016 at 12:23 PM, Jay Edgar notifications@github.com
wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-01-22 20:26] jkedgar commented on #145
Sure.  Thanks.

[2016-01-22 23:54] mdcallag commented on #145
For MySQL 5.6 I get up to ~15% more QPS from InnoDB than RocksDB at high concurrency. We might be able to remove some of the overhead.

I show the impact from two sources of over here.
1) RocksDB statistics enabled by https://github.com/facebook/mysql-5.6/blob/webscalesql-5.6.27.75/storage/rocksdb/ha_rocksdb.cc#L2278
2) register_snapshot as described early in this thread

While I provided data for

[2016-01-23 00:13] mdcallag commented on #145
To run, first prepare tables

for tid in $( seq 1 8 ) ; do

e=rocksdb
./sysbench --batch --batch-delay=10 --test=oltp --mysql-host=127.0.0.1 --mysql-user=root --mysql-password=pw --mysql-db=test --oltp-table-size=1000000 --max-time=600 --max-requests=0 --mysql-table-engine=$e --db-ps-mode=disable --mysql-engine-trx=yes --oltp-table-name=sbtest${tid} --oltp-read-only --oltp-skip-trx --oltp-test-mod

[2016-01-23 00:24] mdcallag commented on #145
This confirms the query plans are the same between MyRocks and InnoDB

bin/mysql -uroot -ppw test -e 'explain SELECT c from sbtest1 where id=146360'
+----+-------------+---------+-------+---------------+---------+---------+-------+------+-------+
| id | select_type | table   | type  | possible_keys | key     | key_len | ref   | rows | Extra |
+----+-------------+---------+-------+---------------+-

[2016-01-23 00:33] mdcallag opened #148 "single-thread performance about 10% to 20% better for InnoDB vs MyRocks on sysbench"
While looking at sysbench performance with concurrency I looked at single-thread performance for each of the statements used in the workloads from https://github.com/facebook/mysql-5.6/issues/145 and grabbed an example of each of the statement types, put 1M copies of that statement in a file and compared the time for MyRocks with MySQL 5.6 vs InnoDB with MySQL 5.7.10 to run the file. InnoDB was 10

[2016-01-23 01:19] zhaiwx1987 commented on #147
Oh, yes, I missed it! Thank you !!! :)  Now I only need to comment out  unittest of rockdb and everything works well.

[2016-01-23 02:04] mdcallag commented on #148
repeated tests for upstream InnoDB from MySQL 5.6.26 and in the worst case InnoDB gets ~1.3X more QPS

[2016-01-25 20:07] yoshinorim commented on #52
Now modification is not allowed --- https://reviews.facebook.net/D53055 . This makes ROLLBACK TO SAVEPOINT less confusing.

[2016-01-26 17:55] yoshinorim commented on #137
https://reviews.facebook.net/D53031

[2016-01-26 17:55] #137 closed, assigned to yoshinorim

[2016-01-26 20:13] mdcallag opened #149 "avoid creating transaction context for auto-commit select & read-only transactions"
For MySQL 5.6 I get ~15% more QPS with InnoDB than MyRocks for a SELECT 1 row by PK query. Looking at Linux perf output I see a lot of time in malloc/free for MyRocks compared to InnoDB and looking at hierarchical Linux perf output I see malloc/free a lot from allocating structures for managing the per-session transaction state.

Can we avoid creating that for auto-commit SELECT statements?
Can we

[2016-01-26 20:15] mdcallag commented on #148
One problem is too much time in malloc/free for auto-commit SELECT and read-only transactions. This is for the query "q1" above
Created https://github.com/facebook/mysql-5.6/issues/149

[2016-01-26 20:27] mdcallag commented on #149
This is for the query "q1" from https://github.com/facebook/mysql-5.6/issues/148

[2016-01-26 20:31] mdcallag commented on #148
__memcpy_ssse3_back is also much more frequent for  MyRocks, but that can wait

[2016-01-26 21:39] gunnarku commented on #128
Closed by https://github.com/facebook/mysql-5.6/commit/065bcc501481da60362fa0a1df8418b33dccce22

[2016-01-26 21:39] #128 closed, assigned to gunnarku

[2016-01-26 22:11] mdcallag opened #150 "MyRocks has more overhead from memcpy and malloc on range scans vs InnoDB"
MyRocks has much more overhead for _memcpy_ssse3_back, free, malloc on q2 as explained in https://github.com/facebook/mysql-5.6/issues/148. InnoDB gets ~1.35X more QPS than MyRocks.

Flat linux perf CPU profiles

[code]

[2016-01-26 22:14] mdcallag commented on #150
The callers for __memcpy_ssse3_back are:

[code]

[2016-01-26 22:17] mdcallag commented on #150
Callers for malloc

[code]

[2016-01-26 22:18] mdcallag commented on #150
Do these really need to show up per query?

can_use_bloom_filter calls rdb->GetOptions
https://github.com/facebook/mysql-5.6/blob/webscalesql-5.6.27.75/storage/rocksdb/ha_rocksdb.cc#L7352

GetOptions calls options()
https://github.com/facebook/rocksdb/blob/master/db/db_impl.cc#L4664
https://github.com/facebook/rocksdb/blob/master/db/column_family.h#L205

options() is fast, but GetOptions applies t

[2016-01-26 22:20] mdcallag commented on #148
Filed this for q2. Too much CPU from malloc, free and memcpy for range scans
https://github.com/facebook/mysql-5.6/issues/150

[2016-01-27 18:07] jkedgar commented on #145
https://reviews.facebook.net/D53463 is out for review

[2016-01-27 18:41] mdcallag commented on #148
Ran q2 as is, which uses a descending range scan. Then ran variant that uses ascending range scan. Queried index is in ascending order

descending - 107.7 seconds for InnoDB, 144.6 seconds for MyRocks
ascending - 105.7 seconds for InnoDB, 133.0 seconds for MyRocks

So MyRocks suffers much more than InnoDB from index scan in wrong order. The penalty is about 1.8% for InnoDB and 8.7% for MyRocks.

N

[2016-01-27 19:52] mdcallag opened #151 "can we remove strcmp from update_row_stats"
update_row_stats shows up in the top-10 functions by CPU consumption for sysbench.

update_row_stats has several calls to strcmp and this can be called per row operation. I don't think we needed strcmp in the InnoDB version. Can we avoid using it for MyRocks?

https://github.com/facebook/mysql-5.6/blob/webscalesql-5.6.27.75/storage/rocksdb/ha_rocksdb.cc#L69

It came from:
commit bf17c6d078fca5784d

[2016-01-27 20:01] jkedgar commented on #151
Here is the current code:

[code]

Are you thinking something like this?

[code]

Or are you thinking we shouldn't differentiate between system stats and user stats?

[2016-01-27 20:06] jkedgar commented on #151
I suppose it would be even better to have a field in `table` that we could assign when the TABLE object is created that would indicate whether it was in a system database or not and then we could simply check this field here.

[2016-01-27 20:06] mdcallag commented on #151
I'd like the solution to avoid calls to strcmp. This can be an extremely
frequent operation since it is called per row

On Wed, Jan 27, 2016 at 12:02 PM, Jay Edgar notifications@github.com
wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-01-27 20:16] mdcallag commented on #150
All of the data above is from a descending scan on an ascending index. The data below is from an ascending scan on an ascending index to exclude overhead that RocksDB has from reverse scans on a prefix compressed index.

This is the flat CPU profile from Linux perf. Overheads that might be too large for MyRocks include:
- malloc/free - https://github.com/facebook/mysql-5.6/issues/149
- rdb_perf_co

[2016-01-27 20:17] mdcallag opened #152 "rdb_perf_context_stop is expensive"
This is the 6th largest source of CPU time from a sysbench test. Can we make it cheaper by reducing the number of counters tracked here - https://github.com/facebook/mysql-5.6/blob/webscalesql-5.6.27.75/storage/rocksdb/rdb_perf_context.cc#L29

The code is here -> https://github.com/facebook/mysql-5.6/blob/webscalesql-5.6.27.75/storage/rocksdb/rdb_perf_context.cc#L194

See this for the CPU profile

[2016-01-27 20:23] mdcallag commented on #150
Callers to memcpy from q2a, the ascending range scan

[code]

[2016-01-27 20:32] mdcallag commented on #150
Callers to malloc for q2a, the ascending range scan

[code]

[2016-01-27 22:05] hermanlee commented on #152
There is a setting to disable collecting perf context stats, but it looks like it still loops through all of the counters to look for differences, so some cpu is still used there. I can put in a change to skip all stats collection when perf_context is disabled. The default perf_context setting collects counters from rocksdb.

Would it be acceptable to disable perf_context collection for performanc

[2016-01-27 22:11] mdcallag commented on #152
Disabling without looping sounds like a great first step and then we can wait to see if another step is required

[2016-01-28 17:58] hermanlee commented on #152
Resolved in https://reviews.facebook.net/D53481. To disable perf_context collection: "set global rocksdb_perf_context_level = 0". The default is currently set to 1.

[2016-01-28 23:54] jkedgar commented on #151
https://reviews.facebook.net/D53547

[2016-01-29 00:13] jkedgar commented on #147
Can this issue be closed now?

[2016-01-29 02:04] alxyang opened #153 "support auto increment on columns other than primary key"
Right now, we only have support for auto increment at the start of the primary key column.

Consider this scenario:

[code]

results

[code]

With the way the code is currently structured, it will silently fail, and the auto increment column on non-pk has the potential to get strange/duplicate values.

[2016-01-29 18:43] mdcallag opened #154 "support new configuration options: compaction_pri, allow_concurrent_memtable_write, enable_write_thread_adaptive_yield"
grep compaction_pri data/.rocksdb/LOG
2016/01/29-10:40:35.319661 7fb3a3f6b9c0                           Options.compaction_pri: 0

grep allow_concur data/.rocksdb/LOG
2016/01/29-10:40:35.319485 7fb3a3f6b9c0          Options.allow_concurrent_memtable_write: 1

grep enable_write data/.rocksdb/LOG
2016/01/29-10:40:35.319486 7fb3a3f6b9c0       Options.enable_write_thread_adaptive_yield: 1

[2016-01-29 20:22] jkedgar commented on #142
I was able to reproduce it and am investigating.

@yoshinorim, I think the reason you didn't see it is that you were probably using a debug build.  The way MySQL handles memory changes between debug and release.  In particular, in release mode it appears to use its own sub-allocator and you can change the size of the blocks that it allocates from the heap using the `*-alloc-block-size` variables.

[2016-01-29 23:53] jkedgar commented on #142
https://reviews.facebook.net/D53571

[2016-01-30 05:59] mdcallag opened #155 "crash with concurrent memtable enabled"
This crash happens immediately after starting the linkbench load with loaders=40. This doesn't happen with loaders=1. I disabled the nodetable load via generate_nodes=false in the config/LinkConfigMysql.properties file.

Concurrent memtable support was enabled by these parameters hardwired in the build:
Options.enable_write_thread_adaptive_yield: 1
Options.allow_concurrent_memtable_write: 1

The p

[2016-01-30 15:21] mdcallag opened #156 "improve error message for rocksdb_skip_unique_check"
I don't understand what statements are disabled in this error message after I set rocksdb_skip_unique_check=1. Which of the following are not allowed?
- INSERT
- REPLACE
- INSERT ... ON DUPLICATE KEY UPDATE

ERROR 2016-01-29 19:22:29,205 [Thread-29]: SQLException thrown by MySQL driver during execution of operation: addBulkLinks.  Message was: 'When disables unique check in MyRocks, 'INSERT or UPD

[2016-01-30 18:59] yoshinorim commented on #154
I'm going to write a diff to add base_compaction_threads parameter to support adaptive compaction concurrency. I'll add these DB options too.

[2016-02-01 03:19] RoelVdP commented on #129
--skip-innodb-buffer-page was removed from all tests

[2016-02-01 03:22] nbronson commented on #155
I haven't had time yet to get LinkBench running locally to test the fix, but I was able to reproduce the same assert using db_bench and fix that problem: https://reviews.facebook.net/D53595

[2016-02-01 17:25] mdcallag commented on #155
Applied that change, new crash

[code]

MyRocks is at this diff before applying your patch:

[code]

[2016-02-02 01:40] alxyang opened #157 "investigate adding script for testing concurrent insert to test tables without primary keys"
currently in our test suite there is no straightforward way to test bulk inserts asynchronously.
Research using a python script to create multiple threads that insert rows concurrently into database, and check count afterwards for tables with no primary key.

[2016-02-02 06:40] yoshinorim opened #158 "Add adaptive compaction concurrency support in MyRocks"
We need this feature in MyRocks --  https://reviews.facebook.net/D53409

[2016-02-02 06:40] yoshinorim commented on #158
Done -- https://reviews.facebook.net/D53601

[2016-02-02 06:40] #158 closed, assigned to nobody

[2016-02-02 11:19] yoshinorim commented on #154
https://reviews.facebook.net/D53601 added allow_concurrent_memtable_write and enable_write_thread_adaptive_yield. compaction_pri is CF option so you can add via rocksdb_default_cf_options.

[2016-02-02 11:19] #154 closed, assigned to yoshinorim

[2016-02-02 15:59] valeriikravchuk commented on #147
I've got the same problem with unittest on Ubuntu 14.04. It wants to link with -lmysqlserver. I wonder why and how this library is supposed to be installed.

[2016-02-02 16:31] valeriikravchuk opened #159 "Indexes on RocksDB table are listed as BTREE ones in SHOW INDEXES"
mysql> show create table tr\G
**************************\* 1. row ***************************
       Table: tr
Create Table: CREATE TABLE `tr` (
  `id` int(11) NOT NULL,
  `c1` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `c1` (`c1`)
) ENGINE=ROCKSDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin
1 row in set (0.00 sec)

mysql> show indexes from tr\G
**************************\* 1. row ***************

[2016-02-02 16:43] valeriikravchuk opened #160 "ANALYZE TABLE does not seem to update statistics for the RocksDB table"
Please, check this quick test:

mysql> select count(_) from tr;
+----------+
| count(_) |
+----------+
|     2048 |
+----------+
1 row in set (0.01 sec)

mysql> select count(distinct c1) from tr;
+--------------------+
| count(distinct c1) |
+--------------------+
|                872 |
+--------------------+
1 row in set (0.01 sec)

mysql> show create table tr\G
**************************\* 1. ro

[2016-02-02 16:47] valeriikravchuk commented on #160
It seems cardinality depends on "initial" table's content, we can get better estimations after converting to MyISAM and back:

mysql> alter table tr engine=MyISAM;
Query OK, 2048 rows affected (0.13 sec)
Records: 2048  Duplicates: 0  Warnings: 0

mysql> analyze table tr;
+---------+---------+----------+----------+
| Table   | Op      | Msg_type | Msg_text |
+---------+---------+----------+--------

[2016-02-02 20:10] jtolmer commented on #157
Talked to you in person, but putting here for everyone else too. We already have python for that: https://github.com/facebook/mysql-5.6/blob/webscalesql-5.6.27.75/mysql-test/suite/innodb_stress/t/load_generator.py.

[2016-02-02 21:50] hermanlee commented on #160
During the initial analyze table, was the table newly created and the data recently added? The index cardinality implementation has a limitation. Cardinality is calculated during the flush/compaction process when the memtable is written out to the sst data files. So when the data is flushed out, there should be an improvement in the cardinality stats. However, while the data lives entire in the me

[2016-02-03 00:34] #159 closed, assigned to lth

[2016-02-03 07:40] valeriikravchuk commented on #160
I'll try to do these tests, but the point is that in MySQL world it's expected that explicit ANALYZE TABLE statement should get statistics forcefully updated based on current table contents, no matter when it is usually re-estimated (by background threads in case of InnoDB and its "persistent" statistics). So, I'd expect whatever flushes and calculations are needed to get updated statistics are ex

[2016-02-03 16:07] yoshinorim commented on #160
This issue happens because index statistics (cardinality) are stored in SST files, but not in Memtable, and ANALYZE TABLE currently doesn't flush Memtable. Flushing Memtable is pretty expensive. But without flushing, SHOW INDEX is confusing to users. So there are trade-offs. I think it may make sense to add a new session variable "rocksdb_flush_memtable_on_analyze" (default on) and triggering Memt

[2016-02-03 16:09] valeriikravchuk commented on #160
I agree with Yoshinori, the option forcing ANALYZE TABLE to do what users expect would be the ideal solution.

[2016-02-03 16:12] mdcallag commented on #160
I'd like to see an option to flush the memtable on ANALYZE

On Wed, Feb 3, 2016 at 8:07 AM, Yoshinori Matsunobu <
notifications@github.com> wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-02-03 17:23] jkedgar commented on #153
Fixed with https://reviews.facebook.net/D53691

[2016-02-03 17:23] #153 closed, assigned to nobody

[2016-02-03 19:20] nbronson commented on #155
fix += https://reviews.facebook.net/D53751

[2016-02-03 19:32] jkedgar commented on #103
I am not able to reproduce this on 5.6.27.75.  It looks like it might have been fixed during the rebase from 5.6.24.97 to 5.6.27.75.  Can this be closed now?

[2016-02-04 03:32] alxyang commented on #157
closed by https://reviews.facebook.net/D53703

[2016-02-04 03:32] #157 closed, assigned to alxyang

[2016-02-04 03:33] alxyang commented on #39
closed by https://reviews.facebook.net/D52839

[2016-02-04 03:33] #39 closed, assigned to alxyang

[2016-02-04 14:27] hermanlee commented on #45
information_schema.global_info supports printing out the binlog information, etc.

[2016-02-04 14:27] #45 closed, assigned to nobody

[2016-02-04 14:31] hermanlee commented on #38
rocksdb_datadir is configurable at system startup.

[2016-02-04 14:31] #38 closed, assigned to nobody

[2016-02-04 18:35] jtolmer commented on #103
In the rebase, I dropped https://github.com/facebook/mysql-5.6/commit/48aa658ab42c8b1aff71d4b426e7d2fc59b2d205 because we weren't using the feature.

[2016-02-04 18:36] #103 closed, assigned to nobody

[2016-02-04 22:00] #141 closed, assigned to lgalanis

[2016-02-04 22:04] #151 closed, assigned to jkedgar

[2016-02-04 22:09] #142 closed, assigned to jkedgar

[2016-02-04 22:14] #145 closed, assigned to jkedgar

[2016-02-04 23:18] yoshinorim commented on #37
InnoDB behavior:

[code]

[2016-02-05 22:41] yoshinorim opened #161 "Incorrect result from concurrent updates"
Daniel found this issue. I could reproduce with below simplified test case.

[code]

[2016-02-05 22:47] yoshinorim commented on #161
rocksdb_rows_updated was also much smaller than 500 (50*10).

[2016-02-08 19:00] yoshinorim opened #162 "Incorrect result from concurrent updates/deletes -- case 2"
This is another case returning wrong results on concurrent locking reads/updates/deletes.

[code]

[2016-02-08 19:05] gabijs commented on #37
Fixed by https://reviews.facebook.net/D53889.

[2016-02-08 19:05] #37 closed, assigned to nobody

[2016-02-08 19:09] yoshinorim commented on #162
https://reviews.facebook.net/D53985 is a reproducible test case.

[2016-02-08 19:57] #160 closed, assigned to alxyang

[2016-02-09 09:51] valeriikravchuk opened #163 "Strange EXPLAIN output for UPDATE ("Using temporary")"
Consider the following table:

mysql> show create table tr2\G
**************************\* 1. row ***************************
       Table: tr2
Create Table: CREATE TABLE `tr2` (
  `id` varchar(10) COLLATE latin1_bin NOT NULL,
  `c1` varchar(10) COLLATE latin1_bin DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=ROCKSDB DEFAULT CHARSET=latin1 COLLATE=latin1_bin
1 row in set (0.00 sec)

mysql> analyze t

[2016-02-09 12:42] valeriikravchuk opened #164 "Data_length in SHOW TABLE STATUS for RocksDB table is reset to zero by ANALYZE TABLE"
Consider a very small and simple RocksDB table that was created from MyISAM one:

mysql> alter table tr2 engine=RocksDB;
Query OK, 6 rows affected (0.13 sec)
Records: 6  Duplicates: 0  Warnings: 0

mysql> show create table tr2\G
**************************\* 1. row ***************************
       Table: tr2
Create Table: CREATE TABLE `tr2` (
  `id` varchar(10) COLLATE latin1_bin NOT NULL,
  `c1`

[2016-02-09 17:04] spetrunia commented on #163
"Using temporary" is really using a read-write IO buffer.  This misleading wording has been in MySQL for a long time : http://s.petrunia.net/blog/?p=85 .   However, these queries should not be using the read-write IO-buffer, either.

I cant' reproduce with a slightly old tree:

[code]

so this must be something changed recently.

[2016-02-09 17:33] yoshinorim commented on #163
I could reproduce this with official 5.6.28+MyISAM. We recently upgraded fb-mysql revision from 5.6.24 to 5.6.27 so it may have triggered this issue.

[2016-02-09 19:28] yoshinorim opened #165 "Locking reads should unlock scanned but not matched rows"

[2016-02-09 23:44] yoshinorim opened #166 "MyRocks may return "1032 Can't find record in..." error instead of returning empty set"
Here is how I reproduced this issue.

[code]

[2016-02-10 17:32] yoshinorim opened #167 "Unique key check doesn't work"
[code]

Then T2 insert completes, not returning duplicate key error.

[2016-02-10 19:14] yoshinorim commented on #167
https://reviews.facebook.net/D54039

[2016-02-10 20:13] spetrunia commented on #165
The fix for this relies on this patch in RocksDB https://github.com/facebook/rocksdb/commit/fe93bf9b5da6e91c171969c2f4655b31873d4443

However, when I update included rocksdb up to this patch (or to the current tip cset in RocksDB, 2a04268be31d98ba16ecfb6e55d27c86ad59924d),  rocksdb.analyze_table test starts to hang here:

[code]

I'm not yet sure why this happens.

[2016-02-10 21:38] spetrunia commented on #165
The problem appears with this patch in rocksdb:

[code]

[2016-02-10 21:47] agiardullo commented on #165
Do you have the stack trace(s) for other relevant thread(s)?

How can we repro?

[2016-02-10 21:55] yoshinorim commented on #165
@agiardullo I could reproduce the issue too. Here is a stack trace -- https://gist.github.com/yoshinorim/cfdc2d3226b182d2e89c

[2016-02-10 22:01] yoshinorim commented on #165
Many other test cases fail at the same code point -- https://github.com/facebook/mysql-5.6/blob/webscalesql-5.6.27.75/storage/rocksdb/rdb_datadic.cc#L2679   (rdb->Write(options, batch);)

[2016-02-10 22:23] spetrunia commented on #165
(I assume @yoshinorim has provided the requested info. If not please tell what is still missing). I assume it is easy to reproduce since it happens reliably on two different machines for me

[2016-02-10 22:26] yoshinorim commented on #165
I confirmed building with "git revert 6f71d3b68b011569dfaf5c406a15319e4d66ca76" fixed the hangup. @spetrunia Until proper fix is committed in RocksDB, could you start writing a MyRocks diff with the reverted rocksdb revision? It can't be committed but would be good enough to do code review earlier.

[2016-02-10 22:41] spetrunia commented on #165
It looks like yes. At least, I could revert that commit, apply Anthony's  UndoGetForUpdate fe93bf9b5da6e91c171969c2f4655b31873d4443 patch on top, and it compiled.  I'll try with this tree tomorrow.

[2016-02-11 19:24] jkedgar commented on #166
Why are we deleting on the slave?  Shouldn't slaves be read-only?

Also, won't this be protected for by my locking changes?

[2016-02-11 19:32] yoshinorim commented on #166
Not enforced as read-only. In some cases we run idempotent cleanup jobs on slaves. Your fix will protect this scenario, but returning an error instead of not found is incorrect anyway. Here is a diff to address: https://reviews.facebook.net/D54015

[2016-02-11 23:27] spetrunia commented on #165
First variant of the diff (trivial): https://gist.github.com/spetrunia/1b5b5e0200580b3f32fc.

I'm wondering about this property (qouting the diff):

[code]

basically, MyRocks currently does locks when reading. I think we could move locking to later phase, so that we dont attempt to lock rows that dont match the WHERE.

This might have some relationship with other open concurrent update issues. I'

[2016-02-11 23:52] yoshinorim commented on #165
@spetrunia  I assume "other trx is holding locks on rows with pk IN (1,2)" is "update t1 set col1=col1+100 where col1!=1;". But why does it hold lock on (1, 2)? Doesn't it (2,3)?

I agree it's more efficient not to lock rows at all that don't match WHERE, though I'm not sure how to do that.

Another question is, does point lookup still have gap lock? For example, "SELECT \* FROM x WHERE pk=3" wher