[2016-10-25 13:24] mdcallag commented on #356
First guess is variance. I used 5 servers for this data. Each test takes ~8 hours and the tests I listed so far are only 1/4 of what I ran so I didn't run any test twice. Each server has the same HW and kernel version. I hope the HW has a similar speed in practice. Each server is also subject to what we call the "FB tax" which is the overhead from the value added processes that run on the server f

[2016-10-25 18:14] RickPizzi commented on #341
Actually, for some reason, the value isn�t there�

2016-10-21 14:43:22 11848 [Note] MySQL git hash: @MYSQL_GIT_HASH@ - @MYSQL_GIT_DATE@
2016-10-21 14:43:22 11848 [Note] RocksDB git hash: @ROCKSDB_GIT_HASH@ - @ROCKSDB_GIT_DATE@

Actually I have cloned the repository on my work macbook, following the instructions from wiki, and then moved the git directory to my test machine because that machine can

[2016-10-25 18:17] mdcallag commented on #341
commit 86587affafe77ef555f7c3839839de44f0f203f3
Author: Tian Xia tianx@fb.com
Date:   Tue Oct 4 10:01:52 2016 -0700

[code]

---

Sample hashes I get from a current build:

$ bin/mysql -uroot -p -e 'show global status' | grep -i hash
git_hash b1fec602a97a58fad5acb054e6efc96b9482c25a
rocksdb_git_hash 4edd39fda22f5e281efeb04ca14f5bb4dfdee5a1

On Fri, Oct 21, 2016 at 4:07 PM, Rick Pizzi notifications

[2016-10-25 18:19] mdcallag commented on #348
The first commits from this would be useful
cd $mysql-src; git log
cd $mysql-src/rocksdb; git log

On Fri, Oct 21, 2016 at 11:06 AM, Rick Pizzi notifications@github.com
wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-10-25 18:22] RickPizzi commented on #348
Mark: by �first commits", you mean more recent ones?

Thanks

## Rick

Riccardo Pizzi
pizzi@leopardus.com
http://www.vecchiflipper.it
http://www.pinballowners.com/webmaster

Dogs have masters. Cats have staff.

On 25/ott/2016, at 20:19, Mark Callaghan notifications@github.com wrote:

[2016-10-25 18:29] mdcallag commented on #348
Please share the first (top) commit it shows.

On Tue, Oct 25, 2016 at 11:23 AM, Rick Pizzi notifications@github.com
wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-10-25 18:34] RickPizzi commented on #348
Here you go.

# pwd

/home/rpizzi/mysql-fb

# git log | head -100

commit 86587affafe77ef555f7c3839839de44f0f203f3
Author: Tian Xia tianx@fb.com
Date:   Tue Oct 4 10:01:52 2016 -0700

[code]

commit 8959b43b017dbb41c1504368b47a570828aa0a86
Author: Anirban Rahut arahut@fb.com
 was built with so we can skip tests that are known to fail without full regex support

[code]

commit b0904cce900baca5a0920

[2016-10-25 18:52] mdcallag commented on #341
Can you run "git log" where you have the original repo?

On Tue, Oct 25, 2016 at 11:14 AM, Rick Pizzi notifications@github.com
wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-10-25 18:53] RickPizzi commented on #341
Maybe this will help? Sorry I�m not git guru�

$ git rev-parse HEAD

## 86587affafe77ef555f7c3839839de44f0f203f3

Riccardo Pizzi
pizzi@leopardus.com
http://www.vecchiflipper.it
http://www.pinballowners.com/webmaster

Dogs have masters. Cats have staff.

On 21/ott/2016, at 19:02, Mark Callaghan notifications@github.com wrote:

[2016-10-25 18:54] RickPizzi commented on #348
For some reason the substitution didn�t work and I have:

mysql> show global status like '%hash%';
+------------------+--------------------+
| Variable_name    | Value              |
+------------------+--------------------+
| git_hash         | @MYSQL_GIT_HASH@   |
| rocksdb_git_hash | @ROCKSDB_GIT_HASH@ |
+------------------+--------------------+
2 rows in set (0.01 sec)

Can I get this info fro

[2016-10-25 18:55] mdcallag commented on #341
that helps, I will try a build from that revision in a few days

[2016-10-25 23:29] javacty opened #357 "mysql-5.6/unittest/gunit/test_utils.cc:92:3: error: invalid use of member function ‘THD* my_testing::Server_initializer::thd() const’ (did you forget the ‘()’ ?)"
Ubuntu 16.04
gcc 6.2.0

export WITH_SNAPPY=/usr
export WITH_BZ2=/usr
export WITH_LZ4=/usr
export WITH_ZSTD=/usr
<pre>
[ 78%] Building C object storage/myisam/CMakeFiles/myisam.dir/rt_split.c.o
/opt/mysql-5.6/unittest/gunit/test_utils.cc: In member function ‘void my_testing::Server_initializer::SetUp()’:
/opt/mysql-5.6/unittest/gunit/test_utils.cc:92:3: error: invalid use of member function ‘THD\*

[2016-10-26 00:01] grooverdan commented on #346
Sorry for being slow in testing:

Works great on gcc-6 and clang versions. Fails on gcc-5.5 however.

<pre>
10:31:55 + cmake /source -DCMAKE_BUILD_TYPE=Debug -DBUILD_CONFIG=mysql_release -DWITH_PROTOBUF=system -DWITH_NDB_JAVA=NO -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ '-DCMAKE_C_FLAGS_RELWITHDEBINFO=-m64 -O3 -g -mtune=native' '-DCMAKE_CXX_FLAGS_RELWITHDEBINFO=-m64 -O3 -g -mtune=native' '-D

[2016-10-26 00:47] mdcallag commented on #356
Mutex contention is the problem for InnoDB with 1 table and insert.lua

[code]

[2016-10-26 03:19] grooverdan commented on #346
thanks @gunnarku  for the workaround too :cake:

[2016-10-26 03:54] hedengcheng commented on #340
@yoshinorim I read the code of the range update. First it read the record with snapshot's sequence number, then call GetForUpdate() to lock this record and check whether it has a newer version. If it has, then return kBusy(). For every record we read, we should double check it for concurrent update, i think its very inefficient.

But for transactional statement like select ... for update or delete

[2016-10-27 19:00] yoshinorim commented on #340
Need to address Manuel's comment --- https://reviews.facebook.net/D65469

[2016-10-27 21:33] mdcallag commented on #356
For read-only, there was variance in the RocksDB results. The problem:
1) the database is small (with 8M rows that is about 2G of data)
2) in some cases there was data in levels 0, 1 and 2. In others the LSM tree only had data in levels 1 and 2. With no data in level 0 there is less work to do when processing a query, which boosted performance. See http://smalldatum.blogspot.com/2016/10/benchmarke

[2016-10-27 22:16] mdcallag commented on #356
Difference in read-write is CPU (code path) overhead from MyRocks. WIth read-write there is more work to do on queries as the memtable has a lot of changes. I looked at vmstat, perf and PMP. I don't see mutex contention. It is interesting that key comparison code dominates the top-10 sources of CPU overhead for MyRocks.

https://gist.github.com/mdcallag/30c0cccdc3b572b225e154dab48a8151

[2016-10-27 22:16] #356 closed, assigned to mdcallag

[2016-10-27 22:51] siying commented on #340
@hedengcheng RocksDB (or LevelDB) is not designed with the support of snapshot ID to be larger than the current one. We don't fully understand the behavior will be.

For example, very likely, Seek(seek_key) + Prev() can end up with a key which is larger than seek_key. Even if in RocksDB we try to fix those issues, MyRocks will need to change code to handle some weird behavior too. For example, if

[2016-10-28 04:07] yoshinorim commented on #340
https://github.com/facebook/mysql-5.6/pull/362

[2016-10-28 16:48] george-lorch opened #363 "Suggest using std::unique_ptr<std::regex> m_pattern in Regex_list_handler in sql/handler.*"
`std::unique_ptr<std::regex> m_pattern;`

`bool Regex_list_handler::set_patterns(const std::string& pattern_str)
{
  ...
  m_pattern.reset(new std::regex(norm_pattern));
  ...
}
`

[2016-10-28 21:35] greenlion opened #365 "Crash during LOAD DATA INFILE"
I am trying to load the STAR SCHEMA BENCHMARK data for scale factor twenty.

I got the following crash during loading data:
mysql -load data infile '/home/justin/src/ssb-dbgen/lineorder.tbl' into table lineorder fields terminated by '|' lines terminated by '|\n' ;

terminate called after throwing an instance of 'std::bad_alloc'
  what():  std::bad_alloc
21:07:37 UTC - mysqld got signal 6 ;
This co

[2016-10-28 21:42] mdcallag commented on #365
first guess based on std::bad_alloc, malloc failed.
How much RAM is on your server?

Is this FB MySQL or MariaRocks?
What git hash did you build from?

[2016-10-28 21:52] greenlion commented on #365
It is a checkout of the current source from this repo, so it is FB MySQL.
This machine has 12GB of ram.  I made no changes to any buffers or settings, it is using default settings as recommended in the getting started document as you can see from the my.cnf above.

[2016-10-28 21:53] greenlion commented on #365
built with:
mkdir build
cd build
cmake .. -DCMAKE_BUILD_TYPE=RelWithDebInfo -DWITH_SSL=system -DWITH_ZLIB=bundled -DMYSQL_MAINTAINER_MODE=0 -DENABLED_LOCAL_INFILE=1 -DENABLE_DTRACE=0

[2016-10-28 21:55] yoshinorim commented on #365
Justin, MyRocks has some configurations optimized for data loading -- https://github.com/facebook/mysql-5.6/wiki/data-loading (we're in the process of adding features and fixing bugs, but current one would be good enough for experiments). Could you try mysql --init-command="set rocksdb_bulk_load=1; set rocksdb_commit_in_the_middle=1" for loading data?

[2016-10-28 21:55] greenlion commented on #365
Will do.

[2016-10-28 21:59] mdcallag commented on #365
Looking at reproduction case too understand memory usage with that my.cnf

[2016-10-28 22:32] mdcallag commented on #365
I assume large transactions are still a problem for MyRocks. Prior to commit it will have one copy for all changes in memory. Then on commit it temporarily creates 2 more copies.
1) creating the write batch
2) iterating the write batch and writing into the memtable

After commit the copy within the transaction and the write batch are deleted.

Or is it now down to 2 copies (temporarily) -- one wit

[2016-10-29 00:44] mdcallag commented on #350
Fixed by https://github.com/facebook/rocksdb/commit/04751d53459d5198e8f12a32aa525eeee4ebfd58

[2016-10-29 00:44] #350 closed, assigned to yoshinorim

[2016-10-29 01:52] greenlion commented on #365
@yoshinorim - setting those settings resolved the problem.

I think the server shouldn't crash when this OOM situation happens.  It looks like it is possible to create a large transaction to crash server with a stored proc (leading to DOS), and it is also possible to get a large transaction from a non-rocksdb master, or a rocksdb master that has these options on, but the slave does not.

Also in a

[2016-10-29 02:23] mdcallag commented on #365
MyRocks needs to get better for this problem and this bug report is a great reminder of that. The option rocksdb_max_row_locks is 1B by default. Were it much smaller then a transaction that gets too many row locks would get an error before getting an OOM. But the limit is on the number of rows in the transaction which is less precise than a limit on the max amount of memory a transaction can use t

[2016-10-29 03:01] greenlion opened #369 "How to determine what engine is doing during a stall?"
I am loading five tables as part of the star schema benchmark.

I got an unusual stall loading one of the tables:
-- fact table is expected to take a long time to load
mysql> load data infile '/home/justin/src/ssb-dbgen/lineorder.tbl' into table lineorder fields terminated by '|' lines terminated by '|\n' ;
Query OK, 119994608 rows affected (3 hours 42 min 11.51 sec)
Records: 119994608  Deleted: 0

[2016-10-29 03:15] mdcallag commented on #369
From SHOW ENGINE ROCKSDB STATUS. There is some detail, but not enough, in https://github.com/facebook/rocksdb/wiki/RocksDB-Tuning-Guide

This is per column family and some of the counters are probably non-zero for you.

[code]

[2016-10-29 03:15] yoshinorim commented on #369
We'll update the "data loading" wiki after fixing all known bulk loading issues, but general recommendation is all secondary indexes should be added _after_ loading data. In your case, consider the followings.

[code]

This is because secondary index modifications during load data will cause massive RocksDB compactions. If you monitor rocksdb_rows_inserted and iostat -xm, you'll often see high vol

[2016-10-29 13:06] greenlion commented on #369
Have you considered implementing ALTER TABLE .. [DISABLE|ENABLE] KEYS?

[2016-10-29 13:32] greenlion commented on #369
I'm trying to count the rows in the fact table (loaded with indexes in place) but RocksDB seems to be "stuck".

**query is:**

[code]

**MySQL is using all of one core, and it isn't doing much IO:**

[code]

This is on a consumer grade SanDisk SSD.  It can easily sustain higher IO rates.

**The data doesn't appear to be buffered by MySQL:**

[code]

**[justin@localhost ssb-dbgen]$ sudo ./pmp**

[c

[2016-10-29 13:37] greenlion commented on #369
**zoom into ::Fast_CRC32**

[code]

**zoom into copy_user_generic_string**

[code]

[2016-10-29 13:39] greenlion commented on #369
[code]

[2016-10-29 13:51] greenlion commented on #369
It is reading about 2K rows/second from the table.  This query would take ~55500 seconds at the current rate of reads.

[2016-10-29 13:54] greenlion commented on #369
The .rocksdb folder is 17GB.  Raw data was ~12GB of data.

[2016-10-29 15:21] greenlion commented on #369
**Loading data without indexes was significantly faster, and the count completes quickly after loading.**
mysql> select count(_) from lineorder;
+-----------+
| count(_)  |
+-----------+
| 119994608 |
+-----------+
1 row in set (2 min 3.76 sec)

**Size on disk:**
9.9GB

I will add the indexes and continue testing.

[2016-10-29 15:24] mdcallag commented on #369
Can you grep $datadir/.rocksdb/LOG for "Fast CRC32 supported"

First guess, fast crc32 was not used, fast means HW accelerated based on seeing this in PMP -> "Slow_CRC32" and this in perf ->
85.37%  my-oneconnectio  mysqld               [.] rocksdb::crc32c::ExtendImpl<&rocksdb::crc32c::Fast_CRC32>

Note there is a compile-time and run-time choice that determines whether fast crc32 is used. At comp

[2016-10-29 15:27] greenlion commented on #369
There is no mention of CRC (I did case insensitive search) in the LOG file.

Here is processor info:

processor   : 7
vendor_id   : AuthenticAMD
cpu family  : 21
model       : 2
model name  : AMD FX(tm)-8350 Eight-Core Processor
stepping    : 0
microcode   : 0x600081f
cpu MHz     : 4013.463
cache size  : 2048 KB
physical id : 0
siblings    : 8
core id     : 7
cpu cores   : 4
apicid      : 23
initi

[2016-10-29 15:40] mdcallag commented on #369
Your CPU supports sse4_2. On my Ubuntu 16.04 VM that runs on my Mac laptop with core i7 pure RocksDB builds (https://github.com/facebook/rocksdb) get fast crc32.

The difference below occurs because the pure-RocksDB build on my laptop is done with -the -march=native flag. The embedded RocksDB build used by FB MySQL does not use the -march=native flag. I will file a separate issue for the build pro

[2016-10-29 15:49] mdcallag commented on #369
Can you determine whether rocksdb/util/crc32.cc is compiled with -march=native?

https://github.com/facebook/rocksdb/issues/1416 prevents whether CRC32 is enabled from getting logged to $datadir/.rocksdb/LOG. The workaround is to change the log level. Default is error -> "rocksdb_info_log_level  error_level". Add this to my.cnf:
rocksdb_info_log_level=info_level

And then grep again. I see this on

[2016-10-29 15:55] greenlion commented on #369
I will do so ASAP.  I  have some other things on my plate ATM.

[2016-10-29 16:17] mdcallag opened #370 "open source builds do not use -march=native and do not get fast crc32 for RocksDB"
I am pretty sure I lost time on this in the past. It is back. Open source builds of FB MySQL do not use -march=native when compiling embedded RocksDB so they don't get fast (HW) crc32 for RocksDB and page checksums use too much CPU.

This is harder to debug, because we don't log this to $datadir/.rocksdb/LOG in the default configuration -- see https://github.com/facebook/rocksdb/issues/1416

I not

[2016-10-29 16:21] mdcallag commented on #370
From Ubuntu 16.04 where pure RocksDB uses fast crc32, but RocksDB built with MyRocks does not.

cmake command line

[code]

cd /home/mdcallag/git/fbmysql/storage/rocksdb && /usr/bin/c++   -DHAVE_CONFIG_H -DOS_LINUX -DROCKSDB_LIB_IO_POSIX \
-DROCKSDB_PLATFORM_POSIX -DZLIB -I/home/mdcallag/git/fbmysql/include -I/home/mdcallag/git/fbmysql/rocksdb \
-I/home/mdcallag/git/fbmysql/rocksdb/include -I/home

[2016-10-29 16:23] mdcallag commented on #370
And for our internal FB MySQL builds we do this to get fast crc32 for RocksDB:

[code]

[2016-10-29 16:44] mdcallag commented on #370
Workaround for me to get fast crc32 is to add -DCMAKE_CXX_FLAGS="-march=native" to cmake command line:

[code]

[2016-10-29 17:07] mdcallag commented on #369
Workaround for getting fast crc32 support is described in https://github.com/facebook/mysql-5.6/issues/370#issuecomment-257102068

[2016-10-29 19:54] greenlion commented on #369
After adding indexes, the query now takes forever.  I'll try to get fast crc32 support per @mdcallag suggestion and see what happens.  But I think it is important to note that table scans are impossible without fast CRC32 support.  InnoDB is slower with native checksums but not so slow that the engine becomes unusable.

just fyi, after adding the indexes the CRC is the top consumer of time.

[code

[2016-10-29 20:22] mdcallag commented on #369
Thanks. I will try scans with & without HW crc32 on one of my servers to understand the impact. I might not have much time for debugging the next 2 weeks because of work.

I wonder if we have people using RocksDB on non x86 platforms and whether we will get faster HW crc32 there, or a faster software crc32 for them.

[2016-10-29 20:48] greenlion commented on #369
I took a look in crc32c.cc -
shouldn't the above stack show Slow_CRC32 if the slower CRC32 is being used?  As a test I added -DFORCE_CRC32=1 to CMAKE_CXX_FLAGS and I put an #ifdef in to make sure the _64 function was being called.  It compiled fine, but I still see all the time in the Fast_CRC32 function.

[2016-10-29 21:11] greenlion commented on #369
Just to be extra sure I modified rocksdb::crc32c.c::Fast_CRC32 to be simply:

[code]

Thus FastCRC is being used for sure.  For some reason, after adding indexes to this data, the server gets bogged down by excessive crc32 operations when reading from the index.

**index scan based read:**

[code]

If I force a **full table scan** instead of a full index scan, the query returns results more quickl

[2016-10-29 21:29] mdcallag commented on #369
Excellent questions but I have slide decks for 2 talks that need to be made better.

[2016-10-29 21:36] mdcallag commented on #369
When I return I will try your tests for InnoDB and RocksDB with and without fast crc32. The only thing I don't have is an AMD CPU.

[2016-10-29 21:44] greenlion commented on #369
Are you saying my code modification is using slow CRC? I changed the code to only call the SSE function, and the perf output would have shown slow_crc32 if the #ifdef wasn't running the hardware function.

[2016-10-29 21:48] greenlion commented on #369
I'll hook up my 12 core i970 and run the same test there.  I'll let you know what I find.

[2016-10-29 23:01] greenlion commented on #369
As configured on the i970.
Per your workaround, I added -march=native -msse -msse4.2 to CMAKE_CXX_FLAGS
-- Running cmake version 2.8.11
-- MySQL 5.6.27
-- Packaging as: mysql-5.6.27-Linux-x86_64
-- HAVE_VISIBILITY_HIDDEN
-- OPENSSL_INCLUDE_DIR = /usr/include
-- OPENSSL_LIBRARY = /usr/lib64/libssl.so
-- CRYPTO_LIBRARY = /usr/lib64/libcrypto.so
-- OPENSSL_MAJOR_VERSION = 1
-- SSL_LIBRARIES = /usr/li

[2016-10-29 23:24] greenlion commented on #369
Here is the diff to force fast CRC32.  Fast CRC32 is in use on both of my machines, and the index scan is very slow on both AMD64 and Intel Core i7.

[code]

[2016-10-29 23:38] greenlion commented on #369
Even a basic aggregate query takes a very long time:

[code]

[2016-10-30 00:45] greenlion commented on #369
**Load time for uncompressed InnoDB table:**
mysql> load data infile '/home/justin/src/ssb-dbgen/lineorder.tbl' into table lineorder fields terminated by '|' lines terminated by '|\n';
Query OK, 119994608 rows affected (27 min 46.46 sec)
Records: 119994608  Deleted: 0  Skipped: 0  Warnings: 0

mysql> alter table lineorder add key(LO_OrderDateKey), add key(LO_CustKey), add key(LO_PartKey), add key(

[2016-10-30 04:13] greenlion commented on #369
**InnoDB compressed table, KEY_BLOCK_SIZE=8**

[code]

On disk size: **9.9GB**

**index scan on compress data**

[code]

**FTS on compressed data**

[code]

**aggregate over compressed data**

[code]

[2016-10-30 14:42] mdcallag commented on #369
Can you share SHOW ENGINE ROCKSDB STATUS output from the time when the
point query is slow?

On Sat, Oct 29, 2016 at 5:45 PM, Justin Swanhart notifications@github.com
wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-10-30 15:30] greenlion commented on #369
Attached is the output from several SHOW ENGINE ROCKSDB STATUS commands executed serially while the point query is running.
[status.txt](https://github.com/facebook/mysql-5.6/files/560572/status.txt)

[2016-10-30 16:02] greenlion commented on #369
Interestingly:

[code]

[2016-10-30 16:22] mdcallag opened #374 "rocksdb_store_checksums & rocksdb_verify_checksums need a better name"
AFAIK, these are for debugging and when enabled we add per-row checksums in addition to the per page checksum. They are off by default because they are for debugging. But someone seeing them in "SHOW GLOBAL VARIABLES" output will be concerned because it looks like the default config means no checksums.

Better names might be rocksdb_store_row_debug_checksums, rocksdb_verify_row_debug_checksums

[2016-10-30 16:41] mdcallag opened #375 "why is default write_buffer_size 4M and not 64M"
I don't think MyRocks calls any of the Optimize\* functions in rocksdb/util or OldDefault.

etc/my.cnf is:

[code]

Modified ha_rocksdb.cc to print write_buffer_size before calling get_cf_options

[code]

Initialized database: scripts/mysql_install_db --defaults-file=etc/my.cnf >& o.i
And you can see that write_buffer_size=64M as expected by default, but then it gets changed to 4M

[code]

Not sur

[2016-10-30 16:44] mdcallag commented on #375
This is the output from scripts/mysql_install_db
[init.txt](https://github.com/facebook/mysql-5.6/files/560600/init.txt)

[2016-10-30 16:45] mdcallag commented on #369
Maybe this helps with those variable names - https://github.com/facebook/mysql-5.6/issues/374

Not sure why the write buffer is 4M for you, or for me -> https://github.com/facebook/mysql-5.6/issues/375

[2016-10-30 16:54] greenlion commented on #369
Thanks for the info.  FYI, I am about to do a round of testing on a table with a primary key to see if that makes any difference.

[2016-10-30 16:57] mdcallag commented on #375
And it is 4M because of this code in ha_rocksdb.cc. So the default is 4M write buffer, 256M sizeof(L1) and L0:L1 compaction is triggered when there are 4 L0 files. So we merge 16M from L0 into 256M from L1 and write-amp from that is 16X. I am not sure we want that.

[code]

[2016-10-30 18:02] mdcallag commented on #375
I prefer to use the RockDB default for write_buffer_size. Otherwise, we should make this more obvious, such as by adding rocksdb_default_write_buffer_size.

[2016-10-30 22:55] spetrunia opened #376 "MyRocks: ORDER BY optimizer is unable to use the index extension"
ORDER BY optimizer is unable to use the index extensions of MyRocks tables:

[code]

[code]

The key `a` is actually `(a,pk)`. However the optimizer is not able to make use of this and we see  `Using filesort`.
If one runs the same test with InnoDB, there's no `Using filesort`.

[2016-10-30 22:58] spetrunia commented on #376
The source of this error:
sql_select.cc, test_if_order_by_key() has this code:

[code]

ha_table_flags returns the wrong value:

[code]

And the wrong value comes from here:

[code]

m_pk_can_be_decoded should be true.

[2016-10-31 00:58] greenlion opened #377 "Hang while trying to LOAD DATA"
I ran into another problem while trying to load data the data.  It is stuck doing CRC just like the scan of the index does in issue #369

I added a primary key to the table, and KEY partitioning, and I used a LOAD DATA INFILE with a SET command to set the LAST column of the table (the PK, missing from the input file).  I ran the command:

[code]

I has been running a VERY long time now:

[code]

*

[2016-10-31 18:47] yoshinorim commented on #340
https://github.com/facebook/mysql-5.6/pull/378

[2016-10-31 18:47] #340 closed, assigned to jkedgar

[2016-10-31 21:23] yoshinorim commented on #374
We also should change default rocksdb_checksums_pct to 0. This has not been very useful to find real inconsistency.

[2016-10-31 21:55] yoshinorim commented on #348
@RickPizzi  We added new (much more efficient) data loading feature and fixed all known bugs. Could you please pull all changes (git pull --rebase), build, and try loading data again (See load optimizations at https://github.com/facebook/mysql-5.6/wiki/data-loading)? DelayWrite() stall is expected to disappear with our new data loading feature.

[2016-11-01 06:01] mdcallag commented on #101
see https://github.com/facebook/mysql-5.6/issues/106

[2016-11-01 06:03] RoelVdP commented on #101
The generator we added to pquery also supports good multi-engine stress testing.

[2016-11-01 08:37] RickPizzi commented on #348
## Sure! Will do and report results back. Thank you!

Riccardo Pizzi
pizzi@leopardus.com
http://www.vecchiflipper.it
http://www.pinballowners.com/webmaster

Dogs have masters. Cats have staff.

On 31/ott/2016, at 22:55, Yoshinori Matsunobu notifications@github.com wrote:

[2016-11-01 20:23] gunnarku opened #382 "MyRocks allows successfully setting RocksDB variables which actually don't take effect"
We found this when trying to utilize the two variables below:

[code]

MyRocks needs to deny updates to those variables because we can't set them dynamically for RocksDB. Pretending to succeed will just give an incorrect impression to the user and confuse everyone. As of now these settings will need to be placed in `.cnf` file.

[2016-11-02 14:25] RickPizzi opened #386 "MyRocks with InnoDB crashes randomly when issuing DROP TABLE"
I have been doing some very simple tests with MyRocks used together with InnoDB.  I have started mysqld with the --allow-multiple-engines, and created two very simple tables:

[code]
I have then inserted some rows alternatively in both tables:

[code]
After some inserts (a dozen or so), sometimes (not always!) issuing a DROP TABLE crashes the server. I have verified this to happen BOTH when droppi

[2016-11-02 14:39] mdcallag commented on #386
Don't have time to do more than list URLs for bugs I vaguely remember that might be related:
https://bugs.mysql.com/bug.php?id=78050

[2016-11-02 14:46] RickPizzi commented on #386
Here's the complete sequence, dropping the InnoDB one:

[code]

[2016-11-02 14:56] mdcallag commented on #386
One more bug I remember -> https://bugs.mysql.com/bug.php?id=47134

[2016-11-03 08:52] laurynas-biveinis commented on #386
Enabling binary log should be a workaround (I see your config shows ROW as binlog format, but it's not clear whether binlog itself is enabled). If it still crashes, then it's a bug that TC_LOG_MMAP is used when binlog is enabled.

I am aware of only two TC_LOG_MMAP correctness bugs in 5.6: https://bugs.mysql.com/bug.php?id=78050 (the cause is identical to 47134, the former is a backport request fo

[2016-11-03 10:03] RickPizzi commented on #386
No, binlogging was not enabled. I tried with binlogging enabled and there is no crash, so maybe it's related. Still it's odd that it crashes on DROP TABLE so probably it's a different bug in the same area.  So this bug should be really filed upstream and not here, I am closing this issue.

[2016-11-03 10:03] #386 closed, assigned to nobody

[2016-11-03 10:08] laurynas-biveinis commented on #386
I suspect DROP TABLE is coincidental, and that it would crash on any workload after a certain number of operations, as far as TC_LOG_MMAP is concerned. But the stacktrace with a crash on myrocks::rdb_handle_io_error needs re-evaluating on a supported branch where TC_LOG_MMAP bugs are fixed

[2016-11-03 10:39] RickPizzi opened #390 "MyRocks: setting auto_increment_increment > 1 generates duplicate values under concurrent load"
Inserting rows from more than one connection into a table with an _auto_increment_ primary key creates duplicate keys when _auto_increment_increment_ is greater than 1.

[code]

[2016-11-03 12:18] RickPizzi opened #391 "MyRocks + InnoDB: assertion failure during crash recovery"
Trying to test the coexistence of MyRocks and InnoDB in a mixed workload, no cross transactions (using autocommit mode),  I got an assertion failure from RocksDB during crash recovery.

I have been inserting simultaneously into two separate tables, one Inno, one Rocks, very simple inserts into a table with an autoinc integer PK and a description field.

I will detail this into a blog post, but bas

[2016-11-03 12:42] RickPizzi commented on #391
Tried various recovery modes (0, 2 and 3) and is unrecoverable

[2016-11-03 13:29] mdcallag commented on #391
Sorry you hit this, but thanks for a nice bug report.

On Thu, Nov 3, 2016 at 12:42 PM, Rick Pizzi notifications@github.com
wrote:

##

Mark Callaghan
mdcallag@gmail.com

[2016-11-03 20:08] spetrunia commented on #376
m_pk_can_be_decoded is set by myrocks::ha_rocksdb::init_with_fields(), which is called from open_table_def,open_binary_frm.

This happens as intended:
- open_binary_frm() creates a ha_rocksdb object (denote it as $O1)
- $O1->init_with_fields() is called, it sets m_pk_can_be_decoded.

But then
- open open_binary_frm() deletes $O1
- It then creates another ha_rocksdb object (denote $O2).
  $O2->init

[2016-11-03 22:01] jkedgar commented on #390
I have confirmed this.

[2016-11-04 17:26] jkedgar commented on #390
I have a PR to fix this.  https://github.com/facebook/mysql-5.6/pull/394

[2016-11-04 22:50] jkedgar commented on #363
Great catch!

https://github.com/facebook/mysql-5.6/pull/397

[2016-11-04 22:50] #363 closed, assigned to jkedgar

[2016-11-04 23:18] alxyang commented on #307
can we close this?

[2016-11-08 16:46] 3manuek opened #401 "Additions to the wiki regarding `make` compilation phase"
I couldn't find the way to work around pull requests for the wiki, there are a few notes that would be nice to add.

If you want to test, I recommend to install using `-DCMAKE_INSTALL_PREFIX` (you can have several binaries with different patches), i.e:

[code]

Also, if running on limited resources machines (like 1 core VMs), you need to decrease the number of jobs for the `make` phase to =< 2. In

[2016-11-09 11:09] laurynas-biveinis opened #405 "thd_storage_lock_wait should be called to report row lock wait durations to the server"
thd_storage_lock_wait is provided for storage engines to report back to server the lock wait times. MyRocks does not call it, thus the lock wait time is accounted as query execution time in the server. This has a minor effect of slow query log - whose threshold is supposed to ignore the lock wait time - logging MyRocks queries that would not be logged with e.g. InnoDB same lock wait / execution ti

[2016-11-10 23:17] lth opened #411 "Setting rocksdb_commit_in_the_middle commits transaction without releasing iterator"
This leaves the iterator in an invalid state.

To reproduce:

[code]

[2016-11-11 01:13] #411 closed, assigned to lth

[2016-11-11 14:39] 3manuek commented on #197
I'm having the same issue with LZ4, followed #354 and edited CMake. If I try to set the default with `-DLZ4=1` (environment variable is already set), it takes the libraries but it does not recognize to set it as default.

[code]

[2016-11-15 15:30] mdcallag opened #427 "Flush memtable and compact L0 files for read only workloads"
The state of the LSM tree (data in memtable, #files in L0) is a significant source of variance for performance on read-only and read-heavy tests. This is much worse for read-only than for read-mostly workloads. Data in the memtable and files in L0 are overhead for read-only/mostly tests. When the memtable isn't full and when there aren't too many files in L0 then the LSM can stay in that state for

[2016-11-16 01:40] mdcallag commented on #343
Fixed by https://github.com/facebook/mysql-5.6/commit/d83fe82c8f42023cda6a97021361d90bae39805c

[2016-11-16 01:40] #343 closed, assigned to jkedgar

[2016-11-16 16:20] spetrunia opened #428 "rocksdb.bulk_load test times out"
``rocksb.bulk_load`` fails with a timeout in the current MyRocks tree. It has been failing for me for a while.

I tried increasing the timeout to 30 minutes (passed --testcase-timeout=30 option to mysql-test-run, it didn't help.
Looking at CPU and IO usage, I see that the system is idle for the most of the duration of the test run.

The failure looks as follows:
[code]

[code]
[code]

[2016-11-16 17:30] jkedgar commented on #428
This is known to fail on the debug build.  Try running it on the release build.  I should probably break it into two or more smaller tests.

[2016-11-17 08:05] spetrunia commented on #428
Confirm, the test succeeds in the release build. It's only debug that fails

[2016-11-18 17:44] mdcallag commented on #104
I want to allow people to use the system library. Will use 197 as the base bug and keep this closed as a duplicate of https://github.com/facebook/mysql-5.6/issues/197

[2016-11-18 17:47] mdcallag commented on #197
Duplicates include:
https://github.com/facebook/mysql-5.6/issues/354
https://github.com/facebook/mysql-5.6/issues/104

Anyone fixing CMakeLists.txt should also consider fixing this at the same time:
https://github.com/facebook/mysql-5.6/issues/351

[2016-11-18 21:38] mdcallag commented on #104
And this won't be fixed by the fix for 197. The workload is WITH_ZLIB=bundled

[2016-11-18 22:19] ShahriyarR opened #435 "Improvement on Wiki; add more information for "Build Steps" section"
Hi dear all,
Based on https://github.com/facebook/mysql-5.6/wiki/Build-Steps
It suggests to use:
# Setting up prerequisites
[code]
Which in turn not suitable for me.
It can be improved for testing purposes like -> "To configure to use non-defaults paths you can try "

[code]

So it will quite informative for beginners and they will not mess up default installation etc.

# Different build types
May

[2016-11-18 22:47] ShahriyarR opened #436 "Improvement on Wiki; Update my.cnf for "Getting Started with MyRocks""
Hi dear all,
Based on -> https://github.com/facebook/mysql-5.6/wiki/Getting-Started-with-MyRocks
# Set up my.cnf
As general user, I just copied and pasted my.cnf and failed to start because of,
`collation-server=latin1_bin (or utf8_bin, binary)`
So it can be changed in a way:
[code]
Again full my.cnf is based on default settings:

[code]
So for usability and to be more informative, datadir= option

[2016-11-18 23:16] ShahriyarR opened #437 "Improvement on 'select @@rocksdb_datadir'; show the full path"
Hi dear all,
If you want to know rocksdb_datadir path?
First thing is to run something like we did it before:

[code]
But for MyRocks it shows something like:

[code]

To improve usability and to keep similarity it should show the full path as well. Also after fix it can be used inside some scripts.

[2016-11-18 23:48] mdcallag commented on #370
wiki has been updated

[2016-11-18 23:48] #370 closed, assigned to nobody

[2016-11-19 00:21] mdcallag commented on #106
allow-multiple-engines doesn't appear as a server variable. It should.

bin/mysql -uroot -p -e 'show global variables' | grep -i multiple
<nothing>

[2016-11-19 01:17] mdcallag commented on #437
Default is hardwired to be ./.rocksdb
https://github.com/facebook/mysql-5.6/blob/webscalesql-5.6.27.75/storage/rocksdb/ha_rocksdb.cc#L1113

Bug is not that default exists, but that default isn't converted from relative to absolute path.

[2016-11-19 08:59] dohungthuan opened #439 "performance"
I install mysql 5.7 and mysql-5.6 with myrockdb same desktop with ubuntu server 14.04(core i3, ram 8gb, HDD not SSD), i use fb_linkbench run test same time into 2 mysql server. when test, i command "top" and show mysql 5.7 get about 100% cpu but mysql5.6 with myrockdb about 200-300% cpu(avg: 1:3). 2 mysql setting is default and set max_connection = 3000. Do have special settings for mysql with myr

[2016-11-21 02:50] grooverdan opened #440 "alter table counttable engine=rocksdb - segfault - config=allow-multiple-engines && no log-bin configured"
<pre>
2016-11-21 13:40:45 4378 [Note] MySQL git hash: 08ce26dc4a9fe51b48e12e6ce4bb2eeea61f7b95 - 2016-11-18T16:56:30-08:00
2016-11-21 13:40:45 4378 [Note] RocksDB git hash: 9bd191d2f40bd775f010585025e47acde8e288c7 - 2016-11-09T10:54:10-08:00
2016-11-21 13:40:45 4378 [Note] /mysql/mysql_ro_instance/bin/mysqld: ready for connections.
Version: '5.6.27'  socket: '/tmp/mysql_ro.sock'  port: 3300  MySQL

[2016-11-21 03:48] grooverdan commented on #440
Also occured on linkbench load:
<pre>
2016-11-21 14:29:57 5940 [Note] MySQL git hash: 08ce26dc4a9fe51b48e12e6ce4bb2eeea61f7b95 - 2016-11-18T16:56:30-08:00
2016-11-21 14:29:57 5940 [Note] RocksDB git hash: 9bd191d2f40bd775f010585025e47acde8e288c7 - 2016-11-09T10:54:10-08:00
2016-11-21 14:29:57 5940 [Note] /mysql/mysql_ro_instance/bin/mysqld: ready for connections.
Version: '5.6.27'  socket: '/tmp/m

[2016-11-21 04:23] grooverdan commented on #440
segfault no longer occurred after enabling log-bin.

[2016-11-21 07:35] laurynas-biveinis commented on #440
This is another instance of https://bugs.mysql.com/bug.php?id=78050 / https://bugs.mysql.com/bug.php?id=47134. IIRC for MyRocks last discussed at https://github.com/facebook/mysql-5.6/issues/386

[2016-11-21 16:04] mdcallag opened #441 "increase default size of RocksDB block cache"
Defaults for RocksDB in MyRocks include:
* 8M block cache
* 64 shards for block cache -> 128kb / shard
* 128M write buffer

If the default is setup for "low memory" servers, then the ratio of memory between the block cache and write buffer is wrong (8M to block cache, 128M to write buffer).

128kb/shard  for the block cache leads to lousy performance, possibly because index & filter blocks are lar

[2016-11-21 16:29] mdcallag commented on #441
A few examples.

1) I started linkbench on servers with TLC SSD (10k IOPs/server). After ~12 hours server with default my.cnf is 2.8% done with the load. Another server that started at the same time is ~70% done with the load. The only difference is rocksdb_block_cache_size=10G

2) I ran the insert benchmark on servers with fast SSD and inserted 250M documents. The database is cached in RAM. The s

[2016-11-21 16:46] mdcallag commented on #439
I prefer to answer questions on the email list and leave github issues for bugs & feature requests.
See https://groups.google.com/forum/#!forum/myrocks-dev

[2016-11-21 20:42] spetrunia opened #444 "compression_zstd test fails when the server is compiled without ZStandard"
(Copy-pasting from myrocks-dev group post):
Currently, compression_zstd test fails when the server is compiled without ZStd:

rocksdb.compression_zstd                 w3 [ fail ]
        Test ended at 2016-11-14 13:26:21

Server log is:
[Note] Global variable initial value (from config file) @@open_files_limit = 1024
...
2016-11-14 13:26:20 8734 [ERROR] RocksDB: Error opening instance: Invalid arg

[2016-11-21 20:54] spetrunia commented on #444
https://github.com/facebook/mysql-5.6/pull/446

[2016-11-21 21:18] #354 closed, assigned to gunnarku

[2016-11-21 21:18] #351 closed, assigned to gunnarku

[2016-11-21 21:24] mdcallag commented on #197
fixed by https://github.com/facebook/mysql-5.6/commit/24ffae78ef27ec4611cea285017e14e70dca404b

[2016-11-21 21:24] #197 closed, assigned to gunnarku

[2016-11-21 21:28] gunnarku commented on #104
Goal here is to make sure that `WITH_ZLIB` will behave similarly to `WITH_SNAPPY`, _i.e._, enable a user to specify what version of `libz` to use.

[2016-11-21 21:48] grooverdan commented on #440
thanks @laurynas-biveinis

[2016-11-21 22:35] grooverdan commented on #386
@RickPizzi , correct with binlog enabled the TC_LOG_MMAP isn't used (ref: sql/mysqld.cc:6055)

I guess running without binlog is enabled is an unsupported configuration for now (as kinda documented here: https://github.com/facebook/mysql-5.6/wiki/Getting-Started-with-MyRocks#set-up-mycnf)

[2016-11-22 16:06] spetrunia commented on #376
This is not a regression,  the property described in the last comment has been true all the time.

Before $O1 is deleted, open_binary_frm() makes at least one
[code]
check, so the call to `$O1->init_with_fields()` does have an effect. However, this bug shows that this is not sufficient for all cases.

[2016-11-22 17:04] spetrunia commented on #376
https://github.com/facebook/mysql-5.6/pull/447

[2016-11-22 18:07] Komport opened #449 "Insert with CARTESIAN JOIN - 'std::bad_alloc' what(): std::bad_alloc"
Hi Dear All.
Today during test I have faced  below issue. You can find all details below.

OS - VERSION="16.04.1 LTS (Xenial Xerus)"
free-m command output.
              total        used        free      shared  buff/cache   available
Mem:            990          58         397           6         533         887
Swap:             0           0           0

mysql> use rsyslogdb;
Reading table inf

[2016-11-22 18:30] mdcallag commented on #449
std::bad_alloc means out-of-memory. Will try to reproduce on my build

[2016-11-22 19:10] mdcallag commented on #449
Duplicate of https://github.com/facebook/mysql-5.6/issues/365. MyRocks buffers all uncommitted changes before commit. In this case that is about 4000 x 4000 rows. The peak memory consumption occurs during commit and the peak is either 2X or 3X the memory required to buffer the changes. This peak is transient as changes are copied into the memtable.

The workaround for large transactions is describ

[2016-11-22 19:10] #449 closed, assigned to mdcallag

[2016-11-23 03:16] alxyang commented on #47
https://dev.mysql.com/doc/refman/5.6/en/innodb-create-index-overview.html

we need to revisit exactly which of these we can/want to support.
From what I understand, we want to make `CREATE INDEX` fully online (still allows DML statements to occur).

Also on the roadmap would be renaming columns, default value changes, changing default auto increment value, adding/dropping columns.
For adding/dropp

[2016-11-28 06:37] gunnarku commented on #104
Fixed by https://github.com/facebook/mysql-5.6/commit/01b9be5f8d9d6c46212e6cce647e1c64e5445610.

[2016-11-28 06:37] #104 closed, assigned to gunnarku

[2016-11-28 18:26] jkedgar commented on #440
While Facebook doesn't test with both InnoDB and MyRocks enabled, this was pretty easy to find and fix.  I found that 5.7 has some fixes in TC_LOG_MMAP that I pulled into a pull request (https://github.com/facebook/mysql-5.6/pull/454) but I don't make any guarantee that this is all the needed fixes.

[2016-11-28 18:58] yoshinorim opened #455 "Add rocksdb_tmpdir"
Let's create working files there, instead of tmpdir or rocksdb_datadir. This matches innodb_tmpdir.

[2016-11-29 05:09] laurynas-biveinis commented on #440
@jkedgar, please consider including a fix for http://bugs.mysql.com/bug.php?id=70854 - it fixes a FLUSH STATUS crash, and the fix is one-liner (https://github.com/mysql/mysql-server/commit/60b110ae651cb452c355b812b248fcc220e85eb4). It does not carry a testcase though (no 2 XA SEs in the upstream)

[2016-11-29 08:56] ShahriyarR opened #456 "errno: 122 - Internal (unspecified) error in handler while renaming table"
Based on:
http://bugs.mysql.com/bug.php?id=84000

The output for MyRocks table:

[code]

The output for MyISAM table:

[code]

The output for InnoDB:
[code]

So based on this, MyRocks should handle this and show proper error message.
`Internal (unspecified) error in handler)` -> well, is there any error type that will `Internal (specified) error in handler)`

[2016-11-29 17:56] george-lorch opened #457 "warning: variable length array is used [-Wvla]"
MyRocks uses deprecated vla in function format_string at https://github.com/facebook/mysql-5.6/blob/webscalesql-5.6.27.75/storage/rocksdb/ha_rocksdb.cc#L2864

Suggest recoding to:
  else {
    std::unique_ptr<char[], decltype(&my_free)> buff(nullptr, &my_free);
    buff.reset(static_cast<char*>(my_malloc(len, MYF(0))));
    (void) vsnprintf(buff.get(), len, format, args_copy);
    res = buff.get()

[2016-11-29 20:26] #455 closed, assigned to alxyang

[2016-11-29 22:05] jkedgar commented on #457
https://github.com/facebook/mysql-5.6/pull/458

Note: There appear to be other variable length arrays in MySQL outside of our managed code.  These should be addressed upstream by Oracle.

[2016-11-30 21:49] #457 closed, assigned to jkedgar

[2016-11-30 21:51] jkedgar commented on #440
Thanks.  I added it.

[2016-11-30 22:04] edo888 opened #459 "FreeBSD support"
Hi,

Is it possible to build myrocks on FreeBSD 11?

Thanks!

[2016-11-30 22:44] gunnarku commented on #459
We haven't tried building MyRocks on FreeBSD. Officially supported systems are listed at https://github.com/facebook/mysql-5.6/wiki/Build-Steps.

However, if you're willing to give it a try and see what happens then sharing the outcome will be highly appreciated by our team!

[2016-12-02 06:30] justfortaste opened #461 "ha_rocksdb::records_in_range statistic method is not accurate."
[code]
"m_actual_disk_size" only include all sstable file size, not include memtable or imm size.
but "sz" include ssttable, memtable and imm size

So, ret = rows*sz/disk_size is not accurate.

Actually, we can get number of records in range from memtable and imm with "ApproximateNumEntries"  directly!

sstable records in range still use the old method.
[code]

[2016-12-03 00:30] hermanlee commented on #461
Thanks for filing the issue. Yes, we should be able to improve records_in_range by using the old method for sstable record numbers to generate the count and adding the return count from ApproximateNumEntries().

[2016-12-06 19:40] mdcallag opened #465 "myrocks uses 1/4 to 1/2 of a CPU core doing nothing"
server uses 4.0.9 kernel and MyRocks build is from Nov21:
git_date        2016-11-23T09:56:32-08:00
git_hash        e3d26b4d9e0317026d15f98695f4713a176d8c40
rocksdb_git_date        2016-11-21T21:24:11-08:00
rocksdb_git_hash        734e4acafbcea77934d5164c424b5084f0422c82

top shows mysqld CPU between 25% and 50%

Results from perf shows this is from the use of pthread_cond_timedwait. Not sure if i

[2016-12-06 20:33] mdcallag commented on #465
This has a bug..>
https://github.com/facebook/mysql-5.6/blob/webscalesql-5.6.27.75/storage/rocksdb/ha_rocksdb.cc#L10624

The bug occurs when this is false -> "if (ts.tv_sec - ts_next_sync.tv_sec >= 1)"
In which case, ts_next_sync.tv_sec is not incremented
On the next loop that value is used as the next timeout, but it is likely that ts_next_sync current is equal to now() given it was used as the l

[2016-12-06 22:56] #336 closed, assigned to nobody

[2016-12-07 02:52] hermanlee commented on #465
Looking through the code, I think a fix for this would be to set tv_sync_next.tv_sec = ts.tv_sec + 1 whenever the loop wakes up and record the last time a syncWAL() was issued. If the time difference is greater than 1 second, then issue another syncWAL().

Gunnar mentioned looking at better mechanisms to support this type of event scheduling without resorting to polling though and that's definitel

[2016-12-07 05:47] gunnarku commented on #465
After thinking about this a bit, I think that I understand what's currently happening and IMO the entire `if (ts.tv_sec - ts_next_sync.tv_sec >= 1)` part is unnecessary. Will describe the reasoning tomorrow.

[2016-12-07 09:04] justfortaste opened #466 "m_distinct_keys_per_prefix maybe can not merge simply with +/-"
[code]
this merge works ok only if  i== (s.m_distinct_keys_per_prefix.size()-1),

when i < (s.m_distinct_keys_per_prefix.size()-1),  the sstables which to be merged may have same key prefix.  so we may get bigger value than we want.

I have no idea how to fix it now.

[2016-12-07 16:48] gunnarku commented on #465
Will send out an initial fix today afternoon.

[2016-12-07 23:59] #465 closed, assigned to mdcallag, gunnarku

[2016-12-08 06:40] electrum opened #468 "Crash-safe auto_increment values"
InnoDB had a long-standing bug, finally fixed in 8.0, that auto_increment values were lost on server restart: http://bugs.mysql.com/bug.php?id=199

According to a comment on #39, it seems that MyRocks might also have the same bug, which would be a regression compared to InnoDB on 8.0.

[2016-12-08 08:52] mdcallag commented on #468
FB MySQL is based on 5.6 today. We get grief (some deserved) for not matching InnoDB semantics and I am not sure whether you are asking for MyRocks in FB MySQL 5.6 to match InnoDB in MySQL 5.6 or 8.X.

[2016-12-08 09:24] yoshinorim commented on #468
Here is a reference -- http://dev.mysql.com/doc/refman/8.0/en/innodb-auto-increment-handling.html -- "On a server restart during crash recovery, InnoDB initializes the in-memory auto-increment counter using the current maximum auto-increment value stored in the data dictionary system table and scans the redo log for auto-increment counter values written since the last checkpoint. If a redo-logged

[2016-12-08 22:23] electrum commented on #468
@mdcallag Thanks for the clarification. I wasn't thinking about 5.6 vs 8.0, just whether or not MyRocks would eventually fix this (or if it's not considered a problem). The behavior is rather unexpected, and users do hit this from time to time (and often find out because it breaks replication).

[2016-12-12 22:07] #440 closed, assigned to jkedgar

[2016-12-13 16:24] spetrunia commented on #376
Closing as the fix has been pushed.

[2016-12-13 16:24] #376 closed, assigned to spetrunia

[2016-12-13 16:24] unoexperto commented on #197
Guys, unfortunately none of the above helped me. Could you please take a look at https://github.com/facebook/rocksdb/issues/1663 ?

[2016-12-13 19:27] gunnarku commented on #197
It seems that RocksDB team is following up on this as part of discussion associated with https://github.com/facebook/rocksdb/issues/1663. Please note that MyRocks and RocksDB use different build environments and therefore the solutions will be specific to an environment.

[2016-12-13 23:20] lth commented on #374
https://github.com/facebook/mysql-5.6/commit/942063fb6a9716414987d56c51824aadd2a3bbab

[2016-12-13 23:20] #374 closed, assigned to nobody

[2016-12-14 04:19] gunnarku commented on #459
After a quick test I can confirm that building MyRocks on FreeBSD 11 does **not** work. At this point we're relying on community to help with various patches needed to support this particular OS.

[2016-12-14 04:19] #459 closed, assigned to nobody

[2016-12-15 09:12] yoshinorim opened #474 "Make rocksdb_commit() faster"
This is how group commit works in MySQL, with two phase commit (binlog and engine) enabled.

binlog prepare() does nothing
innodb prepare() runs in parallel, with grouped fsync (if innodb_flush_log_at_trx_commit=1)
binlog commit() runs in parallel, with grouped fsync (if sync_binlog=1)
innodb commit() is serialized if binlog_ordered_commits==1, no fsync. If if binlog_ordered_commits==0, runs in pa

[2016-12-15 09:22] hedengcheng commented on #474
Hi Yoshi,

I am very happy to see this issue for MyRocks. In our tests, we met the same problem. Just as you said, the Commit phase for rocksdb is much more heavy than InnoDB. Move the memtable write to Prepare phase is a good idea for this issue, look forward for the fix of this issue.

he dengcheng

[2016-12-15 12:48] mdcallag commented on #474
Yoshi - can you repeat with and without concurrent memtable? If most of the overhead is memtable Put() calls then there is always more serialization in MyRocks than InnoDB. I repeated some of my sysbench tests with 2pc enabled, but now my test matrix has expanded as I want the cross product for:
* 2pc enabled/disabled
* concurrent memtable enabled/disabled
* binlog order commit enabled/disabled
*

[2016-12-15 19:25] hermanlee commented on #474
As an alternative, is binlog_ordered_commit=1 necessary for correct operation in the MyRocks case?

[2016-12-15 21:29] hermanlee opened #476 "Improve the accuracy of index statistics by including the size of tables in the memtable."
Index stats shown through "show table status" currently rely only on data in the sst data files. However if much of the data for a table is in the memtable and only a small part of it have been flushed out to sst files, the index stats are inaccurate. We've made changes to include the part of the table in the memtable in records_in_range call. We should do the same when reporting indexing stats. A

[2016-12-15 23:37] reidHoruff commented on #474
Herman and I spent some time discussing some possible solutions for this today. It seems that there is no obvious down side of setting binlog_ordered_commit=0 with 2pc enabled - yes our binlog ordering would not match that of the WAL but recovery would still be able to get the db back into a consistent state with the added benefit of concurrent prepare() and commit() phases.

We also explored poss

[2016-12-16 00:46] yoshinorim commented on #474
With binlog_order_commits=0, there are some risks of inconsistency, if operating with reduced durability. Suppose the following examples.

binlog commit order (group commit):
insert row A, GTID 1
insert row B, GTID 2
insert row C, GTID 3

engine commit order with binlog_order_commits=0:
insert row B, GTID 2
insert row C, GTID 3
insert row A, GTID 1

Operated with sync-binlog=0, rocksdb-disable-2pc

[2016-12-16 04:10] justfortaste commented on #474
Hi, yoshinorim
  Unlike slave_gtid_info table, gtid_executed table in 5.7 save all gitds have executed. If we use gtid_executed table instead of slave_gtid_info table, row A will not lost on the slave.

[2016-12-18 01:48] reidHoruff commented on #474
![screen shot 2016-12-17 at 5 47 52 pm](https://cloud.githubusercontent.com/assets/950932/21290903/ff69404c-c480-11e6-9a13-f11b0ff20ea5.png)

[2016-12-20 08:51] chuckcai opened #481 "rocksdb group commit"
There is a bug when group commit with multiple transactions mixed commit phase  and prepare phase , and allow_concurrent_memtable_write enabled, so those trxs in group can write MemTable concurrenctly.
Transaction group will fetch versions_.last_sequence as start sequence of current batch, and it allocates SEQUENCE segment for each trx in batch by add total count of group trxs.(not count in if Sho

[2016-12-20 18:09] mdcallag opened #482 "incorrect duplicate key error from sysbench read-write"
tl;dr - I am getting a dup key error from sysbench with MyRocks and I don't think I should be getting it.

I have been running a few sysbench tests with all combinations of the following options (or option groups). There are 4 option groups and each is off or on, so there are 16 combinations:
* rocksdb_disable_2pc
* concurrent memtable -  rocksdb_allow_concurrent_memtable_write, rocksdb_enable_wri

[2016-12-20 18:10] mdcallag commented on #482
This might be the same bug as https://github.com/facebook/mysql-5.6/issues/481

[2016-12-20 18:10] mdcallag commented on #481
https://github.com/facebook/mysql-5.6/issues/482 might be a duplicate of this

[2016-12-22 01:14] #296 closed, assigned to nobody

[2016-12-27 00:04] 3manuek opened #484 "Unknown column error when selecting single column from rocksdb_dbstats catalog table"
If selecting individual columns from catalog table, it returns an error.

[code]

[code]

[2016-12-27 00:43] alxyang commented on #484
try `SELECT * FROM information_schema.ROCKSDB_DBSTATS WHERE STAT_TYPE='DB_BACKGROUND_ERRORS';`

[2016-12-27 05:09] yoshinorim opened #485 "MyRocks 2pc calls fdatasync() to WAL, even with reduced durability"
How to repeat:
rocksdb_disable_2pc=0;
rocksdb_write_sync=0;
sync_binlog=0;

Set gdb breakpoint at fdatasync, then insert any row into MyRocks.
Here is a stacktrace I got:
[code]

Suggested Fix:
rocksdb_flush_wal() needs to check if the instance needs full durability or not. Don't call SyncWAL() if full durability is not required.

[2016-12-27 07:08] yoshinorim commented on #485
https://github.com/facebook/mysql-5.6/pull/486

[2016-12-27 15:59] 3manuek commented on #484
@alxyang Damn, my bad, I just saw what I did. Closing.

[2016-12-27 15:59] #484 closed, assigned to nobody

[2016-12-27 18:12] #485 closed, assigned to yoshinorim

[2016-12-28 22:37] yoshinorim opened #488 "Make RocksDB 2PC Prepare() faster (more concurrent)"
I have been running sysbench update tests on MyRocks with 2pc enabled/disabled, and I observed over 30% qps drops with 2pc enabled, if there were many (128) clients, while qps didn't drop much with single client (~6%).

sysbench qps 128 clients:
2pc enabled -- 29000/s
2pc disabled -- 40000/s
1 client:
2pc enabled -- 3470/s
2pc disabled -- 3650/s

I digged into a couple of stack traces, and the onl

[2016-12-29 23:25] 3manuek commented on #61
Hi @jkedgar, I tried to access the link above but is not reachable from my end. I couldn't find in the wiki the way to set the CF options at DDL. Should I set CF options by changing the `rocksdb_default_cf_options` before new CFs?

[2016-12-30 18:19] mdcallag commented on #375
Fixed. Code changed to use RocksDB default, 64M

[2016-12-30 18:19] #375 closed, assigned to nobody

[2017-01-01 17:21] sbester opened #491 "'corrupt ' table with prefix blob primary + unique key"
**Problem:
----------**
Version: '5.6.27-log'  socket: '/tmp/mysql.sock'  port: 3306  Source distribution
[code]

[code]

**How To Repeat;
----------------**
[code]

[2017-01-02 05:07] sbester opened #492 "crash when histogram variables set to null"
**Problem Description:
--------------------**

[code]

**How to repeat:
--------------**

[code]

[2017-01-02 05:08] sbester opened #493 "crash when setting rocksdb_strict_collation_exception to null"
**Problem Description:
--------------------**

[code]

**How to repeat:
--------------**
`set global rocksdb_strict_collation_exceptions=null;`

[2017-01-02 05:20] sbester opened #494 "crash when setting gap_lock_exceptions to rubbish"
**Problem Description:
--------------------**

[code]

**How to repeat:
--------------**
[code]

[2017-01-02 05:23] sbester commented on #494
set global legacy_user_name_pattern ='|';

[2017-01-02 07:19] sbester opened #495 "crash in convert_record_from_storage_format"
**Problem Description:
--------------------**

[Note] MySQL git hash: f6ed777697db4ad7aee1e98c53243dced2b5891c - %cI
[Note] RocksDB git hash: 335981d47371cef0c48ebb58af53f2c8b8d8bd35 - %cI
[Note] mysqld: ready for connections.
Version: '5.6.27-debug-log'  Source distribution
[code]

**How to repeat:
--------------**
[code]

[2017-01-03 17:02] jkedgar commented on #61
Yeah - the reviews.facebook.net site has been taken down and will no longer be available.

Prior to my change any overriding column family options had to be read from a file (specified via --rocksdb-cf-options=<filename>).  After this change you can override the column family options using a new option (--rocksdb-override-cf-options=<options>).

You can see the changes on Github here: https://gith

[2017-01-03 17:25] yoshinorim commented on #491
Thanks! Verified as described.

[2017-01-03 22:50] lth commented on #491
The fix for this bug will require a format change. The problem is that for unique keys, we don't store the row id in our secondary keys, which means we can't do a PK lookup from a secondary key. The fix is just to add it in.

The fact that the PK is prefixed is irrelevant. The bug is in prefixed unique keys.

[2017-01-04 22:56] #491 closed, assigned to lth

[2017-01-06 00:20] VitaliyLi commented on #246
Hi,

The unique_checks is now supported and rocksdb_skip_unique_check deprecated:
https://github.com/facebook/mysql-5.6/commit/f7406846e9add1ef085116267772ef45d9fa40d6

Thank you,
Vitaliy

[2017-01-06 00:27] #246 closed, assigned to nobody

[2017-01-09 22:58] gunnarku commented on #355
Fixed by https://github.com/gunnarku/mysql-5.6/commit/d72c1b0ee557641295fdd1925dfcd9a8d9821450.

[2017-01-09 22:58] #355 closed, assigned to gunnarku

[2017-01-11 21:15] george-lorch commented on #246
unique_checks is specifically for unique secondary indices, it appears to me from a quick browsing of the code that MyRocks is also now using this to disable unique checks for all keys (primary) which IMHO is pretty dangerous. TokuDB has a similar option but requires that all unique secondary indices have all key components as part of the primary key and will only skip the lookup on PK if it is an

[2017-01-12 00:14] VitaliyLi commented on #246
Agree, will change unique_checks option to be applied only to secondary indexes. For primary indexes we will add another option then, as we need this functionality.

[2017-01-12 01:03] lth commented on #246
@georgelorchpercona I was reading the documentation: https://www.percona.com/doc/percona-server/5.7/tokudb/tokudb_variables.html, and it seems like tokudb also disables PK checks when unique_checks is off (hence the warning about SK corruption)?

[2017-01-12 04:05] george-lorch commented on #246
Good catch, thanks for keeping me honest. I had to go back through the code to verify but you, and the documentation, are correct. We went through all of this a while back right after we acquired Tokutek because we had users seemingly randomly setting every option that mentioned "fast" and ignoring all of the warnings then later complaining of logically corrupted indices. Yes, it really happens, a

[2017-01-18 16:54] mdcallag commented on #427
With sysbench read-only range query tests I get 5% to 20% more QPS when the memtable and level 0 is flushed. Details at https://gist.github.com/mdcallag/68052cdd36fe122354bc23ec337fb986

[2017-01-19 00:22] IslamAbdelRahman commented on #427
@siying suggested that MyRocks can for now issues a Flush() and compact all L0 files using CompactFiles() API.
but a better solution will be to bring back read triggered compactions from leveldb

[2017-01-19 00:26] yoshinorim commented on #427
Siying pointed out that for MyRocks to know list of L0/L1 files from a CF, DB::GetColumnFamilyMetaData() can be used. Find files from there and call DB::CompactFiles() with those files.

[2017-01-19 00:28] yoshinorim commented on #427
We have rocksdb_compact_cf variable to rebuild specific CF. We can add another command variable to flush MemTable and L0/L1 (or SQL function).

[2017-01-19 06:31] zhangjinpeng87 commented on #427
Since RocksDB has block-cache, is it necessary to flush memtable and compact L0 sst files for read-only queries? Because there are only at most 4 sst files in L0.

[2017-01-19 06:31] zhangjinpeng87 commented on #427
@mdcallag

[2017-01-23 23:15] alxyang commented on #427
While working on this I think I have discovered a bug within RocksDB.
My proposed patch is here. https://gist.github.com/alxyang/df534c195bf9fd8c516c57ab4fb5f610

The code changes are relatively straightforward and just get the column family meta data and call compactFiles().

Stacktrace: (looks like there is some issue with calling CompactFiles when there is a CompactionFilter enabled, the SuperV

[2017-01-24 00:22] IslamAbdelRahman commented on #427
Thanks @alxyang, it looks like an issue in rocksdb that happen when CompactionFilter is issued with CompactFiles() and the CompactionFilter is using DB::Get() inside.
We are working on a fixing it

[2017-01-24 00:32] siying commented on #427
@zhangjinpeng1987 if the data working set is so small that it all cached in memory, RocksDB will lose B-tree because both read data from memory without compression, but RocksDB needs merge data from multiple levels, L0 files and memtables. In order to improve read-only workload, we can compact memtables and L0 files so we have less data to merge.

[2017-01-26 14:47] yoshinorim commented on #481
This is fixed in RocksDB (https://github.com/facebook/rocksdb/pull/1730/commits/479ad152934402dfbe2d35cba549ccfcd8ca6de4). The commit has not been included yet in the RocksDB revision where MyRocks is referencing (stable revision). To test the fix with concurrent memtable, you can just apply the one line diff.

[2017-01-31 18:36] mdcallag opened #517 "How do I set delayed_write_rate?"
How do I set delayed_write_rate?
https://github.com/facebook/rocksdb/blob/master/include/rocksdb/options.h#L1273

I wasn't able to set it at the top level in my.cnf via rocksdb_delayed_write_rate.
I wasn't able to set it in rocksdb_default_cf_options.

[2017-02-08 10:33] purab opened #523 "Not starting mysqld - RocksDB: Couldn't start the background thread: (errno=13)"
We are using following OS (64 Bit)
CentOS Linux release 7.3.1611 (Core)

We installed all required libraries using following commands:
yum install cmake gcc-c++ bzip2-devel libaio-devel bison zlib-devel snappy-devel
yum install gflags-devel readline-devel ncurses-devel openssl-devel lz4-devel gdb git
git submodule init
git submodule update
cmake . -DCMAKE_BUILD_TYPE=RelWithDebInfo -DWITH_SSL=syste

[2017-02-08 14:46] mdcallag commented on #517
Can you find an owner? Siying suggested the default for this was too small but that might be a RocksDB issue. I can't set this in my.cnf today.

[2017-02-08 20:32] mdcallag opened #524 "support universal compaction options in my.cnf"
The options parser in RocksDB doesn't parse universal compaction options.

For the options see https://github.com/facebook/rocksdb/blob/master/include/rocksdb/universal_compaction.h

[2017-02-10 05:16] purab commented on #523
Getting below errors when I start mysqld manually or do mysql_install_db --defaults-file=/etc/my.cnf

[root@myrocks mysql]# ./scripts/mysql_install_db --defaults-file=/etc/my.cnf  or start mysqld manually.
Installing MySQL system tables...[Note] Global variable initial value (from config file) @@character-set-server = 'utf8'
[Note] Global variable initial value (from config file) @@default-storage

[2017-02-10 19:22] hermanlee opened #527 "Analyze table should determine stats of memtable only tables, including cardinality."
MyRocks does not maintain statistics on cardinality for keys that are purely in the memtable. One way to address this is on analyze table, to create an iterator that walks through only the keys in the memtable for a given index and calculate the cardinality stats. The statistics could be kept around until the memtables are flushed.

[2017-02-10 19:43] lth commented on #523
The value for collation-server in your my.cnf seems to be wrong.

See this page:
https://github.com/facebook/mysql-5.6/wiki/my.cnf-tuning

[2017-02-12 16:32] mdcallag opened #530 "change default for rocksdb_write_sync to ON"
The default is off today. I prefer that MyRocks be crash-safe by default and the default for rocksdb_write_sync to be changed to ON. The default for innodb_flush_log_at_trx_commit=1 which is crash safe.

[2017-02-12 19:41] yoshinorim commented on #530
The latest commit (https://github.com/facebook/mysql-5.6/commit/4e13a63be98ba78c369253d99d226ddf78ea37c6) already made MyRocks crash safe by default. It renamed rocksdb_write_sync to rocksdb_flush_log_at_trx_commit, and default is now 1. The diff also changed rocksdb_wal_recovery_mode from 2 to 1, which does not accept corrupted wal anymore.

[2017-02-12 19:41] #530 closed, assigned to hermanlee

[2017-02-14 01:20] alxyang commented on #517
this is closed by #526.  closing for @xiaofeidu008

[2017-02-14 01:20] #517 closed, assigned to yoshinorim

[2017-02-16 16:56] mdcallag opened #532 "MyRocks create table silently ignores DATA DIRECTORY option"
This directory does not exist ->  /var/storage/test

mysql> Create table test_table (
    -> id int primary key auto_increment,
    -> Message varchar(200)
    -> ) Engine = rocksdb DATA DIRECTORY = '/var/storage/test';
Query OK, 0 rows affected (0.00 sec)

MyISAM does raises an error when the dir doesn't exist:

mysql> create table t3 ( id int primary key ) engine=myisam DATA DIRECTORY = '/foo/va

[2017-02-16 21:55] gunnarku commented on #532
The fix will be to return an error if either `DATA DIRECTORY` or `INDEX DIRECTORY` are specified for `CREATE TABLE` in MyRocks because we ignore those parameters and should notify the user that this functionality isn't supported.

[2017-02-17 02:07] ghost commented on #532
Is there a work around for this issue ? Like can I have different database directories ? Or tables in different directories ?

[2017-02-17 02:36] alxyang commented on #532
I believe can still set the datadir via a system variable https://github.com/facebook/mysql-5.6/blob/fb-mysql-5.6.35/storage/rocksdb/ha_rocksdb.cc#L1143.

[2017-02-17 20:07] #532 closed, assigned to gunnarku

[2017-02-17 20:08] gunnarku commented on #532
For MyRocks you can use both`datadir` and `rocksdb_datadir` variables to configure the path to data directory, but you won't be able to do this for individual tables or partitions associated with a table.

[2017-02-20 02:11] justfortaste opened #533 "myrocks_hotbackup mistakenly think socket file as a directory"
backup logs

[code]

datafile list
[code]

scripts/myrocks_hotbackup think my.sock as a directory  in function get_databases()

[2017-02-20 11:35] vrofze opened #534 "Default branch fb-mysql-5.6.35 initialize failed in Ubuntu 16.04"
I run `sudo scripts/mysql_install_db --basedir=/usr/local/mysql --datadir=/usr/local/mysql/data --user=mysql --defaults-file=/etc/mysql/my.cnf --log-bin=/usr/local/mysql/data/terark-1-bin` to initialize MyRocks after compiled and installed, but it fails and the output is

While i switch to tag [5.6.27-20160411.prod](https://github.com/facebook/mysql-5.6/tree/5.6.27-20160411.prod) it works well. My

[2017-02-21 06:26] jkedgar commented on #534
@vrofze, I don't have Ubuntu 16.04 LTS handy to try this on right now.  Are you willing to do bit of debugging with me?

I looked into that code and there are two internal functions that could be returning the error.  Would you be willing to add this code for debugging purposes to see which is at fault?

[code]

Also, as I was looking around, I noticed that we are not supplying an attribute (param

[2017-02-21 12:40] vrofze commented on #534
@jkedgar , Of course.
I had attemped to make the two changes, but it fails again, and the outputs are the same:

[code]
I run `export WITH_LZ4=/usr/lib/x86_64-linux-gnu` to config liblz4-dev and recompile it.  Um...it still initialize failed. the second change does no use, while the first change's output becomes:
[code]

[2017-02-21 17:47] jkedgar commented on #534
This is good.  This tells me that it was not the null attribute to the `mysql_thread_create()` call that caused the problem.  It isn't the `mysql_thread_create()` call at all.  It is the `pthread_setname_np()` that is causing the problem.

Technically, we could simply not check the return code from `pthread_setname_np()` since we don't really need to fail as the thread was created successfully.  S

[2017-02-21 18:11] jkedgar commented on #533
I think I have a fix for this.  The pull request is at https://github.com/facebook/mysql-5.6/pull/536.

[2017-02-21 19:43] jkedgar commented on #495
I have reproduced the problem and will be investigating.

[2017-02-21 21:33] hermanlee opened #537 "Cached stats for each index need to be removed when a table is dropped."
The cached stats for an index (type Rdb_key_def::DATA_DICT_TYPE::INDEX_STATISTICS) need to be removed when the table is dropped. It currently lives forever in the __system__column family.

[2017-02-22 02:31] #533 closed, assigned to jkedgar

[2017-02-22 07:34] vrofze commented on #534
@jkedgar Great, these changes take affect, it initialize and start successfully. And it seems there no exception infomation in the output info.

[2017-02-22 17:20] jkedgar commented on #534
Great!  I'll make a Pull Request with a version of this so we can get it officially resolved.  It may take a few days to get approved.

[2017-02-22 22:54] jkedgar commented on #495
I've created a Pull Request with a fix.  https://github.com/facebook/mysql-5.6/pull/540

[2017-02-23 16:30] jkedgar commented on #534
Pull Request: https://github.com/facebook/mysql-5.6/pull/541

[2017-02-23 16:55] jkedgar commented on #523
The errno=13 on thread creation part may be resolved by https://github.com/facebook/mysql-5.6/pull/541.

[2017-02-23 17:09] #481 closed, assigned to reidHoruff

[2017-02-23 17:24] jkedgar commented on #534
The PR request has been committed.

[2017-02-23 17:24] #534 closed, assigned to jkedgar

[2017-02-23 17:26] yoshinorim opened #543 "Write GTID sets, not just last executed GTID into WAL"
This is a subtask for https://github.com/facebook/mysql-5.6/issues/474 . The purpose of this feature is support binlog_order_commits=0 in MyRocks.

Currently, MyRocks writes last executed binlog filename, position, and GTID into WAL (eventually persisted to system CF) at transaction commit. GTID is the last executed GTID, and it does not include GTID sets. If using binlog_order_commits=0, WAL writ

[2017-02-24 03:47] yoshinorim opened #545 "Dropping many empty indexes may cause L0 compaction stalls"
When dropping indexes, MyRocks calls CompactRange from background (single threaded drop_index thread). CompactRange implicitly flushes MemTables, even though there is no target key/value. If calling CompactRange() many times within short period, it may create too many L0 files which will eventually hit L0 slowdown. This may happen if dropping too many empty indexes.

Since we are proposing fast in

[2017-02-24 10:37] vrofze commented on #534
Thanks for your work :)

[2017-02-24 14:06] justfortaste opened #546 "Duplicate events in binlog when master_auto_position=0"
Execute this testcase add check about slave's binlog.

suite/rpl/slave_gtid_info.test

[code]

suite/rpl/slave_gtid_info.cnf
[code]

slave's binlog have two create table events;
[code]

Sugest:
 we should not use slave_gtid_info table to skip_event when slave start with master_auto_position=0 in gtid_mode.

[2017-02-25 04:28] jkedgar commented on #495
The PR has landed.

[2017-02-25 04:28] #495 closed, assigned to jkedgar

[2017-02-25 05:12] jkedgar commented on #493
Pull Request: https://github.com/facebook/mysql-5.6/pull/548

[2017-02-25 05:29] jkedgar commented on #494
Are you using GCC 4.8?  If so, this is a known problem.  GCC 4.8 included all the API for std::regex but did not include a full implementation, so simple things work but more complicated things like this cause failures.  Here's the bug report: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=53631.  This was resolved in GCC 4.9.

When I tried all of these values in a build done on GCC 4.9 they all suc

[2017-02-25 05:29] #494 closed, assigned to nobody

[2017-02-25 05:31] jkedgar commented on #523
Hopefully these comments addressed your concerns.  I'm going to close the issue.  If something is unresolved, reopen the issue.

[2017-02-25 05:31] #523 closed, assigned to nobody

[2017-02-25 05:32] sbester commented on #494
Hi,   yes I used gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-11) .
I will upgrade gcc.

Thanks!

[2017-02-25 06:44] jkedgar commented on #492
A Pull Request with a fix is here: https://github.com/facebook/mysql-5.6/pull/549.

[2017-02-25 06:47] jkedgar commented on #439
I'm going to close this issue.  Feel free to ask your question on the email list if you haven't already.

[2017-02-25 06:47] #439 closed, assigned to nobody

[2017-02-25 07:07] jkedgar commented on #436
Done.

[2017-02-25 07:07] #436 closed, assigned to jkedgar

[2017-02-27 03:19] laurynas-biveinis commented on #494
https://www.facebook.com/groups/rocksdb.dev/permalink/1176824982416014/ suggests that dropping GCC 4.8 support has not happened yet - @jkedgar could you please clarify?

[2017-02-27 17:19] jkedgar commented on #494
I have confirmed that MyRocks has dropped support for GCC 4.8.  The post you cite is for RocksDB (the underlying key/value storage solution the MyRocks uses) and MyRocks can drop support for GCC 4.8 even if RocksDB still supports it.

Unfortunately I don't see anywhere where we announced that MyRocks would be dropping GCC 4.8.  I'll try to follow up on that and see if we can make that public in a

[2017-02-27 17:30] george-lorch commented on #494
This _might_ eventually cause us some heartache with MyRocks and limit our ability to build and distribute it across all of our proposed supported platforms for Percona Server. We were already planning to limit it in the same way we limit TokuDB. Only 64 bit, 'modern-ish' platforms. Currently we have no platform build that mandates 4.9, only 4.8.

std::regex will not be a problem as we are removin

[2017-02-27 17:37] jkedgar commented on #494
I don't think we are relying on any 4.9 feature yet (with the exception of this regex stuff).  The main issue is that we are finding it difficult to maintain building/testing with 4.8 internally.

I would be happy to import a Pull Request that switches from std::regex to my_regex - assuming we don't lose some important functionality.

[2017-02-27 17:49] jkedgar commented on #428
Pull Request: https://github.com/facebook/mysql-5.6/pull/550

[2017-02-27 21:55] george-lorch commented on #494
I was considering sending up my regex work, but you may not like the direction I went. There are a few key differences.
1) I eliminated the idea of a delimited list, it is just a regex. Anyone composing a regex should be just as able to add an '|' in place of a ',' and eliminates the possibility of the list handling code replacing valid regex {"abc", "def"} with {"abc" | "def"}. Making it a list s

[2017-02-27 22:39] #428 closed, assigned to jkedgar

[2017-02-27 22:56] jkedgar commented on #537
Pull Request: https://github.com/facebook/mysql-5.6/pull/553

[2017-02-27 22:56] #492 closed, assigned to jkedgar

[2017-02-27 22:57] #493 closed, assigned to jkedgar

[2017-02-27 23:02] #390 closed, assigned to jkedgar

[2017-02-28 00:58] #537 closed, assigned to jkedgar

[2017-02-28 23:04] #545 closed, assigned to yoshinorim

[2017-02-28 23:04] #482 closed, assigned to reidHoruff

[2017-03-01 00:25] jkedgar commented on #357
The Pull Request (https://github.com/facebook/mysql-5.6/pull/554) solves this immediate problem.  While testing this I found other problems that I have sent fixes for internally.  I'll try to update this when they have all landed.

[2017-03-02 05:02] jkedgar commented on #357
All the internal issues have landed.

[2017-03-02 05:02] #357 closed, assigned to jkedgar

[2017-03-02 05:11] jkedgar commented on #293
This was taken care of in https://github.com/facebook/mysql-5.6/commit/c0e6859bffd5b176f1b531b6e54a8a89c2dd6a65 and https://github.com/facebook/mysql-5.6/commit/19e810f960c164b971fd87e418f756137bb9a6e3

[2017-03-02 05:11] #293 closed, assigned to jkedgar

[2017-03-03 01:39] jkedgar commented on #255
Pull Request:  https://github.com/facebook/mysql-5.6/pull/556

[2017-03-06 11:03] ghost opened #557 "Can't create RPM package"
Build machine : centos 7.x x86_64

built with -DINSTALL_LAYOUT=RPM

make package always generates a tar.gz
cpack -G RPM fails to build rpm.

[2017-03-06 18:05] jkedgar commented on #557
What errors (if any) do you receive from cpack?

[2017-03-06 21:24] jkedgar commented on #204
The reason for the difference is that InnoDB is able to do an in-place alter so no rows are copied.  RocksDB, due to its different format, can't do an in-place alter so a new table is created and the rows are copied from the old to the new.  If you do an alter where RocksDB _can_ do the work in-place, the result matches InnoDB's output.

[code]

You can see the code that is generating this at http

[2017-03-06 21:24] #204 closed, assigned to nobody

[2017-03-06 21:31] jkedgar commented on #208
This seems to have been resolved recently as I can't reproduce the problem.  I get the same values as InnoDB.  I'm closing the issue.  If you are able to reproduce this with the current build, reopen the issue.

[2017-03-06 21:31] #208 closed, assigned to nobody

[2017-03-06 21:41] jkedgar commented on #202
I can't reproduce this.  I ran it with a value for `--rocksdb-compaction-readahead-size` that was 1000 times larger than your value and it succeeded:

[code]

I'm hoping that means the issue has been resolved since this was opened.  If you can still reproduce the problem with the current code please re-open the issue and give me more details.

[2017-03-06 21:41] #202 closed, assigned to nobody

[2017-03-06 22:49] jkedgar commented on #190
Pull Request: https://github.com/facebook/mysql-5.6/pull/558

[2017-03-06 22:59] jkedgar commented on #305
This looks like it has been resolved.  Closing.

[2017-03-06 22:59] #305 closed, assigned to nobody

[2017-03-06 23:00] #307 closed, assigned to nobody

[2017-03-07 04:33] ghost commented on #557
https://gist.github.com/Dark-Passenger/03d143e2c7323db58003391d0a69de8d

[2017-03-07 19:26] jkedgar commented on #190
This should now be fixed.

[2017-03-07 19:26] #190 closed, assigned to jkedgar

[2017-03-08 03:59] ghost commented on #557
The errors :
error: File not found: /home/dpar/Projects/mysql/mysql-5.6/qhbuild/_CPack_Packages/Linux/RPM/mysql-5.6.35-linux-x86_64/usr/share/info/mysql.info
    File not found: /home/dpar/Projects/mysql/mysql-5.6/qhbuild/_CPack_Packages/Linux/RPM/mysql-5.6.35-linux-x86_64/usr/share/info/mysql.info
 ***
CPack Error: Problem copying the package: /home/dpar/Projects/mysql/mysql-5.6/qhbuild/_CPack_Pa

[2017-03-08 09:43] ghost commented on #557
@jkedgar I dont really get how the spec file is being generated so can't even edit it.

The required file is being created but as a gz i.e. mysql.info.gz so a gunzip step might be needed.

[2017-03-08 17:10] jkedgar commented on #557
I'm not sure either.  I checked and we do have a mysql.info in the Docs subdirectory - just like standard Oracle MySQL 5.6.  I'll try to investigate further.

[2017-03-09 04:01] ghost commented on #557
I am more interested in how the spec file is being generated. and hence how and where is this file being copied from.

[2017-03-10 00:18] yoshinorim opened #560 "Need to set sst_file_manager"
On flash devices, deleting many files too fast is causing problems. Options::sst_file_manager has a variable rate_bytes_per_sec to control how fast RocksDB deletes sst files. By utilizing this feature, we'll be able to prevent trim stalls.

[2017-03-10 22:19] yoshinorim opened #561 "Support dynamic CF option changes"
Currently, CF option changes need to restart mysqld. We need to find out how to change some variables dynamically.

[2017-03-10 23:08] yoshinorim commented on #543
Another important point is with ordering commits, if a transaction takes long time at commit() (e.g. writing large data into MemTable), all other transactions need to wait. This is a consequence of the serialized commits. This is a debugging code to reproduce the issue (https://gist.github.com/yoshinorim/68ba74e3acd5b7fc6629250072f79455). With disabling ordered commits, long time commit() doesn't

[2017-03-10 23:10] gunnarku commented on #560
RocksDB doesn't currently support dynamically updating this value. We'll need to introduce `SetDeleteRateBytesPerSecond()` and pass that through to `DeleteScheduler`.

[2017-03-13 19:50] yoshinorim opened #565 "Need to add/update bloomfilter test cases"
bloomfilter.test does not have enough test cases with reverse order column family. Patching https://gist.github.com/yoshinorim/ea93242f6cf771017863344fe36fd5e4 will give better coverage. The additional test case revealed the followings.

- Prior to 2eed684599a131cd06a26a48282d049d6ef37fe1, MyRocks had a bug that it returned wrong result set with reverse CF. The bug happened if bloom filter length

[2017-03-13 20:52] #476 closed, assigned to VitaliyLi

[2017-03-14 12:01] laurynas-biveinis opened #567 "-DWITH_ASAN=ON results in broken server if system AddressSanitizer includes LeakSanitizer"
If LeakSanitizer is included in system AddressSanitizer (e.g. Ubuntu 16.10), the built server is not able to bootstrap:

cmake ... -DWITH_ASAN=ON ...
...
$ ./mtr --debug-server fast_prefix_index_fetch_innodb
...
Installing system database...
mysql-test-run: *** ERROR: Error executing mysqld --bootstrap

The bootstrap log contains

2017-03-14 13:52:49 14546 [Note] InnoDB: Shutdown completed; log se

[2017-03-14 12:12] laurynas-biveinis opened #568 "innodb_prefix_index_cluster_optimization silently returns wrong query results for UTF-8 and other > 1 byte character sets"
./mtr --do-test=ctype --mysqld=--innodb_prefix_index_cluster_optimization=ON
will result in a variety of failures showing missing rows in result sets, for example:
main.ctype_utf8mb4_heap                  w4 [ fail ]
        Test ended at 2017-03-14 14:06:37

CURRENT_TEST: main.ctype_utf8mb4_heap
--- /home/laurynas/mysql-server/mysql-test/r/ctype_utf8mb4_heap.result	2017-03-14 14:28:34.018997655 +

[2017-03-14 12:16] laurynas-biveinis commented on #568
The root cause is the added check "if (record_size >= field->prefix_len)" in row_search_for_mysql. record_size is in bytes, and field->prefix_len is prefix length, in characters, times maximum possible character width in its charset, e.g. VARCHAR(10) in UTF8MB4 will be 40 here, not 10, as the code expects.

For a possible fix, including reduced testcases and some other cleanups, see https://github

[2017-03-14 15:51] spetrunia opened #569 "bulk_load test fails with "Invalid argument: Keys must be added in order" error"
I am compiling current tree on Ubuntu 16.04.1 LTS with https://github.com/facebook/mysql-5.6/wiki/Build-Steps .

bulk_load reliably fails like this:
[code]

[2017-03-14 17:17] jkedgar commented on #569
Sergei, I am unable to reproduce this using our build system (which is not exactly the same as what you are doing).  Can you try something for me?  In mysql-test/suite/rocksdb/t/bulk_load.test can you change the $max variable from 5000000 to 20 and see if the problem still occurs?  Also, can you try removing the secondary key from column 'a' in table 't1' and see if that makes any difference?

[2017-03-14 20:40] spetrunia commented on #569
Changed, updated .result file. The problem still occurs.

While doing this, I've discovered that the problem does not happen every time when I run the test on its own. If I run `rocksdb.bulk_load --parallel=4 --repeat=10` the error occurs on the second or third test.

[2017-03-14 20:42] spetrunia commented on #569
Done, together with $max=20 change.  The problem still occurs.

[2017-03-14 20:49] spetrunia commented on #569
Further info on how to reproduce provided via email

[2017-03-14 22:59] jkedgar commented on #569
The fact that it only fails when the test is repeated is the clue.  I found a bug last week that is the culprit.  The test 1) opens the text file (into which it generates the rows to insert) in append mode and 2) fails to delete this file at the end of the test.  This means that the second time through the test you get double the number of rows and although each half is ordered the file as a whole

[2017-03-14 23:11] george-lorch commented on #569
While we're not yet there with MyRocks, we run our mtr on occasion with --repeat=2 specifically to find test cleanup/environmental problems.

[2017-03-15 03:27] yoshinorim opened #570 "Expose DDL_DROP_INDEX_ONGOING stats to information_schema"
This is useful to know how many pending manual compactions (CompactRange) are upcoming.

[2017-03-16 17:28] yoshinorim commented on #570
select * from information_schema.rocksdb_global_info where type='DDL_DROP_INDEX_ONGOING';

[2017-03-16 17:28] #570 closed, assigned to nobody

[2017-03-16 23:05] yoshinorim opened #574 "More graceful rpl_skip_tx_api"
rpl_skip_tx_api has a risk that indexes on slaves become inconsistent, if updated outside of replication. Here are two reproducible test cases (https://gist.github.com/yoshinorim/bafd6f412852553935f23dd30e894051 and https://gist.github.com/yoshinorim/4a72b4d30ab6173632d89e2c86c51e58). Basically, it should exclude tables like what read free replication does (rocksdb_read_free_rpl_tables).

On the o

[2017-03-17 01:25] gunnarku commented on #560
RocksDB changes have been committed: https://github.com/facebook/rocksdb/commit/995618a821b39e6994128a43aa38761dda3505c9. We can start working on MyRocks part now.

[2017-03-17 19:48] george-lorch opened #575 "missing sysvars rocksdb_enable_2pc test"
From all_vars.result:

[2017-03-18 10:07] spetrunia opened #577 "Tests in rocksdb_hotbackup suite fail with 'RESET SLAVE' failed: 1286: Unknown storage engine 'InnoDB'"
I am using MyRocks, compiled as specified in https://github.com/facebook/mysql-5.6/wiki/Build-Steps.

I'm trying to run tests in rocksdb_hotbackup test suite. They all fail in the same way, like this one:
[code]

Every test fails in the same way, so I get:
[code]

[2017-03-18 10:13] spetrunia commented on #577
Checked: my mysqld binary has innodb statically linked in.
An attempt to make dumb fix like this
[code]
didn't make any difference. Tests still fail with the same error.

[2017-03-20 16:25] jkedgar commented on #569
This fix has landed.  Closing.

[2017-03-20 16:25] #569 closed, assigned to nobody

[2017-03-21 20:22] #575 closed, assigned to alxyang

[2017-03-23 21:08] #560 closed, assigned to gunnarku

[2017-03-23 22:33] spetrunia opened #579 "rocksdb.persistent_cache test fails with Assertion `cache_key_prefix_size != 0' on certain filesystems"
This is originally from https://jira.mariadb.org/browse/MDEV-12341 but the issue is not related to MariaDB.

If I build a debug build of MyRocks and then run:
[code]
(note: --mem is important, more on this below)

then it fails like this:
[code]
...

[code]
...
[code]

[2017-03-23 22:36] spetrunia commented on #579
So the assertion is:
[code]

Debugging, one can see that the value is indeed 0, and it comes from this code in table/block_based_table_reader.cc, BlockBasedTable::SetupCacheKeyPrefix :

[code]

Looking at GenerateCachePrefix:

[code]

My debug printouts:
[code]
I think the code in this function has a bug. It should produce a non-empty prefix even when cc==NULL and GetUniqueId()=0.

How come GetUni

[2017-03-23 22:48] reidHoruff commented on #527
Does this mean that currently our statistics heuristic doesn't work if there is no data in sst, only mem?

[2017-03-23 22:54] alxyang commented on #565
closed by https://github.com/facebook/mysql-5.6/commit/639b92350f25de340c3d859db267e151b49f4512

[2017-03-23 22:54] #565 closed, assigned to nobody

[2017-03-24 02:06] gunnarku commented on #561
Research about how to implement done. Changes will be most likely made tomorrow and will be pushed by early next week.

[2017-03-24 21:45] george-lorch opened #581 "multiclient_2pc-mater.opt incorrectly named and thus not used"
https://github.com/facebook/mysql-5.6/blob/fb-mysql-5.6.35/mysql-test/suite/rocksdb_rpl/t/multiclient_2pc-mater.opt

Should be multiclient_2pc-master.opt not the missing 's' in 'master' unless it is intended to be called a slang for tomato :)

[2017-03-24 21:48] george-lorch commented on #581
Test also appears to be incorrect here https://github.com/facebook/mysql-5.6/blob/fb-mysql-5.6.35/mysql-test/suite/rocksdb_rpl/t/multiclient_2pc.test#L36 which temporarily disables 2pc but actually just enables it. Note that in 5.7+ disabling 2pc at SE is deprecated functionality as 2pc must be supported at all times.

[2017-03-24 22:09] reidHoruff commented on #581
Hi George, some good catches here. This test is currently disabled on our end because it requires some tlc. This is a great place to start though. I will look into these.

[2017-03-24 22:17] reidHoruff commented on #581
Also, can you elaborate on the change in 5.7+ for disabling 2pc? Setting rocksdb_enable_2pc=OFF is a MyRocks specific flag which disables 2pc semantics at a pretty low level. From MySQL's point of view the engine is still supporting 2pc semantics.

[2017-03-24 22:25] george-lorch commented on #581
Actually, I conflated two ideas here, XA and 2pc, XA is built on 2pc. In 5.7, all transactional engines must support 2pc in order to play with the binlog group commit correctly. The ability to disable 2pc/XA via innodb_support_xa and tokudb_support_xa is being deprecated, and this intersects somewhat with the rocksdb_enable_2pc.

From https://dev.mysql.com/doc/refman/5.7/en/innodb-parameters.html#

[2017-03-28 02:22] gunnarku commented on #561
Landed as https://github.com/facebook/mysql-5.6/commit/9773f0ce456369a5b6ff2ebcde31410716727b01

[2017-03-28 02:22] #561 closed, assigned to gunnarku

[2017-03-28 11:23] spetrunia commented on #577
All tests fail with the same error

[code]

MTR run logs from Centos7 and Ubuntu 16.04:

https://gist.github.com/spetrunia/c4e825bc0a84720dd3a6bac1147be700
https://gist.github.com/spetrunia/62691cf47524c682e2f4eb16b2ba8f26

Running
[code]

I can see that InnoDB is linked in statically, on both platforms.

[2017-03-28 11:32] spetrunia commented on #577
[offtopic] MariaDB's issue for tracking this: https://jira.mariadb.org/browse/MDEV-12380

[2017-03-28 12:05] spetrunia commented on #577
Debugged rocksdb_hotbackup.stream test.  The cause of the error is that `RESET SLAVE` statement is trying to clear `mysql.slave_gtid_info`, and fails to open it because the table is using InnoDB storage engine.
I'm not yet sure why is it using InnoDB.

[code]

[2017-03-29 11:28] spetrunia commented on #577
Ok after installing MySQL-python and when using this command line to start mtr
[code]
the test passed for me on CentOS 7.2.   I suspect there might still be something wrong on Ubuntu, so will keep this bug open for a few more days.

[2017-03-30 09:52] ghost commented on #532
both are not dynamic variables so they both are set before the system starts. So how does this substitute for seperate data directory for different databases ?

[2017-03-30 15:07] mdcallag commented on #532
Separate data directory for different databases, tables, indexes isn't supported.

[2017-03-30 21:43] hermanlee opened #584 "rocksdb_background_sync should merge with rocksdb_flush_log_at_trx_commit"
The rocksdb_background_sync variable enables background syncing the WAL file every second. Since rocksdb_flush_log_at_trx_commit has been added to mimic the InnoDB behavior, rocksdb_background_sync should be removed and setting rocksdb_flush_log_at_trx_commit=2 should enabe the background sync behavior.

[2017-04-01 08:40] hanseungsung opened #585 "Mysql-5.6+rocksdb direct i/o issue"
hi dear all,
I want to test direct i/o in mysql+rocksdb.
so i changed  "bool use_direct_reads = false;" to "bool use_direct_reads = true;" and "bool use_direct_writes = false;" to "bool use_direct_writes = true;"

![image](https://cloud.githubusercontent.com/assets/26833625/24577024/1989f084-1701-11e7-9c41-58e516a279f9.png)

and i did it same as below

`cmake -DMYSQL_DATADIR=/home/rocksdata/data -

[2017-04-02 01:39] hermanlee commented on #585
You should be able to enable direct_io using the rocksdb_use_direct_reads and rocksdb_use_direct_writes variables instead of modifying the code directly. Add to your my.cnf file:

[code]

The DBOptions class is constructed and used in places where rocksdb needs to read from a file using buffered I/O (such as during initialization in listing the column families). It expects the default value to be

[2017-04-03 10:31] spetrunia commented on #577
No, turned out to be a bogus issue after all. Nevermind.

[2017-04-03 10:31] #577 closed, assigned to nobody

[2017-04-03 10:44] spetrunia opened #586 "Valgrind reports memory leaks when using a public OSS build"
I am trying to run the smallest test with valgrind:

cat suite/rocksdb/t/_b1.test
[code]

and I get *lots* of valgrind warnings: https://gist.github.com/spetrunia/0a30168ef3d3e5d521adb8b3753d8fe6

* I understand that "blocks are still reachable" warnings may not be real issues. (However, in this case the distributions prefer to see suppressions added for them)
* I am not sure what exactly "blocks

[2017-04-03 13:38] svetasmirnova opened #587 "LOCK IN SHARE MODE does not lock UPDATE"
LOCK IN SHARE MODE does not lock UPDATE if "select ... lock in share mode;" selected same row in the same transaction.

How to repeat:

CREATE TABLE `t` (
`id` int(11) NOT NULL,
`f` varchar(100) DEFAULT NULL,
PRIMARY KEY (`id`)
) ENGINE=ROCKSDB;
insert into t values(12345, 'value1'), (54321, 'value2');

Session 1:
session 1> insert into t values(12345, 'value1'), (54321, 'value2');
Query OK, 2 row

[2017-04-03 15:54] mdcallag opened #588 "OOM from March 17 build with insert benchmark and default my.cnf"
I think this is a new bug. I get OOM from mysqld running the insert benchmark with the default my.cnf. I don't get an OOM with a non-default my.cnf. I think this is a new problem. By OOM I mean that mysqld RSS and VSZ grow until mysqld is killed and on some servers that is ~256gb. This happens during the load phase with 16 clients inserting into 16 tables for a database that is ~65gb

I will do bi

[2017-04-03 16:28] gl-sergei opened #589 "INFORMATION_SCHEMA.ROCKSDB_GLOBAL_INFO returns uninitialized values when no rocksdb tables have been created yet"
Example:
[code]

When data dictionary contains no tables `Rdb_dict_manager::get_cf_flags` returns `false` which means "nothing found", but `rdb_i_s_global_info_fill_table` doesn't check return value and fills I_S table with uninitialized values. `mysqld --bootstrap` always create some RocksDB tables, so `rocksdb.information_schema` test doesn't expose this bug.

[2017-04-03 18:08] spetrunia commented on #586
Compile string:
[code]

[2017-04-03 19:04] mdcallag commented on #588
my.cnf doesn't explain it. This didn't happen until I upgraded test servers from CentOS6 to CentOS7. But the Mar17 build is OK with linkbench and sysbench on CentOS7. Still looking.

[2017-04-03 21:29] gunnarku commented on #586
Debugging notes - the MyRocks commit pointer being used is the following:

[code]

[2017-04-03 21:36] mdcallag commented on #588
Not a bug. Maybe new behavior with MySQLdb 1.2.5, conn.autocommit(True) is a noop depending on value of autocommit on the server. Maybe a bug in MySQLdb but the workaround is to set autocommit=True when creating the connection.

[2017-04-03 21:36] #588 closed, assigned to nobody

[2017-04-04 15:55] mdcallag opened #590 "fix name for libzstd for PIC"
This commit uses:
"SET(ZSTD_LIBRARY $ENV{WITH_ZSTD}/libzstd_pic.a"
https://github.com/facebook/mysql-5.6/commit/a16bf0cb312483d22c1d18d9659a346c23f565ec

Previous commits used:
$ENV{WITH_ZSTD}/libzstd${PIC_EXT}.a)
https://github.com/facebook/mysql-5.6/commit/0b1a9cb2431b3dcf4ea3bcc4f13e3f12a6594509

The new commit should also use libzstd${PIC_EXT}.a to avoid breaking builds on non-FB servers

[2017-04-04 15:56] mdcallag commented on #590
Build is broken for me on Ubuntu 16.04 and for others on CentOS
https://groups.google.com/forum/#!topic/myrocks-dev/Wp9R5qkkP2E

[2017-04-04 16:34] mdcallag commented on #590
Even with that fix, the build still fails
[code]

[2017-04-04 18:26] mdcallag commented on #590
Didn't fix the prod build, but this fixed my home build:
[code]

[2017-04-05 03:18] gunnarku commented on #586
Repro confirmed _externally_ on Ubuntu.

[2017-04-05 04:30] yoshinorim opened #592 "MyRocks doesn't store and expose table creation time"
mysql> create table t (id int primary key) engine=rocksdb;
Query OK, 0 rows affected (0.09 sec)

mysql> show table status like 't'\G
*************************** 1. row ***************************
           Name: t
         Engine: ROCKSDB
        Version: 10
     Row_format: Fixed
           Rows: 0
 Avg_row_length: 0
    Data_length: 0
Max_data_length: 0
   Index_length: 0
      Data_free: 0
 Au

[2017-04-06 00:46] lth commented on #587
Fix is over here: https://github.com/facebook/rocksdb/pull/2099

[2017-04-06 20:05] gunnarku commented on #29
Not clear what this means. Closing.

[2017-04-06 20:05] #29 closed, assigned to nobody

[2017-04-06 20:06] gunnarku commented on #32
Closing. Obsolete. Open a new issue for each particular test case which needs to be ported over.

[2017-04-06 20:06] #32 closed, assigned to nobody

[2017-04-06 20:11] gunnarku commented on #49
Obsolete.

[2017-04-06 20:11] #49 closed, assigned to nobody

[2017-04-06 20:12] gunnarku commented on #50
No longer relevant.

[2017-04-06 20:12] #50 closed, assigned to nobody

[2017-04-06 20:13] gunnarku commented on #51
Obsolete.

[2017-04-06 20:13] #51 closed, assigned to gunnarku

[2017-04-06 20:23] gunnarku commented on #86
Already completed.

[2017-04-06 20:23] #86 closed, assigned to yoshinorim

[2017-04-06 20:24] gunnarku commented on #92
This is essentially a bulk load feature.

[2017-04-06 20:24] #92 closed, assigned to jkedgar

[2017-04-06 20:25] gunnarku commented on #96
Documented in the wiki.

[2017-04-06 20:25] #96 closed, assigned to yoshinorim

[2017-04-06 20:29] #107 closed, assigned to nobody

[2017-04-06 20:29] gunnarku commented on #118
Jay already did all this work.

[2017-04-06 20:29] #118 closed, assigned to nobody

[2017-04-06 20:31] #123 closed, assigned to nobody

[2017-04-06 20:32] gunnarku commented on #124
Covered by existing test cases.

[2017-04-06 20:32] #124 closed, assigned to nobody

[2017-04-06 20:39] gunnarku commented on #163
Closing given it's an upstream issue.

[2017-04-06 20:39] #163 closed, assigned to nobody

[2017-04-06 20:42] gunnarku commented on #198
Follow up with Manuel about more details please.

[2017-04-06 20:44] #200 closed, assigned to spetrunia

[2017-04-06 20:45] hermanlee opened #594 "Accessing rocksdb information schema tables while running with InnoDB causes crash"
To reproduce,

Start mysqld with InnoDB storage engine.

select * from information_schema.rocksdb_locks;

[2017-04-06 20:47] gunnarku commented on #222
Closing because no response. Please re-open if you want to add more details.

[2017-04-06 20:47] #222 closed, assigned to gunnarku

[2017-04-06 20:48] #225 closed, assigned to nobody

[2017-04-06 20:49] gunnarku commented on #227
Closing because this is an upstream issue.

[2017-04-06 20:49] hermanlee commented on #594
[code]

[2017-04-06 20:50] gunnarku commented on #234
Wiki has been updated.

[2017-04-06 20:50] #234 closed, assigned to yoshinorim

[2017-04-06 20:54] gunnarku commented on #248
Already fixed.

[2017-04-06 20:54] #248 closed, assigned to nobody

[2017-04-06 20:55] gunnarku commented on #255
Jay fixed this!

[2017-04-06 20:55] #255 closed, assigned to nobody

[2017-04-06 20:56] gunnarku commented on #256
This is bulk load.

[2017-04-06 20:56] #256 closed, assigned to jkedgar

[2017-04-06 20:57] gunnarku commented on #260
Jay fixed this!

[2017-04-06 20:57] #260 closed, assigned to jkedgar

[2017-04-06 20:58] gunnarku commented on #262
Upstream bug. Closing.

[2017-04-06 20:58] #262 closed, assigned to nobody

[2017-04-06 21:01] #268 closed, assigned to nobody

[2017-04-06 21:03] gunnarku commented on #278
Please re-open if there will be more instances.

[2017-04-06 21:03] #278 closed, assigned to nobody

[2017-04-06 21:09] gunnarku commented on #286
Workaround implemented.

[2017-04-06 21:09] #286 closed, assigned to yoshinorim

[2017-04-06 21:15] george-lorch commented on #227
Actually, it will become a downstream issue as well since in PS (and MariaDB?) InnoDB and other transactional storage engines will _always_ be present.

We are considering a new session variable that tells the server that the session intends to use only one transactional engine. This way, when set during transaction begin and if no binlog TC is needed/present, then use no TC at all. Then later, if

[2017-04-06 21:28] gunnarku commented on #321
We should remove `auto_cf` support.

[2017-04-06 21:37] gunnarku commented on #347
Please re-open if you see any other issues.

[2017-04-06 21:37] #347 closed, assigned to nobody

[2017-04-06 21:37] gunnarku commented on #348
Please re-open if you still the issue.

[2017-04-06 21:37] #348 closed, assigned to nobody

[2017-04-06 21:42] gunnarku commented on #369
Please re-open if this is still an issue. We added more data about RocksDB engine status recently as well.

[2017-04-06 21:42] #369 closed, assigned to nobody

[2017-04-06 21:44] gunnarku commented on #377
Please re-open if you still see this issue.

[2017-04-06 21:44] #377 closed, assigned to nobody

[2017-04-06 22:14] gunnarku commented on #594
Touched code in that area recently, will take a look. There are possibly some other cases as well when various callback functions don't take into account the fact that MyRocks is not possibly loaded.

[2017-04-06 22:37] gunnarku commented on #586
So far I haven't seen any evidence of an actual memory leak. One of the differences between external and an internal build is that internally we define `HAVE_purify` when Valgrind is used. This impacts cases like in MyRocks code:

[code]

Another things I realized is that Valgrind suppression list (`mysql-test/valgrind.supp`) contains function list with name mangling possibly specific to a version

[2017-04-06 23:37] george-lorch opened #595 "rocksdb.type_set_indexes appears to be incorrectly creating innodb table as test target"
https://github.com/facebook/mysql-5.6/blob/fb-mysql-5.6.35/mysql-test/suite/rocksdb/t/type_set_indexes.test#L75

I think this is supposed to be creating a rocksdb table, I see no logical reason why this would use innodb.

[2017-04-07 16:41] gunnarku commented on #586
Subset of leaks reproduced internally even after fixing compilation flags. Trying to determine if they are "By Design" given the way we utilize RocksDB or a real problem or a missing suppression or something else.

[2017-04-07 17:07] #382 closed, assigned to nobody

[2017-04-07 21:26] hermanlee commented on #594
Thanks. Some of the information_schema tables are properly disabled, but others (that trigger the crash, are not).

[code]

[2017-04-07 22:02] reidHoruff commented on #198
https://github.com/facebook/mysql-5.6/wiki/MyRocks-Information-Schema#rocksdb_lock
https://github.com/facebook/mysql-5.6/wiki/MyRocks-Information-Schema#rocksdb_lock

Manuel and I added these features some time ago.

For "blocking client id, requesting client id" we have the RocksDB transaction ID. It doesn't look like there is a way to currently map this id to a mysql client id (whatever that is)

[2017-04-07 22:15] lth commented on #198
Yeah, this is done. Client id probably refers to thread id which you can get by joining against rocksdb_trx (another IS table).

[2017-04-07 22:15] #198 closed, assigned to nobody

[2017-04-08 04:35] yoshinorim opened #596 "Make SHOW GLOBAL STATUS faster for MyRocks"
Should not take 50ms

[2017-04-08 06:41] grooverdan opened #597 "storage/rocksdb/rdb_datadic.cc:1585"
From [MariaDB -MDEV-12469](https://jira.mariadb.org/browse/MDEV-12469?focusedCommentId=93902&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-93902) where the code is the same (except on line 1306).

gcc-7 on big endian isn't smart enough to realise the swap_func is always nullptr

[2017-04-10 05:53] grooverdan opened #600 "Big endian tests fail"
Even with #599 merged, the rockdb test suite fails with a number of errors that look distinctly big endian related (RHEL7: ppc64).

Looking though the test suite it seem like the errors relate to storage of particular types and I suspect it wouldn't be too much to correct.  By comparison the rocksdb has relatively few test failures.

Unless you object loudly I'm just giving you a heads up that you

[2017-04-10 15:45] chuckcai opened #602 "alter table drop key cause mysqld crash"
**Description:**
./bin/mysqld(my_print_stacktrace+0x47)[0x13c145b]
./bin/mysqld(handle_fatal_signal+0x727)[0xcfac4f]
/lib64/libpthread.so.0(+0xf500)[0x7f95efd0a500]
/lib64/libc.so.6(gsignal+0x35)[0x310b0328a5]
/lib64/libc.so.6(abort+0x175)[0x310b034085]
./bin/mysqld(_ZN7myrocks16Rdb_dict_manager20log_start_drop_indexENS_14_gl_index_id_sEPKc+0xe9)[0x14931c7]
./bin/mysqld(_ZN7myrocks16Rdb_dict_manag

[2017-04-10 16:18] alxyang commented on #602
Thanks for the report. I will take a look

[2017-04-10 21:22] gl-sergei commented on #589
Fix doesn't seem to work properly. Flags still are not created.
[code]

[2017-04-10 23:06] #587 closed, assigned to lth

[2017-04-11 06:07] alxyang commented on #596
I can help with this, but I need more info @yoshinorim

[2017-04-11 08:38] chuckcai opened #604 "use index_merge cause mysqld crash"
**Description:**
9283726 Thread pointer: 0x2c69910
9283727 Attempting backtrace. You can use the following information to find out
9283728 where mysqld died. If you see no messages after this, something went
9283729 terribly wrong...
9283730 stack_bottom = 2b08fe080be8 thread_stack 0x80000
9283731 /u01/bak/mysqld(my_print_stacktrace+0x2c)[0xa5b25c]
9283732 /u01/bak/mysqld(handle_fatal_signal+0x34d

[2017-04-11 12:58] gl-sergei opened #605 "Build failure with GCC 6.2.0 and -Werror=nonnull-compare"
Build fails with error:

[code]

Here we have method `convert_record_to_storage_format` declared with `__attribute__((__nonnull__))`. Which means that it's parameters cannot be NULL.

And then it's parameter `pk_unpack_info` compared to NULL in assert
[code]

This assert should mean that if `m_maybe_unpack_info` is not null then `pk_unpack_info` should be not null. Assert cannot be violated, becau

[2017-04-11 15:30] jkedgar commented on #605
The attribute is incorrect.  I'll get it fixed soon.

[2017-04-11 17:24] jkedgar commented on #605
Never mind.  It looks like this was fixed as a side-effect of https://github.com/facebook/mysql-5.6/commit/5107b14404f76617756cd4c0f04cb95e41f82e2c.  I'll close this, but if you have additional problems with this, re-open it.

[2017-04-11 17:24] #605 closed, assigned to jkedgar

[2017-04-11 17:52] #586 closed, assigned to gunnarku

[2017-04-12 01:55] alxyang commented on #461
this task is already completed via D4448878

[2017-04-12 01:55] #461 closed, assigned to nobody

[2017-04-12 17:45] gunnarku commented on #594
Fixed by https://github.com/facebook/mysql-5.6/commit/29b90494d6033c13c03409d54d20c6513b73d544.

[2017-04-12 17:45] #594 closed, assigned to gunnarku

[2017-04-12 17:47] gunnarku commented on #592
AFAICS `stats.create_time` needs to be set in `ha_rocksdb::info` which implies that table creation time need to be stored in the data dictionary with all the other table related meta data. Which in turn implies that table definition DDL entry code (`Rdb_tbl_def::put_dict`?) needs to be modified.

[2017-04-13 15:13] mdcallag opened #607 "can MyRocks support a block size per CF?"
I think RocksDB supports this today. But the question is whether there is a good way to expose it.

[2017-04-13 21:58] gl-sergei commented on #589
This fix is incomplete. `rdb_i_s_global_info_fill_table` changed to crash when `get_cf_flags` were not found. Now, lets take a look on how default CF is created. CF itself created in `rocksdb_init_func`, I suppose by `rocksdb::TransactionDB::Open` call. But flags should be added by separate call `Rdb_dict_manager::add_cf_flags`. This is not done.

Flags for default CF only added when we try to cre

[2017-04-14 06:29] chuckcai opened #608 "commit_in_middle cause mysqld crash"
**Description:**
20:50:57 UTC - mysqld got signal 11 ;
This could be because you hit a bug. It is also possible that this binary
or one of the libraries it was linked against is corrupt, improperly built,
or misconfigured. This error can also be caused by malfunctioning hardware.
We will try our best to scrape up some info that will hopefully help
diagnose the problem, but since we have already cr

[2017-04-14 08:27] lth commented on #608
I wasn't able to reproduce the problem with your test case.

This bug seems similar to the bug fixed here:
https://github.com/facebook/mysql-5.6/commit/80a02d6efcf57629d531262881205bc0af53348a

[2017-04-14 09:21] chuckcai commented on #608
@lth ，thanks。  That‘s may be the same problem, I will take look at it.

[2017-04-14 17:23] 3manuek commented on #401
Missing libraries from the doc if installing in scratch EC2:

[code]

[2017-04-14 19:50] yoshinorim commented on #607
Yes, you can set different block size per cf, by overriding block_based_table_factory like this.

[code]

[2017-04-14 19:50] #607 closed, assigned to yoshinorim

[2017-04-17 05:23] yoshinorim opened #609 "Support transactional DDL in MyRocks"
This task is for supporting transactional DDL in MyRocks. MySQL 8.0 removes frm and stores all table metadata in data dictionary. Currently MyRocks stores very limited number of table metadata in dictionary (table names and number of indexes for each table only -- https://github.com/facebook/mysql-5.6/wiki/MyRocks-data-dictionary-format). Storing all table metadata into MyRocks data dictionary mak

[2017-04-17 05:29] yoshinorim commented on #592
We're planning to store all table metadata, including table creation time, into MyRocks data dictionary (#609).

[2017-04-17 08:16] zkong opened #610 "inserts hang in slowdown"
the inserts are all stalled for a long time(3000+ seconds)
the stacks are:
311 pthread_cond_wait,std::condition_variable::wait,wait<rocksdb::WriteThread::BlockingAwaitState::<lambda>>,rocksdb::WriteThread::BlockingAwaitState,rocksdb::WriteThread::AwaitState,rocksdb::WriteThread::JoinBatchGroup,rocksdb::DBImpl::WriteImpl,rocksdb::TransactionImpl::Prepare,myrocks::Rdb_transaction::prepare,myrocks::r

[2017-04-17 14:39] george-lorch commented on #609
Please be careful with this idea as the metadata (.frm) can and will be different across variants, possibly resulting in the inability to easily switch. TokuDB implemented something similar years ago and this resulted in inability to move TokuDB tables across from MySQL to Percona Server to MariaDB.

Thinking a little further, since MyRocks uses mem-comparable key formatting based on sql/field.cc

[2017-04-17 17:55] gunnarku commented on #589
Activating because it's not fix in the original environment.

[2017-04-17 18:01] lth commented on #609
For Field::make_sort_key, a possible fix is to copy those functions from the SQL layer to the SE layer. That way, you can ensure that we are creating the sort key consistently across different servers.

[2017-04-17 18:04] gunnarku commented on #592
This issue has then become a subset of #609. Closing this one.

[2017-04-17 18:23] george-lorch commented on #609
Tangent : I had considered making a patch exactly as you describe and suggesting it. What we are worried about with this make_sort_key is that we unsuspectingly merge in an upstream MySQL change to one of these methods which then breaks MyRocks key pack/unpack functionality through an upgrade. Upstream has had no significant changes to this code in 10+ years, but that does not mean it will never h

[2017-04-18 22:52] #597 closed, assigned to nobody

[2017-04-19 03:48] chuckcai commented on #608
@lth, I read the code, and I see the patch use "m_scan_it= rdb->NewIterator(read_opts)" for iterator when open commit_in_the_middle, then it will not include write_batch iterator, also will not reproduce my problem.But the bug fix may be wrong. For example:
create table tt(id int, c1 int, c2 int, primary key(id));
insert into values(1,1,1),(2,2,2);
begin:
insert into tt values(3,3,3);
delete from

[2017-04-21 00:37] #602 closed, assigned to alxyang

[2017-04-21 14:50] george-lorch opened #611 "rocksdb.ttl_primary is unstable"
[code]

From the test:
[code]

Using sleep like this in mtr tests is not good practice. This test fails because more than the 5 second ttl_duration elapses on a slow running machine after the INSERT/UPDATE and before the SELECT. Debug sync points or specific debug engine variables should be used instead to prevent the compaction filter from running and aging out the data before it can be validated

[2017-04-21 15:33] george-lorch opened #612 "rocksdb.type_varchar is unstable"
[code]

Problem is within type_varchar_endspace.inc

Before calling EXPLAIN SELECT ..., explicit ANALYZE TABLE should be run. EXPLAIN SELECTs and SELECTs on col1 should explicitly use ORDER BY col1

[2017-04-21 17:09] hermanlee commented on #612
Thanks George! I've been seeing some instability here and haven't tracked down the cause of the differences in optimizer stats for the query plan to be different. Is the analyze table solution sufficient?

[2017-04-21 17:14] george-lorch commented on #612
It seems to have solved the issue in our Percona Server tree. This test failed regularly enough for me to feel confident the ANALYSE was enough to stabilize the test. We also had similar problems w/ TokuDB being quite non-deterministic when it came to row counts, cardinality stats, etc and applied a similar fix there.

[2017-04-21 17:16] hermanlee commented on #612
Thanks! I'll apply that change to the test to see if it stabilizes on our side as well.

[2017-04-21 18:19] alxyang commented on #611
We already have the debug variables in place you mention.  We use `set global rocksdb_compact_cf='default'` to manually compact column families and turn auto compaction off.

So we are controlling the compaction filter from running until we want it to.  The issue is how to properly control the time elapsed before the compaction filter starts running.  Need to think of some ways to approach this.

[2017-04-21 19:38] george-lorch commented on #611
Then maybe just turning off auto compaction right after the --sleep 5 and before inserting the new data would be enough to create a deterministic result.

[2017-04-21 21:42] alxyang commented on #611
auto-compaction is already disabled for the entirety of the test.  See https://github.com/facebook/mysql-5.6/blob/fb-mysql-5.6.35/mysql-test/suite/rocksdb/t/ttl_primary.test#L7.

This isn't quite accurate.  The situation is more like below:
[code]

It looks like in this case, for some reason either manually flushing the memtable or compaction stalled for too long,  and the records expired.
Can you

[2017-04-21 22:11] george-lorch commented on #611
OK, I thought the records expired and were removed by compaction, thus the difference in result.

This appeared this morning in our jenkins farm on the Facebook MySQL tree builds. It is the first time I have seen it in the week or two that we have this running. I haven't merged TTL into our Percona Server tree yet so it will not show there until I do.

[2017-04-22 00:58] alxyang commented on #611
ok please let me know if it shows up more often, on our side in daily/nightly runs we haven't seen this test fail yet

[2017-04-22 04:48] george-lorch commented on #611
Sure, if you have any ideas or want to inject any diagnostic into a branch, we can get it run until we see the failure again.

[2017-04-23 19:57] benoitc opened #613 "how are indexed document path in rocksdb"
I'm wondering how the path is indexed in the database; are you storing the full path?

[2017-04-24 16:51] hermanlee commented on #612
I pushed a change that adds analyze table to the test. I haven't seen it in testing over the weekend, so will close this task. Feel free to re-open if the problem continues.

[2017-04-24 16:51] #612 closed, assigned to nobody

[2017-04-24 19:08] hermanlee commented on #604
Which git hash is this build from? Does the test case always trigger the problem, or only sometimes? Do you know if this reproduces on the latest? I've tried on the recent build, but was not successful, but I noticed my explain update report has slightly different output.

[code]

[2017-04-25 21:08] ajkr commented on #596
@yoshinorim, @alxyang: This should be due to RocksDB thread-local stats implementation. Aggregation is slow when the application has many threads.

I am planning this half to change the implementation to use core-local stats. Then aggregation will be faster because we only have to read one value per CPU core compared to one value per thread (assuming # threads >> # cores).

Although, I heard durin

[2017-04-25 21:39] gunnarku commented on #596
We should discuss MyRocks threads management _internally_ and clarify what exactly is meant by reducing the number of threads.

[2017-04-26 15:48] mdcallag opened #616 "Add more support for user and table stats with MyRocks"
Does MyRocks update the counters for the `DISK_*` columns in `information_schema.user_statistics`?

Same question for `IO_*` columns in `IS.table_statistics`.

[2017-04-26 15:51] mdcallag commented on #610
Can you share:
1) my.cnf for MyRocks
2) some description of your storage -- flash, disk, etc
3) git hashes for your build -> output from mysql -e 'show global status' | grep -i hash

[2017-04-26 16:57] hermanlee commented on #616
Only some of the read statistics are captured, but they require setting `rocksdb_perf_context_level = 2` for the  `IO_READ_BYTES` and `IO_READ_REQUESTS` counters, and `rocksdb_perf_context_level = 3` for the `IO_READ_SVC_USECS`, `IO_READ_SVC_USECS_MAX`.

[code]

The `rocksdb::perfcontext` values are exported through `IS.rocksdb_perf_context` on a per table basis, but requires setting `rocksdb_perf

[2017-04-27 01:38] 3manuek commented on #401
I'm going to send this changes for posterior review to the wiki. Closing.

[2017-04-27 01:38] #401 closed, assigned to gunnarku

[2017-05-02 22:57] alxyang commented on #609
After discussing with @yoshinorim and @hermanlee about the work needed to support transactional DDL in 5.6, we agreed that due to the scope of work we will put this on hold until we are ready to move to 8.0.

[2017-05-02 23:13] hermanlee commented on #613
I'm not sure I understand your question. Can you clarify what the indexed document path is? MyRocks current does not support DocStore. Or is this a RocksDB specific issue and not MyRocks related one? Then question might be better should be forwarded to the rocksdb page at https://github.com/facebook/rocksdb/issues?

[2017-05-03 03:10] benoitc commented on #613
I thought it was. Let's close the issue then :). Thanks for your answer!

[2017-05-03 03:10] #613 closed, assigned to nobody

[2017-05-03 18:25] alxyang commented on #243
Should be closed by https://github.com/facebook/mysql-5.6/commit/2fc12aaa52e12255a108c69489eb8bee11f050af

[2017-05-03 18:25] #243 closed, assigned to nobody

[2017-05-03 18:31] alxyang commented on #584
done by https://github.com/facebook/mysql-5.6/commit/f2b12012bd31426071c960692b0c23c7a3cad7ae

[2017-05-03 18:31] #584 closed, assigned to nobody

[2017-05-03 18:39] alxyang opened #618 "Implement Foreign Key Support in MyRocks"
This will github issue will track the progress of foreign key support in MyRocks.

Initial proposal/thoughts (credits to @jkedgar):
1. To handle foreign keys in MyRocks, we need to create a new key type.  This new key type will contain the columns of the foreign keys, followed by the columns of the primary key of the referencing table.  No data is needed in the value portion.  The columns of the f

[2017-05-03 20:36] alxyang opened #619 "Truncate table with partitions is inefficient"
When truncating tables without partitions the SQL layer optimizes by dropping the table, then re-creating.  This means in MyRocks the keys are removed via CompactRange in the drop index thread in the background, which is good behaviour.

However, when truncating tables with partitions the flow goes into `ha_rocksdb::truncate`, and the implementation is currently not very efficient. It seeks to the

[2017-05-06 00:08] vasilep commented on #401
We've just turned on external contributors' write access for the wiki.

[2017-05-08 00:06] ajkr commented on #596
Thanks. I have a fix: https://github.com/facebook/rocksdb/pull/2258. Can somebody help me this week to setup a test environment to measure the response time after the fix?

[2017-05-10 07:33] RoelVdP commented on #456
See also https://bugs.mysql.com/bug.php?id=86253

[2017-05-12 19:07] #132 closed, assigned to alxyang

[2017-05-14 02:22] justfortaste opened #622 "rocksdb bulk_load error in sysbench insert test"
MySQL git hash: 022afec5a07748cd2f450bff38ddf62c6db4518a
RocksDB git hash: 7c1c8ce5acc882fa0496b71b9a9813d1dff47e0f

set global rocksdb_bulk_load=on;

sysbench
[code]
bt
[code]

[2017-05-15 05:39] alxyang commented on #622
anything in the error logs? @justfortaste

[2017-05-15 05:42] yoshinorim commented on #622
There are a couple of limitations for using bulk loading.
- Original data must be sorted by primary key
- Only one client can write to the same table

I assume ---num-threads=10 makes 10 clients insert into the same table. Bulk loading can't be used in such case and behavior is undefined -- mysqld might crash. We might consider returning better error messages.

[2017-05-15 06:07] justfortaste commented on #622
yoshinorim,

I think mysqld should not be crashed even if we violate this limitations.

[2017-05-15 06:09] yoshinorim commented on #622
Yes, MyRocks should more gracefully handle them.

[2017-05-15 06:21] justfortaste commented on #622
@alxyang

error log:
4622 2017-05-14 09:22:48 20354 [ERROR] RocksDB: Error 198 finalizing last SST file while disconnecting

$2 = {code_ = rocksdb::Status::kInvalidArgument, subcode_ = rocksdb::Status::kNone, state_ = 0x2aab78033060 "Global seqno is required, but disabled",
  static msgs =	{0x1a5c139 "", 0x1a5c13a "Timeout Acquiring Mutex", 0x1a5c152 "Timeout waiting to lock key",
    0x1a5c170 "F

[2017-05-16 00:32] alxyang commented on #622
Spoke with @hermanlee about this, the reason we are crashing currently here (https://github.com/facebook/mysql-5.6/blob/fb-mysql-5.6.35/storage/rocksdb/ha_rocksdb.cc#L2514-L2518) is because at this point if an error is returned it's quite possible that there are SST files written into RocksDB already.

There is no roll-back functionality for bulk load.  It fills up an sst file and adds them to Roc

[2017-05-16 08:29] rtsisyk opened #623 "Timeout on index: linkdb0.linktable#P#p4.PRIMARY on LinkBench"
I successfully compiled and installed MyRocks using an instructions from [myrocks.io](http://myrocks.io/docs/getting-started/). Now I'm trying to run LinkBench with MyRocks:

[code]

my.cnf:

[code]

schema:
[code]

[code]

config/FBWorkload.config:

[code]

config/LinkConfigMysql.config is default.

InnoDB works fine. Any ideas?

[2017-05-17 07:14] yoshinorim commented on #604
I could reproduce the crash with "create table test_index_merge(id int auto_increment primary key, c1 int, c2 int, c3 int, c4 int);" and updating c4 instead of id (not updating primary key and avoiding "using temporary").

[2017-05-17 21:45] yoshinorim commented on #623
The deadlock error happens with Repeatable Read isolation level. Could you set transaction-isolation=READ-COMMITTED in my.cnf and try again?

I'm not sure the cause of lock wait timeout. Looks like maxid1 = 10001 is way too small though.

[2017-05-17 22:13] lth commented on #608
I don't think it'd be easy to support good transactional semantics with commit in the middle, so closing the task for now. I've documented this limitation here:
https://github.com/facebook/mysql-5.6/wiki/Faster-Deletes/

[2017-05-17 22:13] #608 closed, assigned to nobody

[2017-05-17 23:10] hermanlee opened #624 "MyRocks executes index_merge query plan incorrectly."
Test case:

[code]

Output: Note the two selects should return the same rows.

[code]

[2017-05-18 00:24] hermanlee commented on #604
https://github.com/facebook/mysql-5.6/pull/625

[2017-05-18 06:16] yoshinorim commented on #624
There is a bug in void ha_rocksdb::setup_read_decoders().
[code]
bitmap_is_set() returned false with index merge, which made the decoder not added and could not decode keys properly. In the above case, "set session rocksdb_verify_row_debug_checksums=1;" makes the index merge return correct rows..

I confirmed table->read_set bitmap (table->read_set->bitmap[0]) was 7 with index lookup, and 0 with i

[2017-05-18 07:43] yoshinorim commented on #624
I confirmed the following change made the index merge return correct rows.

[code]

[2017-05-18 16:59] #604 closed, assigned to hermanlee

[2017-05-18 18:38] rtsisyk commented on #623
I'll re-try with "transaction-isolation=READ-COMMITTED", thanks.

[2017-05-18 19:08] spetrunia commented on #624
More Analysis:

QUICK_RANGE_SELECT::init_ror_merged_scan first calls ha_index_init:

[code]
When the above call is made, `QUICK_RANGE_SELECT::column_bitmap` has all bits cleared.

The code in init_ror_merged_scan()  slightly below sets column_bitmap to only include columns that are part of the used index:

[code]

(it is also interesting is that it is set to include all columns in the index, even

[2017-05-18 20:09] spetrunia commented on #624
@yoshinorim, as far as I can see your fix will not break anything.  Perhaps, it will cause extra columns to be read for queries `SELECT COUNT(*) FROM table` (without the WHERE), but it's a very degenerate case.

The fix doesn't look nice from an architecture POV, though - there is no reason why SQL layer would call index_init() with `table->read_set` having all bits cleared (InnoDB apparently does

[2017-05-18 20:13] yoshinorim commented on #624
Thanks for review @spetrunia . I'm going to commit the diff to fix the S1, and will consider long term fix and mitigating other perf issues.

[2017-05-18 20:17] spetrunia commented on #624
A possible alternative fix
[code]
Doesn't cause extra testcase failures for me, but I would still use yours to fix the S1 issue.

[2017-05-18 21:04] alxyang commented on #611
one more instance of failure from percona: http://jenkins.percona.com/job/fb-mysql-5.6/93/testReport/junit/(root)/rocksdb/ttl_primary/.  I'm going to increase the sleeps by a little bit in the test to reduce flakiness.

[2017-05-18 22:02] yoshinorim commented on #624
Fix committed. I'm keeping this task opened for future refactoring.

[2017-05-25 19:58] yoshinorim opened #627 "Define behaviors when internal index ids exceeds uint32_max"
Internal index id in MyRocks is unsigned 4 byte integer. Internal index id is incremented when creating an index. Currently, it is not gracefully handled if exceeding the maximum (uint32_max). Defining an behavior will be needed. Possible implementations will be like:

1. Trying to find unused internal index id. It is very unlikely that the instance has 2^32 indexes. Most likely, almost all indexe

[2017-05-26 14:34] mdcallag commented on #623
The min maxid1 that I use is 1M. I never ran with a value as small as 10,000. Maybe there is too much data contention when there are not enough ids.

[2017-05-27 16:11] mdcallag commented on #623
The my.cnf that you use isn't tuned. I think it is reasonable to use a my.cnf without much tuning for MyRocks, but I want you to know that I get about 2X more TPS on a small server and up to 10X more TPS on a big server after tuning.

Examples of tuned my.cnf are at https://github.com/facebook/mysql-5.6/wiki/my.cnf-tuning

Regardless, I look forward to your results and another great blog post from

[2017-06-01 05:30] yoshinorim opened #629 "Deprecate rocksdb_compact_cf"
We're going to rename rocksdb_compact_cf to rocksdb_debug_compact_cf, to clarify it is for debugging purpose and not for production, since it's dangerous. For example, invoking multiple manual compactions to the same column family can block all background compactions, which block all writes to different column families.

[2017-06-01 17:30] gunnarku commented on #629
Personally I don't think any action is required here. The fact that compaction had side-effects is equivalent to triggering garbage collection, casting pointers in C etc. The fact that functionality is there and can cause problems with improper use doesn't mean that we have to hide or remove it.

Renaming it to `rocksdb_debug_compact_cf` is not semantically correct because it's not debugging relat

[2017-06-02 03:55] cookerbox opened #631 "the sst file is always smaller than 1.5k"
the rocksdb version is rocksdb-5.3.5
the linux version is
host114:/home # uname -a
Linux host114 3.0.101-0.47.71-default #1 SMP Thu Nov 12 12:22:22 UTC 2015 (b5b212e) x86_64 x86_64 x86_64 GNU/Linux

the sst files are less than 1.5K
-rw-r--r-- 1 root root      1100 Jun  2 11:28 093769.sst
-rw-r--r-- 1 root root      1100 Jun  2 11:28 093770.sst
-rw-r--r-- 1 root root      1100 Jun  2 11:28 093771.s

[2017-06-02 06:14] cookerbox commented on #631
rocksdb_options_optimize_level_style_compaction(options, 0);
after deleting this , it works well

[2017-06-02 06:14] #631 closed, assigned to nobody

[2017-06-02 21:08] #595 closed, assigned to pbjc

[2017-06-03 00:07] #589 closed, assigned to pbjc

[2017-06-05 07:21] laurynas-biveinis commented on #567
You probably have fixed this by https://github.com/facebook/mysql-5.6/commit/fefc12e0b199a150dfd5d5a9bf9b1415ac0111d0

[2017-06-05 21:49] alxyang commented on #592
re-opening since we may want this in the near future, and Transactional DDL won't be supported for awhile. cc @yoshinorim

[2017-06-07 00:31] lth commented on #288
Duplicate of https://github.com/facebook/mysql-5.6/issues/28

[2017-06-07 00:31] #288 closed, assigned to nobody

[2017-06-08 21:51] alxyang commented on #527
do we need this if we already have `flush_memtable_on_analyze`? Seems like an alternate way (but already solved) of approaching https://github.com/facebook/mysql-5.6/issues/160

cc @hermanlee @lth

[2017-06-08 23:21] hermanlee commented on #527
Mainly because some benchmarks could be running with in-memory tables and want to test performance of the system with the skiplist lookup, instead of forcing the data to flash/disk. Also, having analyze table flush the memtables can cause other problems. If you analyze every table, you would be flushing the memtable on each table analyze.

[2017-06-09 17:39] mdcallag commented on #527
Not just benchmarks will hit this, but benchmarks are why I noticed it.

On Thu, Jun 8, 2017 at 4:21 PM, Herman Lee <notifications@github.com> wrote:

--
Mark Callaghan
mdcallag@gmail.com

[2017-06-14 20:48] #624 closed, assigned to nobody

[2017-06-15 00:40] alxyang opened #635 "Make enable/disable global TTL more robust."
Currently there is only the ability to disable TTL globally.  See https://github.com/facebook/mysql-5.6/commit/a39be57723bab42801e433434631040e705e5215#diff-6ade6050ffdc8e81f9dea0897f2cbc3fR1146.

It should be possible to disable/enable TTL at a per-table level.

Food for thought:
- need this at a per-table level, so that if a PK is disabled from filtering, SK has to be as well
- how to handle if

[2017-06-15 17:08] #616 closed, assigned to nobody

[2017-06-16 10:01] justfortaste opened #636 "The default arena_block_size if not properly"
MyRocks default arena_block_size is 0, and arena_block_size is adjust to write_buffer_size/8

[code]

while ConcurrentArena is sharded by cpu cores,  for example , if we have 64 cpu cores, the shards count is 64,  meanwhile we set write_buffer_size=1G， arena_block_size=write_buffer_size／8 and aligned to 131072000

At some time ,we can get memory statistic as follows
[code]

allocated_memory and Al

[2017-06-19 23:19] Pro100AlexHell opened #637 "myrocks very slow on ssd"
I have tested and compared innodb vs myrocks, and on hdd it's performance normal: myrocks better (for example 18k update/sec for myrocks vs 10k update/sec for innodb)
But on ssd innodb is ok, but myrocks is very slow.. disk io like 500kb/sec or lower.
I have tested on windows - latest mariadb 10
and tested on linux vps, centos 7.2,
also tested mariadb 5.5 (no changes for ssd myrocks and ssd innodb

[2017-06-20 03:50] mdcallag commented on #637
Discussion now at
https://groups.google.com/forum/#!topic/myrocks-dev/U87e6SBvhQA

On Mon, Jun 19, 2017 at 4:19 PM, Pro100AlexHell <notifications@github.com>
wrote:

--
Mark Callaghan
mdcallag@gmail.com

[2017-06-20 10:50] EktaAgrawal1567 opened #638 "unable to start mysql"
successfully integrated mysql with rocksdb but unable to start mysql terminal.

[2017-06-20 20:24] lth commented on #210
https://github.com/facebook/mysql-5.6/commit/ca29921f32e7267f7fc1814092a4a374411853a6

[2017-06-20 20:24] #210 closed, assigned to nobody

[2017-06-21 04:42] Hemanth-Eduru opened #640 "Memcomparable Format Alternatives ?"
What I understood from this [link](https://github.com/facebook/mysql-5.6/wiki/MyRocks-record-format#memcomparable-format) is
1. The data is converted to a format that DEFAULT RocksDB comparator will make sense (for eg. if we do NOT do such conversion -2 will be greater than say 2 , due to the 2's Complement representation).

	 As the RocksDB supports pluggable custom comparator if we use the compa

[2017-06-22 02:00] yoshinorim opened #641 "Support multiple prefix bloom filter size per CF"
This will be addressed in RocksDB (https://github.com/facebook/rocksdb/pull/2474). Need to make sure if it does not break in MyRocks.

[2017-06-23 01:49] alxyang commented on #641
@lth  updated the submodule already here. https://github.com/facebook/mysql-5.6/commit/e8989c6ab4d1a539d67f751ec597db24d9e1f39c.  I'll add a test.

[2017-06-26 18:25] lth commented on #281
https://github.com/facebook/mysql-5.6/commit/f90e91169ddfa19736fd409d822f5d351d959441

[2017-06-26 18:25] #281 closed, assigned to nobody

[2017-06-26 23:33] george-lorch opened #643 "MyRocks replication issue with ALTER TABLE ... EXCHANGE PARTITION"
Hello team,
I am attempting to expand the MyRocks replication test suite to make use of more of the pre-defined rpl tests from the mysql-test/extras/rpl_tests and mysql-test/suite/rpl/include and have run into an interesting and easily reproducible issue.

The test defined in mysql-test/suite/rpl/include/rpl_partition.inc tries to use the MySQL syntax for ALTER TABLE ... EXCHANGE PARTITION documen

[2017-06-27 02:35] gunnarku commented on #643
This is a known issue. `EXCHANGE PARTITION` is currently not supported. Please see https://github.com/facebook/mysql-5.6/issues/264 for the original bug report.

[2017-06-27 04:08] george-lorch commented on #643
Ahh, OK, Thanks for the info Gunnar, I will make sure this makes it through to our docs for now and leave an internal feature request open to track.

[2017-06-27 04:08] #643 closed, assigned to nobody

[2017-06-30 21:19] lth commented on #282
https://github.com/facebook/mysql-5.6/commit/b3c120260

[2017-06-30 21:19] #282 closed, assigned to anirbanr-fb

[2017-06-30 21:46] gunnarku commented on #638
It would be helpful to have more information about what happened here. Can you please follow the guidance at https://github.com/facebook/mysql-5.6/wiki/Reporting-bugs-and-asking-for-help to add more details?

[2017-07-01 05:46] EktaAgrawal1567 commented on #638
Implemented MariaDB with RocksDB and it got successfully compiled.
Thanks.

[2017-07-03 14:18] #638 closed, assigned to nobody

[2017-07-04 14:09] meagon opened #646 "test_properties_collector.cc compile error"
when compile the code, i got the error :
[code]

[2017-07-05 17:11] gunnarku commented on #646
Thank you for reporting the issue! If you could follow the guidance at https://github.com/facebook/mysql-5.6/wiki/Reporting-bugs-and-asking-for-help and add more details about your environment and specific steps then it'll give us a better chance to help you.

[2017-07-05 21:58] gunnarku commented on #610
Closing this issue because there hasn't been any new actionable information to continue with the investigation. Please use the guidance from https://github.com/facebook/mysql-5.6/wiki/Reporting-bugs-and-asking-for-help to add any new data if it becomes available.

[2017-07-05 21:58] #610 closed, assigned to nobody

[2017-07-05 22:00] gunnarku commented on #637
Closing this issue for now. Please re-open if some concrete actions items will be identified.

[2017-07-05 22:00] #637 closed, assigned to nobody

[2017-07-06 21:52] #590 closed, assigned to lth

[2017-07-11 22:52] mdcallag commented on #227
For us this is likely an issue when 2 engines are used, which might happen in MySQL 8.
For the community this can happen before MySQL 8 as many people will use InnoDB and MyRocks. Can we figure out how hard this is to fix?

[2017-07-12 01:59] guyuezql commented on #227
We disable binlog and come across problem described in https://bugs.mysql.com/bug.php?id=86902 when we are running tests on rocksdb. when I enable binlog the problem never happen again.

[2017-07-12 14:54] george-lorch opened #652 "Column family documentation is extremely sparse"
There doesn't seem to be a lot of documentation on the uses and limitations of column families. How do we explicitly create and set options, how do we (or can we) explicitly delete one? Can we and how do we move indexes/tables from one cf to another, etc...

[2017-07-12 17:47] alxyang commented on #652
You are right that a lot more documentation is needed here.

**How do we explicitly create and set options?**
see test case `rocksdb.rocksdb_cf_options` for example usage.  We also introduced recently `rocksdb_update_cf_options` variable for when you want to update cf options dynamically. (See https://github.com/facebook/mysql-5.6/commit/48543515f15e8a7ce3a902c84e88da4694dbed4a)

**How can we dele

[2017-07-12 18:06] george-lorch commented on #652
Thanks Alex, these were just examples of typical user scenarios that are not documented very clearly in the wiki. The reason I posted the issue is that our doc team will need this info in order to correctly document how to understand, manage, and work with column families within MySQL/Percona Server.

[2017-07-12 18:22] #641 closed, assigned to alxyang

[2017-07-14 11:10] RoelVdP commented on #652
@alxyang Thank you for your comment. So this raises many more interesting questions;
1) Can cf be dynamically changed as far as compression algo's go?
2) Would it make sense to add some dynamic changes (like DROP INDEX/ADD INDEX and ALTER) in the testcase in https://github.com/facebook/mysql-5.6/commit/48543515f15e8a7ce3a902c84e88da4694dbed4a ?

[2017-07-14 16:30] mdcallag opened #654 "show the actual value for delayed_write_rate"
Using a build from HEAD on July 14, my.cnf does not set rocksdb_delayed_write_rate nor does it set rocksdb_rate_limiter_bytes_per_sec. SHOW GLOBAL VARIABLES displays 0 for rocksdb_delayed_write_rate while .rocksdb/LOG shows 16M. MyRocks needs to figure out how to display the value that RocksDB uses

[2017-07-14 22:08] yoshinorim opened #655 "SingleDelete on Primary Key may cause extra rows than Secondary Keys"
https://github.com/facebook/mysql-5.6/commit/e0fe3a75c88f538ce98a3eb32c6c34aa819f536d fixed the issue. Test case coming.

[2017-07-14 22:09] #655 closed, assigned to nobody

[2017-07-14 22:58] gunnarku commented on #654
Let me investigate. I plan on cleaning up some obsolete variables next week (replace `max_background_flushes`, `max_background_compactions`, and `base_background_compactions` all with `max_background_jobs`), may as well look at this also.

[2017-07-17 20:44] sargunv commented on #283
We have this: https://github.com/facebook/mysql-5.6/commit/4b8125171ad814aab39a6cae459a9e704e5708a1 which is tracking something similar. Is this good enough for you, or do you still need these two counters?

[2017-07-18 16:38] mdcallag opened #657 "L0 still has files after "set global rocksdb_force_flush_memtable_now=1'"
I run this several times: bin/mysql -e 'set global rocksdb_force_flush_memtable_now=1'

And then from bin/mysql -e 'show engine rocksdb status\G' I see 3 files in the L0. Shouldn't it be empty?
[code]

[2017-07-18 16:39] mdcallag commented on #657
argh, did the wrong command I want rocksdb_force_flush_memtable_and_lzero_now

[2017-07-18 16:39] #657 closed, assigned to nobody

[2017-07-18 16:56] mdcallag opened #658 "mutex contention from shard level CPU stats"
Sysbench QPS is much lower at high concurrency with this diff:
[code]

This is QPS for 1, 8 and 48 threads doing point-lookup queries for an in-memory database with sysbench
[code]

Command line is:
[code]

[2017-07-18 17:16] mdcallag commented on #658
An example from PMP
[code]

[2017-07-19 15:51] mdcallag commented on #658
I didn't look at the code but I am curious why the impact from this is much worse than the impact from existing user/table stats code. Is too much work done while holding the mutex?

[2017-07-19 16:01] mdcallag opened #659 "boost dependency breaks open source builds"
This diff adds a dependency on boost libraries. At a minimum we need to update build steps in the wiki at https://github.com/facebook/mysql-5.6/wiki/Build-Steps to explain how to get a build and the min version of boost that should be used.

[code]

[2017-07-19 16:23] mdcallag commented on #659
Edited build wiki for boost dependency

[2017-07-19 16:23] #659 closed, assigned to abhinav04sharma

[2017-07-19 21:47] george-lorch opened #660 "mysql-test/suite/rocksdb/t/varbinary_format.test missing have_rocksdb.inc"
Test mysql-test/suite/rocksdb/t/varbinary_format.test is missing have_rocksdb.inc and makes use of outdated idiom DROP TABLE IF EXISTS t1

[2017-07-20 01:10] george-lorch opened #661 "rocksdb_sys_vars.rocksdb_update_cf_options_basic is unstable"
Run this test with mtr option --repeat=3, second iteration will fail with:

[code]

[2017-07-20 20:56] alxyang commented on #661
It seems like this may be because we aren't setting the original cf options back at the end of the test.  So on this repeat run it runs with the updated settings, which then return incorrect results. cc @gunnarku

[2017-07-20 21:07] #660 closed, assigned to nobody

[2017-07-21 14:56] mdcallag opened #664 "sysbench in-memory QPS reduced by 10% to 20% from Feb10 to Jun16"
With sysbench in-memory workloads I noticed a perf regression at high concurrency in a recent build so I then repeated tests for in-memory sysbench with low concurrency using my Intel NUC servers and builds from Feb10, Mar17, Apr14, May10, Jun16 and Jul14. I used the same compiler toolchain for all binaries.

tl;dr comparing Feb10 and Jun16 builds
* for most tests I get ~10% less QPS with Jun16
*

[2017-07-21 18:53] lth commented on #299
Closed by https://github.com/facebook/mysql-5.6/commit/744b757c5da3bf41778f3365fa63381e58218496

We populate the IO metrics already if perf context is on.

[2017-07-24 17:51] yoshinorim opened #665 "Unlimited index length may break MyRocks -> InnoDB replication"
InnoDB has a limitation that index length can not be bigger than 767 or 3072 bytes (https://dev.mysql.com/doc/refman/5.7/en/innodb-restrictions.html). MyRocks does not have that limitation. This may break replication if MyRocks is master and InnoDB is slave. Accepting keys longer than InnoDB limit also means you can't restore from MyRocks to InnoDB instances anymore.

[2017-07-24 18:40] alxyang commented on #665
@pbjc take a look and see if you would be interested in taking this one on

[2017-07-25 18:18] alxyang commented on #665
Looking at the documentation closer (https://dev.mysql.com/doc/refman/5.7/en/innodb-restrictions.html), it seems that the index length is default limited 3072, unless `innodb_large_prefix` is turned off (then its 767).   In 5.6 `innodb_large_prefix` is default OFF, in 5.7 is default ON.

We should  introduce a similar variable, or just have a hard limit at 3072 which should work for everything. cc

[2017-07-26 05:08] inkrement opened #667 "utf8mb4 Support - converting utf8_bin column to utf8mb4 results in corrupt database"
Regarding the documentation only utf8_bin, latin1_bin and binary are supported yet (https://github.com/facebook/mysql-5.6/wiki/Getting-Started-with-MyRocks). AFAIK utf8_bin only supports a subset of all Unicode characters, but I would need to store also Unicode emoticons. Is an utf8mb4 support planned, is there a workaround or is already a prototype available?

[2017-07-26 17:35] lth commented on #667
We support utf8mb4 columns if they aren't in any keys. If they are in some keys though you can turn rocksdb_strict_collation_check off with the caveat that index-only scans would not work if you had utf8mb4 columns in your secondary key, and that data size may increase if you had utf8mb4 columns in your primary key.

[2017-07-26 18:42] inkrement commented on #667
good to know! I tried to convert a table from utf8_bin to utf8mb4 multiple times and it always crashed and let a corrupt database left. But creating a new table and inserting seems to work fine.

[2017-07-27 11:36] inkrement commented on #667
I tried to convert it a second time. For smaller tables it works fine, but for a medium sized (~ 5mio rows) it processes for some minutes, then mysqld crashes and it results in a corrupt database:

[code]

[2017-07-27 18:14] yoshinorim commented on #667
Looks like mysqld crashed during creating MyRocks internal temporary table, lost frm and failed to restart due to strict MyRocks checking between internal data dictionary and frm file.

Did you set "default-tmp-storage-engine=MyISAM" in my.cnf? We haven't tested MyRocks temporary tables enough. Here are recommended my.cnf settings in MyRocks -- https://github.com/facebook/mysql-5.6/wiki/my.cnf-tun

[2017-07-27 19:10] yoshinorim commented on #667
Never mind the above comment about temporary table. This issue could be reproduced by injecting crash after committing into MyRocks internal data dictionary during ALTER TABLE.

[2017-07-27 19:16] yoshinorim opened #669 "MyRocks may fail to restart after crash during ALTER TABLE"
How to reproduce:

create table r1 (id int primary key, value text) engine=rocksdb;
insert into r1 values (1, 1), (2,2), (3,3), (4,4), (5,5), (6,6);
alter table r1 add column value2 text;
 -> then, crash mysqld after committing into data dictionary (abort after handler::ha_create() to create a working table).

After crash, there should be temporary frm file, and the temporary table info should be

[2017-07-27 19:16] yoshinorim commented on #667
I'm closing this issue and filed a separated issue to track this (https://github.com/facebook/mysql-5.6/issues/669), since it's not UTF8 specific.

[2017-07-27 19:16] #667 closed, assigned to nobody

[2017-07-27 22:50] yoshinorim opened #670 "Skip calling rocksdb::DBImpl::GetApproximateMemTableStats() from info() if it's absolutely not needed"
Currently, all select statements call rocksdb::DBImpl::GetApproximateMemTableStats() from info() by default. But this is not needed when using FORCE INDEX or using full primary keys with equal conditions.

[2017-07-28 02:49] inkrement commented on #667
@yoshinorim Thanks! So this is not just related to rocksdb and I have also to report it to the mariadb guys to find out why mysqld crashed, right?

[2017-07-28 19:20] yoshinorim commented on #667
@inkrement If you have a core file or stack trace on crash, you can paste the stack trace here.

[2017-07-31 03:43] mdcallag commented on #283
that is good enough

[2017-07-31 03:43] #283 closed, assigned to nobody

[2017-08-01 18:51] mdcallag commented on #299
Not many things are set with rocksdb_perf_context_level=2.

I assume these are always set:
[code]

These are set when the option is =2, and maybe=1
[code]

I want these to be set, but they are not:
[code]

These could be set but I don't mind if we don't track them:
[code]

see https://gist.github.com/mdcallag/076c54bad719621f1881efe5660585e6

[2017-08-01 20:26] hermanlee commented on #299
IO_READ_SVC bytes are updated when perf_context_level is set to 3. If the memtable writes are acceptable, We can track the size of the key/value written to the writebatch for an index as part of the memtable write and update io_write_bytes.

For background writes/reads io_svc, we can probably another callback in the background processing thread to get the final io_svc_usec after fsync(), and then

[2017-08-02 23:19] mdcallag opened #674 "mutex contention in the sharded LRU"
QPS with MyRocks saturates at 8 clients because of mutex contention on the shard LRU mutexes. I think the workload ends up with 90% of the lookups going to the right end of the key space, so they all access the same block in each level of the LSM tree. This is the "1in10" variation of the test. When I change it to not do that (the "all" variation) then MyRocks does better, but might hit another kn

[2017-08-02 23:38] mdcallag commented on #674
QPS for the tests repeated using a 2g block cache (buffer pool) and buffered IO so all data is in the OS page cache. Results for MyRocks are similar to the results above for the cached database.
[code]

[2017-08-03 00:01] mdcallag commented on #674
Some perf debugging for MySQL 5.6.35 & InnoDB, from the 24-client test

For the "all" test and a 50gb block cache there is contention on rw_lock
[code]

And the flat CPU profile for the "all" test
[code]

rw_lock contention is much worse for the 1in10 variation
[code]

And the flat CPU profile for InnoDB in 5.6.35
[code]

[2017-08-03 00:15] mdcallag commented on #674
For 24 clients, InnoDB in 5.7.17 and the 1in10 test there is less rw_lock contention than in 5.6.35
[code]

And the flat CPU profile
[code]

And then from the "all" test, again at 24 clients:
[code]

And the flat profile, the "all" test and 24 clients
[code]

[2017-08-03 00:30] mdcallag commented on #674
And for 8.0.1, 24 clients and the 1in10 test. Mutex contention is similar to 5.7.17
[code]

And the flat CPU profile
[code]

And then for the all variation
[code]

And the flat profile
[code]

[2017-08-03 18:21] mdcallag commented on #674
Tests above used 1 table with 80M rows. I repeated all tests with 8 tables and 10M rows/table which should reduce hot spots. That helped a lot with the 1in10 tests. That didn't help much with the "all" tests for the cached (50gb block cach) database. 5 of 24 user query threads were stuck on LRU mutexes in one PMP sample and 12 or 24 were stuck in another.
[code]

And the flat CPU profile from that

[2017-08-03 18:23] mdcallag commented on #674
QPS for all of the tests repeated with 8 tables and 10M rows/table. The tests above used 1 table and 80M rows/table.
[code]

[2017-08-03 22:40] mdcallag opened #675 "segfault on disconnect from network usage of zstd"
This occurs on an opensource MyRocks build with Ubuntu 14.10. The build is from June 16 and uses githash 52e058. I also backported this diff to get a working build:
https://github.com/facebook/mysql-5.6/commit/2c2fc539d339a69fa9ef4772f40655262923ec1a

The zstd manual doesn't state whether ZSTD_freeCCtx and ZSTD_freeDCtx can be called with NULL -- http://facebook.github.io/zstd/zstd_manual.html

Th

[2017-08-04 14:10] mickvav commented on #667
Well, If I have this issue and rocksdb_validate_tables=0, what should I do in CLI to be able to remove this setting later? Something like "drop table '#sql....'" would be enough?
And somewhat theoretical question - why do you exclude those temporary files from file listing at all?

[2017-08-04 14:17] mickvav commented on #669
Well, I've got into situation where I do have temporary file in data directory, but Myrocks complains that I have no one after crash.

[2017-08-04 15:40] mickvav commented on #669
As for me - just removing of this check solved the issue.

[2017-08-06 21:32] spetrunia opened #676 "TRUNCATE TABLE is very slow for a partitioned MyRocks table"
TRUNCATE TABLE works instantly for regular MyRocks tables but is very slow for partitioned MyRocks table.
This is not a ha_partition problem because, for InnoDB, TRUNCATE TABLE is instant for both regular and partitioned tables.

[code]

[code]

Insert 1M rows in both tables:

[code]

[code]

[code]
This just hangs forever. I waited 400 seconds before killing it:
[code]

[2017-08-06 21:33] spetrunia commented on #676
With InnoDB, TRUNCATE is instant for both kinds of tables:

[code]

[2017-08-06 21:37] alxyang commented on #676
this is a duplicate of https://github.com/facebook/mysql-5.6/issues/619, but work is still needed to implement the fast drop index optimizations under the hood.

[2017-08-07 22:07] lth commented on #669
A similar problem exists in InnoDB, and they suggest making your own frm file:

https://dev.mysql.com/doc/refman/5.7/en/innodb-troubleshooting-datadict.html

This problem may be difficult to fix until we move to 8.0.

[2017-08-08 05:02] mickvav commented on #669
Well, as far as I've understood the logic of this piece of code, it does two things:

1. Takes list of tables from myrocks's internals

2. Reads directory for all .frm files, skipping temporary ones (this stanza is what I've disabled in PR)

Than It removes all things found by (2) from list from (1), crashing and leaving you to do whatever you whish to when there still exists anything or when elem

[2017-08-08 17:02] #665 closed, assigned to pbjc

[2017-08-10 14:25] mdcallag opened #677 "point lookups much slower in MyRocks than in InnoDB"
Point lookups are much slower in MyRocks than InnoDB for low concurrency workloads. They also can suffer from mutex contention but I filed https://github.com/facebook/mysql-5.6/issues/674 for that.

Here are results from 3 of the tests I get from sysbench. The tests are point-query, random-points and hot-points.
* point-query fetches one row by PK per SELECT statement.
* random-points fetches 100

[2017-08-10 18:36] mdcallag commented on #677
Using an abbreviated version of the test and my dev server (has more noise from "value added" things running in the background) with the random-points workload I get 750 QPS from MyRocks.Jun16 vs 1820 for InnoDB/5.6.35.

For MyRocks.Jun16 the flat profile is:
[code]

[2017-08-10 18:40] mdcallag commented on #677
adding FORCE INDEX changes QPS for random-points with MyRocks.Jun16 from 750 to 761. I assume that might be noise, so no significant benefit.

[2017-08-10 18:45] siying commented on #677
rocksdb::ThreadLocalPtr::Get() mostly comes from the perf context regression which we have fixed shortly after it was released.

It's not clear to me how much of those binary search costs is from Get() or ApproximateSize(). Is there a way to include the call stack and see that?

[2017-08-10 18:53] mdcallag commented on #677
CPU profiles shared offline.
Removal of ThreadLocalPtr in new builds will help a bit, but won't do much to erase 2X to 4X perf difference.

[2017-08-10 19:04] mdcallag commented on #677
QPS increased from 750 to 920 after 'set global rocksdb_force_flush_memtable_now=1'
QPS then increased from 920 to 936 after 'set global rocksdb_force_flush_memtable_and_lzero_now=1'

[2017-08-10 23:17] pbjc opened #678 "Memory leak with rebuild partition"
Running the following testcase with valgrind results in a memory leak.

[code]

The error:
[code]

[2017-08-11 00:14] mdcallag commented on #677
This is depends on my helper scripts and my sysbench fork:
https://github.com/mdcallag/sysbench
https://github.com/mdcallag/mytools/tree/master/bench/sysbench.lua

Short running repro script. Assuming it is all2.sh command line is:
[code]

And script is:
[code]

[2017-08-11 21:27] mdcallag commented on #674
This is QPS for the hot-points workload on a server with 24 CPU cores & 48 HW-threads.
* with 8 tables QPS peaks at almost 30,000 / second
* with 1 table (and more contention) QPS peaks at less than 10,000 / second

[code]

Using:
* my sysbench - https://github.com/mdcallag/sysbench
* my sysbench helper scripts - https://github.com/mdcallag/mytools/tree/master/bench/sysbench.lua

Example command l

[2017-08-14 21:15] hermanlee opened #680 "Re-evaluate crashing server on bulk_load error."
Currently, when bulk load fails to load an sst file into RocksDB, the server triggers an abort_with_stack_trace(). The original intention for this was to prevent the user from ignore errors that happen in the bulk load path because the bulk_load files could be implicitly flushed when the user disconnects from the session.

However, this might be too draconian, and can cause problems for databases

[2017-08-15 22:57] yoshinorim opened #683 "Can not change prefix bloom filter dynamically"
How to repeat:
[code]

[2017-08-17 01:03] hermanlee opened #684 "Potential issue in TTL feature with explicit timestamp column"
It's possible for 'old' primary key data to show up with TTL and using an explicit creation timestamp column. If the explicit creation timestamp is set backwards, then its possible for the update key to be removed by TTL before it is compacted with the original primary key, resulting in the original primary key being visible again.

example:

row 1 is inserted with timestamp 7200. Expiration on ta

[2017-08-17 03:36] lth commented on #678
This is an upstream issue. The fix is to have storage engines avoid using the destructor to cleanup data structures and use ha_close() instead.

[2017-08-17 03:36] #678 closed, assigned to lth

[2017-08-17 16:12] lth commented on #581
https://github.com/facebook/mysql-5.6/commit/e6e95717d5c01fde27b93fbdb039181dbd0f7712

[2017-08-17 16:12] #581 closed, assigned to armishra

[2017-08-18 19:40] hermanlee opened #687 "Add TTL feature using table options"
TTL is currently specified in the comment field of the table. We should investigate reimplementing it as a table option instead.

[2017-08-18 20:05] george-lorch commented on #687
Please consider your downstreams. Changes to SQL layer may result in the feature not being taken in or supported.

[2017-08-18 20:13] hermanlee commented on #687
Is the comment field the best way to add new features to help support downstream? If we used table option for controlling new features and was able to find a way to make the frm formats compatible, would those changes not be taken or supported?

[2017-08-19 21:04] george-lorch commented on #687
Anything that disturbs the SQL layer becomes very difficult to justify merging downstream as we are downstream of multiple sources, and keeping those sources playing nicely together can be a very difficult venture. This is particularly true when we start talking about any kind of forward/backward binary and UI compatibility issues. For things like this, we prefer using index comments as it keeps e

[2017-08-21 23:06] #640 closed, assigned to nobody

[2017-08-21 23:11] lth commented on #611
I think flakiness should be gone with the addition of debug ts variables.

[2017-08-21 23:11] #611 closed, assigned to nobody

[2017-08-22 21:46] armishra commented on #468
I'm currently working on a solution to this. My current approach is to:
* add a data dictionary type that stores the auto increment value for every table
* I call the Merge Operator when new ids are inserted and override the merge operator to maximize values that are stored.
* the data dictionary value gets written to along the commit path of each transaction
* the value is read back into memory b

[2017-08-23 07:52] justfortaste opened #690 "mysqld assert(filter->size() > 0) failed when prefix_extractor=fixed"
change capped to fixed
[code]

then run testcase rocksdb.bloomfilter2, mysqld will assert failed

[code]

[2017-08-23 13:14] aloiret opened #691 "Compose JSON functions with String functions"
Result of various JSON accessors (json_extract, json_extract_value, 'dot' selector, etc.) can't be composed at least with the lower / upper String functions:

mysql> select upper(json_extract_value(DOCUMENT('{"k":"v"}'), 'k')) as v;
+------+
| v    |
+------+
| v    |
+------+

Was expecting "V" in this case.

Is it expected behavior? Is there a workaround?

Thanks.

[2017-08-24 10:48] spetrunia opened #692 "ALTER TABLE ... ENGINE=ROCKSDB uses too much memory"
This is a known property, but I am filing it as a bug because it gives bad user experience.

A trivial example: let's create a non-MyRocks table
[code]

now, suppose one is considering migrating to MyRocks. Their first likely step might be (*):

[code]

Unfortunately, when the table is sufficiently big, this statement will cause the server to consume all the memory and then be killed due to uncaug

[2017-08-24 21:15] yoshinorim commented on #692
We have plans to implicitly use bulk loading mode on rebuilding tables. Meanwhile, could your customer use the following instead?

set session rocksdb_bulk_load=1;
alter table t1 engine=rocksdb;
set session rocksdb_bulk_load=0;

[2017-08-25 13:39] morder commented on #193
Hello. I have the same problem.
I using MariaDB with rocksDb plugin.

my error is
[code]

can I avoid this problem somehow?

[2017-08-25 16:42] hermanlee commented on #193
@morder: you can work around the problem by adding rocksdb_validate_tables=0 to your configuration file when booting up mysql.

It looks like we should filter out all tablenames with #sql.

[2017-08-25 16:52] yiwu-arbug commented on #674
@mdcallag where can I find the tests script of 1in10 and other tests (hot-points, random-points, etc) that I can try to run? I already have sysbench but don't seems to have these tests in it. Thanks!

[2017-08-30 10:25] tplavcic opened #696 "crash when playing with rocksdb_update_cf_options variable"
Noticed a crash when playing with rocksdb_update_cf_options dynamic option.

Options for starting:
`--no-defaults --default-tmp-storage-engine=MyISAM --rocksdb --skip-innodb --default-storage-engine=RocksDB`

TEST CASE:
[code]

GDB INFO:
[code]

Reported here: https://jira.percona.com/browse/MYR-175 also with some more examples and MTR test created by George.
In my case here jemmalloc was LD_PRELO

[2017-08-30 10:59] tplavcic opened #697 "changing rocksdb_update_cf_options should show warnings and errors in the client"
When changing dynamic variable `rocksdb_update_cf_options` if you use invalid settings you won't know without checking the error log because in the client all you can see is OK.

CLIENT:
[code]

ERROR LOG:
[code]

SETTING SOME OTHER SYSTEM VARIABLE TO INVALID VALUE:
[code]

It would be much more user friendly IMHO if we get the error right in the client without the need of checking the error log.

[2017-08-30 23:08] mdcallag commented on #674
For anyone else reading this:
* my helper scripts at
https://github.com/mdcallag/mytools/tree/master/bench/sysbench.lua
* my sysbench fork at  https://github.com/mdcallag/sysbench

On Fri, Aug 25, 2017 at 9:52 AM, yiwu-arbug <notifications@github.com>
wrote:

--
Mark Callaghan
mdcallag@gmail.com

[2017-08-31 09:54] tplavcic opened #699 "MyRocks silently ignores row_format option in create table"
My understanding is that MyRocks doesn't support row_format option when creating tables but it seems it doesn't throw an error when trying to use it.

[code]

[2017-09-06 10:05] percona-ysorokin opened #700 "Race condition in "Merge AIO page read requests" logic"
In `os_aio_linux_dispatch()` (`os0file.cc`) there is a code branch responsible for read requests buffering
[code]
The potential problem here is that between releasing array mutex (`os_mutex_exit(array->mutex);`) and checking if the array should be submitted (`if (count == slots_per_segment)`) another thread can go through the same code fragment and increment `count` so that it would be `> slots_pe

[2017-09-08 15:09] tplavcic opened #701 "add option to remove unused column families"
From what I see if I add any CF it stays around and there's no way to remove it even if I drop table/database, issue manual compaction, restart server. In the long run this might be a problem. Or maybe I don't know how to do this which is possible also.

[code]

[2017-09-08 18:02] hermanlee commented on #696
Thanks for filing the issue with a test case. I can reproduce this and we will investigate the problem.

[2017-09-08 19:45] george-lorch commented on #680
Returning SQL error and rolling back changes is the appropriate thing to do. The current behavior is going to lead to a large amount of user complaints.

[2017-09-08 19:53] george-lorch commented on #692
Peter Zaitsev already ran into this same OOM situation on large transactions with out-of-the-box settings. This is not likely to pass as acceptable behavior. If there is an upper limit to the size of a transaction, then it should result in a SQL error when reached, not a server assertion.

As far as bulk load behavior, TokuDB implemented a somewhat simple idea in that if we were starting a handler

[2017-09-08 20:06] yoshinorim commented on #692
@georgelorchpercona We have a session variable rocksdb_max_row_locks. If the number of row locks exceeds the variable, the transaction gets a SQL error. Currently default is 1B row locks, which is way too high to return before getting OOM. We are talking internally to reduce defaults, but have not done yet. Maybe we'll reduce to around 1M.

Implicit bulk load on DDL has been discussed as well. We

[2017-09-08 20:11] yoshinorim commented on #692
Longer term we have plans to support long running transactions in RocksDB, which stores intermediate data on storage to prevent from OOM.

[2017-09-08 20:17] george-lorch commented on #692
Thanks for the tip on rocksdb_max_row_locks @yoshinorim ! That is a perfect short term solution that we can implement ourselves. We have a similar issue with rocksdb_max_open_files default and are reducing it to sane levels and documenting how to tune it properly.

The whole point is that a basic out-of-the-box installation should not fail/assert on simple things. If there are some limitations, we

[2017-09-08 23:39] lth commented on #692
There's also rocksdb_write_batch_max_bytes which offers similar functionality.

[2017-09-09 15:56] AndriiNikitin opened #702 "Huge performance drop for long transaction with many errors"
Consider mtr test:

[code]

Output like below indicates that 10K inserts (with 90% duplicate errors) are processed in ~6 sec, which is kind of OK; but 30K inserts with the same error rate are taking ~10 times longer; and 60K are taking 4,5 times longer than 30K; which indicates exponential decrease. (100K inserts did break default mtr timeout)

[code]

In other words performance is dropping from 1

[2017-09-11 14:51] mdcallag opened #703 "regression in table scan performance"
I used my insert benchmark code to scan all indexes (1 PK, 3 secondary) after loading the table. The PK should be unfragmented while the secondary indexes have a lot of fragmentation. I used my helper scripts and both iq.sh and iql.sh will do the index scans - https://github.com/mdcallag/mytools/tree/master/bench/ibench

First results are for an IO-bound setup -- 500M rows, no compression, 16gb of

[2017-09-11 17:52] mdcallag commented on #703
instructions/cycle -- Jun16 build does 2.01 vs 0.39 for Aug15.

From the Jun16 build
[code]

And from the Aug15 build
[code]

[2017-09-11 17:54] mdcallag commented on #703
Root cause was this change - https://github.com/facebook/mysql-5.6/blame/fb-mysql-5.6.35/storage/rocksdb/ha_rocksdb.h#L378

Fix is:
[code]

[2017-09-11 20:53] yoshinorim opened #705 "Implement Prefetch Cache in MyRocks"
This is a follow up task from https://github.com/facebook/mysql-5.6/issues/200. (See Sergey's comment on https://github.com/facebook/mysql-5.6/issues/200#issuecomment-203674731 for details)

This was a test to scan 15GB uncompressed MyRocks/InnoDB tables (unfragmented primary key) where all data fit in filesystem cache.
MyRocks: 2 min 12.62 sec (with readahead=16mb)
InnoDB: 1 min 50.36 sec
InnoDB

[2017-09-11 23:14] yoshinorim commented on #702
Thanks for the report. Verified.

![perf](https://user-images.githubusercontent.com/253614/30300938-4dcf49da-970c-11e7-8d29-397f2c8751f5.png)

[2017-09-11 23:32] mdcallag commented on #705
What is a prefetch cache?

[2017-09-11 23:38] yoshinorim commented on #705
Grep storage/innobase by MYSQL_FETCH_CACHE_SIZE, MYSQL_FETCH_CACHE_THRESHOLD, row_sel_prefetch_cache_init, row_sel_enqueue_cache_row_for_mysql, etc. Basic idea is reducing the number of function calls to convert from engine row format to MySQL row format, by caching multiple rows and converting in batch.

[2017-09-12 15:00] mdcallag commented on #705
Without looking at the code, my guess was that the InnoDB code is there to reduce the locking/access overhead of accessing the database page, and it isn't clear to me that RocksDB has such an overhead with iterators.

[2017-09-12 16:58] Tema commented on #705
@yoshinorim I'd like to start with reproducing the test. #200 describes much smaller test with 10M only. Did you run the very the same test only with much greater number of rows?
Also where can I set readahead=16mb (or confirm that I have the same value)  and how can I configure compressed/uncompressed tables.

[2017-09-12 18:58] mickvav commented on #311
If I want to remove all the "old" data from all my rocksdb tables, is it safe to just remove all .sst files, older than that "old" date? Will I get into some data corruption after I do so?

[2017-09-18 16:29] Tema commented on #705
@mdcallag is right, I built a flame-graph using perf tool for @yoshinorim experiment and can clearly see that with prefetch disabled MySQL starts spend 10% more in [#sel_restore_position_for_mysql](https://github.com/facebook/mysql-5.6/blob/fb-mysql-5.6.35/storage/innobase/row/row0sel.cc#L3224-L3232)([#buf_page_optimistic_get](https://github.com/facebook/mysql-5.6/blob/fb-mysql-5.6.35/storage/inno

[2017-09-18 16:53] mdcallag commented on #705
I will soon have data to show the benefit of rocksdb_advise_random_on_open=0 (default is =1). Although the feature as-is won't work for us (need to set it per session, not for all sessions).

During full index scan tests I see page-at-a-time reads in iostat output, avgrq-sz == 16kb. RocksDB can be doing large IOs for full index scans, with either posix_fadvise hints or new code in RocksDB

[2017-09-19 00:20] yoshinorim opened #710 "Support low priority writes"
https://github.com/facebook/rocksdb/wiki/Low-Priority-Write can be useful for batch jobs so that they affect other operations less.

[2017-09-19 22:19] george-lorch commented on #680
Please see https://github.com/facebook/mysql-5.6/pull/711 as a possible starting point to fix these issues.

[2017-09-20 14:45] spetrunia commented on #702
Looking at the patch that introduced RollbackTohSavePoint:

https://github.com/facebook/rocksdb/commit/8161bdb5a0da1d65a1b5d8ac8226e1386003140f

Here in WriteBatchWithIndex::RollbackToSavePoint():
https://github.com/facebook/rocksdb/commit/8161bdb5a0da1d65a1b5d8ac8226e1386003140f#diff-2f10702c81faf8f2a0fa22abdd486af9R710

It calls rep->ReBuildIndex() which basically re-scans the linear representat

[2017-09-20 14:59] mdcallag commented on #702
Which of the variants doesn't make the common path slower? By common path I
mean workloads that don't do too frequent rollback?

On Wed, Sep 20, 2017 at 7:45 AM, Sergei Petrunia <notifications@github.com>
wrote:

--
Mark Callaghan
mdcallag@gmail.com

[2017-09-20 15:15] spetrunia commented on #702
@mdcallag , variant #2 should be it.  It will have some memory overhead (I expect something like 2*sizeof(pointer) per record), but the slowdown for executions that do not do rollbacks should be negligible.

[2017-09-21 21:10] george-lorch opened #713 "Server asserts on startup with rocksdb-persistent-cache-size-mb"
Nothing fancy to reproduce.
my.cnf :
`[mysqld]
basedir=/ssd/percona/myrocks/facebook-mysql-install-5.6
datadir=/ssd/percona/myrocks/facebook-mysql-install-5.6/data
tmpdir=/ssd/percona/myrocks/facebook-mysql-install-5.6/tmp
port=10000
socket=/ssd/percona/myrocks/facebook-mysql-install-5.6/var/mysql.sock
pid-file=/ssd/percona/myrocks/facebook-mysql-install-5.6/var/mysql.pid
console
server-id=1
max_c

[2017-09-23 00:54] asandryh commented on #692
@georgelorchpercona We have recently added support for out-of-order key insertion in bulk load mode. Setting `rockdsb_bulk_load_allow_unsorted` along with `rockdsb_bulk_load` will store all rows in temporary SST files, sort them, and write to final SST files in order. I've updated wiki as well: https://github.com/facebook/mysql-5.6/wiki/Data-Loading.

[2017-09-25 20:08] george-lorch opened #714 "Assertion `!rocksdb_db_options->allow_mmap_writes' failed in virtual void myrocks::Rdb_background_thread::run()"
Our QA team has discovered this via an extremely simple test :
start mysqld with --rocksdb-allow-mmap-writes=1
from cli :
SET GLOBAL rocksdb_flush_log_at_trx_commit=2;

Also I can hit it by just starting mysqld with --rocksdb-allow-mmap-writes=1 rocksdb-flush-log-at-trx-commit=2

#0  0x00007ffff5f53c37 in __GI_raise (sig=sig@entry=6) at ../nptl/sysdeps/unix/sysv/linux/raise.c:56
#1  0x00007ffff5f5

[2017-09-26 10:14] hermanlee commented on #714
It looks like RocksDB does not support calling SyncWAL() when allow_mmap_writes is enabled. It's not exactly mutually exclusive, since allow_mmap_writes is a required setting at startup and, if set, it basically overrides any rocksdb_flush_log_at_trx_commit setting.

It might be simplest to skip calling SyncWAL() regardless of the rocksdb_flush_log_at_trx_commit setting if allow_mmap_writes is ena

[2017-09-26 11:18] hermanlee commented on #713
Both rocksdb_persistent_cache_size and rocksdb_persistent_cache_path needs to be set at startup for this option to work correctly. The assertion happens in debug builds, but the release builds silently fail and the server still boots up. There needs to be a check on startup to fail release builds too.

[2017-09-26 17:01] hermanlee commented on #714
https://github.com/facebook/mysql-5.6/pull/715 to address this.

[2017-09-26 17:12] george-lorch commented on #714
Fantastic! Thanks Herman!

[2017-09-26 17:12] hermanlee commented on #713
https://github.com/facebook/mysql-5.6/commit/da08d864aca910b648db0981cb16ee21d3f1dce3 fixes the release build for detecting the failure for invalid arguments. For debug builds, it will still assert.

Is it an issue asserting in debug builds for invalid arguments?

[2017-09-26 17:21] george-lorch commented on #713
It looks like the debug assertion is down in rocksdb, so I think since we probably don't want to be changing rocksdb then we will have to live with it, but it is not really a great idea to have something asserting on just a bad combination of options. The main thing is that we need to ensure that any mtr test pass for both debug and release builds.

[2017-09-27 17:43] george-lorch commented on #713
Can we ask the rocksdb team if this assertion is really necessary and useful? Maybe they can remove it and we can live with it until MyRocks catches up?

[2017-09-27 18:41] hermanlee commented on #713
@IslamAbdelRahman thoughts on the assertion in persistent cache when options are invalid?

[2017-09-28 00:30] george-lorch opened #716 "rocksdb_rpl.multiclient_2pc is still racy"
#It occasionally can crash on the

which is on con2 and not where expected on con1.

Simply run the test in heavy parallel and repeat, you'll see it :
`./mtr --force --retry=0 --retry-failure=0 --max-test-fail=0 --no-warnings --testcase-timeout=600 --mysqld=--rocksdb --mysqld=--default-storage-engine=rocksdb --mysqld=--skip-innodb --mysqld=--default-tmp-storage-engine=MyISAM --suite=rocksdb_rpl --

[2017-09-28 09:18] inkrement opened #717 "[question] weekly/monthly partitioning"
Does MyRocks support something like weekly/monthly partitioning? I was not able to find it in the documentation, but it would be really nice.

[2017-09-28 18:05] yoshinorim commented on #717
MyRocks supports MySQL partitioning syntax (https://dev.mysql.com/doc/refman/5.7/en/partitioning.html). You can do weekly/monthly partitioning by range partitioning, same as InnoDB. Note that partitioning support in MyRocks is logical (not a native partition), so files are not stored separately, but dropping partitions can be done very fast.

[2017-09-29 06:30] inkrement commented on #717
ok, thanks!

[2017-09-29 06:30] #717 closed, assigned to nobody

[2017-10-05 00:44] lth commented on #405
Interestingly enough, we've decided to disable that behaviour: https://github.com/facebook/mysql-5.6/commit/95427d7

[2017-10-06 16:04] hermanlee commented on #700
Thanks for filing this issue @percona-ysorokin. I don't know the code very well, but it doesn't seem to me the race condition exists after reading through some of the code and comments. I'm probably missing some additional context here though.

os_aio_linux_dispatch_read_array_submit() locks the array->mutex before accessing the count and performing operations with the array, so even if the count

[2017-10-08 16:37] mdcallag opened #723 "make long range scans faster for MyRocks"
I will update this with data soon. Enabling file system readahead for MyRocks makes some full table scans much faster, even on fast SSD. The only way to do this today is global which will effect all sessions/queries so we need a way to limit this to long range scans.

This might be relevant for figuring out when to do it
http://mysqlserverteam.com/mysql-8-0-faster-batch-record-retrieval/

[2017-10-10 21:45] george-lorch opened #724 "Curious sleeps in write_sync.test"
While importing https://github.com/facebook/mysql-5.6/commit/8b9734948e0023f6adeadb536375f22016d8e521  "use new FlushWAL API in MyRocks" It was noticed on these lines https://github.com/facebook/mysql-5.6/commit/8b9734948e0023f6adeadb536375f22016d8e521#diff-4d4f80f6019c0d48cefc62d836532afaR10 that there are curious sleeps after setting rocksdb_flush_log_at_trx_commit. We are guessing at the purpos

[2017-10-10 22:11] hermanlee commented on #724
Yes, the sleep calls are used to wait for the background thread to flush the wal. Definitely having a deterministic solution is better. The rocksdb_wal_synced counter is there, but I'd think we'd need a flushwal call that is exposed to the test to do this deterministically.

[2017-10-11 02:32] laurynas-biveinis commented on #724
The testcase already uses wait_for_status_var.inc with rocksdb_wal_synced in other places. Would doing that everywhere remove the need for sleeps?

[2017-10-11 03:14] hermanlee commented on #724
I think I can rework the test to remove the sleep calls by leveraging the fact setting trx_commit=1 should result in the wal being flushed and the counter being incremented.

[2017-10-11 15:41] Tema opened #727 "Implement more fine grained key decoding"
[This branch](https://github.com/facebook/mysql-5.6/commit/f63262b5cee849a62e729124b8b6e01bf044b171) implements coarse-grained optimization when key is decoded only if one of it's components is requested by SQL layer. However, there is still room for improvement to decode only part of the key which is actually requested.

[2017-10-11 17:54] #468 closed, assigned to nobody

[2017-10-11 22:47] george-lorch opened #728 "Assertion `covers_key(b)' failed in int myrocks::Rdb_key_def::cmp_full_keys(const rocks db::Slice&, const rocksdb::Slice&)"
Built on the fb-mysql-5.6.35/78909f9bfcee66cd85913f64546c5d91d27dd22c

This is a debug assertion, is this maybe another over aggressive debug assertion or potentially a real problem?

Very simple reproduction case, my.cnf :

And SQL :

And the bt full :

[2017-10-12 04:21] hermanlee commented on #728
@georgelorchpercona Yes, I think this check did not account for the code path where we calculate the successor key of the where conditional to position the iterator in the cases of find_flag = HA_READ_PREFIX_LAST_OR_PREV (or a couple others). In this case, the lookup key is the last key in the index: (e.g. 00 00 01 04 ff), so the successor key changes the four byte index_prefix: (e.g. 00 00 01 05

[2017-10-16 19:13] #728 closed, assigned to nobody

[2017-10-17 01:54] lth opened #736 "Loading autoincrement values returns invalid data when hidden pk exists"
To reproduce:
[code]

The problem is that when we call `ha_rocksdb::secondary_index_read` to get the last value, we have this logic:
[code]
This means that if the table contains a hidden pk, we don't call unpack_record on the secondary key to get the value out, and rely on the primary key instead. The problem is that we have not set up the decoders properly when called from `load_auto_incr` on the

[2017-10-17 22:07] lth commented on #736
I did some digging to see why the `!has_hidden_pk` was needed. The reason was that back when the diff was committed, `share->primary_key` was not correctly initialized when this comparison was made: https://github.com/facebook/mysql-5.6/blob/fb-mysql-5.6.35/storage/rocksdb/ha_rocksdb.cc#L7154

This meant that the sql layer would erroneously think the secondary key was covering even though it wasn'

[2017-10-17 22:23] #736 closed, assigned to nobody

[2017-10-18 19:02] george-lorch opened #739 "Start server with --rocksdb-table-cache-numshardbits=100000000 segfaults"
#0  0x00000000014b185c in rocksdb::VersionSet::Recover (this=0x7ffff5640a00, column_families=std::vector of length 2, capacity 2 = {...}, read_only=false)
    at /ssd/percona/myrocks/facebook-mysql-5.6/rocksdb/db/version_set.cc:2970
#1  0x0000000001417ee9 in rocksdb::DBImpl::Recover (this=0x7ffff5789c00, column_families=std::vector of length 2, capacity 2 = {...}, read_only=false, error_if_log_fil

[2017-10-19 20:04] mdcallag opened #740 "concurrent secondary index scans in InnoDB are slower in FB MySQL"
With the insert benchmark I load a table with a PK and 3 secondary indexes. The secondary indexes are extremely fragmented. Then I do a full scan of each index: PK, each secondary, then PK again. The test is run with 16 clients and either 16 tables or 1 table. The number of tables determines the scan concurrency -- with 1 table there is only 1 client for the scan, with 16 tables there are 16.

For

[2017-10-19 20:30] mdcallag commented on #740
Problem is this diff. Global counters frequently modified with concurrency is not good for modern HW. I am probably the author of the original diff, Rongrong just ported it to 5.6.

https://github.com/facebook/mysql-5.6/commit/b15fa5aa66b3c1bce8c13d00a8d8a61cb6ce18af#diff-529481a6cae216e7ab83092ca7739fee

[2017-10-19 23:39] #740 closed, assigned to nobody

[2017-10-21 17:16] mdcallag opened #741 "table scans are slower in MyRocks build from October 16"
There is a regression between Aug 15 and Oct 16 that:
1) makes full index scans slower
2) make some explain full index scans slower

My workload is the insert benchmark with a cached database. The repro is 1) create table with 1 PK and 3 secondary indexes and 2) insert 10M rows and then 3) do a full scan of the PK, then each secondary index, then the PK and 4) do an explain for each of the queries

[2017-10-21 17:21] mdcallag commented on #741
On production HW the regression was small. On my home servers it was huge. I use the insert benchmark from https://github.com/mdcallag/mytools/tree/master/bench/ibench and the command is like this  -- 10M rows for my home servers with small RAM, I use 100M on production HW.
[code]

[2017-10-21 18:35] lth commented on #741
I have a fix in mind already for this. I was discussing with @hermanlee that we don't actually have to load auto increment from disk every time we open a table, just once when the table is first used.

I wonder why table cache isn't working though with 1 table and 1 client...

[2017-10-23 20:54] george-lorch opened #742 "rocksdb.ddl_high_priority seems unstable"
[code]

[2017-10-23 20:55] george-lorch commented on #742
[mysqld.log](https://github.com/facebook/mysql-5.6/files/1408772/mysqld.log)

[2017-10-23 22:53] yoshinorim opened #743 "Use iterate_upper_bound to avoid scanning tombstones uselessly"
When prefix bloom filter can't be used (e.g. eq condition length is shorter than prefix bloom filter length), Seek() and SeekForPrev() may unnecessarily scan lots of tombstones, outside of the given eq cond range. This can be avoided by passing iterator upper/lower bound. RocksDB currently supports iterate_upper_bound so we need to use it. RocksDB is going to support iterate_lower_bound as well an

[2017-10-24 05:42] yoshinorim opened #744 "Loose index range scan missed some rows with bloom filter enabled"
How to repeat:
Run mysqld with rocksdb_default_cf_options=prefix_extractor=capped:12
[code]

Without skip scan, the query returned 75 rows. With skip scan, the query returned only 15 rows.
You can also reproduce by mtr optimizer_loose_index_scans, with passing "--rocksdb_default_cf_options=prefix_extractor=capped:12" as a variable. Without the variable, this issue does not reproduce.

[2017-10-25 02:42] #744 closed, assigned to lth

[2017-10-26 14:39] spetrunia opened #748 "rocksdb.col_opt_not_null, col_opt_null, col_opt_unsigned, type_float fail with --ps-protocol"
`rocksdb.col_opt_not_null rocksdb.col_opt_null rocksdb.col_opt_unsigned  rocksdb.type_float `
 - these tests pass when run in the regular way but fail when run with `--ps-protocol`.

The failure is the same for all tests:

[code]

[2017-10-26 14:40] spetrunia commented on #748
This has been happening for a while, at least it MariaDB branch.

[2017-10-26 14:40] spetrunia commented on #748
Reproducible on the latest rev, 5969a3ef953cbd7838581c4553edb11c341ec174

[2017-10-26 14:40] spetrunia commented on #748
will file a PR shortly

[2017-10-26 14:58] spetrunia commented on #748
https://github.com/facebook/mysql-5.6/pull/749

[2017-10-27 08:45] spetrunia opened #750 "rocksdb.col_opt_zerofill fails with --ps-protocol"
On a revision 5969a3ef953cbd7838581c4553edb11c341ec174, running  `rocksdb.col_opt_zerofill` test with `--ps-protocol` parameter produces this failure:

[code]

Happens in MariaDB too. In the debug build there, I additionally get about 20 messages like this:
[code]
2779097088 = 0xa5a5a800 . Uninitialized data use?

[2017-10-27 09:04] spetrunia commented on #750
The issue is not related to MyRocks.  Here is a testcase using MyISAM:

[code]

Run it with --ps-protocol and you will get
[code]

[2017-10-27 09:14] spetrunia commented on #750
Also filed against MariaDB as https://jira.mariadb.org/browse/MDEV-14165

[2017-10-27 18:56] #741 closed, assigned to lth

[2017-11-01 19:05] george-lorch commented on #739
Besides this being a 'rational limit' issue, it also looks like there may be a problem down in rocksdb. It looks like there is a check in LRUCache that limits it to 19 bits, anything greater fails to create a cache and returns a nullptr. This nullptr is passed without validation into the constructor of VersionSet within the DBImpl constructor, and eventually makes its way to the constructor for Co

[2017-11-02 17:46] george-lorch opened #757 "Support .frm-less recovery"
When importing this patch **_https://github.com/facebook/mysql-5.6/commit/527f3c4af730fbd6fee13790ff5b1e01fcde7d91 : Disable checking tables with #sql during startup_** we discovered that it seems that MyRocks does not support 'auto-discovery' or the ability to recover a table that exists within MyRocks but does not have a readable .frm file.

[2017-11-02 18:06] hermanlee commented on #757
What is the expected recovery path if the .frm file is missing? Looking at some InnoDB recovery mechanisms, I see it records the structure of the table in InnoDB's data dictionary. Do we need a feature to dump the contents of what we believe the table structure to be, re-create the table on a different server and copy the .frm file over?

[2017-11-02 18:15] george-lorch commented on #757
Yes, MySQL supports an 'auto-discovery' via handlerton 'discover' calls that allows a storage engine to report back to the server if it has some table that it believes should exist but the server/SQL layer for whatever reason doesn't know about. I believe this problem is one that can arise if a crash occurs at some specific points during some DDL operations or from improper backup/copy routines.

[2017-11-03 05:00] laurynas-biveinis commented on #757
"Recovery" here, as one of the cases, would also mean a drop instead of actual recovery of the orphaned table in RocksDB - a relatively common use case with temp tables?

[2017-11-06 19:04] george-lorch opened #758 "MyRocks can consume too many file descriptors causing crash/assertions throughout the server code."
This is largely due to the default value of rocksdb_max_open_files being unlimited which never is a valid value in the real world.

See discussion here https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/myrocks-dev/jp40Sk--CY8

[2017-11-06 19:10] yoshinorim commented on #758
I think your suggestion -- rocksdb_max_open_files to be some 50% of the open_files_limit -- makes lots of sense than current default (-1).

[2017-11-06 19:15] george-lorch commented on #758
I will put together and send up a pull request that checks limits on plugin init with some test that validates the correct values.

[2017-11-06 22:43] george-lorch commented on #758
Made a preliminary PR here for comment https://github.com/facebook/mysql-5.6/pull/759

[2017-11-07 12:03] aravind-siva-3905 opened #760 "MyRocks and Cassandra"
This is going to be a discussion.
Both MyRocks and Cassandra uses same LSM architecture. But why they differ in their data size ?
I did a small analysis on this.
Table Strucuture :
<img width="659" alt="screen shot 2017-11-07 at 3 06 54 pm" src="https://user-images.githubusercontent.com/11576085/32492806-8cce2816-c3e1-11e7-8a70-b33ee9b843e1.png">
 have created the above table in both MySql (MyRock

[2017-11-07 14:56] mdcallag commented on #760
Discussion in progress at https://groups.google.com/forum/#!topic/myrocks-dev/N95FCR2UGoA

[2017-11-07 14:56] #760 closed, assigned to nobody

[2017-11-13 03:12] #743 closed, assigned to yoshinorim

[2017-11-29 14:50] mdcallag commented on #723
Almost a 2X improvement from filesystem readahead on IO-bound sysbench full index scans - http://smalldatum.blogspot.com/2017/11/sysbench-io-bound-small-server-myrocks_29.html

[2017-11-30 05:13] anoakie opened #766 "segfault with 3.23.2 build of HHVM"
I'm getting this segfault with the latest build of HHVM.  I saw this issue here: https://github.com/facebook/hhvm/issues/8050, which I'm guessing is related to what I'm seeing, but I don't see the followup issue here.

[code]

Here is some gdb info.  I've XXX'd out sensitive stuff.

[code]

[2017-12-03 15:07] zz opened #767 "Is there have a docker image?"

[2017-12-04 18:08] mdcallag commented on #675
The problem occurs with 16.04. I am not sure about 14.10. 16.04 is a fairly recent release.

[2017-12-04 18:47] jkedgar commented on #675
The ZSTD library was updated to handle this in version 0.7.0, but since 0.5.1-1 is included with Ubuntu I'll update the MyRocks code to handle the older version.

[2017-12-04 23:03] jkedgar commented on #675
Fixed and closed.  https://github.com/facebook/mysql-5.6/commit/bfc45c8b40952466db396b210d28a4e5e02a03ad

[2017-12-04 23:03] #675 closed, assigned to jkedgar

[2017-12-06 08:41] royguo opened #768 "Do you have a full list of differences between MyRocks and MySQL(InnoDB)?"
Or can you provide a way that  I can run tests to get this kind of list? Is it a good choice to run all tests under MyRocks test suites without change any test code(I notice that some of the tests explicit use `engine=innodb` )?

Thanks!

[2017-12-06 10:24] safe-net9 opened #769 "HHVM stops at segmentation fault."
I ran Wordpress on HHVM.
When Wordpress accesses MySQL, HHVM stops.

Is there any good solution?

[2017-12-07 15:11] jsonfry commented on #766
We're seeing a segfault on mysql connection too. I've noticed it's fine if the database name is at least 5 characters long.

[2017-12-07 20:02] george-lorch opened #770 "Assertion during bulk load : Ship assert failure: 'res == 0'"
Credit to Roel Van de Paar for finding this.
[code]

And the stack trace :
[code]

[2017-12-13 13:34] spetrunia commented on #748
Closing because commit 98cc53d3001c163e6601fbd43386d95891b32497 is in the tree

[2017-12-13 13:34] #748 closed, assigned to spetrunia

[2017-12-14 17:42] asandryh commented on #770
Thank you for reporting this bug @georgelorchpercona! Will look into this asap.

[2017-12-14 21:41] hermanlee commented on #768
What type of differences are you looking for? Something like:

https://github.com/facebook/mysql-5.6/wiki/New-MySQL-RocksDB-Server-Variables?

We've had challenges running MyRocks with the existing test suites because some tests explicitly use engine=innodb or fetch stats from them.

[2017-12-14 21:43] hermanlee commented on #767
We don't have a Docker image for MyRocks and there are no plans to support one.

[2017-12-14 21:43] #767 closed, assigned to nobody

[2017-12-14 21:44] hermanlee commented on #742
https://github.com/facebook/mysql-5.6/commit/bffb8d7ec6e31aef81e084615db7fbaf30e2b33f should resolve this.

[2017-12-14 21:44] #742 closed, assigned to nobody

[2017-12-14 22:02] hermanlee commented on #770
Switching between tables causes the currently loaded table's data to be flushed. In this test case, there is a duplicate key error for both inserts into t2, so the second one is returning an error. However, MyRocks is too stringent is verifying the bulk_load succeeds. This requirement should be relaxed to indicate an error has happened.

[2017-12-14 22:45] george-lorch commented on #767
If you are interested in Percona Server + MyRocks, we will be creating/adding a docker image with MyRocks once we release our GA MyRocks, which will be 1st quarter 2018. Just watch our release announcements.

[2017-12-15 19:53] #770 closed, assigned to asandryh

[2017-12-18 21:46] spetrunia opened #773 ""Unsupported collation... use binary" error is misleading"
At the moment an attempt to create an index on any non-binary collation causes this error message:

[code]

This is misleading in several ways:
- All collations are actually supported. Some just don't allow index-only scans when used with secondary keys. An index for non-index-only scans is still a valid use case, right?
- Collations that store extra data in unpack_info that allows decoding them

[2017-12-18 22:16] hermanlee opened #774 "Memory leak with only SELECT statements"
This problem was first reported from MariaDB: https://jira.mariadb.org/browse/MDEV-14460

When a transaction is opened, SELECT/read-only statements also create a new savepoint with in the writebatch, even though it is not necessary. Hence, a test case such as:

BEGIN;
SELECT * FROM t1 limit 1;
SELECT * FROM t1 limit 1;
...

Will eventually cause mysqld to run out of memory. The fix would be to onl

[2017-12-31 23:08] RoelVdP opened #778 "MyRocks crashes when using tmpfs for data directory & --rocksdb-use-direct-reads=1"
[code]

[2018-01-01 00:12] RoelVdP commented on #778
[code]

[2018-01-01 00:56] RoelVdP commented on #778
[code]

[2018-01-02 21:23] hermanlee commented on #778
Yes, tmpfs does not support direct I/O, so it is expected the combination of requesting direct_io and running on tmpfs would result in an error. In this case, the server triggers an assertion when it tries to access the files using direct-read. It is unlikely we will try to improve the behavior (i.e. not crash) unless there is a compelling reason to. A user who attempts to set tmpfs as the data st

[2018-01-03 13:48] tplavcic opened #779 "Alter table with string indexed column to non-binary collation works"
MyRocks doesn't seem to support indexes on char fields without using binary collations and it prevents that on create table, but I can still create table with binary collation and alter it to non-binary collation.

Here's two examples:
1. alter rocksdb table with binary collation to non-binary collation
[code]

2. Create a table with InnoDB non-binary collation and alter it to rocksdb storage engi

[2018-01-04 02:23] george-lorch commented on #692
Bumping this. Our CTO Vadim hit this today immediately while testing a release candidate build. So we know about https://github.com/facebook/mysql-5.6/wiki/Migrating-from-InnoDB-to-RocksDB and https://github.com/facebook/mysql-5.6/wiki/data-loading and the memory limitations, but this make for a terrible user experience where a 'new' user wanting to try out MyRocks immediately hits this, then has

[2018-01-04 03:14] yoshinorim commented on #692
We're going to set default rocksdb_max_row_locks from 1B to 1M soon. Longer term, we'll automatically use bulk loading mode on ALTER.

[2018-01-04 15:13] george-lorch commented on #773
After reviewing this issue in conjunction with https://github.com/facebook/mysql-5.6/issues/779, I agree with Sergei 100%, this is not an error case where collation is unsupported. It is a performance play and should (dubiously) issue a warning, even then I am not convinced that even a warning is needed.

[2018-01-04 19:34] mdcallag commented on #723
My sysbench and insert benchmark results include numbers for scan - http://smalldatum.blogspot.com/2017/12/myrocks-innodb-and-tokudb-summary.html